{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_equipment.filters', back=1) }}">
                <i class="caret left icon"></i>
                {{ _('Filters') }}
            </a>
            <h2 class="ui header">
                {{ filter.name }}
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_equipment.filter_edit', filter_id=filter.id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h2>

            <table class="ui compact definition table">
                <tr><td>{{ _('Name') }}</td><td>{{ filter.name }}</td></tr>
                <tr><td>{{ _('Description') }}</td><td>{{ filter.descr }}</td></tr>
                <tr><td>{{ _('Filter type') }}</td><td>{{ filter.filter_type.loc_text() }}</td></tr>
                <tr><td>{{ _('Diameter (inch)') }}</td><td>{{ filter.diameter_inch }}"</td></tr>
                <tr><td>{{ _('Is active') }}</td>
                    <td>
                        <div class="ui checkbox">
                          <input type="checkbox" checked="{{ 'checked' if filter.is_active else ''}}">
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
