{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

{% block content %}
    {{ f.display_standard_flashes(flashes) }}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_equipment.filters', back=1) }}">
                <i class="caret left icon"></i>
                {{ _('Filters') }}
            </a>
            <h2 class="ui header">
                {{ filter.name }}
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_equipment.filter_edit', filter_id=filter.id) }}"
                       data-inverted="" data-position="bottom center" data-tooltip="{{ _('Edit Filter')}}" data-variation="tiny basic">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h2>

            <table class="ui compact definition unstackable table">
                <tr><td class="two wide">{{ _('Name') }}</td><td>{{ filter.name }}</td></tr>
                <tr><td class="two wide">{{ _('Vendor') }}</td><td>{{ filter.vendor }}</td></tr>
                <tr><td class="two wide">{{ _('Model') }}</td><td>{{ filter.model }}</td></tr>
                {% if filter.descr %}
                <tr><td class="two wide">{{ _('Description') }}</td><td>{{ filter.descr }}</td></tr>
                {% endif %}
                <tr><td class="two wide">{{ _('Filter type') }}</td><td>{{ filter.filter_type.loc_text() if filter.filter_type else '' }}</td></tr>
                <tr><td class="two wide">{{ _('Diameter (inch)') }}</td><td>{{ filter.diameter_inch }}"</td></tr>
                <tr>
                    <td class="two wide">{{ _('Is active') }}</td>
                    <td>{% if filter.is_active %}<i class="green check circle outline icon"></i>{% endif %}</td>
                </tr>
            </table>

        </div>
    </div>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
