{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {% if is_new %}
                <a class="ui basic compact button" href="{{ url_for('main_equipment.lenses') }}">
                    <i class="caret left icon"></i>
                    {{ _('Lenses') }}
                </a>
            {% else %}
              <a class="ui basic compact button" href="{{ url_for('main_equipment.lens_info', lens_id=lens.id) }}">
                  <i class="caret left icon"></i>
                {{ _('Lens Info') }}
              </a>
            {% endif %}

            <h2 class="ui header">
                {% if is_new %}
                    {{ _('Add New Lens') }}
                {% else %}
                    {{ _('Edit Lens') }}
                {% endif %}
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.display_standard_flashes(flashes) }}

            {{ f.begin_form(form, flashes) }}

                {{ f.render_form_field(form.name) }}
                <div class="two fields">
                    <div class="field">
                        {{ f.render_form_field(form.vendor) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.model) }}
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        {{ f.render_form_field(form.lens_type) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.magnification) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.diameter_inch) }}
                    </div>
                </div>
                <div class="three fields">
                    <div class="ui checkbox field">
                        <input type="checkbox" id="is_active" name="{{ form.is_active.name }}" {{ 'checked=checked' if form.is_active.data else '' | safe  }} class="hidden">
                        {{ form.is_active.label }}
                    </div>
                </div>

                {{ f.render_form_field(form.descr) }}

                <div class="two fields">
                    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                        {{ field(class='positive ui button') }}
                    {% endfor %}
                    {% if not is_new %}
                        <a id="bdelete" class="negative ui button" href="#">{{ _('Delete Lens') }}</a>
                    {% endif %}
                </div>

            {{ f.end_form() }}
        </div>
    </div>

    {% if not is_new %}
        <div class="ui tiny modal deleteModal">
          <div class="header">{{ _('Delete Lens') }}</div>
          <div class="content">
            <p>{{ _('Are you sure you want to delete lens?') }}</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">{{ _('No') }}</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_equipment.lens_delete', lens_id=lens.id) }}">
                {{ _('Yes') }}
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        var descrMDE = new EasyMDE({element: document.getElementById('descr'),
            minHeight: "80px",
            spellChecker: false,
            status : false,
	    });

        {% if not is_new %}
            $('.ui.modal.deleteModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bdelete').click(function() {
                $('.ui.modal.deleteModal')
                    .modal('show');
            });
        {% endif %}
    </script>
{% endblock %}
