{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet fourteen wide computer column">
            <a class="ui basic compact button" href="{{ url_for('main_equipment.equipment_menu') }}">
                <i class="caret left icon"></i>
                {{ _('Equipment') }}
            </a>
            <a class="ui right floated icon positive button" href="{{ url_for('main_equipment.new_telescope') }}">
                <i class="plus icon"></i>
                {{ _('New telescope') }}
            </a>
            <h2 class="ui header">
                {{ _('Telescopes') }}
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.display_standard_flashes(flashes) }}

            <form action="{{ url_for('main_equipment.telescopes') }}" method="post" name="search">
                {# Use overflow-x: scroll so that mobile views don't freak out
                 # when the table is too wide #}
                <div style="overflow-x: scroll;">
                    <table class="ui searchable sortable unstackable selectable celled table">
                        <thead>
                            <tr>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Type') }}</th>
                                <th>{{ _('Aperture') }}</th>
                                <th>{{ _('Focal length') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for t in telescopes | sort(attribute='aperture_mm') %}
                            <tr onclick="window.location.href = '{{ url_for('main_equipment.telescope_info', telescope_id=t.id) }}';">
                                <td>{{ t.name }}</td>
                                <th>{{ t.telescope_type.loc_text() }}</th>
                                <td>{{ t.aperture_mm }}</td>
                                <td>{{ t.focal_length_mm }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
