{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_equipment.telescopes', back=1) }}">
                <i class="caret left icon"></i>
                {{ _('Telescopes') }}
            </a>
            <h2 class="ui header">
                {{ telescope.name }}
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_equipment.telescope_edit', telescope_id=telescope.id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h2>

            <table class="ui compact definition unstackable table">
                <tr><td class="two wide">{{ _('Name') }}</td><td>{{ telescope.name }}</td></tr>
                <tr><td class="two wide">{{ _('Vendor') }}</td><td>{{ telescope.vendor }}</td></tr>
                <tr><td class="two wide">{{ _('Model') }}</td><td>{{ telescope.model }}</td></tr>
                <tr><td class="two wide">{{ _('Description') }}</td><td>{{ telescope.descr }}</td></tr>
                <tr><td class="two wide">{{ _('Aperture (mm)') }}</td><td>{{ telescope.aperture_mm }} mm</td></tr>
                <tr><td class="two wide">{{ _('Focal length (mm)') }}</td><td>{{ telescope.focal_length_mm }} mm</td></tr>
                <tr><td class="two wide">{{ _('Fixed magnification') }}</td><td>{{ telescope.fixed_magnification|string + 'x' if telescope.fixed_magnification else '' }}</td></tr>
                <tr><td class="two wide">{{ _('Telescope type') }}</td><td>{{ telescope.telescope_type.loc_text() }}</td></tr>
                <tr>
                    <td class="two wide">{{ _('Is default') }}</td>
                    <td>{% if telescope.is_default %}<i class="green check circle outline icon"></i>{% endif %}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Is active') }}</td>
                    <td>{% if telescope.is_active %}<i class="green check circle outline icon"></i>{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
