.webassets-cache/
webassets-external/
app/static/content/
app/static/scripts/
app/static/styles/
private_data/
user_data/
backup/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
USNO-NOMAD-1e8.dat
CometEls.txt
de421.bsp

#fchart3
fchart3/
