.webassets-cache/
webassets-external/
app/static/content/
app/static/scripts/
app/static/styles/
app/static/images/planets/
private_data/
user_data/
backup/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
env*
dist
*.egg
*.egg-info
*.sqlite
*.mmdb
.idea
dump.rdb
USNO-NOMAD-1e8.dat
CometEls.txt
*.bsp
czsky.log
czsky.log.*
/data/landscapes/
/MPCORB.9999.DAT

#fchart3
fchart3/
/cometelements
