# Flask secret key (look at README.md how to generate it)
SECRET_KEY=

# runnig stage, eiter development or production
FLASK_CONFIG=development

# Administrator email - email address used for registration emails
ADMIN_EMAIL=

# initial password admin account, value is used only for acount initialization and not used later
ADMIN_PASSWORD=

# Database URL. Can be Postgres, sqlite, etc.
# DATABASE_URL=data-dev.sqlite

# Database URL. Can be Postgres, sqlite, etc. 
# REDISTOGO_URL=http://localhost:6379

# data directory of users
USER_DATA_DIR=user_data

# users with editor role for given language specified in key appendix
EDITOR_USER_NAME_CS=editor.cs
EDITOR_USER_NAME_EN=editor.en

# anonymous user - used for data of not registered users
ANONYMOUS_USER_NAME=anonymous

# initial git content repository, used by 'manage import_git_content'
GIT_CONTENT_REPOSITORY=

# optional path to ttf font used for chart texts
# CHART_FONT=

# optional path to ttf font used on PDFs
# PDF_FONT=

# set fchart image backend. Either png (default) or jpg (if pycairo supports write_to_jpg).
CHART_IMG_FORMAT=png

# jpeg low quality used when chart is moving
CHART_JPEG_LOW_QUALITY=80
# jpeg quality used to render at the end of chart movement
CHART_JPEG_HIGH_QUALITY=95

# path definitions to images
IMG_PATHS_COUNT=2
IMG_PATHS_1_DIR=/static/content/users/ngcic/img/
IMG_PATHS_1_REF=
IMG_PATHS_2_DIR=/static/content/users/8mag/img/
IMG_PATHS_2_REF=

# path to default images
DEFAULT_IMG_DIR=/static/content/users/8mag/img/

