alembic==1.13.1
appdirs==1.4.4
APScheduler==3.10.4
astroplan==0.10.1
astropy==6.1.7
astroquery==0.4.7
attrs==23.2.0
beautifulsoup4==4.12.3 
blinker==1.8.2
cachetools==5.3.3
certifi==2024.7.4
chardet==5.2.0
Click==8.1.7
commonmark==0.9.1
email-validator==2.1.1
Faker==25.0.1
fchart3==0.10.3
Flask==3.0.3
Flask-Assets==2.1.0
Flask-Babel==4.0.0
Flask-Compress==1.15
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.7
Flask-Scss==0.5
Flask-SQLAlchemy==3.1.1
Flask-SSLify==0.1.5
Flask-WTF==1.2.1
generateDS==2.41.5
geoip2==4.8.1
gitpython==3.1.43
gunicorn==23.0.0
honcho==1.1.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.5
jsmin==3.0.1
jsonpickle==3.0.4
LatLon23==1.0.7
lat-lon-parser==1.3.0 
lru-dict==1.3.0
Mako==1.3.3
MarkupSafe==2.1.5
numpy==2.2.1
openai==0.28.1
packaging==24.0
pandas==2.2.3
Pillow==11.1.0
pillow-avif-plugin==1.4.3
pipupgrade==1.12.0
psycopg==3.1.18
pycairo==1.27.0
pycryptodome==3.20.0
python-dotenv==1.0.1
PyICU==2.13.1
pyparsing==3.1.2
pyScss==1.4.0
python-dateutil==2.9.0
python-editor==1.0.4
raygun4py==5.0.0
redis==5.0.4
requests==2.32.2
rq==1.16.2
setuptools==70.3.0
six==1.16.0
skia-python==132.0b11
skyfield==1.48
SQLAlchemy==2.0.36
text-unidecode==1.3
tiktoken==0.8.0
urllib3==2.2.2
webassets==2.0
Werkzeug==3.0.6
WTForms==3.1.2
