{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
               {{ _('Dashboard') }}
            </a>
            <h2 class="ui header">
                    {{ _('Observation') }}
            </h2>
            <div class="ui two column stackable grid">
                {{ dash.dashboard_option(_('Create Observing Session'), 'main_observing_session.new_observing_session',
                                    description=_('Create new observing session'), theme_image='/static/images/telescope', extra_icon='corner small add icon') }}
                {{ dash.dashboard_option(_('Observing Sessions'), 'main_observing_session.observing_sessions',
                                    description=_('View observing sessions'), theme_image='/static/images/telescope') }}
                {{ dash.dashboard_option(_('Create Standalone Observation'), 'main_standalone_observation.new_standalone_observation',
                                    description=_('Create new standalone observation'), theme_image='/static/images/telescope', extra_icon='corner small add icon') }}
                {{ dash.dashboard_option(_('Standalone Observations'), 'main_standalone_observation.standalone_observations',
                                    description=_('View standalone observations'), icon='list icon') }}
                {{ dash.dashboard_option(_('Observed List'), 'main_observed.observed_list_info',
                                    description=_('View observed objects'), icon='eye icon') }}
                {{ dash.dashboard_option(_('Observations Export [Experimental]'), 'main_observation.observation_export',
                                    description=_('Export observations to OAL'), icon='upload icon') }}
                {{ dash.dashboard_option(_('Observations Import [Experimental]'), 'main_observation.observation_import',
                                    description=_('Import observations from OAL'), icon='download icon') }}
                {{ dash.dashboard_option(_('Observations Import History [Experimental]'), 'main_import_history.import_history_records',
                                    description=_('View import history from OAL'), icon='history icon') }}
            </div>
        </div>
    </div>
{% endblock %}