{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_observed.observed_list_info', _('Info'), 'info'),
    ('main_observed.observed_list_chart', _('Chart'), 'chart'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro observed_list_info(observed_list) %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-warning']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.display_standard_flashes(flashes) }}

            <div class="ui menu">
                <div class="ui item" style="margin-right:25px">
                    {{ f.begin_form(add_form, flashes, action=url_for('main_observed.observed_list_item_add')) }}
                    <div class="ui action input">
                        <input type="text" name="{{ add_form.dso_name.name }}" placeholder="Add dso...">
                        <button class="ui icon button">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                    {{ f.end_form(add_form) }}
                </div>
                <div class="ui item">
                    <button id="clear_observed" class="ui labeled icon negative button">
                        <i class="trash alternate icon"></i>
                        {{ _('Clear list') }}
                    </button>
                </div>
                <div class="right menu">
                    <div class="ui item">
                        <form id="fmdownload" method="post" action="{{ url_for('main_observed.observed_list_download') }}">
                            <button class="ui icon button"data-content="Add users to your feed">
                                <i class="download icon"></i>
                            </button>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                        </form>
                    </div>
                    <div class="ui item">
                        <form id="fmupload" method="post" action="{{ url_for('main_observed.observed_list_upload') }}" enctype="multipart/form-data">
                            <label for="file" class="ui icon button">
                                <i class="upload icon"></i>
                            </label>
                            <input type="file" id="file" name="file" class="ui file input">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                        </form>
                    </div>
                </div>
            </div>

            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>{{ _('Type') }}</th>
                            <th>{{ _('Constellation') }}</th>
                            <th>mag</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% macro to_dso_url(item) %}{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=item.deepskyObject.name, back='observed_list') }}{% endmacro %}

                    {% for item in observed_list.observed_list_items %}
                        <tr>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';"><p id="dso{{ item.dso_id }}">{{ item.deepskyObject.denormalized_name() }}</p></td>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.type }}</td>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.get_constellation_iau_code() }}</td>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.mag }}</td>
                            <td class="collapsing specialClass">
                                <a class="ui icon mini button" href="{{ url_for('main_observed.observed_list_item_delete', item_id=item.id) }}">
                                    <i class="trash alternate icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="ui tiny modal loadModal">
      <div class="header">{{ _('Load observation list') }}</div>
      <div class="content">
        <p>{{ _('All data from file will be added to observation list.') }}</p>
        <p>{{ _('Are you sure you want to load observation list?') }}</p>
      </div>
      <div class="actions">
        <div class="ui negative cancel button">{{ _('No') }}</div>
        <button id="confirm_upload" class="ui positive right labeled icon approve button">
            {{ _('Yes') }}
            <i class="checkmark icon"></i>
        </button>
      </div>
    </div>

    <div class="ui tiny modal deleteModal">
      <div class="header">{{ _('Clear observed list') }}</div>
      <div class="content">
        <p>{{ _('All items from observed list will be removed.') }}</p>
        <p>{{ _('Are you sure you want to clear observed list?') }}</p>
      </div>
      <div class="actions">
        <div class="ui negative cancel button">{{ _('No') }}</div>
        <a class="ui positive right labeled icon approve button" href="{{ url_for('main_observed.observed_list_delete') }}">
            {{ _('Yes') }}
            <i class="checkmark icon"></i>
        </a>
      </div>
    </div>

    <style>
        .ui.file.input {
          top: -999999px;
          position: absolute;
        }
    </style>

    <script type="text/javascript">
        $('.ui.modal.loadModal').modal({
            onApprove: function() {
                return validateModal()
            }
        });
        $('.ui.modal.deleteModal').modal({
            onApprove: function() {
                return validateModal()
            }
        });
        $("tr td.specialClass").click(function (e) {
            e.cancelBubble();
            e.stopPropagation();
        });
        $('#file').change(function() {
            $('.ui.modal.loadModal')
                .modal('show');
        });
        $("#confirm_upload").click(function() {
            $("#fmupload" ).submit();
        });
        $('#clear_observed').click(function() {
            $('.ui.modal.deleteModal')
                .modal('show');
        });
    </script>
{% endmacro %}

{# --- Chart --- #}
{% macro observed_list_chart(observed_list) %}
    {{ fchart.fchart(url_for('main_observed.observed_list_chart', back=back, back_id=back_id),
                     url_for('main_observed.observed_list_chart_pos_img', ra='_RA_', dec='_DEC_', fsz='_FSZ_', width='_WIDTH_', height='_HEIGHT_', nm=chart_control.chart_nm, flags=chart_control.chart_flags, ),
                     url_for('main_observed.observed_list_chart_legend_img', ra='_RA_', dec='_DEC_', fsz='_FSZ_', width='_WIDTH_', height='_HEIGHT_', nm=chart_control.chart_nm, flags=chart_control.legend_flags),
                     None,
                     fchart_form, default_chart_iframe_url=default_chart_iframe_url)
    }}
{% endmacro %}


{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_observation.observation_menu') }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('List of observed objects') }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ observed_list_info(observed_list) }}
            {% else %}
                {{ observed_list_chart(observed_list) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
