{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}
{% import 'macros/common_macros.html' as commons %}

{% if not back %}
    {% set back = request.args.get('back') %}
    {% set back_id = request.args.get('back_id') %}
{% endif %}

{% set edit_endpoints = [
    ('main_observing_session.observing_session_info', _('Info'), 'info'),
    ('main_observing_session.observing_session_chart', _('Chart'), 'info'),
    ('main_observing_session.observing_session_export', _('Imp/Exp'),  'impexp'),
    ('main_observing_session.observing_session_run_plan', _('Run plan'), 'run_plan'),
] %}

{% set overview_endpoints = [
    ('main_observing_session.observing_session_info', _('Info'), 'info'),
    ('main_observing_session.observing_session_chart', _('Chart'), 'chart'),
    ('main_observing_session.observing_session_export', _('Export'),  'export'),
] %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, observing_session_id=observing_session.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Observing Session Info --- #}
{% macro observing_session_info(observing_session) %}
    {{ f.display_standard_flashes(flashes) }}
    <table class="ui compact definition unstackable table">
        <tr><td class="two wide">{{ _('Date From') }}</td><td colspan="5">{{ observing_session.date_from.strftime('%Y-%m-%d %H:%M') }}</td></tr>
        <tr><td class="two wide">{{ _('Date To') }}</td><td colspan="5">{{ observing_session.date_to.strftime('%Y-%m-%d %H:%M') }}</td></tr>
        <tr><td class="two wide">{{ _('Location') }}</td>
            <td colspan="5">
                {% if observing_session.location %}
                    {{ observing_session.location.name }}
                    <a href="{{ observing_session.location.url_mapy_cz() }}" target="_blank" style="margin-left:20px">mapy.cz</a> /
                    <a href="{{ observing_session.location.url_google_maps() }}" target="_blank">google</a>
                {% elif observing_session.location_position %}
                    {{ observing_session.location_position }}
                    <a href="{{ location_position_mapy_cz_url }}" target="_blank" style="margin-left:20px">mapy.cz</a> /
                    <a href="{{ location_position_google_maps_url }}" target="_blank">google</a>
                {% endif %}
            </td>
        </tr>
        <tr><td>Rating</td><td colspan="5"><div class="ui rating" data-icon="star" data-rating="{{ observing_session.rating_to_int(5) }}" data-max-rating="5"></div></td></tr>
        <tr><td class="two wide">{{ _('Sqm') }}</td><td colspan="5">{{ "%.2f"|format(observing_session.sqm) if observing_session.sqm else '' }}</td></tr>
        <tr><td class="two wide">{{ _('Faintest Star') }}</td><td colspan="5">{{ "%.2f"|format(observing_session.faintest_star) if observing_session.faintest_star else '' }}</td></tr>
        <tr><td class="two wide">{{ _('Seeing') }}</td><td colspan="5">{{ observing_session.loc_seeing() }}</td></tr>
        <tr><td class="two wide">{{ _('Transparency') }}</td><td colspan="5">{{ observing_session.loc_transparency() }}</td></tr>
        <tr><td class="two wide">{{ _('Weather') }}</td><td colspan="5">{{ observing_session.weather if observing_session.weather else '' }}</td></tr>
        <tr><td class="two wide">{{ _('Equipment') }}</td><td colspan="5">{{ observing_session.equipment if observing_session.equipment else '' }}</td></tr>
        <tr>
            <td class="two wide">{{ _('Notes') }}</td>
            <td colspan="5">
                {% filter extended_commonmark('') %}
{{ observing_session.notes if observing_session.notes else '' }}
                {% endfilter %}
            </td>
        </tr>
        {% if is_mine_observing_session %}
            <tr>
                <td class="two wide">{{ _('Session is public') }}</td><td>{% if observing_session.is_public %}<i class="green check circle outline icon"></i>{% else %}<i class="disabled times circle outline icon">{% endif %}</td>
                <td class="two wide">{{ _('Session is active') }}</td><td>{% if observing_session.is_active %}<i class="green check circle outline icon"></i>{% else %}<i class="disabled times circle outline icon">{% endif %}</td>
                <td class="two wide">{{ _('Session is finished') }}</td><td>{% if observing_session.is_finished %}<i class="green check circle outline icon"></i>{% else %}<i class="disabled times circle outline icon">{% endif %}</td>
            </tr>
        {% endif %}
        </tr>
    </table>
    <table class="ui compact definition2 unstackable table">
        {% for o in observing_session.observations | sort(attribute='date_from') %}
        <tr>
            <td class="two wide" style="width:50px;white-space: nowrap"><b>{{ o.targets_from_session_to_html() | safe }}</b></td>
            <td class="two wide mobile hidden" style="width:50px"><b>{{ o.get_target_type() | safe }}</b></td>
            {% if show_observ_time %}
            <td class="one wide" style="width:50px"><b>{{ o.date_from.strftime('%H:%M') }}</b></td>
            {% endif %}
            <td class="two wide" style="width:50px"><b>{{ o.telescope.model if o.telescope else '' }}</b></td>
            <td>
                {% filter extended_commonmark('') %}
{{ o.notes_to_html() }}
                {% endfilter %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        $(function(){
            $('.ui.rating')
                .rating();
            $('a.sw-link').appendScreenWidth('href');
        });
    </script>
{% endmacro %}

{# --- Chart --- #}
{% macro observing_session_chart(observing_session) %}
    {{ fchart.fchart(url_for('main_observing_session.observing_session_chart', observing_session_id=observing_session.id, back=back, back_id=back_id),
                     url_for('main_observing_session.observing_session_chart_pos_img', observing_session_id=observing_session.id,
                              flags=chart_control.chart_flags, ),
                     url_for('main_chart.chart_legend_img', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_observing_session.observing_session_chart_pdf', observing_session_id=observing_session.id,
                              flags=chart_control.chart_pdf_flags, epfov=chart_control.eyepiece_fov),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url, search_url_params='back=observation&back_id={}'.format(observing_session.id),
                     back=back, back_id=back_id, back_anchor=''
                     )
    }}
{% endmacro %}

{# --- Observing Session import/export --- #}
{% macro observing_session_imp_exp(observing_session) %}
    <div class="ui {{ 'inverted' if inverted_accordion else '' }} segment">
        <div class="ui {{ 'inverted' if inverted_accordion else '' }} fluid accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            {{ _('About OAL') }}
          </div>
          <div class="content markdown">
        {% filter extended_commonmark('') %}
{{ about_oal }}
        {% endfilter %}
          </div>
        </div>
    </div>

    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-warning']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.display_standard_flashes(flashes) }}

            <div class="ui menu">
                <div class="right menu">
                    <div class="ui item">
                        <form id="fmdownload" method="post" action="{{ url_for('main_observing_session.observing_session_export', observing_session_id=observing_session.id) }}">
                            <button class="ui icon positive button" data-content="{{ _('Export observation to OAL')}}">
                                <i class="download icon"></i>
                                {{ _('Export observing session to OAL') }}
                            </button>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                        </form>
                    </div>
                    {% if is_mine_observing_session %}
                    <div class="ui item">
                        <form id="fmupload" method="post" action="{{ url_for('main_observing_session.observing_session_import_upload', observing_session_id=observing_session.id) }}" enctype="multipart/form-data">
                            <label for="file" class="ui icon orange button">
                                <i class="upload icon"></i>
                                {{ _('Import observing session OAL') }}
                            </label>
                            <input type="file" id="file" name="file" class="ui file input">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <style>
        .ui.file.input {
          top: -999999px;
          position: absolute;
        }
    </style>
    <script type="text/javascript">
        $('.ui.accordion')
          .accordion();
        $('#file').change(function() {
            $("#fmupload" ).submit();
        });
    </script>
{% endmacro %}

{# --- Observing Session Run Plan --- #}
{% macro observing_session_run_plan(observing_session) %}
    {{ f.begin_form(run_plan_form, flashes, action=url_for('main_observing_session.observing_session_run_plan', observing_session_id=observing_session.id), extra_classes='ui menu') }}
        <div class="ui item">
            <div id="session_plans_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Session plans') }}" data-variation="basic">
                <input type="hidden" id="session_plan" name="{{ run_plan_form.session_plan.name }}" value="{{ run_plan_form.session_plan.data }}">
                <span class="text">{{ _('Choose current session plan') }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for session_plan in available_session_plans %}
                        <div class="item" data-value="{{ session_plan.id }}">{{ session_plan.title }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ui item">
{% if run_plan_form.session_plan.data %}
    {% set run_plan_url = url_for('main_observing_session.observing_session_run_plan_execute', observing_session_id=observing_session.id, session_plan_id=run_plan_form.session_plan.data) %}
{% else %}
    {% set run_plan_url = '#' %}
{% endif %}
            <a class="ui right labeled icon positive {% if run_plan_url=='#'%}disabled {% endif %}button" href="{{ run_plan_url }}">
                <i class="play icon"></i>
                {{ _('Run plan') }}
            </a>
        </div>
    {{ f.end_form(run_plan_form) }}

    {% if not_observed_plan_items|length > 0  %}
    <h4 class="ui header">
      <i class="eye slash icon"></i>
      <div class="content">{{ _('Unobserved objects') }}</div>
    </h4>
    <table class="ui searchable sortable unstackable selectable celled table">
        <thead>
            <tr>
                <th class="sorted ascending">{{ _('Name') }}</th>
                <th>{{ _('Type') }}</th>
                <th class="mobile hidden">RA</th>
                <th class="mobile hidden">Dec</th>
                <th><i class="lastfm icon"></i></th>
                <th class="right aligned">mag</th>
                <th class="right aligned mobile hidden">{{ _('Size') }}</th>
                {% if observed %}
                <th class="collapsing mobile hidden"></th>
                {% endif %}
            </tr>
        </thead>
        {% macro to_dso_url(item) %}{{ url_for('main_deepskyobject.deepskyobject_observation_log', dso_id=item.deepsky_object.name, back='running_plan', back_id=observing_session_plan_run.id) }}{% endmacro %}
        {% macro to_double_star_url(item) %}{{ url_for('main_double_star.double_star_observation_log', double_star_id=item.double_star.id, back='running_plan', back_id=observing_session_plan_run.id) }}{% endmacro %}

        {% for item in not_observed_plan_items %}
            {% if item.dso_id is not none %}
                {% set to_url = to_dso_url(item) %}
                {% set item_name = item.deepsky_object.denormalized_name() %}
                {% set item_type = item.deepsky_object.type %}
                {% set item_constell = item.deepsky_object.get_constellation_iau_code() %}
                {% set item_mag = commons.convert_mag(item.deepsky_object.mag) %}
            {% elif item.double_star_id is not none %}
                {% set to_url = to_double_star_url(item) %}
                {% set item_name = item.double_star.common_cat_id %}
                {% set item_type = item.double_star.components %}
                {% set item_constell = item.double_star.get_constellation_iau_code() %}
                {% set item_mag = (item.double_star.mag_first | string) + '/' + (item.double_star.mag_second | string) %}
            {% else %}
                {% set to_url = '' %}
                {% set item_name = '' %}
                {% set item_type = '' %}
                {% set item_constell = '' %}
                {% set item_mag = '' %}
            {% endif %}

        {% if observing_session_plan_run is not none %}
            <tr onclick="window.location.href='{{ url_for('main_deepskyobject.deepskyobject_observation_log', dso_id=item.deepsky_object.name, back='running_plan', back_id=observing_session_plan_run.id) }}';">
        {% else %}
            <tr>
        {% endif %}
                <td>{{ item_name }}</td>
                <td>{{ item_type }}</td>
                <td class="mobile hidden">{{ item.get_ra_str_short() }}</td>
                <td class="mobile hidden">{{ item.get_dec_str_short() }}</td>
                <td>{{ item_constell }}</td>
                <td class="right aligned">
                    {{ item_mag }}
                </td>
                <td class="right aligned mobile hidden">
                    {% if item.dso_id is not none and item.deepsky_object.major_axis %}
                        {% if item.deepsky_object.major_axis >= 100.0 %}
                          {{ (item.deepsky_object.major_axis / 60.0) | round(2, 'floor') }}'
                        {% else %}
                          {{ item.deepsky_object.major_axis | round(2, 'floor')}}''
                        {% endif %}
                        {% if item.deepsky_object.minor_axis and item.deepsky_object.major_axis != item.deepsky_object.minor_axis %}
                        / {% if item.deepsky_object.minor_axis >= 100.0 %}
                            {{ (item.deepsky_object.minor_axis / 60.0) | round(2, 'floor') }}'
                          {% else %}
                            {{ item.deepsky_object.minor_axis | round(2, 'floor')}}''
                          {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                {% if observed %}
                <td class="collapsing mobile hidden">
                    {% if item.dso_id is not none and item.deepskyobject.id in observed %}
                        <i class="eye icon"></i>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="ui segment">{{ _('No object has been observed from this plan yet.')}}</div>
    {% endif %}

    {% if observed_items | length > 0 %}
    <h4 class="ui header">
      <i class="eye icon"></i>
      <div class="content">{{ _('Observed') }}</div>
    </h4>
    <table class="ui compact definition2 unstackable table">
        {% macro to_dso_url2(item) %}{{ url_for('main_deepskyobject.deepskyobject_observation_log', dso_id=item.deepsky_object.name, back='running_plan', back_id=observing_session_plan_run.id) }}{% endmacro %}
        {% macro to_double_star_url2(item) %}{{ url_for('main_double_star.double_star_observation_log', double_star_id=item.double_star_id, back='running_plan', back_id=observing_session_plan_run.id) }}{% endmacro %}
        {% for item in observed_items %}
            {% if item[0].dso_id is not none %}
                {% set to_url = to_dso_url2(item[0]) %}
                {% set item_name = item[0].deepsky_object.denormalized_name() %}
            {% elif item[0].double_star_id is not none %}
                {% set to_url = to_double_star_url2(item[0]) %}
                {% set item_name = item[0].double_star.common_cat_id %}
            {% else %}
                {% set to_url = '' %}
                {% set item_name = '' %}
            {% endif %}
            <tr>
                <td class="two wide">
                    <b><a href="{{ to_url }}">{{ item_name }} </a></b>
                </td>
                <td>
                    {% filter extended_commonmark('') %}
{{ item[1].notes_to_html() }}
                    {% endfilter %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

<script type="text/javascript">
$(function(){
    $('#session_plans_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#session_plan').val(value);
              $(this).closest('form').submit();
          }
    });
});
</script>

{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if not is_mine_observing_session %}
                        {% if back == 'uobs_sessions' %}
                            <a class="ui basic icon compact button" href="{{ url_for('main_observing_session.user_observing_sessions', user_id=back_id) }}">
                                <i class="caret left icon"></i>
                                <i class="tasks icon mobile hidden"></i>
                            </a>
                        {% else %}
                            <a class="ui basic icon compact button" href="{{ url_for('main.index') }}">
                                <i class="caret left icon"></i>
                                {{ _('Dashboard') }}
                            </a>
                        {% endif %}
                    {% elif back == 'stobservation' %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_standalone_observation.standalone_observation_info', observation_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="eye icon mobile hidden"></i>
                        </a>
                    {% else %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_observing_session.observing_sessions') }}">
                            <i class="caret left icon"></i>
                            <i class="tasks icon mobile hidden"></i>
                        </a>
                    {% endif %}
                    <div class="divider"> / </div>
                    <div class="active section mobile hidden">
                        {{ observing_session.date_from.strftime('%Y-%m-%d') }}
                    </div>
                    <div class="divider mobile hidden"> &#x2604 </div>
                    <div class="active section">
                        {{ observing_session.title }}
                    </div>
                </div>
                {% if is_mine_observing_session %}
                    <div class="ui right floated floating dropdown icon mini button">
                        <i class="caret edit icon"></i>
                        <div class="menu">
                            <a class="item" href="{{ url_for('main_observing_session.observing_session_edit', observing_session_id=observing_session.id) }}">
                                {{ _('Edit Header')}}
                            </a>
                            <a class="item" href="{{ url_for('main_observing_session.observing_session_items_edit', observing_session_id=observing_session.id) }}">
                                {{ _('Edit Items')}}
                            </a>
                        </div>
                    </div>
                    {% if not observing_session.is_finished and not observing_session.is_active %}
                        <a class="ui right floated icon mini button" href="{{ url_for('main_observing_session.observing_session_set_activity', observing_session_id=observing_session.id, activity=1) }}">
                            {{ _('Activate')}}
                        </a>
                    {% endif %}
                    {% if not observing_session.is_finished and observing_session.is_active %}
                        <a class="ui right floated icon orange mini button" href="{{ url_for('main_observing_session.observing_session_set_activity', observing_session_id=observing_session.id, activity=0) }}">
                            {{ _('Deactivate')}}
                        </a>
                    {% endif %}
                {% endif %}
            </div>

            {% if is_mine_observing_session %}
                {{ navigation(edit_endpoints) }}
            {% else %}
                {{ navigation(overview_endpoints) }}
            {% endif %}

            {% if type == 'info' %}
                {{ observing_session_info(observing_session) }}
            {% elif type == 'chart' %}
                {{ observing_session_chart(observing_session) }}
            {% elif type == 'imp_exp' %}
                {{ observing_session_imp_exp(observing_session) }}
            {% elif type == 'run_plan' %}
                {{ observing_session_run_plan(observing_session) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
