{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {% if is_new %}
              <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                  <i class="caret left icon"></i>
                  Back to dashboard
              </a>
            {% else %}
              <a class="ui basic compact button" href="{{ url_for('main_observation.observation_info', observation_id=observation.id) }}">
                  <i class="caret left icon"></i>
                Back to Observation Info
              </a>
            {% endif %}
            <h2 class="ui header">
                {% if is_new %}
                    Add New Observation
                {% else %}
                    Edit Observation
                {% endif %}
                <div class="ui right floated buttons">
                  <button class="ui button active mode-basic">Basic</button>
                  <div class="or"></div>
                  <button class="ui button mode-advanced">Advanced</button>
                </div>
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Something went wrong.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {{ f.begin_form(form, flashes) }}

                <input id="advmode" type="hidden" value="false">

                {{ f.render_form_field(form.title) }}

                <div class="three fields">
                    <div class="field">
                        <label for="odate">Date</label>
                        <div class="ui calendar" id="odate">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate" name="{{form.date.name}}" placeholder="Date" type="text"
                                    value="{{form.date.data.strftime('%d/%m/%Y') if form.date.data else ''}}">
                          </div>
                        </div>
                        {% if form.date.errors %}
                            <div class="ui red pointing label">
                                {{ form.date.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="field">
                        {{ f.render_form_field(form.location) }}
                    </div>

                    <div class="field">
                      {{ form.rating.label }}
                      <div class="ui rating" data-icon="star" data-rating="{{ form.rating.data }}" data-max-rating="5"></div>
                      {{ form.rating() }}
                    </div>
                </div>

                {{ f.render_form_field(form.notes) }}

                {{ f.render_form_field(form.omd_content, extra_classes='observation-notes initially-hidden edit-advanced') }}

                <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
                    <div class="ui blue segment">
                        <div class="ui tiny header">Items</div>
                    </div>
                    {% for item in form.items %}
                        <div class="ui basic segment" data-toggle="fieldset-entry" style="padding-bottom:0px;{% if loop.index0 == 0 %}display:none;{% endif %}">
                            <div class="two fields">
                                <div class="fourteen wide field">
                                    <label>{{ item.deepsky_object_id_list.label }}</label>
                                    <div class="ui action input">
                                        {{ item.deepsky_object_id_list() }}
                                        <button id="item-{{loop.index0}}-addnote" class="ui icon button" type="button" data-toggle="fieldset-addnote">
                                            <i class="pen icon"></i>
                                        </button>
                                    </div>
                                    {% if item.deepsky_object_id_list.errors %}
                                        <div class="ui red pointing label">
                                            {{ item.deepsky_object_id_list.errors[0] | safe }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="four wide field">
                                    <label for="otime-{{loop.index0}}-tm">{{ item.date_time.label }}</label>
                                    <div class="ui action input">
                                        <div class="ui input calendar" id="otime-{{loop.index0}}-tm">
                                          <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="items-{{loop.index0}}-date_time"  name="{{item.date_time.name}}" placeholder="Time"
                                                   type="text" value="{{item.date_time.data.strftime('%H:%M') if item.date_time.data else ''}}" class=".observ-time">
                                          </div>
                                        </div>
                                        <button id="item-{{loop.index0}}-remove" class="ui icon red button" type="button" data-toggle="fieldset-remove-row">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                    {% if item.date_time.errors %}
                                        <div class="ui red pointing label">
                                            {{ item.date_time.errors[0] | safe }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {{ f.render_form_field(item.notes, extra_classes='observation-notes initially-hidden edit-advanced') }}
                        </div>
                    {% endfor %}
                    <div class="ui segment">
                        <button class="ui icon mini button" data-toggle="fieldset-add-row" data-target="#items-fieldset" type="button">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>

                {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                    {{ f.render_form_field(field) }}
                {% endfor %}

            {{ f.end_form() }}
        </div>
    </div>

    <script type="text/javascript">
        function recalcLabelsVisibility() {
            var rows = $("[data-toggle=fieldset-entry]");
            if(rows.length > 1) {
                $(rows).find("label").hide();
                $(rows[1]).find("label").show();
            }
        }

        $('#odate').calendar({
            type: 'date',
            formatter: {
                date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                return day + '/' + month + '/' + year;
                }
            }
        });

        $('.observ-time').calendar({
            type: 'time',
            ampm: false,
            popupOptions: {
                 observeChanges: false
            },
            formatter: {
                date: function (time, settings) {
                if (!date) return '';
                var hour = date.getHout();
                var minute = date.getMinute();
                return hout + ':' + minute;
                }
            }
        });

        $('.ui.rating').rating({
            maxRating: 5,
            onRate: function (rating) {
                $('#rating').val(rating);
            }
        });

        $('.ui.buttons .button').click(function() {
            $(this).addClass('active').siblings().removeClass('active');
            if ($(this).hasClass('mode-basic')) {
                $('.edit-advanced').hide();
                $('#items-fieldset').show();
                $('#advmode').attr('value', 'false')
            } else {
                $('.edit-advanced').show();
                $('#items-fieldset').hide();
                $('#advmode').attr('value', 'true')
            }
        });

        var notesMDE = new EasyMDE({element: document.getElementById('notes'),
            minHeight: "200px",
            spellChecker: false,
	    });

        var contentMDE = new EasyMDE({element: document.getElementById('omd_content'),
            minHeight: "300px",
            spellChecker: false,
        });

        $(function() {
            recalcLabelsVisibility();

            $("div[data-toggle=fieldset]").each(function() {

                var $this = $(this);

                $this.find("button[data-toggle=fieldset-add-row]").click(function() {
                    var target = $($(this).data("target"));
                    console.log(target);
                    var oldrow = target.find("[data-toggle=fieldset-entry]:last");
                    var row = oldrow.clone(true, true);
                    console.log(row.find(":input")[0]);
                    var elem_id = row.find(":input")[0].id;
                    var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
                    row.attr('data-id', elem_num);
                    row.find(":input").each(function() {
                        console.log(this);
                        var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                        $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                    });
                    row.show();
                    oldrow.after(row);
                    $('#items-' + elem_num + '-date_time').calendar({
                        type: 'time',
                        ampm: false,
                        popupOptions: {
                             observeChanges: false
                        },
                        formatter: {
                            date: function (time, settings) {
                            if (!date) return '';
                            var hour = date.getHout();
                            var minute = date.getMinute();
                            return hout + ':' + minute;
                            }
                        }
                    });
                    recalcLabelsVisibility();
                });

                $this.find("button[data-toggle=fieldset-remove-row]").click(function() {
                    if($this.find("[data-toggle=fieldset-entry]").length > 1) {
                        var thisRow = $(this).closest("[data-toggle=fieldset-entry]");
                        thisRow.remove();
                    }
                    recalcLabelsVisibility();
                });

                $this.find("button[data-toggle=fieldset-addnote]").click(function() {
                    var elem_id = $(this).attr("id");
                    var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1'));
                    $("#items-" + elem_num + "-notes")
                        .closest("[data-toggle=fieldset-entry]")
                        .find(".observation-notes")
                        .toggle();
                });
            });
        });
    </script>

{% endblock %}
