{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
               {{ _('Dashboard') }}
            </a>
            <h2 class="ui header">
                    {{ _('Observation') }}
            </h2>
            <div class="ui two column stackable grid">
                {{ dash.dashboard_option(_('Add observing session'), 'main_observing_session.new_observing_session',
                                    description=_('Add new observing session'), icon='eye icon', extra_icon='corner add icon') }}
                {{ dash.dashboard_option(_('Observing sessions'), 'main_observing_session.observing_sessions',
                                    description=_('View observing sessions'), icon='eye icon') }}
                {{ dash.dashboard_option(_('Observed List'), 'main_observed.observed_list_info',
                                    description=_('View observed objects'), icon='binoculars icon') }}
                {{ dash.dashboard_option(_('Observations export [Experimental]'), 'main_observing_session.observing_sessions_export',
                                    description=_('Export observing sessions to OAL'), icon='upload icon') }}
            </div>
        </div>
    </div>
{% endblock %}