{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Add New Observation
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

                <div class="two fields">
                    <div class="field">
                        <label for="odate">Date</label>
                        <div class="ui calendar" id="odate">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate" name="{{form.date.name}}" placeholder="Date" type="text">
                          </div>
                        </div>
                    </div>

                    <div class="field">
                      {{ form.rating.label }}
                      <div class="ui rating" data-icon="star" data-rating="{{ form.rating.data }}" data-max-rating="5"></div>
                      {{ form.rating() }}
                    </div>
                </div>

                {{ f.render_form_field(form.omd_content) }}

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['warning'], header='Something went wrong.', class='warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                    {{ f.render_form_field(field) }}
                {% endfor %}

            {{ f.end_form() }}
        </div>
    </div>

    <script type="text/javascript">
        $('#odate').calendar({
            type: 'date',
            formatter: {
                date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                return day + '/' + month + '/' + year;
                }
            }
        });
        var contentMDE = new EasyMDE({element: document.getElementById('omd_content'),
                minHeight: "500px",
            });
    </script>

{% endblock %}
