{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic computer tablet only compact button" href="{{ url_for('main_observation.observation_menu') }}">
                <i class="caret left icon"></i>
               {{ _('Observer') }}
            </a>
            <h2 class="ui header">
                {{ _('Observations') }}
            </h2>

            <div style="overflow-x: scroll;">
                {{ pagination.info }}
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>{{ _('Date') }}</th>
                            <th>{{ _('Title') }}</th>
                            <th>{{ _('Location') }}</th>
                            <th class="mobile hidden">{{ _('Rating') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for o in observations %}
                        <tr onclick="window.location.href = '{{ url_for('main_observation.observation_info', observation_id=o.id) }}';">
                            <td>{{ o.date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ o.title[:64] }}</td>
                            <td>{{ o.location.name if o.location else '' }}</td>
                            <td class="mobile hidden"><div class="ui rating" data-icon="star" data-rating="{{ o.rating_to_int(5) }}" data-max-rating="5"></div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function()  {
            $('#search-dsos').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
        $('.ui.rating')
        .rating();
    </script>
{% endblock %}
