{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_observation.observation_info', _('Info'), 'info'),
    ('main_observation.observation_chart', _('Chart'), 'info'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, observation_id=observation.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro observation_info(observation) %}
    <table class="ui compact definition table">
        <tr><td class="two wide">{{ _('Date') }}</td><td>{{ observation.date.strftime('%Y-%m-%d') }}</td></tr>
        <tr><td class="two wide">{{ _('Location') }}</td><td>{{ observation.location.name if observation.location else observation.txt_location_name }}</td></tr>
        <tr>
            <td class="two wide">{{ _('Notes') }}</td>
            <td>
                {% filter extended_commonmark('') %}
{{ observation.notes }}
                {% endfilter %}
            </td>
        </tr>
        <tr><td>Rating</td><td><div class="ui rating" data-icon="star" data-rating="{{ observation.rating_to_int(5) }}" data-max-rating="5"></div></td></tr>
    </table>
    <table class="ui compact definition2c table">
        {% for item in observation.observation_items | sort(attribute='date_time') %}
        <tr>
            <td class="two wide"><b>{{ item.deepsky_objects_to_html() | safe }}</b></td>
            <td class="one wide">{{ item.date_time.strftime('%H:%M') }}</td>
            <td>
                {% filter extended_commonmark('') %}
{{ item.notes_to_html() }}
                {% endfilter %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endmacro %}

{# --- Chart --- #}
{% macro observation_chart(observation) %}
    {{ fchart.fchart(url_for('main_observation.observation_chart', observation_id=id, back=back, back_id=back_id),
                     url_for('main_observation.observation_chart_pos_img', observation_id=observation.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', nm=chart_control.chart_nm, flags=chart_control.chart_flags, ),
                     url_for('main_observation.observation_chart_legend_img', observation_id=observation.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', nm=chart_control.chart_nm, flags=chart_control.legend_flags),
                              None, fchart_form,)
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic computer tablet only compact button" href="{{ url_for('main_observation.observations') }}">
                <i class="caret left icon"></i>
                {{ _('Observations') }}
            </a>
            <h2 class="ui header">
                {{ observation.title }}
                <a class="ui icon right floated mini button" href="{{ url_for('main_observation.observation_edit', observation_id=observation.id) }}">
                    <i class="caret edit icon"></i>
                </a>
            </h2>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ observation_info(observation) }}
            {% elif type == 'chart' %}
                {{ observation_chart(observation) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
