{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_observation.observation_menu') }}">
                        <i class="caret left icon"></i>
                       {{ _('Observations') }}
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Observing Sessions') }}{{ (' (' + user.user_name + ')') if user else '' }}
                    </div>
                </div>
                <a class="ui right floated icon positive mini mobile hidden button" href="{{ url_for('main_observing_session.new_observing_session') }}">
                    <i class="plus icon"></i>
                    {{ _('New observing session') }}
                </a>
            </div>

            <div style="overflow-x: scroll;">
                {{ pagination.info }}
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>{{ _('Date') }}</th>
                            <th>{{ _('Title') }}</th>
                            <th>{{ _('Location') }}</th>
                            <th>{{ _('Sqm') }}</th>
                            <th>{{ _('Is active') }}</th>
                            <th class="mobile hidden">{{ _('Rating') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for os in observing_sessions %}
                        {% if user %}
                        <tr onclick="window.location.href = '{{ url_for('main_observing_session.observing_session_info', observing_session_id=os.id, back='uobs_sessions', back_id=user.id) }}';">
                        {% else %}
                        <tr onclick="window.location.href = '{{ url_for('main_observing_session.observing_session_info', observing_session_id=os.id) }}';">
                        {% endif %}
                            <td>{{ os.date_from.strftime('%Y-%m-%d') }}</td>
                            <td>{{ os.title[:64] }}</td>
                            <td>{{ os.location.name if os.location else os.location_position }}</td>
                            <td>{{ "%.2f"|format(os.sqm) if os.sqm else '' }}</td>
                            <td>{% if os.is_active %}<i class="green check circle outline icon"></i>{% endif %}</td>
                            <td class="mobile hidden"><div class="ui rating" data-icon="star" data-rating="{{ os.rating_to_int(5) }}" data-max-rating="5"></div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function()  {
            $('#search-dsos').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
        $('.ui.rating')
        .rating();
    </script>
{% endblock %}
