{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {% if is_new %}
              <a class="ui basic compact button" href="{{ url_for('main_observation.observation_menu') }}">
                  <i class="caret left icon"></i>
                  {{ _('Observations') }}
              </a>
            {% else %}
              <a class="ui basic compact button" href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=observing_session.id) }}">
                  <i class="caret left icon"></i>
                {{ _('Leave editing') }}
              </a>
            {% endif %}
            <h2 class="ui header">
                {% if is_new %}
                    {{ _('Add New Observing Session') }}
                {% else %}
                    {{ _('Edit Observing Session') }}
                {% endif %}
                <!--
                <div class="ui right floated buttons">
                  <button class="ui button active mode-basic">{{ _('Basic') }}</button>
                  <div class="or"></div>
                  <button class="ui button mode-advanced">{{ _('Advanced') }}</button>
                </div>
                -->
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.display_standard_flashes(flashes) }}

            {{ f.begin_form(form, flashes) }}

                <input id="goback" type="hidden" value="false">
                <input id="advmode" type="hidden" value="false">

                <div class="three fields">
                    <div class="twelve wide field">
                        {{ f.render_form_field(form.title) }}
                    </div>
                    <div class="six wide field">
                        {{ form.rating.label }}
                        <div class="ui rating" data-icon="star" data-rating="{{ form.rating.data }}" data-max-rating="5"></div>
                        {{ form.rating() }}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label for="odate_from">{{ form.date_from.label }}</label>
                        <div class="ui calendar" id="odate_from">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate_from" name="{{form.date_from.name}}" placeholder="Date/Time" type="text"
                                    value="{{form.date_from.data.strftime('%d/%m/%Y %H:%M') if form.date_from.data else ''}}">
                          </div>
                        </div>
                        {% if form.date_from.errors %}
                            <div class="ui red pointing label">
                                {{ form.date_from.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label for="odate_to">{{ form.date_to.label }}</label>
                        <div class="ui calendar" id="odate_to">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate_to" name="{{form.date_to.name}}" placeholder="Date/Time" type="text"
                                    value="{{form.date_to.data.strftime('%d/%m/%Y %H:%M') if form.date_to.data else ''}}">
                          </div>
                        </div>
                        {% if form.date_to.errors %}
                            <div class="ui red pointing label">
                                {{ form.date_to.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        {{ form.location.label }}
                        <select name="{{ form.location.name }}" class="ui search selection dropdown dlocation">
                            <option value="{{ location.id if location else location_position }}" selected="selected">{{ location.name if location else location_position }}</option>
                        </select>
                        {% if form.location.errors %}
                            <div class="ui red pointing label">
                                {{ form.location.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        {{ f.render_form_field(form.sqm) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.faintest_star) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.seeing) }}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        {{ f.render_form_field(form.transparency) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.weather) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.equipment) }}
                    </div>
                </div>

                {{ f.render_form_field(form.is_public) }}

                {{ f.render_form_field(form.notes) }}

                <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
                    <div class="ui blue segment">
                        <div class="ui tiny header">{{ _('Observations') }}</div>
                    </div>
                    {% for item in form.items %}
                        <div class="ui basic segment" data-toggle="fieldset-entry" style="padding-bottom:0px;{% if loop.index0 == 0 %}display:none;{% endif %}">
                            <div class="two fields">
                                <div class="fourteen wide field">
                                    <label>{{ item.comp_notes.label }}</label>
                                    <div class="ui action input">
                                        {{ item.comp_notes() }}
                                    </div>
                                    {% if item.comp_notes.errors %}
                                        <div class="ui red pointing label itemerror">
                                            {{ item.comp_notes.errors[0] | safe }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="four wide field">
                                    <label for="otime-{{loop.index0}}-tm">{{ item.date_time.label }}</label>
                                    <div class="ui action input">
                                        <div class="ui input calendar" id="otime-{{loop.index0}}-tm">
                                          <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="items-{{loop.index0}}-date_time"  name="{{item.date_time.name}}" placeholder="Time"
                                                   type="text" value="{{item.date_time.data.strftime('%H:%M') if item.date_time.data else ''}}" class="observ-time">
                                          </div>
                                        </div>
                                        <button id="item-{{loop.index0}}-remove" class="ui icon red button" type="button" data-toggle="fieldset-remove-row">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                    {% if item.date_time.errors %}
                                        <div class="ui red pointing label">
                                            {{ item.date_time.errors[0] | safe }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="ui segment">
                        <button class="ui icon mini button" data-toggle="fieldset-add-row" data-target="#items-fieldset" type="button">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>

                <div class="two fields">
                    {% if not is_new %}
                        <button class="ui positive button bupdateback">{{ _('Update and go back')}}</button>
                    {% endif %}
                    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                        {{ field(class='positive ui button') }}
                    {% endfor %}
                    {% if not is_new %}
                        <a id="bdelete" class="negative ui button" href="#">{{ _('Delete Observing Session') }}</a>
                    {% endif %}
                </div>

            {{ f.end_form() }}
        </div>
    </div>

    {% if not is_new %}
        <div class="ui tiny modal deleteModal">
          <div class="header">{{ _('Delete Observing Session') }}</div>
          <div class="content">
            <p>{{ _('Are you sure you want to delete observing session?') }}</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_observing_session.observing_session_delete', observing_session_id=observing_session.id) }}">
                {{ _('Yes') }}
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        function recalcLabelsVisibility() {
            var rows = $("[data-toggle=fieldset-entry]");
            if(rows.length > 1) {
                $(rows).find("label").hide();
                $(rows[1]).find("label").show();
            }
        }

        var notesMDE = new EasyMDE({element: document.getElementById('notes'),
            minHeight: "200px",
            spellChecker: false,
            status : false,
        });

        $(function() {
            if ($('.itemerror').length > 0) {
                $('.itemerror')[0].scrollIntoView({block:'center'});
            }

            $('.bupdateback' ).click(function() {
                $('#goback').val('true');
                $(this).closest('form').submit();
                return false;
            });

            $('#odate_from').calendar({
                type: 'datetime',
                monthFirst: false,
                ampm: false,
                formatter: {
                    date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                    }
                }
            });

            $('#odate_to').calendar({
                type: 'datetime',
                monthFirst: false,
                ampm: false,
                formatter: {
                    date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                    },
                }
            });

            $('.observ-time').calendar({
                type: 'time',
                ampm: false,
                popupOptions: {
                     observeChanges: false
                },
                formatter: {
                    date: function (time, settings) {
                    if (!date) return '';
                    var hour = date.getHout();
                    var minute = date.getMinute();
                    return hout + ':' + minute;
                    }
                }
            });

            $('.ui.rating').rating({
                maxRating: 5,
                onRate: function (rating) {
                    $('#rating').val(rating);
                }
            });

            /*
            $('.ui.buttons .button').click(function() {
                $(this).addClass('active').siblings().removeClass('active');
                if ($(this).hasClass('mode-basic')) {
                    $('.edit-advanced').hide();
                    $('#items-fieldset').show();
                    $('#advmode').attr('value', 'false')
                } else {
                    $('.edit-advanced').show();
                    $('#items-fieldset').hide();
                    $('#advmode').attr('value', 'true')
                }
            });
            */

            $('.ui.dropdown.dlocation').dropdown({
                allowAdditions: true,
                minCharacters : 3,
                apiSettings: {
                    url: "{{url_for('main_location.location_autocomplete')}}?q={query}"
                }
            });

            recalcLabelsVisibility();

            $("div[data-toggle=fieldset]").each(function() {

                var $this = $(this);

                $this.find("button[data-toggle=fieldset-add-row]").click(function() {
                    var target = $($(this).data("target"));
                    console.log(target);
                    var oldrow = target.find("[data-toggle=fieldset-entry]:last");
                    var row = oldrow.clone(true, true);
                    console.log(row.find(":input")[0]);
                    var elem_id = row.find(":input")[0].id;
                    var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
                    row.attr('data-id', elem_num);
                    row.find(":input").each(function() {
                        console.log(this);
                        var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                        $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                    });
                    row.show();
                    oldrow.after(row);
                    $('#items-' + elem_num + '-date_time').val('00:00')
                    $('#items-' + elem_num + '-date_time').calendar({
                        type: 'time',
                        ampm: false,
                        popupOptions: {
                             observeChanges: false
                        },
                        formatter: {
                            date: function (time, settings) {
                            if (!date) return '';
                            var hour = date.getHout();
                            var minute = date.getMinute();
                            return hout + ':' + minute;
                            }
                        }
                    });
                    recalcLabelsVisibility();
                });

                $this.find("button[data-toggle=fieldset-remove-row]").click(function() {
                    if($this.find("[data-toggle=fieldset-entry]").length > 1) {
                        var thisRow = $(this).closest("[data-toggle=fieldset-entry]");
                        thisRow.remove();
                    }
                    recalcLabelsVisibility();
                });

            });
        });

        {% if not is_new %}
            $('.ui.modal.deleteModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bdelete').click(function() {
                $('.ui.modal.deleteModal')
                    .modal('show');
            });
        {% endif %}
    </script>

{% endblock %}
