{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set edit_endpoints = [
    ('main_observation.observation_info', _('Info'), 'info'),
    ('main_observation.observation_chart', _('Chart'), 'info'),
    ('main_observation.observation_run_plan', _('Run plan'), 'info'),
] %}

{% set overview_endpoints = [
    ('main_observation.observation_info', _('Info'), 'info'),
    ('main_observation.observation_chart', _('Chart'), 'info'),
] %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, observation_id=observation.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro observation_info(observation) %}
    <table class="ui compact definition unstackable table">
        <tr><td class="two wide">{{ _('Date') }}</td><td colspan="5">{{ observation.date.strftime('%Y-%m-%d') }}</td></tr>
        <tr><td class="two wide">{{ _('Location') }}</td><td colspan="5">{{ observation.location.name if observation.location else observation.location_position }}</td></tr>
        <tr><td>Rating</td><td colspan="5"><div class="ui rating" data-icon="star" data-rating="{{ observation.rating_to_int(5) }}" data-max-rating="5"></div></td></tr>
        <tr><td class="two wide">{{ _('Sqm') }}</td><td>{{ "%.2f"|format(observation.sqm) if observation.sqm else '' }}</td></tr>
        <tr><td class="two wide">{{ _('Seeing') }}</td><td>{{ observation.loc_seeing() }}</td></tr>
        <tr><td class="two wide definition">{{ _('Transparency') }}</td><td>{{ observation.loc_transparency() }}</td></tr>
        <tr>
        <tr>
            <td class="two wide">{{ _('Notes') }}</td>
            <td colspan="5">
                {% filter extended_commonmark('') %}
{{ observation.notes }}
                {% endfilter %}
            </td>
        </tr>
    </table>
    <table class="ui compact definition2c table">
        {% for item in observation.observation_items | sort(attribute='date_time') %}
        <tr>
            <td class="two wide"><b>{{ item.deepsky_objects_to_html() | safe }}</b></td>
            <td class="one wide">{{ item.date_time.strftime('%H:%M') }}</td>
            <td>
                {% filter extended_commonmark('') %}
{{ item.notes_to_html() }}
                {% endfilter %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endmacro %}

{# --- Chart --- #}
{% macro observation_chart(observation) %}
    {{ fchart.fchart(url_for('main_observation.observation_chart', observation_id=observation.id, back=back, back_id=back_id),
                     url_for('main_observation.observation_chart_pos_img', observation_id=observation.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, ),
                     url_for('main_observation.observation_chart_legend_img', observation_id=observation.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags),
                     None,
                     fchart_form, default_chart_iframe_url=default_chart_iframe_url, )
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% macro observation_run_plan(observation) %}
    {{ f.begin_form(run_plan_form, flashes, action=url_for('main_observation.observation_run_plan', observation_id=observation.id), extra_classes='ui menu') }}
        <div class="ui item">
            <div id="session_plans_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Session plans') }}" data-variation="basic">
                <input type="hidden" id="session_plan" name="{{ run_plan_form.session_plan.name }}" value="{{ run_plan_form.session_plan.data }}">
                <span class="text">{{ _('Choose current session plan') }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for session_plan in available_session_plans %}
                        <div class="item" data-value="{{ session_plan.id }}">{{ session_plan.title }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ui item">
{% if run_plan_form.session_plan.data %}
    {% set run_plan_url = url_for('main_observation.observation_run_plan_execute', observation_id=observation.id, session_plan_id=run_plan_form.session_plan.data) %}
{% else %}
    {% set run_plan_url = '#' %}
{% endif %}
            <a class="ui right labeled icon positive {% if run_plan_url=='#'%}disabled {% endif %}button" href="{{ run_plan_url }}">
                <i class="play icon"></i>
                {{ _('Run plan') }}
            </a>
        </div>
    {{ f.end_form(run_plan_form) }}

    {% if observation_plan_run and observation_plan_run.observation_plan_run_items|length > 0  %}
        <table class="ui compact definition2c table">
            {% for item in observation_plan_run.observation_plan_run_items | sort(attribute='date_time') %}
            <tr>
                <td class="two wide"><b>{{ item.deepskyObject.name | safe }}</b></td>
                <td class="one wide">{{ item.date_time.strftime('%H:%M') }}</td>
                <td>
                    {% filter extended_commonmark('') %}
{{ item.notes }}
                    {% endfilter %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if not observation_plan_run or observation_plan_run.observation_plan_run_items|length == 0  %}
        <div class="ui segment">{{ _('No object has been observed from this plan yet.')}}</div>
    {% endif %}

<script type="text/javascript">
$(function(){
    $('#session_plans_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#session_plan').val(value);
              $(this).closest('form').submit();
          }
    });
});
</script>

{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if not is_mine_observation %}
                        <a class="ui basic icon compact button" href="{{ url_for('main.index') }}">
                            <i class="caret left icon"></i>
                            {{ _('Dashboard') }}
                        </a>
                    {% else %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_observation.observations') }}">
                            <i class="caret left icon"></i>
                            <i class="tasks icon mobile hidden"></i>
                        </a>
                    {% endif %}
                    <div class="divider"> / </div>
                    <div class="active section mobile hidden">
                        {{ observation.date.strftime('%Y-%m-%d') }}
                    </div>
                    <div class="divider mobile hidden"> &#x2604 </div>
                    <div class="active section">
                        {{ observation.title }}
                    </div>
                </div>
                {% if is_mine_observation %}
                <a class="ui icon right floated mini button" href="{{ url_for('main_observation.observation_edit', observation_id=observation.id) }}">
                    <i class="caret edit icon"></i>
                </a>
                {% endif %}
            </div>

            {% if is_mine_observation %}
                {{ navigation(edit_endpoints) }}
            {% else %}
                {{ navigation(overview_endpoints) }}
            {% endif %}

            {% if type == 'info' %}
                {{ observation_info(observation) }}
            {% elif type == 'chart' %}
                {{ observation_chart(observation) }}
            {% elif type == 'run_plan' %}
                {{ observation_run_plan(observation) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
