{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic icon compact button" href="{{ url_for('main_observation.observation_menu') }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Import observations from OAL') }}
                    </div>
                </div>
            </div>

            <div class="ui {{ 'inverted' if inverted_accordion else '' }} segment">
                <div class="ui {{ 'inverted' if inverted_accordion else '' }} fluid accordion">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    {{ _('About OAL') }}
                  </div>
                  <div class="content markdown">
                        {% filter extended_commonmark('') %}
{{ about_oal }}
                {% endfilter %}
                  </div>
                </div>
            </div>

            <div class="ui stackable grid container">
                <div class="fourteen wide tablet sixteen wide computer centered column">

                    {% set flashes = {
                        'error':   get_flashed_messages(category_filter=['form-error']),
                        'warning': get_flashed_messages(category_filter=['form-warning']),
                        'info':    get_flashed_messages(category_filter=['form-info']),
                        'success': get_flashed_messages(category_filter=['form-success'])
                    } %}
                    {{ f.display_standard_flashes(flashes) }}

                    <div class="ui menu">
                        <div class="right menu">
                            <div class="ui item">
                                <form id="fmupload" method="post" action="{{ url_for('main_observation.observation_import_upload') }}" enctype="multipart/form-data">
                                    <label for="file" class="ui icon orange button">
                                        <i class="download icon"></i>
                                        {{ _('Import observations from OAL') }}
                                    </label>
                                    <input type="file" id="file" name="file" class="ui file input">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .ui.file.input {
          top: -999999px;
          position: absolute;
        }
    </style>
    <script type="text/javascript">
        $('.ui.accordion')
          .accordion()
        ;
        $('#file').change(function() {
            $("#fmupload" ).submit();
        });
    </script>
{% endblock %}
