{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {% if is_new %}
                <a class="ui basic compact button" href="{{ url_for('main_observation.observation_menu') }}">
                    <i class="caret left icon"></i>
                    {{ _('Observation') }}
                </a>
            {% else %}
                <a class="ui basic compact button" href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=observing_session.id) }}">
                    <i class="caret left icon"></i>
                    {{ _('Leave editing') }}
                </a>
            {% endif %}
            <h2 class="ui header">
                {% if is_new %}
                    {{ _('Add New Observing Session') }}
                {% else %}
                    {{ _('Edit Observing Session') }}
                {% endif %}
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.display_standard_flashes(flashes) }}

            {{ f.begin_form(form, flashes) }}

                <input id="goback" type="hidden" value="false">

                <div class="three fields">
                    <div class="twelve wide field">
                        {{ f.render_form_field(form.title) }}
                    </div>
                    <div class="six wide field">
                        {{ form.rating.label }}
                        <div class="ui rating" data-icon="star" data-rating="{{ form.rating.data }}" data-max-rating="5"></div>
                        {{ form.rating() }}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label for="odate_from">{{ form.date_from.label }}</label>
                        <div class="ui calendar" id="odate_from">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate_from" name="{{form.date_from.name}}" placeholder="Date/Time" type="text"
                                    value="{{form.date_from.data.strftime('%d/%m/%Y %H:%M') if form.date_from.data else ''}}">
                          </div>
                        </div>
                        {% if form.date_from.errors %}
                            <div class="ui red pointing label">
                                {{ form.date_from.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label for="odate_to">{{ form.date_to.label }}</label>
                        <div class="ui calendar" id="odate_to">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate_to" name="{{form.date_to.name}}" placeholder="Date/Time" type="text"
                                    value="{{form.date_to.data.strftime('%d/%m/%Y %H:%M') if form.date_to.data else ''}}">
                          </div>
                        </div>
                        {% if form.date_to.errors %}
                            <div class="ui red pointing label">
                                {{ form.date_to.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        {{ form.location.label }}
                        <select name="{{ form.location.name }}" class="ui search selection dropdown dlocation">
                            <option value="{{ location.id if location else location_position }}" selected="selected">{{ location.name if location else location_position }}</option>
                        </select>
                        {% if form.location.errors %}
                            <div class="ui red pointing label">
                                {{ form.location.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        {{ f.render_form_field(form.sqm) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.faintest_star) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.seeing) }}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        {{ f.render_form_field(form.transparency) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.weather) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.equipment) }}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field">
                        {{ f.render_form_field(form.is_public) }}
                    </div>
                    <div class="field">
                        {{ f.render_form_field(form.is_finished) }}
                    </div>
                    <div class="field">
                    </div>
                </div>

                {{ f.render_form_field(form.notes) }}

                <div class="two fields">
                    {% if not is_new %}
                        <button class="ui positive button bupdateback">{{ _('Update and go back')}}</button>
                    {% endif %}
                    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                        {{ field(class='positive ui button') }}
                    {% endfor %}
                    {% if not is_new %}
                        <a id="bdelete" class="negative ui button" href="#">{{ _('Delete Observing Session') }}</a>
                    {% endif %}
                </div>

            {{ f.end_form() }}
        </div>
    </div>

    {% if not is_new %}
        <div class="ui tiny modal deleteModal">
          <div class="header">{{ _('Delete Observing Session') }}</div>
          <div class="content">
            <p>{{ _('Are you sure you want to delete observing session?') }}</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_observing_session.observing_session_delete', observing_session_id=observing_session.id) }}">
                {{ _('Yes') }}
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        var notesMDE = new EasyMDE({element: document.getElementById('notes'),
            minHeight: "200px",
            spellChecker: false,
            status : false,
        });

        $(function() {

            $('.bupdateback' ).click(function() {
                $('#goback').val('true');
                $(this).closest('form').submit();
                return false;
            });

            $('#odate_from').calendar({
                type: 'datetime',
                monthFirst: false,
                ampm: false,
                formatter: {
                    date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                    }
                }
            });

            $('#odate_to').calendar({
                type: 'datetime',
                monthFirst: false,
                ampm: false,
                formatter: {
                    date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                    },
                }
            });

            $('.ui.rating').rating({
                maxRating: 5,
                onRate: function (rating) {
                    $('#rating').val(rating);
                }
            });

            $('.ui.dropdown.dlocation').dropdown({
                allowAdditions: true,
                minCharacters : 3,
                apiSettings: {
                    url: "{{url_for('main_location.location_autocomplete')}}?q={query}"
                }
            });
        });

        {% if not is_new %}
            $('.ui.modal.deleteModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bdelete').click(function() {
                $('.ui.modal.deleteModal')
                    .modal('show');
            });
        {% endif %}
    </script>

{% endblock %}
