{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}
{% import 'macros/common_macros.html' as commons %}

{% set edit_endpoints = [
    ('main_observing_session.observing_session_info', _('Info'), 'info'),
    ('main_observing_session.observing_session_chart', _('Chart'), 'info'),
    ('main_observing_session.observing_session_run_plan', _('Run plan'), 'info'),
] %}

{% set overview_endpoints = [
    ('main_observing_session.observing_session_info', _('Info'), 'info'),
    ('main_observing_session.observing_session_chart', _('Chart'), 'info'),
] %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, observing_session_id=observing_session.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Observing Session Info --- #}
{% macro observing_session_info(observing_session) %}
    <table class="ui compact definition unstackable table">
        <tr><td class="two wide">{{ _('Date From') }}</td><td colspan="5">{{ observing_session.date_from.strftime('%Y-%m-%d %H:%M') }}</td></tr>
        <tr><td class="two wide">{{ _('Date To') }}</td><td colspan="5">{{ observing_session.date_to.strftime('%Y-%m-%d %H:%M') }}</td></tr>
        <tr><td class="two wide">{{ _('Location') }}</td>
            <td colspan="5">
                {% if observing_session.location %}
                    {{ observing_session.location.name }}
                    <a href="{{ observing_session.location.url_mapy_cz() }}" target="_blank" style="margin-left:20px">mapy.cz</a> /
                    <a href="{{ observing_session.location.url_google_maps() }}" target="_blank">google</a>
                {% else %}
                    {{ observing_session.location_position }}
                    <a href="{{ location_position_mapy_cz_url }}" target="_blank" style="margin-left:20px">mapy.cz</a> /
                    <a href="{{ location_position_google_maps_url }}" target="_blank">google</a>
                {% endif %}
            </td>
        </tr>
        <tr><td>Rating</td><td colspan="5"><div class="ui rating" data-icon="star" data-rating="{{ observing_session.rating_to_int(5) }}" data-max-rating="5"></div></td></tr>
        <tr><td class="two wide">{{ _('Sqm') }}</td><td>{{ "%.2f"|format(observing_session.sqm) if observing_session.sqm else '' }}</td></tr>
        <tr><td class="two wide">{{ _('Faintest Star') }}</td><td>{{ "%.2f"|format(observing_session.faintest_star) if observing_session.faintest_star else '' }}</td></tr>
        <tr><td class="two wide">{{ _('Seeing') }}</td><td>{{ observing_session.loc_seeing() }}</td></tr>
        <tr><td class="two wide">{{ _('Transparency') }}</td><td>{{ observing_session.loc_transparency() }}</td></tr>
        <tr><td class="two wide">{{ _('Weather') }}</td><td>{{ observing_session.weather }}</td></tr>
        <tr><td class="two wide">{{ _('Equipment') }}</td><td>{{ observing_session.equipment }}</td></tr>
        <tr>
        <tr>
            <td class="two wide">{{ _('Notes') }}</td>
            <td colspan="5">
                {% filter extended_commonmark('') %}
{{ observing_session.notes }}
                {% endfilter %}
            </td>
        </tr>
    </table>
    <table class="ui compact definition2 unstackable table">
        {% for o in observing_session.observations | sort(attribute='date_time') %}
        <tr>
            <td class="two wide"><b>{{ o.deepsky_objects_to_html() | safe }}</b></td>
            <td>
                {% filter extended_commonmark('') %}
{{ o.notes_to_html() }}
                {% endfilter %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endmacro %}

{# --- Chart --- #}
{% macro observing_session_chart(observing_session) %}
    {{ fchart.fchart(url_for('main_observing_session.observing_session_chart', observing_session_id=observing_session.id, back=back, back_id=back_id),
                     url_for('main_observing_session.observing_session_chart_pos_img', observing_session_id=observing_session.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, ),
                     url_for('main_observing_session.observing_session_chart_legend_img', observing_session_id=observing_session.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags),
                     None,
                     fchart_form, default_chart_iframe_url=default_chart_iframe_url, search_url_params='back=observation&back_id={}'.format(observing_session.id))
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{# --- Observing Session Run Plan --- #}
{% macro observing_session_run_plan(observing_session) %}
    {{ f.begin_form(run_plan_form, flashes, action=url_for('main_observing_session.observing_session_run_plan', observing_session_id=observing_session.id), extra_classes='ui menu') }}
        <div class="ui item">
            <div id="session_plans_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Session plans') }}" data-variation="basic">
                <input type="hidden" id="session_plan" name="{{ run_plan_form.session_plan.name }}" value="{{ run_plan_form.session_plan.data }}">
                <span class="text">{{ _('Choose current session plan') }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for session_plan in available_session_plans %}
                        <div class="item" data-value="{{ session_plan.id }}">{{ session_plan.title }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ui item">
{% if run_plan_form.session_plan.data %}
    {% set run_plan_url = url_for('main_observing_session.observing_session_run_plan_execute', observing_session_id=observing_session.id, session_plan_id=run_plan_form.session_plan.data) %}
{% else %}
    {% set run_plan_url = '#' %}
{% endif %}
            <a class="ui right labeled icon positive {% if run_plan_url=='#'%}disabled {% endif %}button" href="{{ run_plan_url }}">
                <i class="play icon"></i>
                {{ _('Run plan') }}
            </a>
        </div>
    {{ f.end_form(run_plan_form) }}

    {% if not_observed_plan_items|length > 0  %}
    <h4 class="ui header">
      <i class="eye slash icon"></i>
      <div class="content">{{ _('Unobserved objects') }}</div>
    </h4>
    <table class="ui searchable sortable unstackable selectable celled table">
        <thead>
            <tr>
                <th class="sorted ascending">{{ _('Name') }}</th>
                <th>{{ _('Type') }}</th>
                <th class="mobile hidden">RA</th>
                <th class="mobile hidden">Dec</th>
                <th><i class="lastfm icon"></i></th>
                <th class="right aligned">mag</th>
                <th class="right aligned mobile hidden">{{ _('Size') }}</th>
                {% if observed %}
                <th class="collapsing mobile hidden"></th>
                {% endif %}
            </tr>
        </thead>
        {% for item in not_observed_plan_items %}
        {% if observing_session_plan_run is not none %}
            <tr onclick="window.location.href='{{ url_for('main_deepskyobject.deepskyobject_observation_log', dso_id=item.deepskyObject.name, back='running_plan', back_id=observing_session_plan_run.id) }}';">
        {% else %}
            <tr>
        {% endif %}
                <td>{{ item.deepskyObject.denormalized_name() }}</td>
                <td>{{ item.deepskyObject.type }}</td>
                <td class="mobile hidden">{{ item.deepskyObject.ra_str_short() }}</td>
                <td class="mobile hidden">{{ item.deepskyObject.dec_str_short() }}</td>
                <td>{{ item.deepskyObject.get_constellation_iau_code() }}</td>
                <td class="right aligned">
                    {{ commons.convert_mag(item.deepskyObject.mag) }}
                </td>
                <td class="right aligned mobile hidden">
                    {% if item.deepskyObject.major_axis %}
                        {% if item.deepskyObject.major_axis >= 100.0 %}
                          {{ (item.deepskyObject.major_axis / 60.0) | round(2, 'floor') }}'
                        {% else %}
                          {{ item.deepskyObject.major_axis | round(2, 'floor')}}''
                        {% endif %}
                        {% if item.deepskyObject.minor_axis and item.deepskyObject.major_axis != item.deepskyObject.minor_axis %}
                        / {% if item.deepskyObject.minor_axis >= 100.0 %}
                            {{ (item.deepskyObject.minor_axis / 60.0) | round(2, 'floor') }}'
                          {% else %}
                            {{ item.deepskyObject.minor_axis | round(2, 'floor')}}''
                          {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                {% if observed %}
                <td class="collapsing mobile hidden">
                    {% if item.deepskyobject.id in observed %}
                        <i class="eye icon"></i>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="ui segment">{{ _('No object has been observed from this plan yet.')}}</div>
    {% endif %}

    {% if observed_items|length > 0 %}
    <h4 class="ui header">
      <i class="eye icon"></i>
      <div class="content">{{ _('Observed') }}</div>
    </h4>
    <table class="ui compact definition2 unstackable table">
        {% for item in observed_items %}
        <tr>
            <td class="two wide">
                <b><a href="{{ url_for('main_deepskyobject.deepskyobject_observation_log', dso_id=item[0].deepskyObject.name, back='running_plan', back_id=observing_session_plan_run.id) }}">{{ item[0].deepskyObject.name}} </a></b>
            </td>
            <td>
                {% filter extended_commonmark('') %}
{{ item[1].notes_to_html() }}
                {% endfilter %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

<script type="text/javascript">
$(function(){
    $('#session_plans_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#session_plan').val(value);
              $(this).closest('form').submit();
          }
    });
});
</script>

{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if not is_mine_observing_session %}
                        <a class="ui basic icon compact button" href="{{ url_for('main.index') }}">
                            <i class="caret left icon"></i>
                            {{ _('Dashboard') }}
                        </a>
                    {% else %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_observing_session.observing_sessions') }}">
                            <i class="caret left icon"></i>
                            <i class="tasks icon mobile hidden"></i>
                        </a>
                    {% endif %}
                    <div class="divider"> / </div>
                    <div class="active section mobile hidden">
                        {{ observing_session.date_from.strftime('%Y-%m-%d') }}
                    </div>
                    <div class="divider mobile hidden"> &#x2604 </div>
                    <div class="active section">
                        {{ observing_session.title }}
                    </div>
                </div>
                {% if is_mine_observing_session %}
                <a class="ui icon right floated mini button" href="{{ url_for('main_observing_session.observing_session_edit', observing_session_id=observing_session.id) }}">
                    <i class="caret edit icon"></i>
                </a>
                {% endif %}
            </div>

            {% if is_mine_observing_session %}
                {{ navigation(edit_endpoints) }}
            {% else %}
                {{ navigation(overview_endpoints) }}
            {% endif %}

            {% if type == 'info' %}
                {{ observing_session_info(observing_session) }}
            {% elif type == 'chart' %}
                {{ observing_session_chart(observing_session) }}
            {% elif type == 'run_plan' %}
                {{ observing_session_run_plan(observing_session) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
