{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_standalone_observation.standalone_observations', back=1) }}">
                <i class="caret left icon"></i>
                {{ _('Standalone Observations') }}
            </a>
            <h2 class="ui header">
                {{ observation.date_from.strftime('%Y-%m-%d') }} {{ observation.get_target_name() }}
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_standalone_observation.standalone_observation_edit', observation_id=observation.id) }}"
                       data-inverted="" data-position="bottom center" data-tooltip="{{ _('Edit Observation')}}" data-variation="tiny basic">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h2>

            {{ f.display_standard_flashes(flashes) }}
            <table class="ui compact definition unstackable table">
                <tr>
                    <td class="two wide">{{ _('Target') }}</td>
                    <td>{{ observation.deepsky_objects_to_html() | safe  }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Observer') }}</td>
                    <td>{{ observation.get_observer_name() }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Date') }}</td>
                    <td>{{ observation.date_from.strftime('%Y-%m-%d') }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Location') }}</td>
                    <td>
                        {% if observation.get_location() %}
                            <a href="{{ url_for('main_location.location_info', location_id=observation.get_location().id) }}">{{ observation.get_location().name }}</a>
                        {% elif observation.get_location_position() %}
                            {{ observation.get_location_position() }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Limiting magnitude/SQM') }}</td>
                    <td>{{ observation.get_sqm() if observation.get_sqm() }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Seeing') }}</td>
                    <td>{{ observation.loc_seeing() if observation.get_seeing() }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Instrument') }}</td>
                    <td>{{ observation.telescope.name if observation.telescope }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Eyepiece') }}</td>
                    <td>{{ observation.eyepiece.name if observation.eyepiece }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Filter') }}</td>
                    <td>{{ observation.filter.name if observation.filter }}</td>
                </tr>
                <tr>
                    <td class="two wide">{{ _('Notes') }}</td>
                    <td>{{ observation.notes }}</td>
                </tr>
            </table>

        </div>
    </div>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
