{% extends 'layouts/base.html' %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_observation.observation_menu') }}">
                <i class="caret left icon"></i>
               {{ _('Observations') }}
            </a>
            <a class="ui right floated icon positive mini button" href="{{ url_for('main_standalone_observation.new_standalone_observation') }}">
                <i class="plus icon"></i>
                {{ _('New observation') }}
            </a>
            <h2 class="ui header">
                {{ _('Standalone Observations') }}
            </h2>

            <form action="{{ url_for('main_standalone_observation.standalone_observations') }}" method="post" name="search">

                <div class="ui menu">
                    <div class="ui right search item">
                        <div class="ui action input">
                            {{ search_form.hidden_tag() }}{{ search_form.q(size=15) }}
                            <button class="ui icon button">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div style="overflow-x: scroll;">
                    {{ pagination.info }}
                    <table class="ui searchable sortable unstackable selectable celled table">
                        <thead>
                            <tr>
                                <th>{{ _('Date') }}</th>
                                <th>{{ _('Target') }}</th>
                                <th>{{ _('Location') }}</th>
                                <th>{{ _('Notes') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for o in observations %}
                            <tr onclick="window.location.href = '{{ url_for('main_standalone_observation.standalone_observation_info', observation_id=o.id) }}';">
                                <td>{{ o.date_from.strftime('%Y-%m-%d') }}</td>
                                <td>{{ o.get_target_name() }}</td>
                                <td>
                                    {% if o.get_location() %}
                                        {{ o.get_location().name }}
                                    {% elif o.get_location_position() %}
                                        {{ o.get_location_position() }}
                                    {% endif %}
                                </td>
                                <td>{{ o.notes }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.links }} {{ commons.items_per_page(search_form.items_per_page) }} {{ pagination.info }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
