{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_constellation.constellation_info', _('Info'), 'info'),
    ('main_constellation.constellation_chart', _('Chart'), 'info'),
    ('main_constellation.constellation_stars', _('Stars'), 'star'),
    ('main_constellation.constellation_deepskyobjects', _('DSO'), 'dso'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, constellation_id=constellation.iau_code) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro deepskyobject_data_table(dso, dso_image_info) %}
    {% if dso_image_info[1] %}
        <figure class="md-fig-left">
            <img src="{{ dso_image_info[0] }}"/>
            <figcaption>{{ dso_image_info[1] | safe }}</figcaption>
        </figure>
    {% else %}
        <img class="ui left floated image" src="{{ dso_image_info[0] }}"/>
    {% endif %}

    <table>
        <tr><td>{{ _('Type') }}</td><td>{{ dso.type }} {% if dso.subtype %}[{{ dso.subtype }}]{% endif %}</td></tr>
        {% if dso.common_name %}<tr><td>{{ _('Common name') }}</td><td>{{ dso.common_name }}</td></tr>{% endif %}
        {% if dso.descr %}<tr><td>{{ _('descr') }}</td><td>{{ dso.descr }}</td></tr>{% endif %}
        <tr><td>RA</td><td>{{ dso.ra_str() }}</td></tr>
        <tr><td>Dec</td><td>{{ dso.dec_str() }}</td></tr>
        {% if dso.major_axis %}
            <tr>
                <td>major_axis</td>
                <td>
                    {% if dso.major_axis >= 100.0 %}
                        {{ (dso.major_axis / 60.0) | round(2, 'floor') }}'
                    {% else %}
                        {{ dso.major_axis | round(2, 'floor')}}''
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if dso.minor_axis %}
            <tr>
                <td>minor_axis</td>
                <td>
                    {% if dso.minor_axis >= 100.0 %}
                        {{ (dso.minor_axis / 60.0) | round(2, 'floor') }}'
                    {% else %}
                        {{ dso.minor_axis | round(2, 'floor')}}''
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if dso.position_angle %}<tr><td>position_angle</td><td>{{ dso.position_angle }}</td></tr>{% endif %}
        {% if dso.mag and dso.mag < 100.0 %}<tr><td>mag</td><td>{{ dso.mag }}</td></tr>{% endif %}
        {% if dso.surface_bright and dso.surface_bright < 100.0 %}<tr><td>surface_bright</td><td>{{ dso.surface_bright }}</td></tr>{% endif %}
        {% if dso.type == 'PN' %}
            {# {% if dso.c_star_u_mag %}<tr><td>c_star_u_mag</td><td>{{ dso.c_star_u_mag }}</td></tr>{% endif %} #}
            {# {% if dso.c_star_b_mag %}<tr><td>c_star_b_mag</td><td>{{ dso.c_star_b_mag }}</td></tr>{% endif %} #}
            {# {% if dso.c_star_v_mag %}<tr><td>c_star_v_mag</td><td>{{ dso.c_star_v_mag }}</td></tr>{% endif %} #}
      {% endif %}
    </table>
{% endmacro %}


{% macro constellation_info() %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            {% if user_descr %}
                <div>
                    {% if editable %}
                        <a class="ui icon right floated mini button mobile hidden" href="{{ url_for('main_constellation.constellation_edit', constellation_id=constellation.id) }}">
                            <i class="caret edit icon"></i>
                        </a>
                    {% endif %}
                    <div class="markdown">
                    {% filter extended_commonmark('', '?back=constell&back_id=' + constellation.iau_code) %}
{{ user_descr }}
                    {% endfilter %}
                    </div>
                    {% if star_descriptions %}
                        <br/>
                        <div class="markdown">
                        {% for user_star_descr in star_descriptions %}
                            <div id="star{{ user_star_descr.id }}" style="visibility:hidden; width:0px"></div>
                            {% filter extended_commonmark('') %}
                            {% if user_star_descr.star_id %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_descr_chart', star_descr_id=user_star_descr.id, back='constell', back_id=constellation.iau_code) }})** - {{ user_star_descr.text -}}
                            {% elif user_star_descr.double_star_id %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_double_star.double_star_chart', double_star_id=user_star_descr.double_star_id, back='constell', back_id=constellation.iau_code) }})** - {{ user_star_descr.text -}}
                            {% else %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_descr_info', star_descr_id=user_star_descr.id, back='constell', back_id=constellation.iau_code) }})** - {{ user_star_descr.text -}}
                            {% endif %}
{% if editable %} ([edit]({{ url_for('main_star.star_edit', star_descr_id=user_star_descr.id, back='constell', back_id=constellation.iau_code) }})){% endif %}
                            {% endfilter %}
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <table class="ui compact definition table">
                    <tr>
                        <td>{{ _('IAU code') }}</td><td>{{ constellation.iau_code }}
                            {% if editable %}
                                <a class="ui icon right floated mini button mobile hidden" href="{{ url_for('main_constellation.constellation_edit', constellation_id=constellation.id) }}">
                                    <i class="caret edit icon"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr><td>{{ _('Name') }}</td><td>{{ constellation.name }}</td></tr>
                    <tr><td>{{ _('Image') }}</td><td><img src="{{ constellation.image }}"/></td></tr>
                    <tr><td>{{ _('Description') }}</td><td>{{ constellation.descr }}</td></tr>
                </table>
            {% endif %}
        </div>

        {% if dso_descriptions %}
            {% for user_dso_descr in dso_descriptions %}
                <div id="dso{{ user_dso_descr.dso_id }}" class="ui segment" style="display: inline-block;width:100%">
                    <div id="dso-toolbar" style="float:right;">
                        <div class="tablet hidden computer hidden" style="float:left">
                            <div class="ui label" style="float:left;">
                                <i class="info icon"></i>{{ user_dso_descr.deepskyObject.type }}
                            </div>
                        </div>
                        <div class="mobile hidden" style="float:left">
                            <div class="ui label" style="float:left;">
                                <i class="info icon"></i>{{ user_dso_descr.deepskyObject.type }} {% if user_dso_descr.deepskyObject.subtype %}[{{ user_dso_descr.deepskyObject.subtype }}]{% endif %}
                            </div>
                        </div>
                        <div class="mobile hidden" style="float:left">
                            <div class="ui label" style="float:left;">
                                &#8982; {{ user_dso_descr.deepskyObject.ra_str_short() }}/{{ user_dso_descr.deepskyObject.dec_str_short() }}
                            </div>
                        </div>
                        <div class="ui label" style="float:left;">
                            &#9728;{{ commons.convert_mag(user_dso_descr.deepskyObject.mag) }}mag
                        </div>
                        {% if user_dso_descr.deepskyObject.major_axis %}
                            <div class="ui label" style="float:left;">
                                Ø {{ commons.convert_dso_size(user_dso_descr.deepskyObject.major_axis, user_dso_descr.deepskyObject.minor_axis) }}
                            </div>
                        {% endif %}

                        {% if current_user.is_authenticated %}
                            {{ commons.wish_observed_list_toolbar(user_dso_descr.deepskyObject.id, wish_list, observed_list, offered_session_plans) }}
                        {% endif %}

                        <div class="mobile hidden" style="float:left;">
                          <div class="ui label">
                              <div class="ui rating center" data-icon="star" data-rating="{{ user_dso_descr.rating_to_int(5) }}" data-max-rating="5"></div>
                          </div>
                        </div>

                        {% if editable %}
                            <a class="ui icon mini button mobile hidden" style="float:left;margin-left:5px;"
                                      href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=user_dso_descr.dso_id, back='constell', back_id=constellation.iau_code) }}">
                                <i class="caret edit icon"></i>
                            </a>
                        {% endif %}
                    </div>

                    <a href="{{ url_for('main_deepskyobject.deepskyobject_chart', dso_id=user_dso_descr.deepskyObject.name, back='constell', back_id=constellation.iau_code) }}">
                        <h3 style="margin-bottom:0.8em;">
                            {{ user_dso_descr.deepskyObject.denormalized_name() }}
                        </h3>
                    </a>
                    <div class="dso-list-markdown markdown" style="clear:both;">
                        {% filter extended_commonmark(user_dso_descr.deepskyObject.name, '?back=constell&back_id=' + constellation.iau_code) %}

                            {% if user_dso_descr.dso_id in title_images %}
![<]({{ title_images[user_dso_descr.dso_id] }})
                            {% endif %}

{{ user_dso_descr.text | safe }}
                        {% endfilter %}
                        {% if user_dso_descr.dso_id in aperture_descr_map %}
                            {% for ap_class, app_descr in aperture_descr_map[user_dso_descr.dso_id] %}
                                {% filter extended_commonmark(user_dso_descr.deepskyObject.name, '?back=constell&back_id=' + constellation.iau_code) %}
**{{ commons.norm_aperture_class(ap_class) }}** - {{ app_descr }}
                                {% endfilter %}
                            {% endfor %}
                        {% endif %}
                        {% filter extended_commonmark(user_dso_descr.deepskyObject.name, '?back=constell&back_id=' + constellation.iau_code) %}
{{ user_dso_descr.references or '' }}
                        {% endfilter %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if ug_bl_dsos %}
            {% for ug_bl_dso in ug_bl_dsos %}
                <div class="ui segment" style="display: inline-block;width:100%">
                    <div id="dso-toolbar" style="float:right;">
                        <div class="ui label" style="float:left;">
                            <i class="info icon"></i>{{ ug_bl_dso.dso.type }}
                        </div>
                        <div class="mobile hidden" style="float:left">
                            <div class="ui label" style="float:left;">
                                &#8982; {{ ug_bl_dso.dso.ra_str_short() }}/{{ ug_bl_dso.dso.dec_str_short() }}
                            </div>
                        </div>
                        <div class="ui label" style="float:left;">
                            &#9728;{{ commons.convert_mag(ug_bl_dso.dso.mag) }}mag
                        </div>
                        {% if ug_bl_dso.dso.major_axis %}
                            <div class="ui label" style="float:left;">
                                Ø {{ commons.convert_dso_size(ug_bl_dso.dso.major_axis, ug_bl_dso.dso.minor_axis) }}
                            </div>
                        {% endif %}

                        {% if current_user.is_authenticated %}
                            {{ commons.wish_observed_list_toolbar(ug_bl_dso.dso.id, wishlist, observed_list, offered_session_plans) }}
                        {% endif %}

                        <div class="mobile hidden" style="float:left;">
                            <div class="ui label">
                                <div class="ui rating center" data-icon="star" data-rating="1" data-max-rating="5"></div>
                            </div>
                        </div>
                        {% if editable %}
                            <a class="ui icon mini button mobile hidden" style="float:right;margin-left:5px;"
                                      href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=ug_bl_dso.dso.id, back='constell', back_id=constellation.iau_code) }}">
                                <i class="caret edit icon"></i>
                            </a>
                        {% endif %}
                  </div>
                    <a href="{{ url_for('main_deepskyobject.deepskyobject_chart', dso_id=ug_bl_dso.dso.name, back='constell', back_id=constellation.iau_code) }}">
                        <h3 id="dso{{ ug_bl_dso.dso.id }}" style="margin-bottom:0.8em;">
                            {{ ug_bl_dso.dso.denormalized_name() }}
                        </h3>
                    </a>
                    <div class="markdown" style="clear:both;">
                        {{ deepskyobject_data_table(ug_bl_dso['dso'], ug_bl_dso['img_info']) }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script type=text/javascript>
        $(function() {
            $("a[id^='switch_wishlist_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 $.getJSON("{{ url_for('main_deepskyobject.deepskyobject_switch_wish_list') }}", {
                     dso_id: id.substring(id.indexOf(id.match(/\d/)))
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.find("i").attr('class', 'heart icon');
                     } else {
                         $this.find("i").attr('class', 'heart outline black icon');
                     }
               });
            });
            $("a[id^='switch_observed_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 $.getJSON("{{ url_for('main_deepskyobject.deepskyobject_switch_observed_list') }}", {
                     dso_id: id.substring(id.indexOf(id.match(/\d/)))
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.find("i").attr('class', 'eye icon');
                     } else {
                         $this.find("i").attr('class', 'eye slash outline black icon');
                     }
                 });
            });
        });
    </script>
{% endmacro %}

{# ---  Chart --- #}
{% macro constellation_chart(constellation) %}
    {{ fchart.fchart(url_for('main_constellation.constellation_chart', constellation_id=constellation.id, back=back, back_id=back_id),
                     url_for('main_constellation.constellation_chart_pos_img', constellation_id=constellation.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags,),
                     url_for('main_constellation.constellation_chart_legend_img', constellation_id=constellation.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                              None, fchart_form) }}
{% endmacro %}

{% macro constellation_stars() %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div>
                {% if star_descriptions %}
                    <div class="markdown">
                    {% for user_star_descr in star_descriptions %}
                        {% filter extended_commonmark('') %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_descr_info', star_descr_id=user_star_descr.id, back='constell', back_id=constellation.iau_code) }})** - {{ user_star_descr.text -}}
{% if editable %} ([edit]({{ url_for('main_star.star_edit', star_descr_id=user_star_descr.id, back='constell', back_id=constellation.iau_code) }})){% endif %}
                        {% endfilter %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if aster_descriptions %}
            {% for aster_dso_descr in aster_descriptions %}
                <div id="dso{{ aster_dso_descr.dso_id }}" class="ui segment" style="display: inline-block;width:100%">
                    <div id="dso-toolbar" style="float:right;">
                        <div class="ui label" style="float:left;">
                            {{ aster_dso_descr.deepskyObject.mag if aster_dso_descr.deepskyObject.mag else '' }}mag
                        </div>
                        {% if aster_dso_descr.deepskyObject.major_axis %}
                            <div class="ui label" style="float:left;">
                                Ø {{ commons.convert_dso_size(aster_dso_descr.deepskyObject.major_axis, aster_dso_descr.deepskyObject.minor_axis) }}
                            </div>
                        {% endif %}
                        <div class="mobile hidden" style="float:left">
                            <div class="ui label">
                                <div class="ui rating center" data-icon="star" data-rating="{{ aster_dso_descr.rating_to_int(5) }}" data-max-rating="5"></div>
                            </div>
                        </div>
                        {% if editable %}
                            <a class="ui icon mini button" style="float:left"
                                      href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=aster_dso_descr.dso_id, back='constell', back_id=constellation.iau_code) }}">
                                <i class="caret edit icon"></i>
                            </a>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('main_deepskyobject.deepskyobject_chart', dso_id=aster_dso_descr.deepskyObject.name, back='constell', back_id=constellation.iau_code) }}">
                        <h3 style="margin-bottom:0.8em;">
                            {{ aster_dso_descr.deepskyObject.denormalized_name() }}
                        </h3>
                    </a>
                    <div class="markdown">
                        {% filter extended_commonmark(aster_dso_descr.deepskyObject.name, '?back=constell&back_id=' + constellation.iau_code) %}
{{ aster_dso_descr.text | safe }}
                        {% endfilter %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro constellation_deepsky_objects() %}
    <div style="overflow-x: scroll;">
        <table class="ui searchable sortable unstackable selectable celled table">
            <thead>
                <tr>
                    {% if observed %}
                    <th class="collapsing"></th>
                    {% endif %}
                    <th class="sorted ascending">{{ _('Name') }}</th>
                    <th class="sorted ascending mobile hidden">{{ _('Alternative name') }}</th>
                    <th>{{ _('Type') }}</th>
                    <th class="mobile hidden">RA</th>
                    <th class="mobile hidden">Dec</th>
                    <th class="right aligned collapsing">mag</th>
                    <th class="right aligned collapsing mobile hidden">Ø</th>
                    <th class="center aligned collapsing mobile hidden">{{ _('Sketch')}}</th>
                </tr>
            </thead>
            <tbody>
            {% for d in constellation_dsos | sort(attribute='mag') %}
                {% set dso_url =  url_for('main_deepskyobject.deepskyobject_info', dso_id=d.name, back='constell_dso', back_id=constellation.iau_code) %}
                <tr onclick="window.location.href = '{{ dso_url }}';">
                    {% if observed %}
                    <td class="collapsing">
                        {% if d.id in observed %}
                            <i class="eye icon"></i>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td><a href="{{ dso_url }}">{{ d.denormalized_name() }}</a></td>
                    <td class="mobile hidden">{{ dso_synonymas.get(d.id, '') }}</td>
                    <td>{{ d.type }}</td>
                    <td class="mobile hidden">{{ d.ra_str_short() }}</td>
                    <td class="mobile hidden">{{ d.dec_str_short() }}</td>
                    <td class="right aligned collapsing">{{ d.mag if d.mag and d.mag<100.0 else '-' }}</td>
                    <td class="right aligned collapsing mobile hidden">
                        {% if d.major_axis %}
                            {% if d.major_axis >= 100.0 %}
                              {{ (d.major_axis / 60.0) | round(2, 'floor') }}'
                            {% else %}
                              {{ d.major_axis | round(2, 'floor')}}''
                            {% endif %}
                            {% if d.minor_axis %}
                            / {% if d.minor_axis >= 100.0 and  d.minor_axis != d.major_axis %}
                                {{ (d.minor_axis / 60.0) | round(2, 'floor') }}'
                              {% else %}
                                {{ d.minor_axis | round(2, 'floor')}}''
                              {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="center aligned mobile hidden">{% if d.id in described_dsos %}<i class="image card icon">{% endif %}</i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_constellation.constellations', back=1) }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ common_name if common_name else constellation.name }} / {{ constellation.iau_code }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {{ constellation_info() }}
            {% elif type == 'chart' %}
                {{ constellation_chart(constellation) }}
            {% elif type == 'stars' %}
                {{ constellation_stars() }}
            {% elif type == 'dso' %}
                {{ constellation_deepsky_objects() }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>
{% endblock %}
