{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_constellation.constellation_info', _('Info'), 'info'),
    ('main_constellation.constellation_stars', _('Stars'), 'star'),
    ('main_constellation.constellation_deepskyobjects', _('DSO'), 'dso'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, constellation_id=constellation.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro constellation_user_info(constellation, user_descr) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div>
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_constellation.constellation_edit', constellation_id=constellation.id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
                <div class="markdown">
                {% filter extended_commonmark('') %}
{{ user_descr }}
                {% endfilter %}
                </div>
                {% if star_descriptions %}
                    <div class="markdown">
                    {% for user_star_descr in star_descriptions %}
                        {% filter extended_commonmark('') %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_info', star_id=user_star_descr.id, from_constellation_id=constellation.id) }})** - {{ user_star_descr.text -}}
{% if editable %} ([edit]({{ url_for('main_star.star_edit', star_id=user_star_descr.id, from_constellation_id=constellation.id) }})){% endif %}
                        {% endfilter %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if dso_descriptions %}
            {% for user_dso_descr in dso_descriptions | sort(attribute='cons_order') %}
                <div class="ui segment" style="display: inline-block">
                    <a href="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=user_dso_descr.dso_id, from_constellation_id=constellation.id) }}">
                        <h2 id="dso{{ user_dso_descr.dso_id }}" class="ui header" >
                            {{ user_dso_descr.deepskyObject.denormalized_name() }}
                            {% if editable %}
                                <a class="ui icon mini button" style="float:right;margin-left:10px;"
                                          href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=user_dso_descr.dso_id, from_constellation_id=constellation.id) }}">
                                    <i class="caret edit icon"></i>
                                </a>
                            {% endif %}
                            <div class="ui label" style="float:right;">
                                <div class="ui rating center mobile hidden" data-icon="star" data-rating="{{ user_dso_descr.rating_to_int(5) }}" data-max-rating="5"></div>
                            </div>
                            <div class="ui label" style="float:right;">
                                <i class="info icon"></i> {{ user_dso_descr.deepskyObject.v_mag }}mag
                            </div>


                        </h2>
                    </a>
                    <div class="markdown">
                        {% filter extended_commonmark(user_dso_descr.deepskyObject.name) %}
{{ user_dso_descr.text }}
                        {% endfilter %}
                        {% if user_dso_descr.dso_id in aperture_descr_map %}
                            {% for ap_class, app_descr in aperture_descr_map[user_dso_descr.dso_id] %}
                                {% filter extended_commonmark(user_dso_descr.deepskyObject.name) %}
**{{ ap_class }}mm** - {{ app_descr }}
                                {% endfilter %}
                            {% endfor %}
                        {% endif %}
                        {% filter extended_commonmark(user_dso_descr.deepskyObject.name) %}
{{ user_dso_descr.references or '' }}
                        {% endfilter %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro constellation_info(constellation) %}
    <table class="ui compact definition table">
        <tr><td>{{ _('IAU code') }}</td><td>{{ constellation.iau_code }}</td></tr>
        <tr><td>{{ _('Name') }}</td><td>{{ constellation.name }}</td></tr>
        <tr><td>{{ _('Image') }}</td><td><img src="{{ constellation.image }}"/></td></tr>
        <tr><td>{{ _('Description') }}</td><td>{{ constellation.descr }}</td></tr>
    </table>
{% endmacro %}

{% macro constellation_stars(constellation) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div>
                {% if star_descriptions %}
                    <div class="markdown">
                    {% for user_star_descr in star_descriptions %}
                        {% filter extended_commonmark('') %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_info', star_id=user_star_descr.id, from_constellation_id=constellation.id) }})** - {{ user_star_descr.text -}}
{% if editable %} ([edit]({{ url_for('main_star.star_edit', star_id=user_star_descr.id, from_constellation_id=constellation.id) }})){% endif %}
                        {% endfilter %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro constellation_dsos(constellation) %}
    <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                            <tr>
                                <th class="sorted ascending">Name</th>
                                <th>{{ _('Type') }}</th>
                                <th>RA</th>
                                <th>DEC</th>
                                <th>h_mag</th>
                            </tr>
                    </thead>
                    <tbody>
                    {% for d in constellation.deepsky_objects | sort(attribute='name') %}
                            <tr onclick="window.location.href = '{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=d.id, from_constellation_id=constellation.id) }}';">
                                    <td>{{ d.denormalized_name() }}</td>
                                    <td>{{ d.type }}</td>
                                    <td>{{ d.ra_str_short() }}</td>
                                    <td>{{ d.dec_str_short() }}</td>
                                    <td>{{ d.h_mag }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
            </table>
    </div>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_constellation.constellations', back=1) }}">
                <i class="caret left icon"></i>
                Constellations
            </a>
            <h2 class="ui header">
                {{ constellation.iau_code }} / {{ constellation.name.title() }}
            </h2>

            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {% if user_descr %}
                    {{ constellation_user_info(constellation, user_descr) }}
                {% else %}
                    {{ constellation_info(constellation) }}
                {% endif %}
            {% elif type == 'stars' %}
                {{ constellation_stars(constellation) }}
            {% elif type == 'dso' %}
                {{ constellation_dsos(constellation) }}
            {% endif %}
      </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>
    <style>
.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown p {
  text-align: justify;
}
    </style>
{% endblock %}