{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet fourteen wide computer column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Constellations
            </h2>

            <form action="{{ url_for('main_catalogue.constellations') }}" method="post" name="search" class="ui stackable menu">
                <div class="ui item">
                    {{search_form.season(class='ui dropdown button',onchange='this.form.submit()')}}
                </div>
                <div class="ui right search item">
                    <div class="ui action input">
                        {{ search_form.hidden_tag() }}{{ search_form.q(size=20) }}
                        <button class="ui icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </form>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">IAU code</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in constellations | sort(attribute='name') %}
                        <tr onclick="window.location.href = '{{ url_for('main_catalogue.constellation_info', constellation_id=c.id) }}';">
                            <td>{{ c.iau_code }}</td>
                            <td>{{ c.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}