{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_constellation.constellation_info', _('Info'), 'info'),
    ('main_constellation.constellation_stars', _('Stars'), 'star'),
    ('main_constellation.constellation_deepskyobjects', _('DSO'), 'dso'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, constellation_id=constellation.iau_code) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro deepskyobject_data_table(dso, dso_image_info) %}
    {% if dso_image_info[1] %}
        <figure class="md-fig-left">
            <img src="{{ dso_image_info[0] }}"/>
            <figcaption>{{ dso_image_info[1] | safe }}</figcaption>
        </figure>
    {% else %}
        <img class="ui left floated image" src="{{ dso_image_info[0] }}"/>
    {% endif %}

    <table>
        <tr><td>{{ _('Type') }}</td><td>{{ dso.type }} {% if dso.subtype %}[{{ dso.subtype }}]{% endif %}</td></tr>
        {% if dso.common_name %}<tr><td>{{ _('Common name') }}</td><td>{{ dso.common_name }}</td></tr>{% endif %}
        {% if dso.descr %}<tr><td>{{ _('descr') }}</td><td>{{ dso.descr }}</td></tr>{% endif %}
        <tr><td>RA</td><td>{{ dso.ra_str() }}</td></tr>
        <tr><td>Dec</td><td>{{ dso.dec_str() }}</td></tr>
        {% if dso.major_axis %}
            <tr>
                <td>major_axis</td>
                <td>
                    {% if dso.major_axis >= 100.0 %}
                        {{ (dso.major_axis / 100.0) | round(2, 'floor') }}'
                    {% else %}
                        {{ dso.major_axis | round(2, 'floor')}}''
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if dso.minor_axis %}
            <tr>
                <td>minor_axis</td>
                <td>
                    {% if dso.minor_axis >= 100.0 %}
                        {{ (dso.minor_axis / 100.0) | round(2, 'floor') }}'
                    {% else %}
                        {{ dso.minor_axis | round(2, 'floor')}}''
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if dso.positon_angle %}<tr><td>positon_angle</td><td>{{ dso.positon_angle }}</td></tr>{% endif %}
        {% if dso.mag %}<tr><td>mag</td><td>{{ dso.mag }}</td></tr>{% endif %}
        {% if dso.surface_bright %}<tr><td>surface_bright</td><td>{{ dso.surface_bright }}</td></tr>{% endif %}
        {% if dso.type == 'PN' %}
            {# {% if dso.c_star_u_mag %}<tr><td>c_star_u_mag</td><td>{{ dso.c_star_u_mag }}</td></tr>{% endif %} #}
            {# {% if dso.c_star_b_mag %}<tr><td>c_star_b_mag</td><td>{{ dso.c_star_b_mag }}</td></tr>{% endif %} #}
            {# {% if dso.c_star_v_mag %}<tr><td>c_star_v_mag</td><td>{{ dso.c_star_v_mag }}</td></tr>{% endif %} #}
      {% endif %}
    </table>
{% endmacro %}


{% macro constellation_user_info(constellation, user_descr) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div>
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_constellation.constellation_edit', constellation_id=constellation.id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
                <div class="markdown">
                {% filter extended_commonmark('', '?from_constellation_id=' + constellation.iau_code) %}
{{ user_descr }}
                {% endfilter %}
                </div>
                {% if star_descriptions %}
                    <div class="markdown">
                    {% for user_star_descr in star_descriptions %}
                        {% filter extended_commonmark('') %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_info', star_id=user_star_descr.id, from_constellation_id=constellation.iau_code) }})** - {{ user_star_descr.text -}}
{% if editable %} ([edit]({{ url_for('main_star.star_edit', star_id=user_star_descr.id, from_constellation_id=constellation.iau_code) }})){% endif %}
                        {% endfilter %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if dso_descriptions %}
            {% for user_dso_descr in dso_descriptions %}
                <div class="ui segment" style="display: inline-block;width:100%">
                    <a href="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=user_dso_descr.deepskyObject.name, from_constellation_id=constellation.iau_code) }}">
                        <h3 id="dso{{ user_dso_descr.dso_id }}" style="margin-bottom:0.8em;">
                            {{ user_dso_descr.deepskyObject.denormalized_name() }}
                            {% if editable %}
                                <a class="ui icon mini button" style="float:right;padding-left:12px;"
                                          href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=user_dso_descr.dso_id, from_constellation_id=constellation.iau_code) }}">
                                    <i class="caret edit icon"></i>
                                </a>
                            {% endif %}
                            <div class="mobile hidden" style="float:right;padding-left:2px;">
                                <div class="ui label">
                                    <div class="ui rating center mobile hidden" data-icon="star" data-rating="{{ user_dso_descr.rating_to_int(5) }}" data-max-rating="5"></div>
                                </div>
                            </div>
                            <div class="ui label" style="float:right;">
                                <i class="info icon"></i> {{ user_dso_descr.deepskyObject.mag if user_dso_descr.deepskyObject.mag else user_dso_descr.deepskyObject.v_mag }}mag
                            </div>
                        </h3>
                    </a>
                    <div class="markdown">
                        {% filter extended_commonmark(user_dso_descr.deepskyObject.name, '?from_constellation_id=' + constellation.iau_code) %}
{{ user_dso_descr.text | safe }}
                        {% endfilter %}
                        {% if user_dso_descr.dso_id in aperture_descr_map %}
                            {% for ap_class, app_descr in aperture_descr_map[user_dso_descr.dso_id] %}
                                {% filter extended_commonmark(user_dso_descr.deepskyObject.name, '?from_constellation_id=' + constellation.iau_code) %}
**{{ ap_class }}mm** - {{ app_descr }}
                                {% endfilter %}
                            {% endfor %}
                        {% endif %}
                        {% filter extended_commonmark(user_dso_descr.deepskyObject.name, '?from_constellation_id=' + constellation.iau_code) %}
{{ user_dso_descr.references or '' }}
                        {% endfilter %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if glahn_dsos %}
            {% for glahn_dso in glahn_dsos %}
                <div class="ui segment" style="display: inline-block;width:100%">
                    <a href="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=glahn_dso.dso.name, from_constellation_id=constellation.iau_code) }}">
                        <h3 id="dso{{ glahn_dso.dso.id }}" style="margin-bottom:0.8em;">
                            {{ glahn_dso.dso.denormalized_name() }}
                            {% if editable %}
                                <a class="ui icon mini button" style="float:right;padding-left:12px;"
                                          href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=glahn_dso.dso.id, from_constellation_id=constellation.iau_code) }}">
                                    <i class="caret edit icon"></i>
                                </a>
                            {% endif %}
                            <div class="mobile hidden" style="float:right;padding-left:2px;">
                                <div class="ui label">
                                    <div class="ui rating center mobile hidden" data-icon="star" data-rating="1" data-max-rating="5"></div>
                                </div>
                            </div>
                            <div class="ui label" style="float:right;">
                                <i class="info icon"></i> {{ glahn_dso.dso.mag if glahn_dso.dso.mag else glahn_dso.dso.v_mag }}mag
                            </div>
                        </h3>
                    </a>
                    <div class="markdown">
                        {{ deepskyobject_data_table(glahn_dso['dso'], glahn_dso['img_info']) }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro constellation_info(constellation) %}
    <table class="ui compact definition table">
        <tr><td>{{ _('IAU code') }}</td><td>{{ constellation.iau_code }}</td></tr>
        <tr><td>{{ _('Name') }}</td><td>{{ constellation.name }}</td></tr>
        <tr><td>{{ _('Image') }}</td><td><img src="{{ constellation.image }}"/></td></tr>
        <tr><td>{{ _('Description') }}</td><td>{{ constellation.descr }}</td></tr>
    </table>
{% endmacro %}

{% macro constellation_stars(constellation) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div>
                {% if star_descriptions %}
                    <div class="markdown">
                    {% for user_star_descr in star_descriptions %}
                        {% filter extended_commonmark('') %}
**[{{ user_star_descr.common_name }}]({{ url_for('main_star.star_info', star_id=user_star_descr.id, from_constellation_id=constellation.iau_code) }})** - {{ user_star_descr.text -}}
{% if editable %} ([edit]({{ url_for('main_star.star_edit', star_id=user_star_descr.id, from_constellation_id=constellation.iau_code) }})){% endif %}
                        {% endfilter %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro constellation_dsos(constellation) %}
    <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                            <tr>
                                <th class="sorted ascending">Name</th>
                                <th>{{ _('Type') }}</th>
                                <th>RA</th>
                                <th>DEC</th>
                                <th>v_mag</th>
                            </tr>
                    </thead>
                    <tbody>
                    {% for d in constellation.deepsky_objects | sort(attribute='name') %}
                            <tr onclick="window.location.href = '{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=d.name, from_constellation_id=constellation.iau_code) }}';">
                                    <td>{{ d.denormalized_name() }}</td>
                                    <td>{{ d.type }}</td>
                                    <td>{{ d.ra_str_short() }}</td>
                                    <td>{{ d.dec_str_short() }}</td>
                                    <td>{{ d.v_mag }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
            </table>
    </div>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_constellation.constellations', back=1) }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ common_name if common_name else constellation.iau_code }} / {{ constellation.name.title() }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {% if user_descr %}
                    {{ constellation_user_info(constellation, user_descr) }}
                {% else %}
                    {{ constellation_info(constellation) }}
                {% endif %}
            {% elif type == 'stars' %}
                {{ constellation_stars(constellation) }}
            {% elif type == 'dso' %}
                {{ constellation_dsos(constellation) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>
{% endblock %}