{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {% if from_constellation_id %}
                <a class="ui basic compact button" href="{{ url_for('main_constellation.constellation_info', constellation_id=from_constellation_id) }}#dso{{dso.id}}">
                    <i class="caret left icon"></i>
                    {{ _('Constellation') }}
                </a>
            {% else %}
                <a class="ui basic compact button" href="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=dso.id)}}">
                    <i class="caret left icon"></i>
                    DSO info
                </a>
            {% endif %}
            <h2 class="ui header">
                {{ dso.denormalized_name() }} {% if dso.common_name %} ({{ dso.common_name }}) {% endif %}
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.display_standard_flashes(flashes) }}

            {{ f.begin_form(form, flashes) }}
                <input id="goback" type="hidden" value="false">
                {{ f.render_form_field(form.common_name) }}
                {{ f.render_form_field(form.text) }}
                <p align="right"><span class="ui small text">Updated by: {{ authors['dso'][0] }}, Update date: {{ authors['dso'][1] }}</span></p>

                {{ f.render_form_field(form.references) }}

                {% for item in form.aperture_descr_items %}
                <div class="three fields">
                    <label>{{ item.aperture_class.data }}</label>
                    {{ item.text() }}
                    <div class="ui labeled item">
                        <div class="top right aligned ui label">{{ _('Is public') }}</div>
                        <div class="ui toggle checkbox">
                            {{ item.is_public() }}
                            <label></label>
                        </div>
                    </div>
                    {{ item.aperture_class() }}
                </div>
                {% if authors[item.aperture_class.data][0] %}
                    <p align="right">
                        <span class="ui small text">
                            Updated by: {{ authors[item.aperture_class.data][0] }}, Update date: {{ authors[item.aperture_class.data][1] }}
                        </span>
                    </p>
                {% endif %}
                {% endfor %}

                <div class="two fields">
                    {% if not is_new %}
                        <button id="bupdateback" class="ui button">{{ _('Update and back')}}</button>
                    {% endif %}
                    {{ f.render_form_field(form.submit_button) }}
                </div>

            {{ f.end_form() }}
        </div>
  </div>
    <script type="text/javascript">
        $('#bupdateback' ).click(function() {
            $('#goback').val('true');
            $(this).closest('form').submit();
            return false;
        });
        var contentMDE = new EasyMDE({element: document.getElementById('text'),
                minHeight: "500px",
                spellChecker: false,
                status : false,
            });
    </script>
    <style>
    </style>
{% endblock %}
