{% import 'macros/common_macros.html' as commons %}

<div id="fchart-div" style="width:100%;height:75vh;">

  <form id="fmchart" action="{{ url_for('main_deepskyobject.deepskyobject_fchart', dso_id=dso.name, back=back, back_id=back_id) }}" method="post" class="ui secondary menu">
      <input type="hidden" id="ra" name="ra" value="{{ form.ra.data }}" >
      <input type="hidden" id="dec" name="dec" value="{{ form.dec.data }}" >
      <input type="hidden" id="fullscreen" name="fullscreen" value="{{ form.fullscreen.data }}" >
      <!-- Field radius -->
      <div class="ui labeled right horizontally fitted item" style="z-index:100">
          <div class="ui labeled ticked small slider" id="slider-field-size" style="width:150px">
          </div>
          <input type="hidden" id="{{ form.radius.name }}" name="{{ form.radius.name }}" value="{{ form.radius.data }}">
          <div class="top left aligned floating ui label">{{ _('Field Size') }}</div>
      </div>
      <!-- Star mag limit -->
      <div class="ui labeled horizontally fitted item" style="z-index:100">
          <div class="ui buttons">
              <button id="decmag" class="ui icon {{ disable_dec_mag }} button mobile hidden ">
                  <i class="left chevron icon"></i>
              </button>
              <div class="ui icon dropdown button">
                  <input type="hidden" id="maglim" name="maglim" value="{{ form.maglim.data }}" >
                  <span id="smaglim" class="text">{{ form.maglim.data }}</span>
                  <div id="maglim_menu" class="menu">
                      {% for mag_item in range(mag_scale[0], mag_scale[1] + 1) %}
                          <div class="item">{{ mag_item }}</div>
                      {% endfor %}
                  </div>
              </div>
              <button id="incmag" class="ui right icon {{ disable_inc_mag }} button mobile hidden ">
                  <i class="right chevron icon"></i>
              </button>
          </div>
          <div class="top left aligned floating ui label">{{ _('Limit mag') }}</div>
      </div>
      <!-- dso mag limit -->
      <div class="ui labeled horizontally fitted item" style="margin-right:60px; z-index:100">
          <div class="ui buttons">
              <button id="decdsomag" class="ui icon {{ disable_dso_dec_mag }} button mobile hidden ">
                  <i class="left chevron icon"></i>
              </button>
              <div class="ui icon dropdown button">
                  <input type="hidden" id="dso_maglim" name="dso_maglim" value="{{ form.dso_maglim.data }}">
                  <span id="sdso_maglim" class="text">{{ form.dso_maglim.data }}</span>
                  <div id="dso_maglim_menu" class="menu">
                      {% for mag_item in range(dso_mag_scale[0], dso_mag_scale[1] + 1) %}
                          <div class="item">
                              {{ mag_item }}
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <button id="incdsomag" class="ui right icon {{ disable_dso_inc_mag }} button mobile hidden ">
                  <i class="right chevron icon"></i>
              </button>
          </div>
          <div class="top left aligned floating ui label">{{ _('DSO limit mag') }}</div>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
  </form>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/fchart.js') }}"></script>

<script type="text/javascript">
    var submitDisabled = false;
    var labels = ["1", "2", "5", "10", "20", "40", "80"];
    $('#slider-field-size')
      .slider({
        min: 1,
        max: 7,
        step: 1,
        start:{{ form.radius.data }},
        fireOnInit: false,
        interpretLabel: function(value) {
          return labels[value];
        },
        onChange: function(value) {
            $('#radius').val(value);
            if (!submitDisabled) {
                $("#fmchart" ).submit();
            }
        }
      });

    $('.ui.dropdown').dropdown();

    $( '#decmag' ).click(function() {
        prev = +$('#maglim').val();
        $('#maglim').val(prev - 1);
        $('#fmchart').submit();
    });

    $( '#incmag' ).click(function() {
        prev = +$('#maglim').val();
        $('#maglim').val(prev + 1);
        $('#fmchart').submit();
    });

    $( '#decdsomag' ).click(function() {
        prev = +$('#dso_maglim').val();
        $('#dso_maglim').val(prev - 1);
        $('#fmchart').submit();
    });

    $( '#incdsomag' ).click(function() {
        prev = +$('#dso_maglim').val();
        $('#dso_maglim').val(prev + 1);
        $('#fmchart').submit();
    });

    $('#maglim').change(function() {
        if (!submitDisabled)
            this.form.submit();
    });

    $('#dso_maglim').change(function() {
        if (!submitDisabled)
            this.form.submit();
    });

    var fieldSizes = [{{ gui_field_sizes }}];

    var magRanges = [
        {% for mr in mag_ranges %}
            [{{ mr[0] ~ ',' ~ mr[1] }}],
        {% endfor %}
    ];

    var magRangeValues = [
        {% for mrv in mag_range_values %}{{ mrv }}, {% endfor %}
    ];

    var dsoMagRanges = [
        {% for mr in dso_mag_ranges %}
            [{{ mr[0] ~ ',' ~ mr[1] }}],
        {% endfor %}
    ];
    var dsoMagRangeValues = [
        {% for mrv in dso_mag_range_values %}{{ mrv }}, {% endfor %}
    ];

    var ra = parseFloat($('#ra').val());
    var dec = parseFloat($('#dec').val());

    var nightMode = {% if chart_nm == '0' %} true {% else %} false {% endif %}

    var legendUrl = "{{ url_for('main_deepskyobject.deepskyobject_fchart_legend_img', dso_id=dso.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_', width='_WIDTH_', height='_HEIGHT_', nm=chart_nm, mx=chart_mx, my=chart_my) | safe }}";
    var chartUrl = "{{ url_for('main_deepskyobject.deepskyobject_fchart_pos_img', dso_id=dso.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_', width='_WIDTH_', height='_HEIGHT_', nm=chart_nm, mx=chart_mx, my=chart_my) | safe }}";

    var fchart = new FChart('#fchart-div', {{ gui_field_index }}, fieldSizes, ra, dec, nightMode, legendUrl, chartUrl, {{ 'true' if form.fullscreen.data == 'true' else 'false' }});

    fchart.onFieldChange(function(fldSizeIndex) {
        submitDisabled = true;
        var index = Math.ceil((fldSizeIndex+1) / 2);
        $('#slider-field-size').slider('set value', index);
        $('#maglim').val(magRangeValues[index-1]);
        $('#dso_maglim').val(dsoMagRangeValues[index-1]);
        $('#smaglim').text(magRangeValues[index-1].toString());
        $('#sdso_maglim').text(dsoMagRangeValues[index-1].toString());

        $('#maglim_menu').empty();
        var i;
        for (i=magRanges[index-1][0]; i<=magRanges[index-1][1]; i++) {
            $('<div class="item">' + i +'</div>')
                .appendTo('#maglim_menu');
        }

        $('#dso_maglim_menu').empty();
        for (i=dsoMagRanges[index-1][0]; i<=dsoMagRanges[index-1][1]; i++) {
            $('<div class="item">' + i +'</div>')
                .appendTo('#dso_maglim_menu');
        }

        submitDisabled = false;
    });

    fchart.onFullscreenChange(function(fullScreen) {
        $('#fullscreen').val(fullScreen);
        console.log($('#fullscreen').val());
    });

    window.onload = function() {
        fchart.onWindowLoad();
    }

</script>
