{% extends 'layouts/base.html' %}
{% import 'macros/common_macros.html' as commons %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div style="margin-bottom:2rem">
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_deepskyobject.dso_menu') }}">
                        <i class="caret left icon"></i>
                        {{ _('Deepsky') }}
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Deepsky Objects') }}
                    </div>
                </div>
            </div>

            <form action="{{ url_for('main_deepskyobject.deepskyobjects') }}" method="post" name="search">
                <div class="ui menu">
                    <div class="ui item">
                        <div id="catalogue_dropdown" class="ui dropdown">
                            <input type="hidden" id="catalogue_id" name="{{ search_form.catalogue.name }}" value="{{ search_form.catalogue.data }}">
                            <span class="text">{{ _('Choose Catalogue') }}</span>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% for choice in search_form.catalogue.choices %}
                                    <div class="item" data-value="{{ choice[0] }}">{{ choice[1] }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="top right aligned floating ui tiny label">{{ _('Catalog') }}</div>
                    </div>

                    <div class="ui item">
                        <div id="dso_type_dropdown" class="ui dropdown">
                            <input type="hidden" id="dso_type_id" name="{{ search_form.dso_type.name }}" value="{{ search_form.dso_type.data }}">
                            <span class="text">{{ _('Choose Type') }}</span>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% for choice in search_form.dso_type.choices %}
                                    <div class="item" data-value="{{ choice[0] }}">{{ choice[1] }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="top right aligned floating ui tiny label">{{ _('Object Type') }}</div>
                    </div>

                    <div class="ui input item">
                        {{ search_form.maglim(class='ui tiny input', size=4) }}
                        {% if search_form.maglim.errors %}
                            <div class="bottom aligned red pointing floating ui label">
                                {{ search_form.maglim.errors[0] | safe }}
                            </div>
                        {% endif %}
                        <div class="top right aligned floating ui tiny label">{{ _('Limit mag') }}</div>
                    </div>

                    <div class="ui input item">
                        {{ search_form.dec_min(class='ui tiny input', size=4) }}
                        {% if search_form.dec_min.errors %}
                            <div class="bottom left aligned red pointing floating ui label">
                                {{ search_form.dec_min.errors[0] | safe }}
                            </div>
                        {% endif %}
                        <div class="top right aligned floating ui tiny label">{{ _('Declination min') }}</div>
                    </div>

                    <div class="ui input item">
                        {{ search_form.max_axis_ratio(class='ui tiny input', size=4) }}
                        {% if search_form.max_axis_ratio.errors %}
                            <div class="bottom left aligned red pointing floating ui label">
                                {{ search_form.max_axis_ratio.errors[0] | safe }}
                            </div>
                        {% endif %}
                        <div class="top right aligned floating ui tiny label">{{ _('Max axis ratio') }}</div>
                    </div>

                    <div class="ui right search item">
                        <div class="ui tiny action input">
                            {{ search_form.hidden_tag() }}{{ search_form.q(size=12) }}
                            <button class="ui tiny icon button">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                {# Use overflow-x: scroll so that mobile views don't freak out
                 # when the table is too wide #}
                <div style="overflow-x: scroll;">
                    <table class="ui searchable unstackable selectable celled table">
                        <thead>
                            <tr>
                                <th>
                                    <a href="{{ url_for('main_deepskyobject.deepskyobjects', page=pagination.page, sortby=table_sort['name'].sort) }}" style="color: inherit;">
                                        Name {{ table_sort['name'].icon | safe }}
                                    </a>
                                </th>
                                <th>{{ _('Type') }}</th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_deepskyobject.deepskyobjects', page=pagination.page, sortby=table_sort['ra'].sort) }}" style="color: inherit;">
                                        RA {{ table_sort['ra'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_deepskyobject.deepskyobjects', page=pagination.page, sortby=table_sort['dec'].sort) }}" style="color: inherit;">
                                        Dec {{ table_sort['dec'].icon | safe }}
                                    </a>
                                </th>
                                <th class="right aligned collapsing">
                                    <a href="{{ url_for('main_deepskyobject.deepskyobjects', page=pagination.page, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                                        <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_deepskyobject.deepskyobjects', page=pagination.page, sortby=table_sort['mag'].sort) }}" style="color: inherit;white-space: nowrap;">
                                        mag {{ table_sort['mag'].icon | safe }}
                                    </a>
                                </th>
                                <th class="center aligned collapsing mobile hidden">
                                    <a href="{{ url_for('main_deepskyobject.deepskyobjects', page=pagination.page, sortby=table_sort['major_axis'].sort) }}" style="color: inherit;">
                                        Ø {{ table_sort['major_axis'].icon | safe }}
                                    </a>
                                </th>
                                {% if observed %}
                                <th class="collapsing mobile hidden"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for d in deepskyobjects %}
                            {% set dso_url = url_for('main_deepskyobject.deepskyobject_info', dso_id=d.name)  %}
                            <tr onclick="window.location.href = '{{ dso_url }}';">
                                <td><a href="{{ dso_url }}">{{ d.denormalized_name() }}</a></td>
                                <td>{{ d.type }}</td>
                                <td class="mobile hidden">{{ d.ra_str_short() }}</td>
                                <td class="mobile hidden">{{ d.dec_str_short() }}</td>
                                <td>{{ d.get_constellation_iau_code() }}</td>
                                <td class="right aligned collapsing">{{ commons.convert_mag(d.mag) }}</td>
                                <td class="right aligned collapsing mobile hidden">
                                    {% if d.major_axis %}
                                        {% if d.major_axis >= 100.0 %}
                                          {{ (d.major_axis / 60.0) | round(2, 'floor') }}'
                                        {% else %}
                                          {{ d.major_axis | round(2, 'floor')}}''
                                        {% endif %}
                                        {% if d.minor_axis %}
                                        / {% if d.minor_axis >= 100.0 and  d.minor_axis != d.major_axis %}
                                            {{ (d.minor_axis / 60.0) | round(2, 'floor') }}'
                                          {% else %}
                                            {{ d.minor_axis | round(2, 'floor')}}''
                                          {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if observed %}
                                <td class="collapsing mobile hidden">
                                    {% if d.id in observed %}
                                        <i class="eye icon"></i>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.links }} {{ commons.items_per_page(search_form.items_per_page) }} {{ pagination.info }}
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('#catalogue_dropdown')
                .dropdown({
                  allowCategorySelection: true,
                  onChange: function (value, text, $selectedItem) {
                      $('#catalogue_id').val(value);
                      $(this).closest('form').submit();
                  }
            });
            $('#dso_type_dropdown')
                .dropdown({
                  allowCategorySelection: true,
                  onChange: function (value, text, $selectedItem) {
                      $('#dso_type_id').val(value);
                      $(this).closest('form').submit();
                  }
            });
        });
    </script>
{% endblock %}
