{% if not embed %}
    {% extends 'layouts/base.html' %}
{% else %}
    {% extends 'layouts/base_embed.html' %}
{% endif %}

{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% if not embed or embed == 'pl' %}
    {% set endpoints = [
        ('main_deepskyobject.deepskyobject_info', _('Info'), 'info'),
        ('main_deepskyobject.deepskyobject_chart', _('Chart'), 'table'),
        ('main_deepskyobject.deepskyobject_surveys', _('Surveys'), 'table'),
        ('main_deepskyobject.deepskyobject_catalogue_data', _('Catalog'), 'table')
    ] %}
{% else %}
    {% set endpoints = [
        ('main_deepskyobject.deepskyobject_info', _('Info'), 'info'),
        ('main_deepskyobject.deepskyobject_surveys', _('Surveys'), 'table'),
        ('main_deepskyobject.deepskyobject_catalogue_data', _('Catalog'), 'table')
    ] %}
{% endif %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, name, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, dso_id=dso.name, back=back, back_id=back_id, season=season, embed=embed) }}">
                {{ name }}
            </a>
        {% endfor %}
        <!--
        <div class="right menu" style="margin-bottom:0px;">
            <div class="item">
                <div class="ui mini multiple selection dropdown" style="float:right;">
                   <input type="hidden" name="plan">
                   <i class="dropdown icon"></i>
                   <div class="default mini text">Select plan</div>
                   <div class="menu">
                      <div class="item" data-value="wish"><i class="heart red icon"></i>wishlist</div>
                   </div>
                </div>
            </div>
        </div>
         -->
    </div>
{% endmacro %}

{# --- DSO Info --- #}
{% macro deepskyobject_info() %}
    <style>
        #dso-toolbar { float: right; }
        @media(max-width:767px) {
            #dso-toolbar { float: left; }
        }
    </style>

    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block;width:100%">
            <div id="dso-toolbar">
                {% if dso.constellation is not none %}
                    <a class="ui label" style="float:left;" href="{{ url_for('main_constellation.constellation_info', constellation_id=dso.constellation.iau_code) }}">
                        <i class="lastfm icon"></i>
                        <span class="mobile hidden tablet hidden">{{ dso.constellation.name.capitalize() }}</span>
                        <span class="mobile only tablet only">{{ dso.constellation.iau_code.capitalize() }}</span>
                    </a>
                {% endif %}
                <div class="ui label" style="float:left;">
                    <i class="info icon"></i>{{ dso.type }}
                </div>
                <div class="ui label" style="float:left;">
                    &#9728;{{ commons.convert_mag(dso.mag) }}mag
                </div>
                {% if dso.major_axis %}
                    <div class="ui label" style="float:left;">
                        Ø {{ commons.convert_dso_size(dso.major_axis, dso.minor_axis) }}
                    </div>
                {% endif %}

                {% if current_user.is_authenticated %}
                    {{ commons.wish_observed_list_toolbar(dso.id, wish_list, observed_list) }}
                {% endif %}

                {% if user_descr %}
                    <div class="mobile hidden" style="float:left">
                        <div class="ui label" style="float:left;">
                            <div class="ui rating center" data-icon="star" data-rating="{{ user_descr.rating_to_int(5) }}" data-max-rating="5"></div>
                        </div>
                    </div>
                {% endif %}

                {% if editable %}
                    <a class="ui icon mini button mobile hidden" style="float:left;margin-left:5px;" href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=dso.id, back=back, back_id=back_id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </div>
            {% if user_descr and user_descr.common_name %}
                <h3 class="ui left floated header mobile hidden" style="white-space: nowrap;">{{ user_descr.common_name }}</h3>
                <div class="ui hidden divider mobile only"></div>
                <h3 class="ui header mobile only" style="clear:both;">{{ user_descr.common_name }}</h3>
            {% endif %}
            {% if not user_descr or not user_descr.common_name %}
                <div class="ui hidden clearing divider"></div>
            {% endif %}
            <div class="markdown" style="clear:both;">
                {% if descr_available %}
                    {% filter extended_commonmark(dso.name) %}
                        {% if title_img %}
![<]({{ title_img }})
                        {% endif %}
{{ user_descr.text  | safe}}
                    {% endfilter %}
                    {% for ap_class, app_descr in apert_descriptions %}
                        {% filter extended_commonmark(dso.name) %}
**{{ commons.norm_aperture_class(ap_class) }}** - {{ app_descr }}
                        {% endfilter %}
                    {% endfor %}
                    {% filter extended_commonmark(dso.name) %}
{{ user_descr.references or '' }}
                    {% endfilter %}
                {% else %}
                    {{ deepskyobject_data_table(dso, False) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type=text/javascript>
      $(function() {
          $("a[id^='switch_wishlist_']").click(function() {
             var $this = $(this);
             var id = $(this).attr('id');
             $.getJSON("{{ url_for('main_deepskyobject.deepskyobject_switch_wish_list') }}", {
                 dso_id: id.substring(id.indexOf(id.match(/\d/)))
             }, function(data) {
                 if (data.result == 'on') {
                     $this.find("i").attr('class', 'heart icon');
                 } else {
                     $this.find("i").attr('class', 'heart outline black icon');
                 }
             });
          });
          $("a[id^='switch_observed_']").click(function() {
             var $this = $(this);
             var id = $(this).attr('id');
             $.getJSON("{{ url_for('main_deepskyobject.deepskyobject_switch_observed_list') }}", {
                 dso_id: id.substring(id.indexOf(id.match(/\d/)))
             }, function(data) {
                 if (data.result == 'on') {
                     $this.find("i").attr('class', 'eye icon');
                 } else {
                     $this.find("i").attr('class', 'eye slash outline black icon');
                 }
             });
          });
      });
    </script>

{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}
{% if back %}
    {% set search_url_params = 'back=' + back + (('&back_id=' + back_id) if back_id is not none else '') %}
{% else %}
    {% set search_url_params = '' %}
{% endif %}

{# ---  Chart --- #}
{% macro deepskyobject_chart(dso) %}
    {{ fchart.fchart(url_for('main_deepskyobject.deepskyobject_chart', dso_id=dso.name, back=back, back_id=back_id),
                     url_for('main_deepskyobject.deepskyobject_chart_pos_img', dso_id=dso.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', mx=chart_control.chart_mx, my=chart_control.chart_my, flags=chart_control.chart_flags, back=back, back_id=back_id),
                     url_for('main_deepskyobject.deepskyobject_chart_legend_img', dso_id=dso.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', mx=chart_control.chart_mx, my=chart_control.chart_my, flags=chart_control.legend_flags),
                     url_for('main_deepskyobject.chart_pdf', dso_id=dso.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_', flags=chart_control.chart_flags, ),
                     fchart_form, default_chart_iframe_url=default_chart_iframe_url,embed=(embed if embed else ''),
                     search_url_params=search_url_params)
    }}
{% endmacro %}

{# --- Surveys --- #}
{% macro deepskyobject_surveys() %}
    <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    <div id="aladin-lite-div" style="width:100%;height:75vh;"></div>
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var aladin = A.aladin('#aladin-lite-div', {
                survey: "P/DSS2/color",
                fov:{{ field_size }},
                target: "{{ dso.ra_str_short().replace(':',' ')}} {{dso.dec_str_short().replace(':',' ')}}"
                {% if embed %} ,fullScreen: true {% endif %}
        });
    </script>
{% endmacro %}

{# --- Catalog Data --- #}
{% macro deepskyobject_catalogue_data(first_page) %}
    {% if first_page %}
        <div id="items-fieldset" class="ui segments" data-toggle="fieldset" style="width:100%">
            <div class="ui blue segment" style="display: inline-block; width:100%">
              <h3>&nbsp;
                  {% if editable %}
                      <a class="ui icon right floated mini button" href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=dso.id) }}">
                          <i class="caret edit icon"></i>
                      </a>
                  {% endif %}
                  {% if dso.mag %}
                      <div class="ui label" style="float:right;">
                          &#9728;{{ commons.convert_mag(dso.mag) }}mag
                      </div>
                  {% endif %}
                  <div class="ui label" style="float:right;">
                      <i class="info icon"></i>{{ dso.type }}
                  </div>
                  {% if dso.constellation %}
                  <a class="ui label" style="float:right;" href="{{ url_for('main_constellation.constellation_info', constellation_id=dso.constellation.iau_code) }}">
                      <i class="lastfm icon"></i> {{ dso.constellation.name.capitalize() }}
                  </a>
                  {% endif %}
              </h3>
    {% endif %}
    {{ deepskyobject_data_table(dso, True) }}
    {% if first_page %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro deepskyobject_data_table(dso, full_table) %}
    {% if dso_image_info %}
        {% if dso_image_info[1] %}
            <figure class="md-fig-left">
                <img src="{{ dso_image_info[0] }}"/>
                <figcaption>{{ dso_image_info[1] | safe }}</figcaption>
            </figure>
        {% else %}
            <img class="ui left floated image" src="{{ dso_image_info[0] }}"/>
        {% endif %}
        <table>
    {% else %}
        <table class="ui compact definition unstackable table">
    {% endif %}
        <tr><td>{{ _('Name') }}</td><td><a href="http://simbad.u-strasbg.fr/simbad/sim-id?Ident={{ dso.simbad_id() }}" target="_blank">{{ dso.denormalized_name() }}</a></td></tr>
        <tr><td>{{ _('Type') }}</td><td>{{ dso.type }} {% if dso.subtype %}[{{ dso.subtype }}]{% endif %}</td></tr>
        {% if dso.common_name %}<tr><td>{{ _('Common name') }}</td><td>{{ dso.common_name }}</td></tr>{% endif %}
        {% if other_names %}<tr><td>{{ _('Other names') }}</td><td>{{ other_names }}</td></tr>{% endif %}
        {% if full_table %}<tr><td>{{ _('Constellation') }}</td><td>{{ dso.constellation.name.capitalize() if dso.constellation else '' }}</td></tr>{% endif %}
        {% if dso.descr %}<tr><td>{{ _('descr') }}</td><td>{{ dso.descr }}</td></tr>{% endif %}
        <tr><td>RA</td><td>{{ dso.ra_str() }}</td></tr>
        <tr><td>Dec</td><td>{{ dso.dec_str() }}</td></tr>
        {% if dso.major_axis %}
            <tr>
                <td>major_axis</td>
                <td>
                    {% if dso.major_axis >= 100.0 %}
                        {{ (dso.major_axis / 60.0) | round(2, 'floor') }}'
                    {% else %}
                        {{ dso.major_axis | round(2, 'floor')}}''
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if dso.minor_axis %}
            <tr>
                <td>minor_axis</td>
                <td>
                    {% if dso.minor_axis >= 100.0 %}
                        {{ (dso.minor_axis / 60.0) | round(2, 'floor') }}'
                    {% else %}
                        {{ dso.minor_axis | round(2, 'floor')}}''
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if dso.positon_angle %}<tr><td>positon_angle</td><td>{{ dso.positon_angle }}</td></tr>{% endif %}
        {% if dso.mag %}<tr><td>mag</td><td>{{ dso.mag }}</td></tr>{% endif %}
        {% if dso.surface_bright %}<tr><td>surface_bright</td><td>{{ dso.surface_bright }}</td></tr>{% endif %}
        {# {% if dso.hubble_type %}<tr><td>hubble_type</td><td>{{ dso.hubble_type }}</td></tr>{% endif %} #}
        {% if dso.type == 'PN' %}
            {# {% if dso.c_star_b_mag %}<tr><td>c_star_b_mag</td><td>{{ dso.c_star_b_mag }}</td></tr>{% endif %} #}
            {% if dso.c_star_v_mag %}<tr><td>c_star_v_mag</td><td>{{ dso.c_star_v_mag }}</td></tr>{% endif %}
        {% endif %}

        {# <tr><td>identifiers</td><td>{{ dso.identifiers }}</td></tr> #}
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                  {% if not embed %}
                      {% if back == 'constellation' %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_constellation.constellation_info', constellation_id=back_id) }}#dso{{dso.id}}">
                              <i class="caret left icon"></i>
                              <i class="lastfm icon mobile hidden"></i>
                          </a>
                      {% elif back == 'observation' %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_observation.observation_info', observation_id=back_id) }}#dso{{dso.id}}">
                              <i class="caret left icon"></i>
                              <i class="eye icon mobile hidden"></i>
                          </a>
                      {% elif back == 'wishlist' %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_wishlist.wish_list_info', back=1) }}#dso{{dso.id}}">
                              <i class="caret left icon"></i>
                              <i class="heart icon mobile hidden"></i>
                          </a>
                      {% elif back == 'observed_list' %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_observed.observed_list_info') }}#dso{{dso.id}}">
                              <i class="caret left icon"></i>
                              <i class="heart icon mobile hidden"></i>
                          </a>
                      {% elif back == 'session_plan' %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=back_id) }}#dso{{dso.id}}">
                              <i class="caret left icon"></i>
                              <i class="tasks icon mobile hidden"></i>
                          </a>
                      {% elif back == 'dso_list' %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=back_id, back=1) }}#dso{{dso.id}}">
                              <i class="caret left icon"></i>
                              <i class="tasks icon mobile hidden"></i>
                          </a>
                      {% else %}
                          <a class="ui basic icon compact button" href="{{ url_for('main_deepskyobject.deepskyobjects', back=1)}}">
                              <i class="caret left icon"></i>
                              <i class="list icon"></i>
                          </a>
                      {% endif %}
                      <div class="divider"> / </div>
                  {% endif %}
                <div class="active section">
                    {{ dso.denormalized_name() }}
                </div>
            </div>

            {% if next_dso and embed != 'pl' %}
                <a id="bnext" class="ui basic icon compact right floated button" href="{{ '#' if embed else url_for('main_deepskyobject.deepskyobject_seltab', dso_id=next_dso.name, seltab=type, back=back, back_id=back_id, season=season, embed=embed) }}">
                    {{ next_dso_title }}
                    <i class="caret right icon"></i>
                </a>
            {% endif %}
            {% if prev_dso and embed != 'pl' %}
                <a id="bprev" class="ui basic icon compact right floated button" href="{{ '#' if embed else url_for('main_deepskyobject.deepskyobject_seltab', dso_id=prev_dso.name, seltab=type, back=back, back_id=back_id, season=season, embed=embed) }}">
                    <i class="caret left icon"></i>
                    {{ prev_dso_title }}
                </a>
            {% endif %}
            </div>

            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {% if dso_image_info or descr_available %}
                    {{ deepskyobject_info() }}
                {% else %}
                    {{ deepskyobject_catalogue_data(True) }}
                {% endif %}
            {% elif type == 'chart' %}
                {{ deepskyobject_chart(dso) }}
            {% elif type == 'surveys' %}
                {{ deepskyobject_surveys() }}
            {% elif type == 'catalogue_data' %}
                {{ deepskyobject_catalogue_data(False) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        {% if embed == 'fc' %}
            {% if back == 'observation' %}
                {% set top_prev_url =  url_for('main_observation.observation_chart', dso_id=prev_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
                {% set top_next_url = url_for('main_observation.observation_chart', dso_id=next_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
            {% elif back == 'wishlist' %}
                {% set top_prev_url =  url_for('main_wishlist.wish_list_chart', dso_id=prev_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
                {% set top_next_url = url_for('main_wishlist.wish_list_chart', dso_id=next_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
            {% elif back == 'dso_list' %}
                {% set top_prev_url =  url_for('main_dso_list.dso_list_chart', dso_list_id=back_id, dso_id=prev_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
                {% set top_next_url = url_for('main_dso_list.dso_list_chart', dso_list_id=back_id, dso_id=next_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
            {% elif back == 'session_plan' %}
                {% set top_prev_url =  url_for('main_sessionplan.session_plan_chart', session_plan_id=back_id, dso_id=prev_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
                {% set top_next_url = url_for('main_sessionplan.session_plan_chart', session_plan_id=back_id, dso_id=next_dso.id, back=back, back_id=back_id, season=season, splitview='true') %}
            {% else %}
                {% set top_prev_url =  url_for('main_deepskyobject.deepskyobject_chart', dso_id=prev_dso.name, back=back, back_id=back_id, season=season, splitview='true') %}
                {% set top_next_url = url_for('main_deepskyobject.deepskyobject_chart', dso_id=next_dso.name, back=back, back_id=back_id, season=season, splitview='true') %}
            {% endif %}

            {% if prev_dso %}
                $('#bprev' ).click(function() {
                    parent.window.location.href = "{{ top_prev_url | safe }}";
                    return true;
                });
            {% endif %}
            {% if next_dso %}
                $('#bnext' ).click(function() {
                    parent.window.location.href = "{{ top_next_url | safe }}";
                    return false;
                });
            {% endif %}
        {% endif %}
        $('.ui.rating')
            .rating();
    </script>
    <style>
{% if type == 'surveys' %}
.item:hover { z-index: 999999 !important; }
{% endif %}
    </style>
{% endblock %}
