{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_deepskyobject.deepskyobject_info', 'Info', 'info'),
    ('main_deepskyobject.deepskyobject_findchart', 'Find chart', 'table'),
    ('main_deepskyobject.deepskyobject_catalogue_data', 'Catalogue data', 'table')
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, name, icon in items %}
            {% set href = url_for(route, dso_id=dso.id, from_constellation_id=from_constellation_id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- DSO Info --- #}
{% macro deepskyobject_info(dso, user_descr) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            {% if user_descr %}
                <h3>
                    {{ user_descr.common_name }}
                    {% if editable %}
                        <a class="ui icon right floated mini button" href="{{ url_for('main_deepskyobject.deepskyobject_edit', dso_id=dso.id) }}">
                            <i class="caret edit icon"></i>
                        </a>
                    {% endif %}
                </h3>
                <div class="markdown">
                    {% filter commonmark %}
{{ user_descr.text }}
                    {% endfilter %}
                </div>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# --- Find Chart --- #}
{% macro deepskyobject_fchart(dso, fchart) %}
    <canvas id="pdfcanvas"></canvas>
{% endmacro %}

{# --- Catalogue Data --- #}
{% macro deepskyobject_catalogue_data(dso) %}
    <table class="ui compact definition table">
        <tr><td>Name</td><td>{{ dso.denormalized_name() }}</td></tr>
        <tr><td>Type</td><td>{{ dso.type }}</td></tr>
        <tr><td>Common name</td><td>{{ dso.common_name }}</td></tr>
        <tr><td>descr</td><td>{{ dso.descr }}</td></tr>
        <tr><td>RA</td><td>{{ dso.ra_str() }}</td></tr>
        <tr><td>Dec</td><td>{{ dso.dec_str() }}</td></tr>
        <tr><td>major_axis</td><td>{{ dso.major_axis }}</td></tr>
        <tr><td>minor_axis</td><td>{{ dso.minor_axis }}</td></tr>
        <tr><td>positon_angle</td><td>{{ dso.positon_angle }}</td></tr>
        <tr><td>b_mag</td><td>{{ dso.b_mag }}</td></tr>
        <tr><td>v_mag</td><td>{{ dso.v_mag }}</td></tr>
        <tr><td>j_mag</td><td>{{ dso.j_mag }}</td></tr>
        <tr><td>h_mag</td><td>{{ dso.h_mag }}</td></tr>
        <tr><td>k_mag</td><td>{{ dso.k_mag }}</td></tr>
        <tr><td>surface_bright</td><td>{{ dso.surface_bright }}</td></tr>
        <tr><td>minor_axis</td><td>{{ dso.minor_axis }}</td></tr>
        <tr><td>hubble_type</td><td>{{ dso.hubble_type }}</td></tr>
        <tr><td>c_star_u_mag</td><td>{{ dso.c_star_u_mag }}</td></tr>
        <tr><td>c_star_b_mag</td><td>{{ dso.c_star_b_mag }}</td></tr>
        <tr><td>c_star_v_mag</td><td>{{ dso.c_star_v_mag }}</td></tr>
        <tr><td>identifiers</td><td>{{ dso.identifiers }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet fourteen wide computer column">
            {% if from_constellation_id %}
                <a class="ui basic compact button" href="{{ url_for('main_constellation.constellation_info', constellation_id=from_constellation_id) }}#dso{{dso.id}}">
                    <i class="caret left icon"></i>
                    Back to constellation
                </a>
            {% elif from_observation_id %}
                <a class="ui basic compact button" href="{{ url_for('main_observation.observation_info', observation_id=from_observation_id) }}#dso{{dso.id}}">
                    <i class="caret left icon"></i>
                    Back to observation
                </a>
            {% else %}
                <a class="ui basic compact button" href="{{ url_for('main_deepskyobject.deepskyobjects', back=1)}}">
                    <i class="caret left icon"></i>
                    DSO list
                </a>
            {% endif %}
            {% if next_dso %}
                <a class="ui basic compact right floated button" href="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=next_dso.id)}}">
                    {{ next_dso.denormalized_name() }}
                    <i class="caret right icon"></i>
                </a>
            {% endif %}
            {% if prev_dso %}
                <a class="ui basic compact right floated button" href="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=prev_dso.id)}}">
                    <i class="caret left icon"></i>
                    {{ prev_dso.denormalized_name() }}
                </a>
            {% endif %}
            <h2 class="ui header">
                {{ dso.denormalized_name() }} {% if dso.common_name %} ({{ dso.common_name }}) {% endif %}
                {% if user_descr %}
                    <div class="ui rating center" data-icon="star" data-rating="{{ user_descr.rating_to_int(5) }}" data-max-rating="5"></div>
                {% endif %}
            </h2>

            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {{ deepskyobject_info(dso, user_descr) }}
            {% elif type == 'catalogue_data' %}
                {{ deepskyobject_catalogue_data(dso) }}
            {% elif type == 'fchart' %}
                {{ deepskyobject_fchart(dso, fchart) }}
            {% endif %}
        </div>
  </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>
    <style>
.markdown img {
  max-width: 100%;
  height: auto;
}
    </style>
    {% if type == 'fchart' %}
        <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

        <script type="text/javascript">

            var url = '{{fchart}}';

            var pdfjsLib = window['pdfjs-dist/build/pdf'];

            pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

            var loadingTask = pdfjsLib.getDocument(url);
            loadingTask.promise.then(function(pdf) {
            console.log('PDF loaded');

            var pageNumber = 1;
            pdf.getPage(pageNumber).then(function(page) {
                console.log('Page loaded');

                var scale = 1.5;
                var viewport = page.getViewport({scale: scale});

                // Prepare canvas using PDF page dimensions
                var canvas = document.getElementById('pdfcanvas');
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render PDF page into canvas context
                var renderContext = {
                canvasContext: context,
                viewport: viewport
                };
                var renderTask = page.render(renderContext);
                renderTask.promise.then(function () {
                console.log('Page rendered');
                });
            });
            }, function (reason) {
            // PDF loading error
                console.error(reason);
            });
        </script>

    {% endif %}
{% endblock %}
