{% import 'macros/common_macros.html' as commons %}

  <form id="fmchart" action="{{ url_for('main_deepskyobject.deepskyobject_fchart', dso_id=dso.name, back=back, back_id=back_id) }}" method="post" class="ui secondary menu">
      <!-- Field radius -->
      <div class="ui labeled item">
          <div class="ui labeled ticked small slider" id="slider-field-size" style="width:200px">
          </div>
          <input type="hidden" id="{{ form.radius.name }}" name="{{ form.radius.name }}" value="{{ form.radius.data }}">
          <div class="top right aligned floating ui label">{{ _('Field Size') }}</div>
      </div>
      <!-- Star mag limit -->
      <div class="ui labeled item">
          <div class="ui buttons">
              <button id="decmag" class="ui icon {{ disable_dec_mag }} button">
                  <i class="left chevron icon"></i>
              </button>
              <div class="ui icon dropdown button">
                  <input type="hidden" id="{{ form.maglim.name }}" name="{{ form.maglim.name }}" value="{{ form.maglim.data }}"
                          onchange="this.form.submit()">
                  <span class="text">{{ form.maglim.data }}</span>
                  <div class="menu">
                      {% for mag_item in range(mag_scale[0], mag_scale[1] + 1) %}
                          <div class="item">{{ mag_item }}</div>
                      {% endfor %}
                  </div>
              </div>
              <button id="incmag" class="ui right icon {{ disable_inc_mag }} button">
                  <i class="right chevron icon"></i>
              </button>
          </div>
          <div class="top right aligned floating ui label">{{ _('Limit mag') }}</div>
      </div>
      <!-- dso mag limit -->
      <div class="ui labeled item">
          <div class="ui buttons">
              <button id="decdsomag" class="ui icon {{ disable_dso_dec_mag }} button">
                  <i class="left chevron icon"></i>
              </button>
              <div class="ui icon dropdown button">
                  <input type="hidden" id="{{ form.dso_maglim.name }}" name="{{ form.dso_maglim.name }}" value="{{ form.dso_maglim.data }}"
                          onchange="this.form.submit()">
                  <span class="text">{{ form.dso_maglim.data }}</span>
                  <div class="menu">
                      {% for mag_item in range(dso_mag_scale[0], dso_mag_scale[1] + 1) %}
                          <div class="item">
                              {{ mag_item }}
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <button id="incdsomag" class="ui right icon {{ disable_dso_inc_mag }} button">
                  <i class="right chevron icon"></i>
              </button>
          </div>
          <div class="top right aligned floating ui label">{{ _('DSO limit mag') }}</div>
      </div>
      {% if show_mirroring %}
          <div class="ui labeled item">
              <div class="ui toggle checkbox">
                  {{ form.mirror_x(onchange='this.form.submit()') }}
                  <label></label>
              </div>
              <div class="top right aligned floating ui label">{{ _('Mirror X') }}</div>
          </div>
          <div class="ui labeled item">
              <div class="ui toggle checkbox">
                  {{ form.mirror_y(onchange='this.form.submit()') }}
                  <label></label>
              </div>
              <div class="top right aligned floating ui label">{{ _('Mirror Y') }}</div>
          </div>
      {% endif %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
  </form>
{#
    <div style="width:800px;height:800px;overflow:hidden;">
        <button id="bOK">OK</button>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <img id="ichart" src="{{ url_for('main_deepskyobject.deepskyobject_fchartimg', dso_id=dso_id) }}"></img>
    </div>
#}
    <canvas id="fchart-canvas"></canvas>

    <script type="text/javascript">
        var labels = ["1", "3", "8", "20", "40"];
        $('#slider-field-size')
          .slider({
            min: 1,
            max: 5,
            step: 1,
            start:{{ form.radius.data }},
            fireOnInit: false,
            interpretLabel: function(value) {
              return labels[value];
            },
            onChange: function(value) {
                $('#radius').val(value);
                $("#fmchart" ).submit();
            }
          });
        /*
        var containerEl = $('#ichart').parent();
        $('#ichart').draggable({
            containment: [containerEl.offset().left-1000, containerEl.offset().top-1000,
                          containerEl.offset().left+400, containerEl.offset().top+400],
            scroll: false,
            drag: function() {
                var offset = $(this).offset();
                var xPos = offset.left;
                var yPos = offset.top;
                console.log('Pos:'+xPos+' '+yPos)
            },
            cancel: "button"
        });
        */

        $('.ui.dropdown').dropdown();

        $( '#decmag' ).click(function() {
            prev = +$('#maglim').val();
            $('#maglim').val(prev - 1);
            $('#fmchart' ).submit();
        });

        $( '#incmag' ).click(function() {
            prev = +$('#maglim').val();
            $('#maglim').val(prev + 1);
            $('#fmchart' ).submit();
        });

        $( '#decdsomag' ).click(function() {
            prev = +$('#dso_maglim').val();
            $('#dso_maglim').val(prev - 1);
            $('#fmchart' ).submit();
        });

        $( '#incdsomag' ).click(function() {
            prev = +$('#dso_maglim').val();
            $('#dso_maglim').val(prev + 1);
            $('#fmchart' ).submit();
        });

    </script>

    <script type="text/javascript">
        var canvas = document.getElementById('fchart-canvas');
        var img = new Image();
        var ctx = canvas.getContext('2d');
        var mouseX = 0, mouseY = 0, dx = 0, dy = 0, mousedown = false;
        var dso_ra = {{ dso.ra }};
        var dso_dec = {{ dso.dec }};
        var ra = dso_ra;
        var dec = dso_dec;
        var rad_coef = 1.4142135623730951;
       
        window.onload = function() {
            img.onload = function() {
              resizeCanvas();
            };
            img.src = "{{ url_for('main_deepskyobject.deepskyobject_fchartimg', dso_id=dso.id, fsz=chart_fsz, mlim=chart_mlim, dlim=chart_dlim, nm=chart_nm, mx=chart_mx, my=chart_my) | safe}}";
        }
        
        function resizeCanvas() {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, dx, dy);
        }
        window.addEventListener('resize', resizeCanvas, false);
        canvas.addEventListener('mousemove', function(ev) {
            if (mousedown) {
                var x = dx + (ev.layerX-mouseX);
                var y = dy + (ev.layerY-mouseY);
                /*
                if (x > 0)
                    x = 0;
                if (y > 0)
                    y = 0;
                if (x < canvas.width - img.width)
                    x = canvas.width - img.width;
                if (y < canvas.height - img.height)
                    y = canvas.height - img.height;
                */
                {% if chart_nm == '0' %}
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                {% else %}
                    ctx.fillStyle = "black";
                    ctx.fillRect(0, 0, canvas.width, canvas.height);
                {% endif %}
                ctx.drawImage(img, x, y);
            }
        }, false);
        canvas.addEventListener('mousedown', function(ev) {
            mouseX = ev.layerX;
            mouseY = ev.layerY;
            mousedown = true;
        }, false );
        canvas.addEventListener('mouseup', function(ev) {
            if (mousedown) {
                dx += ev.layerX - mouseX;
                dy += ev.layerY - mouseY;
                /*
                if (dx > 0)
                    dx = 0;
                if (dy > 0)
                    dy = 0;
                if (dx < canvas.width - img.width)
                    dx = canvas.width - img.width;
                if (dy < canvas.height - img.height)
                    dy = canvas.height - img.height;
                */
                ra = ra + dx * Math.PI * {{ chart_fsz }} / (180.0 * canvas.width); 
                dec = dec + dy * Math.PI * {{ chart_fsz }} / (180.0 * canvas.height);
                url = "{{ url_for('main_deepskyobject.deepskyobject_pfchartimg', dso_id=dso.id, ra='_RA_', dec='_DEC_', fsz=chart_fsz, mlim=chart_mlim, dlim=chart_dlim, nm=chart_nm, mx=chart_mx, my=chart_my) | safe }}";
                url = url.replace('_RA_', ra.toString());
                url = url.replace('_DEC_', dec.toString());
                img.src = url;
                dx = 0;
                dy = 0;
                mousedown = false;
            }
        }, false );        
        
    </script>
