{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% if double_star_list.has_detail_view %}
{% set endpoints = [
    ('main_double_star_list.double_star_list_detail', _('Detail'), 'detail'),
    ('main_double_star_list.double_star_list_info', _('List'), 'info'),
    ('main_double_star_list.double_star_list_chart', _('Chart'), 'chart'),
] %}
{% else %}
{% set endpoints = [
    ('main_double_star_list.double_star_list_info', _('Info'), 'info'),
    ('main_double_star_list.double_star_list_chart', _('Chart'), 'chart'),
] %}
{% endif %}

{% if not back %}
    {% set back = request.args.get('back') %}
    {% set back_id = request.args.get('back_id') %}
{% endif %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, double_star_list_id=double_star_list.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro double_star_toolbar_js() %}
    <script type=text/javascript>
        $(function() {
            $("a[id^='switch_wishlist_dbl_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 var m = id.match(/\d+/g);
                 $.getJSON("{{ url_for('main_double_star.double_star_switch_wish_list') }}", {
                     double_star_id: m[0]
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.find("i").attr('class', 'heart icon');
                     } else {
                         $this.find("i").attr('class', 'heart outline black icon');
                     }
                 });
            });
            $("a[id^='switch_observed_dbl_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 var m = id.match(/\d+/g);
                 $.getJSON("{{ url_for('main_double_star.double_star_switch_observed_list') }}", {
                     double_star_id: m[0]
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.find("i").attr('class', 'eye icon');
                     } else {
                         $this.find("i").attr('class', 'eye slash outline black icon');
                     }
                 });
            });
            $("[id^='switch_sesplan_dbl_dropdown']")
                .dropdown({
                    action: 'hide'
                })
            ;
            $("a[id^='switch_sesplan_dbl_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 var m = id.match(/\d+/g);
                 $.getJSON("{{ url_for('main_double_star.double_star_switch_session_plan') }}", {
                     session_plan_id: m[0],
                     double_star_id: m[1]
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.attr('class', 'selected item');
                     } else {
                         $this.attr('class', 'item');
                     }
                 });
            });
        });
    </script>
{% endmacro %}

{% macro double_star_data_table(double_star, full_table) %}
    {% if double_star is not none %}
    <table class="ui compact striped definition unstackable table">
        <tr><td class="three wide">{{ _('WDS ID') }}</td><td>{{ double_star.wds_number }}</td></tr>
        <tr><td class="three wide">{{ _('Common catalogue ID') }}</td><td>{{ double_star.common_cat_id }}</td></tr>
        <tr><td class="three wide">{{ _('Components') }}</td><td>{{ double_star.components }}</td></tr>
        <tr><td class="three wide">{{ _('Other Designation') }}</td><td>{{ double_star.other_designation }}</td></tr>
        <tr><td class="three wide">{{ _('Position angle') }}</td><td>{{ double_star.pos_angle }}</td></tr>
        <tr><td class="three wide">{{ _('Separation') }}</td><td>{{ double_star.separation }}</td></tr>
        <tr><td class="three wide">{{ _('Mag First') }}</td><td>{{ double_star.mag_first }}</td></tr>
        <tr><td class="three wide">{{ _('Mag Second') }}</td><td>{{ double_star.mag_second }}</td></tr>
        <tr><td class="three wide">{{ _('Delta mag') }}</td><td>{{ double_star.delta_mag }}</td></tr>
        <tr><td class="three wide">{{ _('Spectral Type') }}</td><td>{{ double_star.spectral_type }}</td></tr>
        <tr><td class="three wide">{{ _('Constellation') }}</td><td>{{ double_star.constellation.name.capitalize() if double_star.constellation else '' }}</td></tr>
        <tr><td class="three wide">RA</td><td>{{ double_star.ra_first_str() }}</td></tr>
        <tr><td class="three wide">Dec</td><td>{{ double_star.dec_first_str() }}</td></tr>
    </table>
    {% endif %}
{% endmacro %}

{% macro double_star_list_detail(double_star_list) %}
            <div class="ui {{ 'inverted' if inverted_accordion else '' }} segment">
                <div class="ui {{ 'inverted' if inverted_accordion else '' }} fluid accordion">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    {{ _('Description') }}
                  </div>
                  <div class="content markdown">
                        {% filter extended_commonmark('') %}
{{ double_star_list_descr.text }}
                        {% endfilter %}
                  </div>
                </div>
            </div>
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset" style="width:100%">
        <div class="ui blue segment" style="display: inline-block; width:100%">

            {% for item in double_star_list.double_star_list_items %}
                {% set double_star = item.double_star %}
                {% set user_descr = user_descrs[item.double_star_id] %}
                <div style="clear:both;">
                <div style="float:right;">
                    {% if double_star.constellation is not none %}
                        <a class="ui label" style="float:left;" href="{{ url_for('main_constellation.constellation_info', constellation_id=double_star.constellation.iau_code) }}">
                            <i class="lastfm icon"></i>
                            <span class="mobile hidden tablet hidden">{{ double_star.constellation.name.capitalize() }}</span>
                            <span class="mobile only tablet only">{{ double_star.constellation.iau_code.capitalize() }}</span>
                        </a>
                    {% endif %}
                    {% if double_star.components is not none %}
                    <div class="tablet hidden computer hidden" style="float:left">
                        <div class="ui label" style="float:left;">
                            <i class="info icon"></i>{{ double_star.components }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="mobile hidden" style="float:left">
                        <div class="ui label" style="float:left;">
                            &#8982; {{ double_star.ra_first_str_short() }}/{{ double_star.dec_first_str_short() }}
                        </div>
                    </div>
                    {% if double_star.mag_first is not none and double_star.mag_second is not none %}
                    <div class="ui label" style="float:left;">
                        &#9728;{{ commons.convert_mag(double_star.mag_first) }}/{{ commons.convert_mag(double_star.mag_second) }}mag
                    </div>
                    {% endif %}
                    {% if double_star.separation %}
                        <div class="ui label" style="float:left;">
                            Ø {{ commons.convert_double_star_separation(double_star.separation) }}
                        </div>
                    {% endif %}

                    {{ commons.wish_observed_double_star_toolbar(current_user, double_star.id, wish_list, observed_list) }}
                    {{ commons.offered_session_plans_double_star_toolbar(double_star.id, offered_session_plans) }}
                    {% if editable %}
                        <a class="ui icon mini button mobile hidden" style="float:left;margin-left:5px;" href="{{ url_for('main_double_star.double_star_edit', double_star_id=double_star.id, back=back, back_id=back_id) }}">
                            <i class="caret edit icon"></i>
                        </a>
                    {% endif %}
                </div>

                <a class="sw-link" href="{{ url_for('main_double_star.double_star_seltab', double_star_id=double_star.id, back='dbl_star_list', back_id=double_star_list.id) }}">
                    <h3 style="margin-bottom:0.8em;">
                        {{ double_star.get_common_name() }}
                    </h3>
                </a>

                {% if user_descr %}
                <div class="markdown">
                    {% filter extended_commonmark('') %}
{{ user_descr.text }}
                    {% endfilter %}
                </div>
                {% else %}
                    {{ double_star_data_table(double_star, False) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ double_star_toolbar_js() }}
    <script type="text/javascript">
        $('a.sw-link').appendScreenWidth('href');
        $('.ui.accordion')
          .accordion()
        ;
    </script>
{% endmacro %}

{% macro double_star_list_info(double_star_list) %}
    {% if not double_star_list.has_detail_view %}
        <div class="ui {{ 'inverted' if inverted_accordion else '' }} segment">
            <div class="ui {{ 'inverted' if inverted_accordion else '' }} fluid accordion">
              <div class="title">
                <i class="dropdown icon"></i>
                {{ _('Description') }}
              </div>
              <div class="content markdown">
                    {% filter extended_commonmark('') %}
{{ double_star_list_descr.text }}
                    {% endfilter %}
              </div>
            </div>
        </div>
    {% endif %}

    <form action="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id) }}" method="post" name="search">
        <div class="ui menu">
            <div class="ui item">
                {{ search_form.season(class='ui dropdown button',onchange='this.form.submit()') }}
                <div class="top right aligned floating ui tiny label">{{ _('Season') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.mag_max(class='ui tiny input', size=3) }}
                <div class="top right aligned floating ui tiny label">{{ _('Mag max') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.delta_mag_min(class='ui tiny input', size=3) }}
                <div class="top right aligned floating ui tiny label">{{ _('Delta mag min') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.delta_mag_max(class='ui tiny input', size=3) }}
                <div class="top right aligned floating ui tiny label">{{ _('Delta mag max') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.separation_min(class='ui tiny input', size=3) }}
                <div class="top right aligned floating ui tiny label">{{ _('Separation min') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.separation_max(class='ui tiny input', size=3) }}
                <div class="top right aligned floating ui tiny label">{{ _('Separation max') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.dec_min(class='ui tiny input', size=3) }}
                <div class="top right aligned floating ui tiny label">{{ _('Declination min') }}</div>
            </div>
            <div class="ui right search item">
                <div class="ui tiny action input">
                    {{ search_form.hidden_tag() }}{{ search_form.q(size=15) }}
                    <button class="ui small icon button">
                        <i class="search icon"></i>
                    </button>
                    <div class="top right aligned floating ui tiny label">{{ _('WDS or Cat. ID') }}</div>
                </div>
            </div>
        </div>
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">

        <div style="overflow-x: scroll;">
            <table class="ui searchable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['wds_number'].sort) }}" style="color: inherit;">
                                WDS {{ table_sort['wds_number'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['common_cat_id'].sort) }}" style="color: inherit;">
                                {{ _('Catalog ID') }} {{ table_sort['common_cat_id'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['components'].sort) }}" style="color: inherit;">
                                {{ _('Co.') }} {{ table_sort['components'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['other_designation'].sort) }}" style="color: inherit;">
                                {{ _('Other designation') }} {{ table_sort['other_designation'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['mag_first'].sort) }}" style="color: inherit;white-space: nowrap;">
                                {{ _('Mag1') }} {{ table_sort['mag_first'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['mag_second'].sort) }}" style="color: inherit;white-space: nowrap;">
                                {{ _('Mag2') }} {{ table_sort['mag_second'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['separation'].sort) }}" style="color: inherit;">
                                {{ _('Sep.') }} {{ table_sort['separation'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['ra'].sort) }}" style="color: inherit;">
                                RA {{ table_sort['ra'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['dec'].sort) }}" style="color: inherit;">
                                Dec {{ table_sort['dec'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['spectral_type'].sort) }}" style="color: inherit;">
                                {{ _('Spec.') }} {{ table_sort['spectral_type'].icon | safe }}
                            </a>
                        </th>
                        <th class="right aligned collapsing">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                                <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for d in double_star_list_items %}
                    <tr class="sw-onclick" onclick="window.location.href = '{{ url_for('main_double_star.double_star_seltab', double_star_id=d.double_star_id, back='dbl_star_list', back_id=double_star_list.id) }}';">
                        <td class="mobile hidden">{{ d.double_star.wds_number }}</td>
                        <td>{{ d.double_star.common_cat_id }}</td>
                        <td>{{ d.double_star.components }}</td>
                        <td class="mobile hidden">{{ d.double_star.other_designation }}</td>
                        <td class="right aligned">{{ commons.convert_mag(d.double_star.mag_first) }}</td>
                        <td class="right aligned">{{ commons.convert_mag(d.double_star.mag_second) }}</td>
                        <td class="right aligned">{{ d.double_star.separation }}</td>
                        <td class="mobile hidden">{{ d.double_star.ra_first_str_short() }}</td>
                        <td class="mobile hidden">{{ d.double_star.dec_first_str_short() }}</td>
                        <td class="mobile hidden">{{ d.double_star.spectral_type }}</td>
                        <td>{{ d.double_star.get_constellation_iau_code() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <script type="text/javascript">
        $('tr.sw-onclick').appendScreenWidth('onclick');
        $('.ui.accordion')
          .accordion()
        ;
    </script>
{% endmacro %}

{# --- Chart --- #}
{% macro double_star_list_chart(double_star_list) %}
    {{ fchart.fchart(url_for('main_double_star_list.double_star_list_chart', double_star_list_id=double_star_list.id, back=back, back_id=back_id),
                     url_for('main_double_star_list.double_star_list_chart_pos_img', double_star_list_id=double_star_list.id,
                              flags=chart_control.chart_flags, ),
                     url_for('main_chart.chart_legend_img', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_double_star_list.double_star_list_chart_pdf', double_star_list_id=double_star_list.id,
                              flags=chart_control.chart_pdf_flags,
                              epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url, search_url_params='back=dbl_star_list&back_id={}'.format(double_star_list.id),
                     back=back, back_id=back_id)
    }}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic icon compact button" href="{{ url_for('main_dso_list.dso_lists_menu') }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ double_star_list_descr.long_name }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'detail' %}
                {{ double_star_list_detail(double_star_list) }}
            {% elif type == 'info' %}
                {{ double_star_list_info(double_star_list) }}
            {% else %}
                {{ double_star_list_chart(double_star_list) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
