{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_double_star_list.double_star_list_info', _('Info'), 'info'),
    ('main_double_star_list.double_star_list_chart', _('Chart'), 'info'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, double_star_list_id=double_star_list.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro double_star_list_info(double_star_list) %}
    <div class="ui {{ 'inverted' if inverted_accordion else '' }} segment">
        <div class="ui {{ 'inverted' if inverted_accordion else '' }} fluid accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            {{ _('Description') }}
          </div>
          <div class="content markdown">
                {% filter extended_commonmark('') %}
{{ double_star_list_descr.text }}
                {% endfilter %}
          </div>
        </div>
    </div>

    <form action="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id) }}" method="post" name="search">
        <div class="ui menu">
            <div class="ui item">
                {{ search_form.season(class='ui dropdown button',onchange='this.form.submit()') }}
                <div class="top right aligned floating ui label">{{ _('Season') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.mag_max(size=4) }}
                <div class="top right aligned floating ui label">{{ _('Mag max') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.delta_mag_min(size=4) }}
                <div class="top right aligned floating ui label">{{ _('Delta mag min') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.separation_min(size=4) }}
                <div class="top right aligned floating ui label">{{ _('Separation min') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.separation_max(size=4) }}
                <div class="top right aligned floating ui label">{{ _('Separation max') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.dec_min(size=4) }}
                <div class="top right aligned floating ui label">{{ _('Declination min') }}</div>
            </div>
            <div class="ui right action small input item">
                {{ search_form.hidden_tag() }}{{ search_form.q(size=15) }}
                <button class="ui small icon button">
                    <i class="search icon"></i>
                </button>
                <div class="top right aligned floating ui label">{{ _('WDS or Cat. ID') }}</div>
            </div>
        </div>
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">

        <div style="overflow-x: scroll;">
            <table class="ui searchable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['wds_number'].sort) }}" style="color: inherit;">
                                WDS {{ table_sort['wds_number'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['common_cat_id'].sort) }}" style="color: inherit;">
                                {{ _('Catalog ID') }} {{ table_sort['common_cat_id'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['components'].sort) }}" style="color: inherit;">
                                {{ _('Co.') }} {{ table_sort['components'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['other_designation'].sort) }}" style="color: inherit;">
                                {{ _('Other designation') }} {{ table_sort['other_designation'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['mag_first'].sort) }}" style="color: inherit;white-space: nowrap;">
                                {{ _('Mag1') }} {{ table_sort['mag_first'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['mag_second'].sort) }}" style="color: inherit;white-space: nowrap;">
                                {{ _('Mag2') }} {{ table_sort['mag_second'].icon | safe }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['separation'].sort) }}" style="color: inherit;">
                                {{ _('Sep.') }} {{ table_sort['separation'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['ra'].sort) }}" style="color: inherit;">
                                RA {{ table_sort['ra'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['dec'].sort) }}" style="color: inherit;">
                                Dec {{ table_sort['dec'].icon | safe }}
                            </a>
                        </th>
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['spectral_type'].sort) }}" style="color: inherit;">
                                {{ _('Spec.') }} {{ table_sort['spectral_type'].icon | safe }}
                            </a>
                        </th>
                        <th class="right aligned collapsing">
                            <a href="{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=double_star_list.id, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                                <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for d in double_star_list_items %}
                    <tr onclick="window.location.href = '{{ url_for('main_double_star.double_star_chart', double_star_id=d.double_star_id, back='dbl_star_list', back_id=double_star_list.id) }}';">
                        <td class="mobile hidden">{{ d.double_star.wds_number }}</td>
                        <td>{{ d.double_star.common_cat_id }}</td>
                        <td>{{ d.double_star.components }}</td>
                        <td class="mobile hidden">{{ d.double_star.other_designation }}</td>
                        <td class="right aligned">{{ commons.convert_mag(d.double_star.mag_first) }}</td>
                        <td class="right aligned">{{ commons.convert_mag(d.double_star.mag_second) }}</td>
                        <td class="right aligned">{{ d.double_star.separation }}</td>
                        <td class="mobile hidden">{{ d.double_star.ra_first_str_short() }}</td>
                        <td class="mobile hidden">{{ d.double_star.dec_first_str_short() }}</td>
                        <td class="mobile hidden">{{ d.double_star.spectral_type }}</td>
                        <td>{{ d.double_star.get_constellation_iau_code() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <script type="text/javascript">
        $('.ui.accordion')
          .accordion()
        ;
    </script>
{% endmacro %}

{# --- Chart --- #}
{% macro double_star_list_chart(double_star_list) %}
    {{ fchart.fchart(url_for('main_double_star_list.double_star_list_chart', double_star_list_id=double_star_list.id, back=back, back_id=back_id),
                     url_for('main_double_star_list.double_star_list_chart_pos_img', double_star_list_id=double_star_list.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, ),
                     url_for('main_double_star_list.double_star_list_chart_legend_img', double_star_list_id=double_star_list.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_double_star_list.double_star_list_chart_pdf', double_star_list_id=double_star_list.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_', flags=chart_control.chart_pdf_flags,
                              epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url, search_url_params='back=double_star_list&back_id={}'.format(double_star_list.id) )
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_dso_list.dso_lists_menu') }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ double_star_list_descr.long_name }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ double_star_list_info(double_star_list) }}
            {% else %}
                {{ double_star_list_chart(double_star_list) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
