{% if not embed %}
    {% extends 'layouts/base.html' %}
{% else %}
    {% extends 'layouts/base_embed.html' %}
{% endif %}

{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/fchart_macros.html' as fchart with context %}
{% import 'macros/back_navig_macros.html' as back_navig %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% set endpoint_log = [ ('main_double_star.double_star_observation_log', _('Log'), 'obslog') ] if show_obs_log else [] %}
{% set endpoint_observations = [ ('main_double_star.double_star_observations', _('Observations'), 'info') ] if has_observations else [] %}
{% set endpoint_catalog_data = [ ('main_double_star.double_star_catalogue_data', _('Catalog'), 'table') ] if user_descr else [] %}

{% if not embed %}
    {% set endpoints = [
        ('main_double_star.double_star_info', _('Info'), 'info'),
        ('main_double_star.double_star_chart', _('Chart'), 'chart'),
        ('main_double_star.double_star_surveys', _('Aladin'), 'aladin'),
    ] %}
{% else %}
    {% set endpoints = [
        ('main_double_star.double_star_info', _('Info'), 'info'),
        ('main_double_star.double_star_surveys', _('Aladin'), 'aladin'),
    ] %}
{% endif %}

{% set endpoints = endpoint_log + endpoints + endpoint_observations + endpoint_catalog_data %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, double_star_id=double_star.id, back=back, back_id=back_id, embed=embed) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro double_star_toolbar_js() %}
    <script type=text/javascript>
        $(function() {
            $("a[id^='switch_wishlist_dbl_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 var m = id.match(/\d+/g);
                 $.getJSON("{{ url_for('main_double_star.double_star_switch_wish_list') }}", {
                     double_star_id: m[0]
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.find("i").attr('class', 'heart icon');
                     } else {
                         $this.find("i").attr('class', 'heart outline black icon');
                     }
                 });
            });
            $("a[id^='switch_observed_dbl_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 var m = id.match(/\d+/g);
                 $.getJSON("{{ url_for('main_double_star.double_star_switch_observed_list') }}", {
                     double_star_id: m[0]
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.find("i").attr('class', 'eye icon');
                     } else {
                         $this.find("i").attr('class', 'eye slash outline black icon');
                     }
                 });
            });
            $("[id^='switch_sesplan_dbl_dropdown']")
                .dropdown({
                    action: 'hide'
                })
            ;
            $("a[id^='switch_sesplan_dbl_']").click(function() {
                 var $this = $(this);
                 var id = $(this).attr('id');
                 var m = id.match(/\d+/g);
                 $.getJSON("{{ url_for('main_double_star.double_star_switch_session_plan') }}", {
                     session_plan_id: m[0],
                     double_star_id: m[1]
                 }, function(data) {
                     if (data.result == 'on') {
                         $this.attr('class', 'selected item');
                     } else {
                         $this.attr('class', 'item');
                     }
                 });
            });
        });
    </script>
{% endmacro %}

{% macro double_star_info(user_descr) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset" style="width:100%">
        <div class="ui blue segment" style="display: inline-block; width:100%">
            <h3>&nbsp;
                {% if double_star.constellation is not none %}
                    <a class="ui label" style="float:left;" href="{{ url_for('main_constellation.constellation_info', constellation_id=double_star.constellation.iau_code) }}">
                        <i class="lastfm icon"></i>
                        <span class="mobile hidden tablet hidden">{{ double_star.constellation.name.capitalize() }}</span>
                        <span class="mobile only tablet only">{{ double_star.constellation.iau_code.capitalize() }}</span>
                    </a>
                {% endif %}
                {% if double_star.components is not none %}
                <div class="tablet hidden computer hidden" style="float:left">
                    <div class="ui label" style="float:left;">
                        <i class="info icon"></i>{{ double_star.components }}
                    </div>
                </div>
                {% endif %}
                <div class="mobile hidden" style="float:left">
                    <div class="ui label" style="float:left;">
                        &#8982; {{ double_star.ra_first_str_short() }}/{{ double_star.dec_first_str_short() }}
                    </div>
                </div>
                {% if double_star.mag_first is not none and double_star.mag_second is not none %}
                <div class="ui label" style="float:left;">
                    &#9728;{{ commons.convert_mag(double_star.mag_first) }}/{{ commons.convert_mag(double_star.mag_second) }}mag
                </div>
                {% endif %}
                {% if double_star.separation %}
                    <div class="ui label" style="float:left;">
                        Ø {{ commons.convert_double_star_separation(double_star.separation) }}
                    </div>
                {% endif %}

                {{ commons.wish_observed_double_star_toolbar(current_user, double_star.id, wish_list, observed_list) }}
                {{ commons.offered_session_plans_double_star_toolbar(double_star.id, offered_session_plans) }}
                {% if editable %}
                    <a class="ui icon mini button mobile hidden" style="float:left;margin-left:5px;" href="{{ url_for('main_double_star.double_star_edit', double_star_id=double_star.id, back=back, back_id=back_id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h3>

            {% if user_descr %}
            <div class="markdown" style="clear:both;">
                {% filter extended_commonmark('') %}
{{ user_descr.text }}
                {% endfilter %}
            </div>
            {% else %}
                {{ double_star_data_table(double_star, False) }}
            {% endif %}
        </div>
    </div>
    {{ double_star_toolbar_js() }}
{% endmacro %}


{% if back %}
    {% set search_url_params = 'back=' + back + (('&back_id=' + back_id) if back_id is not none else '') %}
{% else %}
    {% set search_url_params = '' %}
{% endif %}

{# --- Chart --- #}
{% macro double_star_chart(double_star) %}
    {{ fchart.fchart(url_for('main_double_star.double_star_chart', double_star_id=double_star.id, back=back, back_id=back_id),
                     url_for('main_double_star.double_star_chart_pos_img', double_star_id=double_star.id,
                              flags=chart_control.chart_flags, back=back, back_id=back_id ),
                     url_for('main_chart.chart_legend_img', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_double_star.double_star_chart_pdf', double_star_id=double_star.id,
                              obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', flags=chart_control.chart_pdf_flags,
                              epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url,
                     embed=(embed if embed else ''),
                     search_url_params=search_url_params,
                     back=back, back_id=back_id, default_back='double_stars'
                     )
    }}
{% endmacro %}

{# --- Surveys --- #}
{% macro double_star_surveys(double_star) %}
    <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    <div id="aladin-lite-div" style="width:100%;height:75vh;"></div>
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var aladin = A.aladin('#aladin-lite-div', {
                survey: "P/DSS2/color",
                fov:{{ field_size }},
                target: "{{ double_star.ra_first_str_short().replace(':',' ')}} {{double_star.dec_first_str_short().replace(':',' ')}}"
                {% if embed %} ,fullScreen: true {% endif %}
        });
    </script>
{% endmacro %}

{# --- Observations --- #}
{% macro double_star_observations() %}
    <table class="ui compact definition2 unstackable searchable sortable selectable table">
        {% for observation in observations %}
        <tr onclick="window.location.href = '{{ url_for('main_observing_session.observing_session_info', observing_session_id=observation.observing_session.id) }}';">
            <td class="two wide"><b>{{ observation.observing_session.date_from.strftime('%Y-%m-%d') }}</b></td>
            <td class="two wide"><b>{{ observation.observing_session.location.name if observation.observing_session.location else '' }}</b></td>
            <td class="two wide"><b>{{ observation.observing_session.title }}</b></td>
            <td>
                {% filter extended_commonmark('') %}
{{ observation.notes_to_html() }}
                {% endfilter %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro double_star_observation_log() %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.display_standard_flashes(flashes) }}

    {{ _('Active observation:')}} <a href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=observing_session.id)}}">{{ observing_session.title }}</a>
    <br/><br/>

    {{ f.begin_form(form, flashes) }}

        <div class="two fields">
            <div class="field">
                <label for="odate-from">{{ form.date_from.label }}</label>
                <div class="two fields">
                    <div class="field">
                        <div class="ui calendar" id="odate-from">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate-from" name="{{form.date_from.name}}" placeholder="Date" type="text"
                                    value="{{form.date_from.data.strftime('%d/%m/%Y') if form.date_from.data else ''}}">
                          </div>
                        </div>
                        {% if form.date_from.errors %}
                            <div class="ui red pointing label">
                                {{ form.date_from.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="ui calendar" id="odtime-from">
                          <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input id="otime-from" placeholder="Time" type="text" name="{{ form.time_from.name }}" value="{{ form.time_from.data }}">
                          </div>
                        </div>
                        {% if form.time_from.errors %}
                            <div class="ui red pointing label">
                                {{ form.time_from.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ f.render_form_field(form.notes) }}
        <div class="two fields">
            <div class="field">
                {{ f.render_form_field(form.telescope) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.eyepiece) }}
            </div>
        </div>

        <div class="two fields">
            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ field(class='positive ui button') }}
            {% endfor %}
            {% if not is_new_observation_log %}
                <a id="bdeleteobservlog" class="negative ui button" href="#">{{ _('Delete Log') }}</a>
            {% endif %}
        </div>

    {{ f.end_form() }}
    {% if not is_new_observation_log %}
        <div class="ui tiny modal deleteObservationLogModal">
          <div class="header">{{ _('Delete Log') }}</div>
          <div class="content">
            <p>{{ _('Are you sure you want to delete this observation log?') }}</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_double_star.double_star_observation_log_delete', double_star_id=double_star.id, back=back, back_id=back_id ) }}">
                {{ _('Yes') }}
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        $('#odtime-from')
          .calendar({
            type: 'time',
            ampm: false
          })
        ;
        $('#odate-from').calendar({
            type: 'date',
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });
    </script>
{% endmacro %}

{# --- Catalog Data --- #}
{% macro double_star_catalogue_data() %}
    {{ double_star_data_table(double_star, True) }}
{% endmacro %}

{% macro double_star_data_table(double_star, full_table) %}
    {% if double_star is not none %}
    <table class="ui compact striped definition unstackable table">
        <tr><td class="three wide">{{ _('WDS ID') }}</td><td>{{ double_star.wds_number }}</td></tr>
        <tr><td class="three wide">{{ _('Common catalogue ID') }}</td><td>{{ double_star.common_cat_id }}</td></tr>
        <tr><td class="three wide">{{ _('Components') }}</td><td>{{ double_star.components }}</td></tr>
        <tr><td class="three wide">{{ _('Other Designation') }}</td><td>{{ double_star.other_designation }}</td></tr>
        <tr><td class="three wide">{{ _('Position angle') }}</td><td>{{ double_star.pos_angle }}</td></tr>
        <tr><td class="three wide">{{ _('Separation') }}</td><td>{{ double_star.separation }}</td></tr>
        <tr><td class="three wide">{{ _('Mag First') }}</td><td>{{ double_star.mag_first }}</td></tr>
        <tr><td class="three wide">{{ _('Mag Second') }}</td><td>{{ double_star.mag_second }}</td></tr>
        <tr><td class="three wide">{{ _('Delta mag') }}</td><td>{{ double_star.delta_mag }}</td></tr>
        <tr><td class="three wide">{{ _('Spectral Type') }}</td><td>{{ double_star.spectral_type }}</td></tr>
        <tr><td class="three wide">{{ _('Constellation') }}</td><td>{{ double_star.constellation.name.capitalize() if double_star.constellation else '' }}</td></tr>
        <tr><td class="three wide">RA</td><td>{{ double_star.ra_first_str() }}</td></tr>
        <tr><td class="three wide">Dec</td><td>{{ double_star.dec_first_str() }}</td></tr>
    </table>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {{ back_navig.back_navig(back, back_id, 'double_stars', embed, anchor='#star{}'.format(double_star.star_id)) }}
                    <div class="active section">
                        {{ double_star.get_common_name() }}{{ (' - ' + double_star.components) if double_star.components and embed != 'fc' else '' }}
                    </div>
                </div>
                {% if embed == 'fc' %}
                    <a id="bpin" class="ui basic icon compact button" style="margin-left: 4px;" data-tooltip="{{ _('Pin object') }}" data-variation="mini" data-inverted="" data-position="bottom left">
                        <i class="crosshairs icon"></i>
                    </a>
                {% endif %}

                {% if next_wrap and embed != 'pl' %}
                    <a id="bnext" class="ui basic icon compact right floated button" href="{{ '#' if embed else next_wrap.url() }}">
                        <i class="caret right icon"></i>
                    </a>
                {% endif %}
                {% if prev_wrap and embed != 'pl' %}
                    <a id="bprev" class="ui basic icon compact right floated button" href="{{ '#' if embed else prev_wrap.url() }}">
                        <i class="caret left icon"></i>
                    </a>
                {% endif %}
            </div>

            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {{ double_star_info(user_descr) }}
            {% elif type == 'chart' %}
                {{ double_star_chart(double_star) }}
            {% elif type == 'observations' %}
                {{ double_star_observations() }}
            {% elif type == 'observation_log' %}
                {{ double_star_observation_log() }}
            {% elif type == 'catalogue_data' %}
                {{ double_star_catalogue_data() }}
            {% else %}
                {{ double_star_surveys(double_star) }}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        {% if embed == 'fc' %}
            {% if prev_wrap %}
                $('#bprev' ).click(function() {
                    parent.window.location.href = "{{ prev_wrap.top_url() | safe }}";
                    return true;
                });
            {% endif %}
            {% if cur_wrap %}
                $('#bpin' ).click(function() {
                    parent.window.location.href = appendScreenWidthToUrl('{{ cur_wrap.top_url() | safe }}');
                    return true;
                });
            {% endif %}
            {% if next_wrap %}
                $('#bnext' ).click(function() {
                    parent.window.location.href = "{{ next_wrap.top_url() | safe }}";
                    return false;
                });
            {% endif %}
        {% endif %}
        {% if not is_new_observation_log %}
            $('.ui.modal.deleteObservationLogModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bdeleteobservlog').click(function() {
                $('.ui.modal.deleteObservationLogModal')
                    .modal('show');
            });
        {% endif %}
    </script>
{% endblock %}
