{% extends 'layouts/base.html' %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_deepskyobject.dso_menu') }}">
                <i class="caret left icon"></i>
                {{ _('Deepsky') }}
            </a>
            <h2 class="ui header" style="margin-top:0.5em">
                {{ _('Double Stars') }}
            </h2>

            <form action="{{ url_for('main_double_star.double_stars') }}" method="post" name="search">
                <div class="ui tiny menu">
                    <div class="ui input item">
                        {{ search_form.mag_first_max(size=10) }}
                        <div class="top right aligned floating ui label">{{ _('Mag first max') }}</div>
                    </div>
                    <div class="ui input item">
                        {{ search_form.delta_mag_min(size=10) }}
                        <div class="top right aligned floating ui label">{{ _('Delta mag min') }}</div>
                    </div>
                    <div class="ui input item">
                        {{ search_form.separation_min(size=10) }}
                        <div class="top right aligned floating ui label">{{ _('Separation min') }}</div>
                    </div>

                    <div class="ui right action small input item">
                        {{ search_form.hidden_tag() }}{{ search_form.q(size=15) }}
                        <button class="ui small icon button">
                            <i class="search icon"></i>
                        </button>
                        <div class="top right aligned floating ui label">{{ _('WDS or Cat. ID') }}</div>
                    </div>
                </div>

                {# Use overflow-x: scroll so that mobile views don't freak out
                 # when the table is too wide #}
                <div style="overflow-x: scroll;">
                    <table class="ui searchable unstackable selectable celled table">
                        <thead>
                            <tr>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['wds_number'].sort) }}" style="color: inherit;">
                                        WDS {{ table_sort['wds_number'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['common_cat_id'].sort) }}" style="color: inherit;">
                                        {{ _('Catalog ID') }} {{ table_sort['common_cat_id'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['components'].sort) }}" style="color: inherit;">
                                        {{ _('Co.') }} {{ table_sort['components'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['other_designation'].sort) }}" style="color: inherit;">
                                        {{ _('Other designation') }} {{ table_sort['other_designation'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['mag_first'].sort) }}" style="color: inherit;white-space: nowrap;">
                                        {{ _('Mag1') }} {{ table_sort['mag_first'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['mag_second'].sort) }}" style="color: inherit;white-space: nowrap;">
                                        {{ _('Mag2') }} {{ table_sort['mag_second'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['separation'].sort) }}" style="color: inherit;">
                                        {{ _('Sep.') }} {{ table_sort['separation'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['ra'].sort) }}" style="color: inherit;">
                                        RA {{ table_sort['ra'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['dec'].sort) }}" style="color: inherit;">
                                        Dec {{ table_sort['dec'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['spectral_type'].sort) }}" style="color: inherit;">
                                        {{ _('Spec.') }} {{ table_sort['spectral_type'].icon | safe }}
                                    </a>
                                </th>
                                <th class="right aligned collapsing">
                                    <a href="{{ url_for('main_double_star.double_stars', page=pagination.page, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                                        <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for d in double_stars %}
                            <tr onclick="window.location.href = '{{ url_for('main_double_star.double_star_chart', double_star_id=d.id) }}';">
                                <td class="mobile hidden">{{ d.wds_number }}</td>
                                <td>{{ d.common_cat_id }}</td>
                                <td>{{ d.components }}</td>
                                <td class="mobile hidden">{{ d.other_designation }}</td>
                                <td class="right aligned">{{ commons.convert_mag(d.mag_first) }}</td>
                                <td class="right aligned">{{ commons.convert_mag(d.mag_second) }}</td>
                                <td class="right aligned">{{ d.separation }}</td>
                                <td class="mobile hidden">{{ d.ra_first_str_short() }}</td>
                                <td class="mobile hidden">{{ d.dec_first_str_short() }}</td>
                                <td class="mobile hidden">{{ d.spectral_type }}</td>
                                <td>{{ d.get_constellation_iau_code() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.links }} {{ commons.items_per_page(search_form.items_per_page) }} {{ pagination.info }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
