{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_dso_list.dso_list_info', _('Info'), 'info'),
    ('main_dso_list.dso_list_chart', _('Chart'), 'chart'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, dso_list_id=dso_list.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro dso_list_info(dso_list) %}
    <div class="ui {{ 'inverted' if inverted_accordion else '' }} segment">
        <div class="ui {{ 'inverted' if inverted_accordion else '' }} fluid accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            {{ _('Description') }}
          </div>
          <div class="content markdown">
                {% filter extended_commonmark('') %}
{{ dso_list_descr.text }}
                {% endfilter %}
          </div>
        </div>
    </div>

    <form action="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id) }}" method="post" name="search">
        <div class="ui menu">
            <div class="ui item">
                {{ search_form.season(class='ui dropdown button',onchange='this.form.submit()') }}
                <div class="top right aligned floating ui label">{{ _('Season') }}</div>
            </div>
            <div class="ui input item">
                {{ search_form.maglim(size=4) }}
                {% if search_form.maglim.errors %}
                    <div class="bottom aligned red pointing floating ui label">
                        {{ search_form.maglim.errors[0] | safe }}
                    </div>
                {% endif %}
                <div class="top right aligned floating ui label">{{ _('Limit mag') }}</div>
            </div>

            <div class="ui input item">
                {{ search_form.dec_min(size=4) }}
                {% if search_form.dec_min.errors %}
                    <div class="bottom left aligned red pointing floating ui label">
                        {{ search_form.dec_min.errors[0] | safe }}
                    </div>
                {% endif %}
                <div class="top right aligned floating ui label">{{ _('Declination min') }}</div>
            </div>
            {% if observed %}
                <div id="not_observed" class="ui inverted checkbox item" data-inverted="" data-tooltip="{{ _('Hide observed objects') }}" data-variation="tiny basic">
                  <input type="checkbox" id="not_observed_data" name="{{ search_form.not_observed.name }}" {{ 'checked=checked' if search_form.not_observed.data else '' | safe  }}>
                  <label>{{_('Unobserved objects')}}</label>
                </div>
            {% endif %}
            <div class="ui right search item">
                <div class="ui action input">
                    {{ search_form.hidden_tag() }}{{ search_form.q(size=15) }}
                    <button class="ui icon button">
                        <i class="search icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
    </form>

    <div style="overflow-x: scroll;">
        <table class="ui searchable unstackable selectable celled table">
            <thead>
                <tr>
                    <th class="collapsing">
                        <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['item_id'].sort) }}" style="color: inherit;">
                            N {{ table_sort['item_id'].icon | safe }}
                        </a>
                    </th>
                    {% if observed is not none and wished is not none %}
                    <th class="collapsing mobile hidden"></th>
                    {% endif %}
                    <th>
                        <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['name'].sort) }}" style="color: inherit;">
                            {{ _('Name') }} {{ table_sort['name'].icon | safe }}
                        </a>
                    </th>
                    {% if dso_list.show_common_name %}
                        <th class="mobile hidden">
                            <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['common_name'].sort) }}" style="color: inherit;">
                                {{ _('Common name') }} {{ table_sort['common_name'].icon | safe }}
                            </a>
                        </th>
                    {% endif %}
                    {% if dso_list.show_dso_type %}
                        <th>
                            <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['type'].sort) }}" style="color: inherit;">
                                {{ _('Type') }} {{ table_sort['type'].icon | safe }}
                            </a>
                        </th>
                    {% endif %}
                    <th class="mobile hidden">
                        <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['ra'].sort) }}" style="color: inherit;">
                            RA {{ table_sort['ra'].icon | safe }}
                        </a>
                    </th>
                    <th class="mobile hidden">
                        <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['dec'].sort) }}" style="color: inherit;">
                            Dec {{ table_sort['dec'].icon | safe }}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                            <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                        </a>
                    </th>
                    <th class="right aligned">
                        <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['mag'].sort) }}" style="color: inherit;">
                            mag {{ table_sort['mag'].icon | safe }}
                        </a>
                    </th>
                    {% if dso_list.show_angular_size %}
                        <th class="right aligned mobile hidden">
                            <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['major_axis'].sort) }}" style="color: inherit;">
                                Ø {{ table_sort['major_axis'].icon | safe }}
                            </a>
                        </th>
                    {% endif %}
                    {% if dso_list.show_distance %}
                        <th class="right aligned mobile hidden">
                            <a href="{{ url_for('main_dso_list.dso_list_info', dso_list_id=dso_list.id, page=1, sortby=table_sort['distance'].sort) }}" style="color: inherit;">
                                {{ _('Distance') }} {{ table_sort['distance'].icon | safe }}
                            </a>
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>

            {% for item in dso_list_items %}
                {% set dso_url = url_for('main_deepskyobject.deepskyobject_info', dso_id=item.deepsky_object.name, back='dso_list', back_id=dso_list.id) %}
                <tr onclick="window.location.href='{{ dso_url }}';">
                    <td class="collapsing">
                        <p id="dso{{ item.dso_id }}">{{ item.item_id }}</p>
                    </td>
                    {% if observed is not none and wished is not none %}
                    <td class="collapsing mobile hidden">
                        {% if item.deepsky_object.id in observed %}
                            <i class="eye icon"></i>
                        {% endif %}
                        {% if item.deepsky_object.id in wished %}
                            <i class="heart icon"></i>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td><a href="{{ dso_url }}">{{ user_descrs[item.dso_id] if dso_list.show_descr_name else item.deepsky_object.denormalized_name() }}</a></td>
                    {% if dso_list.show_common_name %}
                    <td class="mobile hidden">
                        {{ item.deepsky_object.common_name if item.deepsky_object.common_name else '' }}
                    </td>
                    {% endif %}
                    {% if dso_list.show_dso_type %}
                      <td>{{ item.deepsky_object.type }}</td>
                    {% endif %}
                    <td class="mobile hidden">{{ item.deepsky_object.ra_str_short() }}</td>
                    <td class="mobile hidden">{{ item.deepsky_object.dec_str_short() }}</td>
                    <td>{{ item.deepsky_object.get_constellation_iau_code() }}</td>
                    <td class="right aligned">
                        {{ commons.convert_mag(item.deepsky_object.mag) }}
                    </td>
                    {% if dso_list.show_angular_size %}
                      <td class="right aligned mobile hidden">
                          {% if item.deepsky_object.major_axis %}
                              {% if item.deepsky_object.major_axis >= 100.0 %}
                                {{ (item.deepsky_object.major_axis / 60.0) | round(2, 'floor') }}'
                              {% else %}
                                {{ item.deepsky_object.major_axis | round(2, 'floor')}}''
                              {% endif %}
                              {% if dso_list.show_minor_axis and item.deepsky_object.minor_axis and item.deepsky_object.major_axis != item.deepsky_object.minor_axis %}
                              / {% if item.deepsky_object.minor_axis >= 100.0 %}
                                  {{ (item.deepsky_object.minor_axis / 60.0) | round(2, 'floor') }}'
                                {% else %}
                                  {{ item.deepsky_object.minor_axis | round(2, 'floor')}}''
                                {% endif %}
                              {% endif %}
                          {% endif %}
                      </td>
                    {% endif %}
                    {% if dso_list.show_distance %}
                        <td class="right aligned mobile hidden">
                            {{ commons.convert_distance(item.deepsky_object.distance) }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.ui.accordion')
              .accordion()
            ;
            $('#not_observed')
                .checkbox({
                  onChange: function (value) {
                      $(this).closest('form').submit();
                  }
            });
        });
    </script>
{% endmacro %}

{# --- Chart --- #}
{% macro dso_list_chart(dso_list) %}
    {{ fchart.fchart(url_for('main_dso_list.dso_list_chart', dso_list_id=dso_list.id, back=back, back_id=back_id),
                     url_for('main_dso_list.dso_list_chart_pos_img', dso_list_id=dso_list.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, ),
                     url_for('main_dso_list.dso_list_chart_legend_img', dso_list_id=dso_list.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_dso_list.dso_list_chart_pdf', dso_list_id=dso_list.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_', flags=chart_control.chart_pdf_flags, epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url, search_url_params='back=dso_list&back_id={}'.format(dso_list.id) )
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_dso_list.dso_lists_menu') }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ dso_list_descr.long_name }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ dso_list_info(dso_list) }}
            {% else %}
                {{ dso_list_chart(dso_list) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
