{% extends 'layouts/base.html' %}

{% macro show_lists(list_type) %}
    <table class="ui searchable sortable unstackable selectable celled table">
        <tbody>
            {% for l in dso_lists %}
                {% if l.list_type.value == list_type %}
                <tr onclick="window.location.href = '{{ url_for('main_dso_list.dso_list_info', dso_list_id=l.name) }}';">
                    <td>{{ l.get_descr_by_lang_code(lang_code).long_name }}</td>
                    <td>{{ l.get_descr_by_lang_code(lang_code).short_descr }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for l in star_lists %}
                {% if l.list_type.value == list_type %}
                <tr onclick="window.location.href = '{{ url_for('main_star_list.star_list_info', star_list_id=l.name) }}';">
                    <td>{{ l.get_descr_by_lang_code(lang_code).long_name }}</td>
                    <td>{{ l.get_descr_by_lang_code(lang_code).short_descr }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for l in double_star_lists %}
                {% if l.list_type.value == list_type %}
                <tr onclick="window.location.href = '{{ url_for('main_double_star_list.double_star_list_info', double_star_list_id=l.name) }}';">
                    <td>{{ l.get_descr_by_lang_code(lang_code).long_name }}</td>
                    <td>{{ l.get_descr_by_lang_code(lang_code).short_descr }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_deepskyobject.dso_menu') }}">
                <i class="caret left icon"></i>
                {{ _('Deepsky') }}
            </a>
            <h3 class="ui header">
                {{ _('CzSky lists') }}
            </h3>
            {{ show_lists('CZSKY') }}

            <h3 class="ui header">
                {{ _('Classic list') }}
            </h3>
            {{ show_lists('CLASSIC') }}

            <h3 class="ui header">
                {{ _('Typed lists') }}
            </h3>
            {{ show_lists('TYPED') }}

            <h3 class="ui header">
                {{ _('Exotic lists') }}
            </h3>
            {{ show_lists('EXOTIC') }}
        </div>
    </div>

{% endblock %}