{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {% if back == 'constellation' %}
                <a class="ui basic compact button" href="{{ url_for('main_constellation.constellation_info', constellation_id=back_id) }}">
                    <i class="caret left icon"></i>
                    {{ _('Constellation') }}
                </a>
            {% else %}
                <a class="ui basic compact button" href="{{ url_for('main_star.star_descr_info', star_descr_id=user_descr.id, back=back, back_id=back_id) }}">
                    <i class="caret left icon"></i>
                    {{ _('Back To Star') }}
                </a>
            {% endif %}
            <h2 class="ui header">
                {{ user_descr.common_name }}
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.display_standard_flashes(flashes) }}

            {{ f.begin_form(form, flashes) }}
                <input id="goback" type="hidden" value="false">

                {{ f.render_form_field(form.common_name) }}
                {{ f.render_form_field(form.text) }}

                <div class="two fields">
                    <button class="ui button bupdateback">{{ _('Update and back')}}</button>
                    {{ f.render_form_field(form.submit_button) }}
                </div>

            {{ f.end_form() }}
        </div>
  </div>
    <script type="text/javascript">
        $('.bupdateback' ).click(function() {
            $('#goback').val('true');
            $(this).closest('form').submit();
            return false;
        });
        var contentMDE = new EasyMDE({element: document.getElementById('text'),
                minHeight: "500px",
                spellChecker: false,
                status : false,
            });
    </script>
    <style>
    </style>
{% endblock %}