{% if not embed %}
    {% extends 'layouts/base.html' %}
{% else %}
    {% extends 'layouts/base_embed.html' %}
{% endif %}

{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% if user_descr %}
    {% if user_descr.star %}
        {% if not embed %}
            {% set endpoints = [
                ('main_star.star_descr_info', _('Info'), 'info'),
                ('main_star.star_descr_chart', _('Chart'), 'info'),
                ('main_star.star_descr_surveys', _('Aladin'), 'table'),
                ('main_star.star_descr_catalogue_data', _('Catalogue data'), 'table')
            ] %}
        {% else %}
            {% set endpoints = [
                ('main_star.star_descr_info', _('Info'), 'info'),
                ('main_star.star_descr_surveys', _('Aladin'), 'table'),
                ('main_star.star_descr_catalogue_data', _('Catalogue data'), 'table')
            ] %}
        {% endif %}
    {% else %}
        {% set endpoints = [
            ('main_star.star_descr_info', 'Info', 'info'),
        ] %}
    {% endif %}
{% else %}
    {% if not embed %}
        {% set endpoints = [
            ('main_star.star_chart', _('Chart'), 'info'),
            ('main_star.star_surveys', _('Aladin'), 'table'),
            ('main_star.star_catalogue_data', _('Catalogue data'), 'table')
        ] %}
    {% else %}
        {% set endpoints = [
            ('main_star.star_surveys', _('Aladin'), 'table'),
            ('main_star.star_catalogue_data', _('Catalogue data'), 'table')
        ] %}
    {% endif %}
{% endif %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% if user_descr is not none %}
            {% for route, pupup_text, icon in items %}
                <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, star_descr_id=user_descr.id, back=back, back_id=back_id, embed=embed) }}">
                    {{ pupup_text }}
                </a>
            {% endfor %}
        {% else %}
            {% for route, pupup_text, icon in items %}
                <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, star_id=star.id, back=back, back_id=back_id, embed=embed) }}">
                    {{ pupup_text }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro star_user_info(user_descr) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div class="markdown">
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_star.star_edit', star_descr_id=user_descr.id, back=back, back_id=back_id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
                {% filter extended_commonmark('') %}
{{ user_descr.text }}
                {% endfilter %}
            </div>
    </div>
{% endmacro %}

{% if back %}
    {% set search_url_params = 'back=' + back + (('&back_id=' + back_id) if back_id is not none else '') %}
{% else %}
    {% set search_url_params = '' %}
{% endif %}

{# --- Chart --- #}
{% macro star_chart(star) %}
    {{ fchart.fchart(url_for('main_star.star_chart', star_id=star.id, back=back, back_id=back_id),
                     url_for('main_star.star_chart_pos_img', star_id=star.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, back=back, back_id=back_id ),
                     url_for('main_star.star_chart_legend_img', star_id=star.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov, ),
                     url_for('main_star.star_chart_pdf', star_id=star.id, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              flags=chart_control.chart_pdf_flags, epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url,
                     search_url_params=search_url_params)
    }}
{% endmacro %}

{# --- Surveys --- #}
{% macro star_surveys(star) %}
    <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    <div id="aladin-lite-div" style="width:100%;height:75vh;"></div>
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var aladin = A.aladin('#aladin-lite-div', {
                survey: "P/DSS2/color",
                fov:{{ field_size }},
                target: "{{ star.ra_str_short().replace(':',' ')}} {{star.dec_str_short().replace(':',' ')}}"
                {% if embed %} ,fullScreen: true {% endif %}
        });
    </script>
{% endmacro %}


{# --- Catalogue Data --- #}
{% macro star_catalogue_data(star) %}
    {% if star is not none %}
    <table class="ui compact definition unstackable table">
        <tr><td class="three wide">{{ _('Name') }}</td><td>{{ star.bayer_flamsteed }}</td></tr>
        <tr><td class="three wide">{{ _('Constellation') }}</td><td>{{ star.constellation.name.capitalize() if star.constellation else '' }}</td></tr>
        <tr><td class="three wide">mag</td><td>{{ star.mag }}</td></tr>
        <tr><td class="three wide">RA</td><td>{{ star.ra_str() }}</td></tr>
        <tr><td class="three wide">Dec</td><td>{{ star.dec_str() }}</td></tr>
        <tr><td class="three wide">HD</td><td>{{ star.hd }}</td></tr>
        <tr><td class="three wide">SAO</td><td>{{ star.sao }}</td></tr>
        <tr><td class="three wide">{{ _('Spectral type') }}</td><td>{{ star.sp_type }}</td></tr>
    </table>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if back=='observation' %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="eye icon mobile hidden"></i>
                        </a>
                    {% elif back=='star_list' %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_star_list.star_list_info', star_list_id=back_id, nvgback=1) }}">
                            <i class="caret left icon"></i>
                            <i class="tasks icon mobile hidden"></i>
                        </a>
                    {% elif back_id is not none and user_descr is not none %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_constellation.constellation_info', constellation_id=back_id) }}#star{{ user_descr.id }}">
                            <i class="caret left icon"></i>
                            <i class="lastfm icon"></i>
                        </a>
                    {% endif %}
                    <div class="divider">  </div>
                    <div class="active section">
                        {% if user_descr is not none %}
                            {{ user_descr.common_name }}
                        {% else %}
                            {% if star.var_id %}
                                {{ star.var_id }}
                            {% elif star.hd is not none %}
                                HD{{ star.hd }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if next_wrap and embed != 'pl' %}
                    <a id="bnext" class="ui basic icon compact right floated button" href="{{ '#' if embed else next_wrap.url() }}">
                        {{ next_wrap.label() }}
                        <i class="caret right icon"></i>
                    </a>
                {% endif %}
                {% if prev_wrap and embed != 'pl' %}
                    <a id="bprev" class="ui basic icon compact right floated button" href="{{ '#' if embed else prev_wrap.url() }}">
                        <i class="caret left icon"></i>
                        {{ prev_wrap.label() }}
                    </a>
                {% endif %}

            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' and user_descr is not none %}
                {{ star_user_info(user_descr) }}
            {% elif type == 'chart' %}
                {% if user_descr is not none %}
                    {{ star_chart(user_descr.star) }}
                {% else %}
                    {{ star_chart(star) }}
                {% endif %}
            {% elif type == 'surveys' %}
                {% if user_descr is not none %}
                    {{ star_surveys(user_descr.star) }}
                {% else %}
                    {{ star_surveys(star) }}
                {% endif %}
            {% else %}
                {% if user_descr is not none %}
                    {{ star_catalogue_data(user_descr.star) }}
                {% else %}
                    {{ star_catalogue_data(star) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
