{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% if user_descr.star %}
{% set endpoints = [
    ('main_star.star_info', _('Info'), 'info'),
    ('main_star.star_chart', _('Chart'), 'info'),
    ('main_star.star_catalogue_data', _('Catalogue data'), 'table')
] %}
{% else %}
{% set endpoints = [
    ('main_star.star_info', 'Info', 'info'),
] %}
{% endif %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, star_id=user_descr.id, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro star_user_info(user_descr) %}
    <div id="items-fieldset" class="ui segments" data-toggle="fieldset">
        <div class="ui blue segment" style="display: inline-block">
            <div class="markdown">
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_star.star_edit', star_id=user_descr.id, back=back, back_id=back_id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
                {% filter extended_commonmark('') %}
{{ user_descr.text }}
                {% endfilter %}
            </div>
    </div>
{% endmacro %}

{# --- Chart --- #}
{% macro star_chart(user_descr) %}
    {{ fchart.fchart(url_for('main_star.star_chart', star_id=user_descr.id, back=back, back_id=back_id),
                     url_for('main_star.star_chart_pos_img', star_id=user_descr.star_id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, ),
                     url_for('main_star.star_chart_legend_img', star_id=user_descr.star_id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags),
                              None, fchart_form,)
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{# --- Catalogue Data --- #}
{% macro star_catalogue_data(star) %}
    {% if star is not none %}
    <table class="ui compact definition table">
        <tr><td>{{ _('Name') }}</td><td>{{ star.bayer_flamsteed }}</td></tr>
        <tr><td>{{ _('Constellation') }}</td><td>{{ star.constellation.name.capitalize() if star.constellation else '' }}</td></tr>
        <tr><td>mag</td><td>{{ star.mag }}</td></tr>
        <tr><td>RA</td><td>{{ star.ra_str() }}</td></tr>
        <tr><td>Dec</td><td>{{ star.dec_str() }}</td></tr>
        <tr><td>HD</td><td>{{ star.hd }}</td></tr>
        <tr><td>SAO</td><td>{{ star.sao }}</td></tr>
        <tr><td>{{ _('Spectral type') }}</td><td>{{ star.sp_type }}</td></tr>
    </table>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if back=='observation' %}
                        <a class="ui basic compact button" href="{{ url_for('main_observation.observation_info', observation_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="eye icon"></i>
                        </a>
                    {% elif back_id is not none %}
                        <a class="ui basic compact button" href="{{ url_for('main_constellation.constellation_info', constellation_id=back_id) }}#star{{ user_descr.id }}">
                            <i class="caret left icon"></i>
                            <i class="lastfm icon"></i>
                        </a>
                    {% endif %}
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ user_descr.common_name }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ star_user_info(user_descr) }}
            {% elif type == 'chart' %}
                {{ star_chart(user_descr) }}
            {% else %}
                {{ star_catalogue_data(user_descr.star) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}
