{% extends 'layouts/base.html' %}
{% import 'macros/common_macros.html' as commons %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div style="margin-bottom:2rem">
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_deepskyobject.dso_menu') }}">
                        <i class="caret left icon"></i>
                        {{ _('Deepsky') }}
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Supernovae') }}
                    </div>
                </div>
            </div>

            <form action="{{ url_for('main_supernova.supernovae') }}" method="post" name="search">
                <div class="ui menu">
                    <div class="ui item">
                        <div id="constellation_dropdown" class="ui dropdown">
                            <input type="hidden" id="constellation_id" name="{{ search_form.constellation_id.name }}" value="{{ search_form.constellation_id.data }}">
                            <span class="text">{{ _('Choose Constellation') }}</span>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="">{{ _('All') }}</div>
                                {% for letter_constell_list in packed_constell_list %}
                                    <div class="item">
                                        <i class="dropdown icon"></i>
                                        <span class="text">{{ letter_constell_list[0] }}</span>
                                        <div class="menu">
                                            {% for constell in letter_constell_list[1] %}
                                                <div class="item" data-value="{{ constell[0] }}">{{ constell[1] }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="top right aligned floating ui tiny label">{{ _('Constellation') }}</div>
                    </div>
                    <div class="ui input item">
                        {{ search_form.latest_mag_max(class='ui tiny input', size=4) }}
                        <div class="top right aligned floating ui tiny label">{{ _('Max latest mag') }}</div>
                    </div>
                    <div class="ui input item">
                        {{ search_form.dec_min(class='ui tiny input', size=4) }}
                        <div class="top right aligned floating ui tiny label">{{ _('Declination min') }}</div>
                    </div>
                    <div class="ui right search item">
                        <div class="ui tiny action input">
                            {{ search_form.hidden_tag() }}{{ search_form.q(size=10) }}
                            <button class="ui tiny icon button">
                                <i class="search icon"></i>
                            </button>
                        </div>
                        <div class="top right aligned floating ui tiny label">{{ _('SN designation') }}</div>
                    </div>
                </div>

                {# Use overflow-x: scroll so that mobile views don't freak out
                 # when the table is too wide #}
                <div style="overflow-x: scroll;">
                    <table class="ui searchable unstackable selectable celled table">
                        <thead>
                            <tr>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['designation'].sort) }}" style="color: inherit;">
                                        SN {{ table_sort['designation'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['host_galaxy'].sort) }}" style="color: inherit;">
                                        {{ _('Host Galaxy') }} {{ table_sort['host_galaxy'].icon | safe }}
                                    </a>
                                </th>
                                <th class="right aligned collapsing">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                                        <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['ra'].sort) }}" style="color: inherit;">
                                        RA {{ table_sort['ra'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['dec'].sort) }}" style="color: inherit;">
                                        Dec {{ table_sort['dec'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['offset'].sort) }}" style="color: inherit;">
                                        {{ _('Offset') }} {{ table_sort['offset'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['latest_mag'].sort) }}" style="color: inherit;">
                                        {{ _('Latest Mag') }} {{ table_sort['latest_mag'].icon | safe }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['latest_observed'].sort) }}" style="color: inherit;">
                                        {{ _('Latest Observed') }} {{ table_sort['latest_observed'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['sn_type'].sort) }}" style="color: inherit;">
                                        {{ _('Type') }} {{ table_sort['sn_type'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['z'].sort) }}" style="color: inherit;">
                                        z {{ table_sort['z'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['max_mag'].sort) }}" style="color: inherit;">
                                        {{ _('Max Mag') }} {{ table_sort['max_mag'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['max_mag_date'].sort) }}" style="color: inherit;">
                                        {{ _('Max Mag Date') }} {{ table_sort['max_mag_date'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['first_observed'].sort) }}" style="color: inherit;">
                                        {{ _('First Observed') }} {{ table_sort['first_observed'].icon | safe }}
                                    </a>
                                </th>
                                {# -------------
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['discoverer'].sort) }}" style="color: inherit;">
                                        {{ _('Discoverer') }} {{ table_sort['discoverer'].icon | safe }}
                                    </a>
                                </th>
                                <th class="mobile hidden">
                                    <a href="{{ url_for('main_supernova.supernovae', page=pagination.page, sortby=table_sort['aka'].sort) }}" style="color: inherit;">
                                        AKA {{ table_sort['aka'].icon | safe }}
                                    </a>
                                </th>
                                ------- #}
                            </tr>
                        </thead>
                        <tbody>
                        {% for sn in supernovae %}
                            <tr class="sw-onclick" onclick="window.location.href = '{{ url_for('main_supernova.supernova_seltab', designation=sn.designation) }}';">
                                <td>{{ sn.designation }}</td>
                                <td>{{ sn.host_galaxy if sn.host_galaxy != 'none' else ''}}</td>
                                <td>{{ sn.get_constellation_iau_code() }}</td>
                                <td class="mobile hidden">{{ sn.ra_str_short() }}</td>
                                <td class="mobile hidden">{{ sn.dec_str_short() }}</td>
                                <td class="mobile hidden">{{ sn.offset }}</td>
                                <td>{{ sn.latest_mag }}</td>
                                <td>{{ sn.latest_observed.strftime('%Y-%m-%d') }}</td>
                                <td class="mobile hidden">{{ sn.sn_type if sn.sn_type != 'unk' else '' }}</td>
                                <td class="mobile hidden">{{ sn.z if sn.z else '' }}</td>
                                <td class="mobile hidden">{{ sn.max_mag }}</td>
                                <td class="mobile hidden">{{ sn.max_mag_date.strftime('%Y-%m-%d') }}</td>
                                <td class="mobile hidden">{{ sn.first_observed.strftime('%Y-%m-%d') }}</td>
                                {# -------------
                                <td class="mobile hidden">{{ sn.discoverer }}</td>
                                <td class="mobile hidden">{{ sn.aka }}</td>
                                ------- #}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.links }} {{ commons.items_per_page(search_form.items_per_page) }} {{ pagination.info }}
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('#constellation_dropdown')
                .dropdown({
                  allowCategorySelection: true,
                  onChange: function (value, text, $selectedItem) {
                      $('#constellation_id').val(value);
                      $(this).closest('form').submit();
                  }
            });
            $('tr.sw-onclick').appendScreenWidth('onclick');
        });
    </script>

{% endblock %}
