{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_settings.settings') }}">
                <i class="caret left icon"></i>
                Back to Settings
            </a>
            <h4 class="ui top attached block header segment">Store to Git</h4>
            <div class="ui attached segment">
                {% if git_save %}
                    {{ f.display_standard_flashes(flashes) }}
                {% endif %}
                {% if git_enabled %}
                    <p>This operation stores user data to git repository: <b>{{ git_url }}</b></p>
                {% else %}
                    <p>Git repository is not set up.</p>
                {% endif %}
                {{ f.begin_form(save_form, flashes, action=url_for('main_settings.git_save')) }}
                    {{ f.render_form_field(save_form.commit_message) }}
                    <button class="ui {{ 'disabled ' if not git_enabled }}labeled icon positive button" value="store" type="submit" name="submit">
                        <i class="download icon"></i>
                        Store data to Git
                    </button>
                {{ f.end_form() }}
            </div>

            <h4 class="ui top attached block header segment">Restore from Git</h4>
            <div class="ui attached segment">
                {% if git_load %}
                    {{ f.display_standard_flashes(flashes) }}
                {% endif %}
                {% if git_enabled %}
                    <p>This operation restores user data to git repository: <b>{{ git_url }}</b>.</p>
                    <p>All uncommitted data will be lost!</p>
                {% else %}
                    <p>Git repository is not set up.</p>
                {% endif %}
                <form action="{{ url_for('main_settings.git_load') }}" method="POST">
                    <button class="ui {{ 'disabled ' if not git_enabled }} labeled icon negative button" value="restore" type="submit" name="submit">
                        <i class="upload icon"></i>
                        Restore data from Git
                    </button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}