{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <h1 class="ui header">About</h1>
<p>
Mission of this web is to build the engaged community of deepsky observers and to search for new ways to inspire astronomers and make
the hobby they love even more fun.
</p>
<p>
<i>
... the distant Edelweissspitze is on the border of two different worlds.
The boundary where the stone rests on the celestial vault, the one from which our Sun will shine white on the eternally snow-covered ridges of the Hohe Tauern. At night, the bright rays are replaced by a faint silver glow of ancient light from billions of unimaginably distant stars. That light still shines on the pristine black velvet of the night darkness in its primordial beauty. It shone long before the first humans appeared, and it will shine even after the last disappears. Those stars are shining even now, and we can come again and again and behold this silent stage of eternity.
</i>
</p>

<h1 class="ui header">News</h1>
{% filter commonmark() %}
* 24.9.2023 - show observation log in object detail if a observation is active
* 23.9.2023 - optimize traffic on mobile devices using AVIF format
* 19.9.2023 - show DSO magnitude switch on chart
{% endfilter %}
    </div>

{% endblock %}
