{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
{% if lang_code == 'cs' %}
        <h1 class="ui header">O projektu CzSkY</h1>
{% else %}
        <h1 class="ui header">About CzSkY</h1>
{% endif %}
<p>
{% if lang_code == 'cs' %}
Posláním tohoto webu je budovat aktivní komunitu pozorovatelů vesmíru a hledat nové způsoby, jak je inspirovat a učinit jejich koníček ještě zábavnějším.
{% else %}
Mission of this web is to build the engaged community of deepsky observers and to search for new ways to inspire astronomers and make
the hobby they love even more fun.
{% endif %}
</p>
<p>
<i>
{% if lang_code == 'cs' %}
... vzdálená Edelweissspitze je hranicí dvou odlišných světů. Hranicí, kde kámen opírá se o nebeskou klenbu. O tu, ze které ve dne naše Slunce bíle rozzáří věčně zasněžené hřebeny Vysokých Taur. V noci, poté, jasné paprsky vystřídá stříbrná slabá zář prastarého světla z miliard nepředstavitelně dalekých hvězd. To světlo stále ještě svítí na nedotčeném černém sametu noční tmy v prapůvodní kráse. Svítilo tak mnohem dřív, než se objevili první lidé, a bude svítit i poté, co zmizi poslední. Ty hvězdy svítí právě teď i proto, abychom znovu a znovu přicházeli a byli diváky v jejich tichém jevišti věčnosti.
{% else %}
... the distant Edelweissspitze is on the border of two different worlds.
The boundary where the stone rests on the celestial vault, the one from which our Sun will shine white on the eternally snow-covered ridges of the Hohe Tauern. At night, the bright rays are replaced by a faint silver glow of ancient light from billions of unimaginably distant stars. That light still shines on the pristine black velvet of the night darkness in its primordial beauty. It shone long before the first humans appeared, and it will shine even after the last disappears. Those stars are shining even now, and we can come again and again and behold this silent stage of eternity.
{% endif %}
</i>
</p>

{% if lang_code == 'cs' %}
<h3>Kresby a data CzSkY</h3>

Na stránkách projektu se můžete setkat s kresbami od následujících autorů:

<ul>
    <li><a href="https://www.fzu.cz/~kupco/">Alexander Kupčo</a></li>
    <li><a href="http://nauris.de">Daniel Restemeirer</a></li>
    <li><a href="http://www.deepsky-visuell.de/">Uwe Glahn</a></li>
    <li><a href="http://www.deepsky-drawings.com/">Bertrand Laville</a></li>
    <li><a href="https://www.deepskylog.org">Tom Corstjens</a></li>
    <li><a href="https://deepskysketch.com/about-martijn-straub/">Martijn Straub</a></li>
    <li><a href="http://www.astronomydrawings.com/">Peter Vercauteren</a></li>
    <li><a href="http://estelar.de">Estelar</a></li>
    <li>David Michalko</li>
</ul>

<p>Projekt také využívá data z projektu <a href="https://www.hnsky.org">HnSky</a> od Hana Klejna.</p>

<p>Databáze pozorování obsahuje popisy objektů a pozorování od renomovaného astronoma
<a href="https://www.astronomy-mall.com/Adventures.In.Deep.Space/whoswho.htm">Steva Gottlieba</a>. Jeho odborné znalosti
a detailní popisy přispívají k bohatším informacím o objektech, které v našem projektu prezentujeme.</p>

<b>Těmto autům děkujeme za jejich přínos k našemu projektu a za svolení k poskytnutí kreseb a dat.</b>

{% else %}
<h3>Drawings, texts and data on CzSkY</h3>

On the project's pages, you can encounter drawings from the following authors:
<ul>
    <li><a href="https://www.fzu.cz/~kupco/">Alexander Kupčo</a></li>
    <li><a href="http://nauris.de">Daniel Restemeirer</a></li>
    <li><a href="http://www.deepsky-visuell.de/">Uwe Glahn</a></li>
    <li><a href="http://www.deepsky-drawings.com/">Bertrand Laville</a></li>
    <li><a href="https://www.deepskylog.org">Tom Corstjens</a></li>
    <li><a href="https://deepskysketch.com/about-martijn-straub/">Martijn Straub</a></li>
    <li><a href="http://www.astronomydrawings.com/">Peter Vercauteren</a></li>
    <li><a href="http://estelar.de">Estelar</a></li>
    <li>David Michalko</li>
</ul>
<p>The project also utilizes data from the <a href="https://www.hnsky.org">HnSky</a> project by Han Klejn.</p>

<p>The observation database contains descriptions of objects and observations from the renowned astronomer
<a href="https://www.astronomy-mall.com/Adventures.In.Deep.Space/whoswho.htm">Steve Gottlieb</a>.
His expertise and detailed descriptions contribute to richer information about the objects presented in our project.</p>

<i>We thank these authors for their contributions to our project and for granting permission to share their drawings and data.</i>
{% endif %}

<h3 class="ui header">
{% if lang_code == 'cs' %}
  Zdrojové soubory projektu
{% else %}
  Source files
{% endif %}
</h3>
<p>
{% if lang_code == 'cs' %}
  Zdrojové kódy jsou otevřené a dostupné pod licencí GNU.
{% else %}
  The source code is open and available under the GNU license.
{% endif %}
</p>
{% filter extended_commonmark('') %}
* [Czsky project](https://github.com/skybber/czsky)
* [Chart engine - fchart3](https://github.com/skybber/fchart3)
{% endfilter %}

<h3 class="ui header">{% if lang_code == 'cs' %}Novinky{% else %}News{% endif %}</h3>
{% filter extended_commonmark('') %}
* 12/2024 - Aladin3 in chart layers
* 11/2024 - Improved mobile fullscreen support
* 10/2024 - Solar system in charts
{% endfilter %}
    </div>

{% endblock %}
