{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                {% if not is_anonymous %}
                    User Dashboard
                {% else %}
                    Dashboard
                {% endif %}
            </h2>
            <div class="ui two column stackable grid">
                {% if not is_anonymous %}
                    {{ dashboard_option('Add observation', 'main.new_observation',
                                        description='Add new observation', icon='users icon') }}
                    {{ dashboard_option('Observations', 'main.observations',
                                        description='View observations', icon='users icon') }}
                {% endif %}
                {{ dashboard_option('Constellations', 'main.constellations',
                                    description='View constellations', icon='users icon') }}
                {{ dashboard_option('Deepsky Objects', 'main.deepskyobjects',
                                    description='View deepsky objects', icon='users icon') }}
            </div>
        </div>
    </div>
{% endblock %}
