{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
            </h2>
            <div class="ui two column stackable grid">
                {% if not is_anonymous %}
                    {{ dash.dashboard_option('Add observation', 'main_observation.new_observation',
                                        description='Add new observation', icon='pencil icon') }}
                    {{ dash.dashboard_option('Observations', 'main_observation.observations',
                                        description='View observations', icon='eye icon') }}
                {% endif %}
                {{ dash.dashboard_option('Constellations', 'main_catalogue.constellations',
                                    description='View constellations', icon='lastfm icon') }}
                {{ dash.dashboard_option('Deepsky Objects', 'main_catalogue.deepskyobjects',
                                    description='View deepsky objects', icon='star icon') }}
                {{ dash.dashboard_option('Sky quality', 'main.skyquality',
                                    description='View skyquality section', icon='tachometer icon') }}
                {% if not is_anonymous %}
                    {{ dash.dashboard_option('Settings', 'main.settings',
                                        description='View settings', icon='cogs icon') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
