{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">

            {% if news_list %}
            <div class="ui padded segment mobile hidden">
                <div class="ui stackable relaxed grid">
                    <h3 class="ui three wide column header" style="padding-bottom: 0px;">
                        <i class="rss icon"></i>
                        <div class="content">
                            {{ _('News') }}
                        </div>
                    </h3>
                    <div class="ui thirteen wide column" style="padding-top: 0px; padding-bottom: 0px;">
                    <div class="ui list">
                        {% for news in news_list %}
                        <div class="item">
                            <div class="content">
                                <div class="ui header">
                                    {% if news.has_position() %}
                                        <a href="{{ url_for('main_news.news_chart', news_id=news.id) }}">
                                            {{ news.title }}
                                        </a>
                                    {% else %}
                                        {{ news.title }}
                                    {% endif %}
                                </div>
                                <div class="description">
                                    <p>{{ news.title_row  | safe }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            <div class="ui segment mobile only">
                <div class="ui fluid accordion">
                    <h3 class="title">
                        <i class="dropdown icon"></i>
                        <i class="rss icon"></i>
                        {{ _('News') }}
                    </h3>
                    <div class="content markdown">
                        <div class="ui thirteen wide column" style="padding-top: 0px; padding-bottom: 0px;">
                        <div class="ui list">
                            {% for news in news_list %}
                            <div class="item">
                                <div class="content">
                                    <div class="ui header">{{ news.title }}</div>
                                    <div class="description">
                                        <p>{{ news.title_row  | safe }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="ui two column stackable grid">
                {{ dash.dashboard_option(_('Constellations'), 'main_constellation.constellations',
                                    description=_('View constellations'), icon='lastfm icon') }}
                {{ dash.dashboard_option(_('Deepsky'), 'main_deepskyobject.dso_menu',
                                    description=_('View deepsky objects'), theme_image='/static/images/galaxy') }}
                {{ dash.dashboard_option(_('Solar System'), 'main_solarsystem.solarsystem_menu',
                                    description=_('View solar system'), icon='sun icon') }}
                {{ dash.dashboard_option(_('Chart'), 'main_chart.chart',
                                    description=_('View sky chart'), icon='map icon') }}
                {% if is_anonymous %}
                    {{ dash.dashboard_option(_('Session Plan'), 'main_planner.anonymous_planner_menu',
                                        description=_('Session plan'), icon='calendar alternate outline icon', extra_class='mobile hidden') }}
                {% endif %}
                {% if not is_anonymous %}
                    {{ dash.dashboard_option(_('Planner'), 'main_planner.planner_menu',
                                        description=_('View planner menu'), icon='calendar alternate outline icon') }}
                    {{ dash.dashboard_option(_('Observation'), 'main_observation.observation_menu',
                                        description=_('View observation menu'), icon='eye icon') }}
                {% endif %}
                {% if not is_anonymous %}
                    {# dash.dashboard_option(_('Sky quality'), 'main_skyquality.skyquality',
                                        description=_('View skyquality section'), icon='tachometer icon') #}
                    {{ dash.dashboard_option(_('User Data'), 'main_userdata.userdata_menu',
                                        description=_('View user data'), icon='cogs icon') }}
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.accordion')
          .accordion()
        ;
    </script>
{% endblock %}
