{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Observations
            </h2>

            <form action="{{ url_for('main.observations') }}" method="post" name="search">
                <div class="ui menu">
                    <div class="ui right search item">
                        <div class="ui transparent icon input">
                            {{ search_form.hidden_tag() }}{{ search_form.q(size=20) }}
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
            </form>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                {{ pagination.info }}
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Ranking</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in deepskyobjects | sort(attribute='name') %}
                        <tr onclick="window.location.href = '{{ url_for('main.deepskyobject_info', dso_id=d.id) }}';">
                            <td>{{ d.name }}</td>
                            <td>{{ d.type }}</td>
                            <td>{{ d.ra }}</td>
                            <td>{{ d.dec }}</td>
                            <td>{{ d.h_mag }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        </div>
    </div>

    {% if js_search %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-dsos').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}
