@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

.pagination-page-info {
  float: right;
  margin: .5em;
  text-align: right;
}

.pagination-page-info b {
  color: black;
  padding-left: 2px;
  padding: .1em .25em;
}

.initially-hidden {
	display: none;
}

img[alt$="<"] {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.align-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

.observation-notes .cm-s-easymde .cm-header-1 {
    font-size: 110%;
    line-height: 110%;
}

.observation-notes .cm-s-easymde .cm-header-2 {
    font-size: 110%;
    line-height: 110%;
}

.observation-notes .cm-s-easymde .cm-header-3 {
    font-size: 110%;
    line-height: 110%;
}

.observation-notes .cm-s-easymde .cm-header-4 {
    font-size: 110%;
    line-height: 110%;
}

/*--------------
   Definition
---------------*/

.ui.definition2c.table > thead:not(.full-width) > tr > th:first-child,
.ui.definition2c.table > thead:not(.full-width) > tr > th:nth-child(2) {
  pointer-events: none;
  background: #FFFFFF;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -0.1em -0.2em 0 0.1em #FFFFFF;
          box-shadow: -0.1em -0.2em 0 0.1em #FFFFFF;
  -moz-transform: scale(1);
}

.ui.definition2c.table > tfoot:not(.full-width) > tr > th:first-child,
.ui.definition2c.table > tfoot:not(.full-width) > tr > th:nth-child(2) {
  pointer-events: none;
  background: #FFFFFF;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -0.1em 0.2em 0 0.1em #FFFFFF;
          box-shadow: -0.1em 0.2em 0 0.1em #FFFFFF;
  -moz-transform: scale(1);
}

/* Highlight Defining Column */
.ui.definition2c.table > tr > td:first-child:not(.ignored),
.ui.definition2c.table > tbody > tr > td:first-child:not(.ignored),
.ui.definition2c.table > tr > td:nth-child(2):not(.ignored),
.ui.definition2c.table > tbody > tr > td:nth-child(2):not(.ignored),
.ui.definition2c.table tr td.definition {
  background: rgba(0, 0, 0, 0.03);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  text-transform: '';
  -webkit-box-shadow: '';
          box-shadow: '';
  text-align: '';
  font-size: 1em;
  padding-left: '';
  padding-right: '';
}


/* Fix 2nd Column */
.ui.definition2c.table > thead:not(.full-width) > tr > th:nth-child(3) {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.definition2c.table > tfoot:not(.full-width) > tr > th:nth-child(3) {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.definition2c.table > tr > td:nth-child(3),
.ui.definition2c.table > tbody > tr > td:nth-child(3) {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
