{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% set endpoints = [
    ('main_userdata.data_store_personal', 'Personal repository'),
    ('main_userdata.data_store_content', 'Content repository'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% block content %}

    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_userdata.userdata_menu') }}">
                <i class="caret left icon"></i>
                {{ _('User Data') }}
            </a>

            {% if current_user.is_admin() %}
                {{ navigation(endpoints) }}
            {% endif %}

            <h4 class="ui top attached block header segment">
                {% if subtype == 'repo_personal' %}
                    {{ _('Store to Git') }}
                {% else %}
                    {{ _('Store content to Git content repository') }}
                {% endif %}
            </h4>
            <div class="ui attached segment">
                {% if git_save %}
                    {{ f.display_standard_flashes(flashes) }}
                {% endif %}
                {% if git_enabled %}
                    {% if subtype == 'repo_personal' %}
                        <p>{{ _('This operation stores user data to Git repository: ') }}<b>{{ git_url }}</b></p>
                    {% else %}
                        <p>{{ _('This operation stores content data to Git repository: ') }}<b>{{ git_url }}</b></p>
                    {% endif %}
                {% else %}
                    <p>{{ _('Git repository is not set up.') }}</p>
                {% endif %}
                {{ f.begin_form(save_form, flashes, action=url_for('main_userdata.git_save', subtype=subtype)) }}
                    {{ f.render_form_field(save_form.commit_message) }}
                    <button class="ui {{ 'disabled ' if not git_enabled }}labeled icon positive button" value="store" type="submit" name="submit">
                        <i class="download icon"></i>
                        {% if subtype == 'repo_personal' %}
                            {{ _('Save data to Git') }}
                        {% else %}
                            {{ _('Save content data to Git') }}
                        {% endif %}
                    </button>
                {{ f.end_form() }}
            </div>

            <h4 class="ui top attached block header segment">
                {% if subtype == 'repo_personal' %}
                    {{ _('Load from Git') }}
                {% else %}
                    {{ _('Load content from Git content repository') }}
                {% endif %}
            </h4>
            <div class="ui attached segment">
                {% if git_load %}
                    {{ f.display_standard_flashes(flashes) }}
                {% endif %}
                {% if git_enabled %}
                    {% if subtype == 'repo_personal' %}
                        <p>{{ _('This operation loads user data from Git repository: ') }}<b>{{ git_url }}</b>.</p>
                    {% else %}
                        <p>{{ _('This operation loads content data from Git repository: ') }}<b>{{ git_url }}</b>.</p>
                        <p>{{ _('All not pushed data will be lost!') }}</p>
                    {% endif %}
                {% else %}
                    <p>Git repository is not set up.</p>
                {% endif %}
                <button id="bloaddata" class="ui {{ 'disabled ' if not git_enabled }} labeled icon negative button">
                    <i class="upload icon"></i>
                    {% if subtype == 'repo_personal' %}
                        {{ _('Load data from Git') }}
                    {% else %}
                        {{ _('Load content data from Git') }}
                    {% endif %}
                </button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        </div>
        </div>
    </div>

    <div class="ui tiny modal loadModal">
      <div class="header">{{ _('Load data from GIT') }}</div>
      <div class="content">
        <p>{{ _('All current data will be overridden by incoming data from GIT repository.') }}</p>
        <p>{{ _('Are you sure you want to load data from GIT?') }}</p>
      </div>
      <div class="actions">
        <div class="ui negative cancel button">{{ _('No') }}</div>
        <a class="ui positive right labeled icon approve button" href="{{ url_for('main_userdata.git_load', subtype=subtype) }}">
            {{ _('Yes') }}
            <i class="checkmark icon"></i>
        </a>
      </div>
    </div>

    <script type="text/javascript">
        $('.ui.modal.loadModal').modal({
            onApprove: function() {
                return validateModal()
            }
        });
        $('#bloaddata').click(function() {
            $('.ui.modal.loadModal')
                .modal('show');
        });
    </script>
{% endblock %}