{% if not embed %}
    {% extends 'layouts/base.html' %}
{% else %}
    {% extends 'layouts/base_embed.html' %}
{% endif %}

{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}
{% import 'macros/common_macros.html' as commons %}

{% set endpoints = [
    ('main_comet.comet_info', 'Info', 'info'),
    ('main_comet.comet_cobs_observations', 'COBS', 'cobs')
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, comet_id=comet['comet_id'], embed=embed) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Find Chart --- #}
{% macro comet_info() %}
    {{ fchart.fchart(url_for('main_comet.comet_info', comet_id=comet.comet_id, back=back, back_id=back_id),
                     url_for('main_comet.comet_chart_pos_img', comet_id=comet.comet_id, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, trajectory=trajectory),
                     url_for('main_comet.comet_chart_legend_img', comet_id=comet.comet_id, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_comet.comet_chart_pdf', comet_id=comet.comet_id, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              flags=chart_control.chart_pdf_flags, trajectory=trajectory, epfov=chart_control.eyepiece_fov, ),
                     fchart_form, obj_ra=comet_ra|string, obj_dec=comet_dec|string)
    }}
{% endmacro %}

{# --- COBS observations --- #}
{% macro comet_cobs_observations() %}
    Credit: COBS Comet Observation Database – CC BY-NA-SA 4.0”
    <table class="ui compact striped definition unstackable table">
        <tr><td class="three wide">{{ _('Mag') }}</td><td>{{ last_mag }}</td></tr>
        <tr><td class="three wide">{{ _('Coma diameter') }}</td><td>{{ last_coma_diameter }}</td></tr>
    </table>
    <div style="overflow-x: scroll;width: 100%">
        <form action="{{ url_for('main_comet.comet_cobs_observations', comet_id=comet.comet_id) }}" method="post" name="search">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Brightness') }}</th>
                        <th>{{ _('Size') }}</th>
                        <th>{{ _('Notes') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for i, obs in cobs_observations %}
                    <tr>
                        <td>{{ obs.date.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ obs.mag }}</td>
                        <td>{{ obs.coma_diameter }}</td>
                        <td>{{ obs.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ pagination.links }} {{ commons.items_per_page(search_form.items_per_page) }} {{ pagination.info }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </form>
    </div>
{% endmacro %}

{# --- Catalogue Data --- #}
{% macro comet_catalogue_data() %}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if not embed %}
                        {% if back == 'observation' %}
                            <a class="ui basic compact button" href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=back_id) }}">
                                <i class="caret left icon"></i>
                                <i class="eye icon"></i>
                            </a>
                        {% else %}
                            <a class="ui basic compact button" href="{{ url_for('main_comet.comets') }}">
                                <i class="caret left icon"></i>
                                <i class="list icon"></i>
                            </a>
                        {% endif %}
                        <div class="divider">  </div>
                    {% endif %}
                    <div class="active section">
                        {{ comet.designation }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ comet_info() }}
            {% elif type == 'cobs_observations' %}
                {{ comet_cobs_observations() }}
            {% else %}
                {{ comet_info() }}
                {# {{ comet_catalogue_data() }} #}
            {% endif %}
        </div>
    </div>

{% endblock %}
