{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_comet.comet_info', 'Info', 'info'),
    ('main_comet.comet_catalogue_data', 'Catalogue data', 'table')
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, comet_id=comet['comet_id']) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Find Chart --- #}
{% macro comet_info() %}
    {% include 'main/solarsystem/comet_fchart.html' %}
{% endmacro %}

{# --- Catalogue Data --- #}
{% macro comet_catalogue_data() %}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if back == 'observation' %}
                        <a class="ui basic compact button" href="{{ url_for('main_observation.observation_info', observation_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="eye icon"></i>
                        </a>
                    {% else %}
                        <a class="ui basic compact button" href="{{ url_for('main_comet.comets') }}">
                            <i class="caret left icon"></i>
                            <i class="list icon"></i>
                        </a>
                    {% endif %}
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ comet['designation'] }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ comet_info() }}
            {% else %}
                {{ comet_info() }}
                {# {{ comet_catalogue_data() }} #}
            {% endif %}
        </div>
    </div>

    {% if type == 'info' %}
        <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

        <script type="text/javascript">
            var labels = ["1", "3", "8", "20"];
            $('#slider-field-size')
              .slider({
                min: 1,
                max: 4,
                step: 1,
                start:{{ form.radius.data }},
                fireOnInit: false,
                interpretLabel: function(value) {
                  return labels[value];
                },
                onChange: function(value) {
                    $('#radius').val(value);
                    $("#fmchart" ).submit();
                }
              });

            $('.ui.dropdown').dropdown();

            $( '#decmag' ).click(function() {
                prev = +$('#maglim').val();
                $('#maglim').val(prev - 1);
                $('#fmchart' ).submit();
            });

            $( '#incmag' ).click(function() {
                prev = +$('#maglim').val();
                $('#maglim').val(prev + 1);
                $('#fmchart' ).submit();
            });

        </script>

    {% endif %}
{% endblock %}
