{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_planet.planet_info', 'Info', 'info')
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, planet_iau_code=planet.iau_code) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Find Chart --- #}
{% macro planet_info() %}
    {{ fchart.fchart(url_for('main_planet.planet_info', planet_iau_code=planet.iau_code, back=back, back_id=back_id),
                     url_for('main_planet.planet_chart_pos_img', planet_iau_code=planet.iau_code, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, trajectory=trajectory),
                     url_for('main_planet.planet_chart_legend_img', planet_iau_code=planet.iau_code, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_planet.planet_chart_pdf', planet_iau_code=planet.iau_code, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              flags=chart_control.chart_pdf_flags, trajectory=trajectory, epfov=chart_control.eyepiece_fov, ),
                     fchart_form, obj_ra=planet_ra|string, obj_dec=planet_dec|string )
    }}
{% endmacro %}

{# --- Catalogue Data --- #}
{% macro planet_catalogue_data() %}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if back == 'observation' %}
                        <a class="ui basic compact button" href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="eye icon"></i>
                        </a>
                    {% else %}
                        <a class="ui basic compact button" href="{{ url_for('main_planet.planets') }}">
                            <i class="caret left icon"></i>
                            <i class="list icon"></i>
                        </a>
                    {% endif %}
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ planet.get_localized_name().capitalize() }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ planet_info() }}
            {% else %}
                {{ planet_info() }}
                {# {{ planet_catalogue_data() }} #}
            {% endif %}
        </div>
    </div>

{% endblock %}
