{% if not embed %}
    {% extends 'layouts/base.html' %}
{% else %}
    {% extends 'layouts/base_embed.html' %}
{% endif %}

{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}
{% import 'macros/back_navig_macros.html' as back_navig %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% set endpoint_log = [ ('main_planet.planet_observation_log', _('Log'), 'obslog') ] if show_obs_log else [] %}

{% if not embed %}
    {% set endpoints = [
        ('main_planet.planet_info', _('Chart'), 'info'),
        ('main_planet.planet_catalogue_data', _('Catalog'), 'table')
    ] %}
{% else %}
    {% set endpoints = [
        ('main_planet.planet_catalogue_data', _('Catalog'), 'table')
    ] %}
{% endif %}


{% set endpoints = endpoint_log + endpoints %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, planet_iau_code=planet.iau_code, back=back, back_id=back_id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Find Chart --- #}
{% macro planet_info() %}
    {{ fchart.fchart(url_for('main_planet.planet_info', planet_iau_code=planet.iau_code, back=back, back_id=back_id),
                     url_for('main_planet.planet_chart_pos_img', planet_iau_code=planet.iau_code, obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_',
                              flags=chart_control.chart_flags, trajectory=trajectory),
                     url_for('main_chart.chart_legend_img', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_planet.planet_chart_pdf', planet_iau_code=planet.iau_code, obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_',
                              flags=chart_control.chart_pdf_flags, trajectory=trajectory, epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     default_chart_iframe_url=default_chart_iframe_url, obj_ra=planet_ra|string, obj_dec=planet_dec|string,
                     back=back, back_id=back_id, default_back='planets'
                     )
    }}
{% endmacro %}

{# --- Catalogue Data --- #}
{% macro planet_catalogue_data(planet_data) %}
    <table class="ui compact striped definition unstackable table">
        <tr><td class="three wide">{{ _('Name') }}</td><td>{{ planet.get_localized_name().capitalize() }}</td></tr>
        <tr><td class="three wide">{{ _('Distance') }}</td><td>{{ "%.3f" | format(planet_data.distance_au) }}AU ({{ "%.2f" | format(planet_data.distance/1000000.0) }}M km) </td></tr>
        <tr><td class="three wide">RA</td><td>{{ planet_data.ra_str() }}</td></tr>
        <tr><td class="three wide">Dec</td><td>{{ planet_data.dec_str() }}</td></tr>
        <tr><td class="three wide">{{ _('Brightness') }}</td><td>{{  "%.2f" | format(planet_data.mag) }}mag</td></tr>
        <tr><td class="three wide">{{ _('Angular diameter') }}</td><td>{{ "%.2f" | format(planet_data.angular_diameter_seconds()) }}"</td></tr>
        <tr><td class="three wide">{{ _('Phase') }}</td><td>{{ "%.2f" | format(planet_data.phase*100.0) }}%</td></tr>
        <tr><td class="three wide">{{ _('Orbital Period') }}</td><td>{{ "%.2f" | format(planet_data.orbital_period) }} {{ _('days') }} ({{ "%.2f" | format(planet_data.orbital_period_year) }} a)</td></tr>
        <tr><td class="three wide">{{ _('Synodic Period') }}</td><td>{{ "%.2f" | format(planet_data.synodic_period) }} {{ _('days') }} ({{ "%.2f" | format(planet_data.synodic_period_year) }} a)</td></tr>
    </table>
{% endmacro %}

{% macro planet_observation_log() %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.display_standard_flashes(flashes) }}

    {{ _('Active observation:')}} <a href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=observing_session.id)}}">{{ observing_session.title }}</a>
    <br/><br/>

    {{ f.begin_form(form, flashes) }}

        <div class="two fields">
            <div class="field">
                <label for="odate-from">{{ form.date_from.label }}</label>
                <div class="two fields">
                    <div class="field">
                        <div class="ui calendar" id="odate-from">
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="odate-from" name="{{form.date_from.name}}" placeholder="Date" type="text"
                                    value="{{form.date_from.data.strftime('%d/%m/%Y') if form.date_from.data else ''}}">
                          </div>
                        </div>
                        {% if form.date_from.errors %}
                            <div class="ui red pointing label">
                                {{ form.date_from.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="ui calendar" id="odtime-from">
                          <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input id="otime-from" placeholder="Time" type="text" name="{{ form.time_from.name }}" value="{{ form.time_from.data }}">
                          </div>
                        </div>
                        {% if form.time_from.errors %}
                            <div class="ui red pointing label">
                                {{ form.time_from.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ f.render_form_field(form.notes) }}
        <div class="three fields">
            <div class="field">
                {{ f.render_form_field(form.telescope) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.eyepiece) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.filter) }}
            </div>
        </div>

        <div class="two fields">
            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ field(class='positive ui button') }}
            {% endfor %}
            {% if not is_new_observation_log %}
                <a id="bdeleteobservlog" class="negative ui button" href="#">{{ _('Delete Log') }}</a>
            {% endif %}
        </div>

    {{ f.end_form() }}
    {% if not is_new_observation_log %}
        <div class="ui tiny modal deleteObservationLogModal">
          <div class="header">{{ _('Delete Log') }}</div>
          <div class="content">
            <p>{{ _('Are you sure you want to delete this observation log?') }}</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_planet.planet_observation_log_delete', planet_iau_code=planet.iau_code, back=back, back_id=back_id ) }}">
                {{ _('Yes') }}
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        $('#odtime-from')
          .calendar({
            type: 'time',
            ampm: false
          })
        ;
        $('#odate-from').calendar({
            type: 'date',
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });
    </script>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {{ back_navig.back_navig(back, back_id, 'planets', embed) }}
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ planet.get_localized_name().capitalize() }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ planet_info() }}
            {% elif type == 'observation_log' %}
                {{ planet_observation_log() }}
            {% else %}
                {{ planet_catalogue_data(planet_data) }}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        {% if not is_new_observation_log %}
            $('.ui.modal.deleteObservationLogModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bdeleteobservlog').click(function() {
                $('.ui.modal.deleteObservationLogModal')
                    .modal('show');
            });
        {% endif %}
    </script>

{% endblock %}
