{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% set endpoint_log = [ ('main_planet.planet_observation_log', _('Log'), 'obslog') ] if show_obs_log else [] %}

{% set endpoints = [
    ('main_planet.planet_info', 'Info', 'info')
] %}

{% set endpoints = endpoint_log + endpoints %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, planet_iau_code=planet.iau_code, back=back, back_id=back_id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Find Chart --- #}
{% macro planet_info() %}
    {{ fchart.fchart(url_for('main_planet.planet_info', planet_iau_code=planet.iau_code, back=back, back_id=back_id),
                     url_for('main_planet.planet_chart_pos_img', planet_iau_code=planet.iau_code, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, trajectory=trajectory),
                     url_for('main_planet.planet_chart_legend_img', planet_iau_code=planet.iau_code, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags, epfov=chart_control.eyepiece_fov),
                     url_for('main_planet.planet_chart_pdf', planet_iau_code=planet.iau_code, ra='_RA_', dec='_DEC_', obj_ra='_OBJ_RA_', obj_dec='_OBJ_DEC_', fsz='_FSZ_',
                              flags=chart_control.chart_pdf_flags, trajectory=trajectory, epfov=chart_control.eyepiece_fov, ),
                     None,
                     fchart_form,
                     obj_ra=planet_ra|string, obj_dec=planet_dec|string )
    }}
{% endmacro %}

{# --- Catalogue Data --- #}
{% macro planet_catalogue_data() %}
{% endmacro %}

{% macro planet_observation_log() %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.display_standard_flashes(flashes) }}

    {{ f.begin_form(form, flashes) }}

        {{ f.render_form_field(form.notes) }}

        <div class="two fields">
            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ field(class='positive ui button') }}
            {% endfor %}
            {% if not is_new_observation_log %}
                <a id="bdeleteobservlog" class="negative ui button" href="#">{{ _('Delete Log') }}</a>
            {% endif %}
        </div>

    {{ f.end_form() }}
    {% if not is_new_observation_log %}
        <div class="ui tiny modal deleteObservationLogModal">
          <div class="header">{{ _('Delete Log') }}</div>
          <div class="content">
            <p>{{ _('Are you sure you want to delete this observation log?') }}</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_planet.planet_observation_log_delete', planet_iau_code=planet.iau_code, back=back, back_id=back_id ) }}">
                {{ _('Yes') }}
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    {% if back == 'observation' %}
                        <a class="ui basic compact button" href="{{ url_for('main_observing_session.observing_session_info', observing_session_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="eye icon"></i>
                        </a>
                    {% elif back == 'session_plan' %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_sessionplan.session_plan_info', session_plan_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="tasks icon mobile hidden"></i>
                        </a>
                    {% elif back == 'running_plan' %}
                        <a class="ui basic icon compact button" href="{{ url_for('main_observing_session.observing_session_run_plan_redirect', observing_session_plan_run_id=back_id) }}">
                            <i class="caret left icon"></i>
                            <i class="tasks icon mobile hidden"></i>
                        </a>
                    {% else %}
                        <a class="ui basic compact button" href="{{ url_for('main_planet.planets') }}">
                            <i class="caret left icon"></i>
                            <i class="list icon"></i>
                        </a>
                    {% endif %}
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ planet.get_localized_name().capitalize() }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ planet_info() }}
            {% elif type == 'observation_log' %}
                {{ planet_observation_log() }}
            {% else %}
                {{ planet_info() }}
                {# {{ planet_catalogue_data() }} #}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        {% if not is_new_observation_log %}
            $('.ui.modal.deleteObservationLogModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bdeleteobservlog').click(function() {
                $('.ui.modal.deleteObservationLogModal')
                    .modal('show');
            });
        {% endif %}
    </script>

{% endblock %}
