{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                {{ _('Dashboard') }}
            </a>
            <h2 class="ui header">
                    {{ _('Solar system') }}
            </h2>
            <div class="ui two column stackable grid">
                {{ dash.dashboard_option(_('Planets'), 'main_planet.planets',
                                    description=_('Show planets'), theme_image='/static/images/planet') }}
                {{ dash.dashboard_option(_('Minor planets'), 'main_asteroid.asteroids',
                                    description=_('Show asteroids'), icon='meteor icon') }}
                {{ dash.dashboard_option(_('Comets'), 'main_comet.comets',
                                    description=_('Show comets'), icon='meteor icon') }}
            </div>
        </div>
    </div>
{% endblock %}