{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet fourteen wide computer column">
            <a class="ui basic compact button" href="{{ url_for('main_userdata.userdata_menu') }}">
                <i class="caret left icon"></i>
                {{ _('Settings') }}
            </a>
            <h2 class="ui header">
                {{ _('htop') }}
            </h2>
            <div class="ui segment" style="background:#000; color:#ddd; overflow:auto; max-height:75vh; border:none;">
                <style>
                      .htop-aha-output,
                      .htop-aha-output pre,
                      .htop-aha-output span {
                      background-color: #000 !important;
                    }
                    .htop-aha-output pre {
                        margin: 0;
                        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                        white-space: pre;
                        min-width: 120ch;
                        color: #ddd; /* default text na černém */
                    }
                </style>
                {{ htop_output|safe }}
            </div>
        </div>
    </div>
    <script>
      setTimeout(function(){ window.location.reload(); }, 10000);
    </script>
{% endblock %}
