{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui black inverted fitted segment" style="min-height:100vh; display:flex; flex-direction:column;">
        <div class="ui inverted secondary menu">
            <a class="item" href="{{ url_for('main_userdata.userdata_menu') }}">
                <i class="caret left icon"></i> {{ _('Settings') }}
            </a>
            <div class="item">
                <h2 class="ui inverted header" style="margin:0;">{{ _('htop') }}</h2>
            </div>
            <div class="right menu">
              <div class="item">
                  <span class="ui tiny grey text">Auto-refresh 10s</span>
              </div>
            </div>
          </div>

          <div class="ui black inverted fitted segment" style="flex:1 1 auto; overflow:auto; margin:0;">
              <div class="ui container fluid">
                  <div class="htop-aha-output">
                      {{ htop_output|safe }}
                  </div>
              </div>
          </div>
    </div>
    <script>
      setTimeout(function(){ window.location.reload(); }, 10000);
    </script>
{% endblock %}
