{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_usersettings.public_profile', 'Profile'),
    ('main_usersettings.user_account', 'Account'),
    ('main_usersettings.git_repository', 'Git repository'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro public_profile(form, user) %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.display_standard_flashes(flashes) }}

    <h4 class="ui top attached block header segment">Public profile</h4>
    <div class="ui attached segment">
        {{ f.begin_form(form, flashes) }}
            {{ f.render_form_field(form.user_name, extra_classes='readonly') }}
            {{ f.render_form_field(form.full_name) }}
            {{ f.render_form_field(form.email) }}
            <div class="field">
                {{ form.default_country_code.label }}
                <div class="ui dropdown labeled icon button">
                  <input type="hidden" id="{{ form.default_country_code.name }}" name="{{ form.default_country_code.name }}" value="{{ form.default_country_code.data }}">
                  <i class="world icon"></i>
                  <span class="text">Select Country</span>
                  <div class="menu">
                    <div class="ui icon search input">
                      <i class="search icon"></i>
                      <input type="text" placeholder="Search tags...">
                    </div>
                    <div class="scrolling menu">
                        {% for country in countries %}
                            <div class="item" data-value="{{country.code}}">
                              <i class="{{country.code.lower()}} flag"></i>
                              {{ country.name}}
                            </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
            </div>

            {{ form.submit(class='positive ui button') }}
        {{ f.end_form() }}
    </div>
{% endmacro %}

{% macro user_account(form1, form2, user, subtype) %}

    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {% if subtype == 'change_password' %}
        {{ f.display_standard_flashes(flashes) }}
    {% endif %}

    <h4 class="ui top attached block header segment">Password</h4>
    <div class="ui attached segment">
        {{ f.begin_form(form1, flashes, action=url_for('main_usersettings.change_password')) }}
                <div class="field {% if form1.current_password.errors %}error{% endif %}">
                    {{ form1.current_password.label }}
                    {{ form1.current_password(autocomplete="off") }}
                    {% if form1.current_password.errors %}
                        <div class="ui red pointing label">
                            {{ form1.current_password.errors[0] | safe }}
                        </div>
                    {% endif %}
                </div>
                <div class="field {% if form1.new_password.errors %}error{% endif %}">
                    {{ form1.new_password.label }}
                    {{ form1.new_password(autocomplete="off") }}
                    {% if form1.new_password.errors %}
                        <div class="ui red pointing label">
                            {{ form1.new_password.errors[0] | safe }}
                        </div>
                    {% endif %}
                </div>
                <div class="field {% if form1.new_password2.errors %}error{% endif %}">
                    {{ form1.new_password2.label }}
                    {{ form1.new_password2(autocomplete="off") }}
                    {% if form1.new_password2.errors %}
                        <div class="ui red pointing label">
                            {{ form1.new_password2.errors[0] | safe }}
                        </div>
                    {% endif %}
                </div>
                {{ form1.submit(class='positive ui button') }}
        {{ f.end_form() }}
    </div>

    {% if subtype == 'delete_account' %}
        {{ f.display_standard_flashes(flashes) }}
    {% endif %}
    <h4 class="ui top attached block header segment">Delete Your Account</h4>
    <div class="ui attached segment">
        <h3 class="ui red block header">
            <i class="warning circle icon"></i>
            <div class="content">
                This action is permanent
                <div class="sub header">
                    Deleting a user account is not a reversible change. Any information associated
                    with this account will be removed, and cannot be recovered.
                </div>
            </div>
        </h3>
        {{ f.begin_form(form2, flashes, action=url_for('main_usersettings.delete_account')) }}
            <div class="field {% if form2.password.errors %}error{% endif %}">
                {{ form2.password.label }}
                {{ form2.password(autocomplete="off") }}
            </div>
            {{ form2.submit(class='negative ui button') }}
        {{ f.end_form() }}
    </div>
{% endmacro %}

{% macro git_repository(form1, form2, user, subtype) %}

    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {% if subtype == 'personal_repo_key' %}
        {{ f.display_standard_flashes(flashes) }}
    {% endif %}

    <h4 class="ui top attached block header segment">Personal Git repository</h4>
    <div class="ui attached segment">
        {{ f.begin_form(form1, flashes, action=url_for('main_usersettings.git_personal_repository')) }}
            {{ f.render_form_field(form1.git_repository) }}
            {{ f.render_form_field(form1.ssh_public_key) }}
            <div class="two fields">
                {{ form1.submit(class='positive ui button') }}
                <a id="bnewkey1" class="negative ui button" href="#">Create new ssh key</a>
                <a id="bdelkey1" class="negative ui button" href="#">
                    <i class="trash icon"></i>
                    Delete ssh key
                </a>
            </div>
        {{ f.end_form() }}
    </div>

    <div class="ui tiny modal sshCreateModal1">
      <div class="header">Create SSH key</div>
      <div class="content">
        <p>Are you sure you want to (re)create new SSH key?</p>
      </div>
      <div class="actions">
        <div class="ui negative cancel button">No</div>
        <a class="ui positive right labeled icon approve button" href="{{ url_for('main_usersettings.git_ssh_key_create') }}">
            Yes
            <i class="checkmark icon"></i>
        </a>
      </div>
    </div>

    <div class="ui tiny modal sshDeleteModal1">
      <div class="header">Delete SSH key</div>
      <div class="content">
        <p>Are you sure you want to delete sshkey?</p>
      </div>
      <div class="actions">
        <div class="ui negative cancel button">No</div>
        <a class="ui positive right labeled icon approve button" href="{{ url_for('main_usersettings.git_ssh_key_delete') }}">
            Yes
            <i class="checkmark icon"></i>
        </a>
      </div>
    </div>

    {% if user.is_editor() %}
        {% if subtype == 'content_repo_key' %}
            {{ f.display_standard_flashes(flashes) }}
        {% endif %}

        <h4 class="ui top attached block header segment">Content Git repository</h4>
        <div class="ui attached segment">
            {{ f.begin_form(form2, flashes, action=url_for('main_usersettings.git_content_repository')) }}
                {{ f.render_form_field(form2.git_repository) }}
                {{ f.render_form_field(form2.ssh_public_key) }}
                <div class="two fields">
                    {{ form2.submit(class='positive ui button') }}
                    <a id="bnewkey2" class="negative ui button" href="#">Create new ssh key</a>
                    <a id="bdelkey2" class="negative ui button" href="#">
                        <i class="trash icon"></i>
                        Delete ssh key
                    </a>
                </div>
            {{ f.end_form() }}
        </div>
        <div class="ui tiny modal sshCreateModal2">
          <div class="header">Create SSH key for content repository</div>
          <div class="content">
            <p>Are you sure you want to (re)create new SSH key for content repository?</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_usersettings.git_content_ssh_key_create') }}">
                Yes
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>

        <div class="ui tiny modal sshDeleteModal2">
          <div class="header">Delete SSH key for content repository</div>
          <div class="content">
            <p>Are you sure you want to delete sshkey for content repository?</p>
          </div>
          <div class="actions">
            <div class="ui negative cancel button">No</div>
            <a class="ui positive right labeled icon approve button" href="{{ url_for('main_usersettings.git_content_ssh_key_delete') }}">
                Yes
                <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
    {% endif %}

{% endmacro %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            {{ navigation(endpoints) }}
            {% if type == 'public_profile' %}
                {{ public_profile(form, current_user) }}
            {% elif type == 'user_account' %}
                {{ user_account(form1, form2, current_user, subtype) }}
            {% elif type == 'git_repository' %}
                {{ git_repository(form1, form2, current_user, subtype) }}
            {% endif %}
        </div>
    </div>
    <script>
        {% if type == 'git_repository' %}
            $('.ui.modal.sshCreateModal').modal({
                onApprove: function() {
                    return validateModal()
                }
            });
            $('#bnewkey1').click(function() {
                $('.ui.modal.sshCreateModal1')
                   .modal('show');
            });
            $('#bnewkey2').click(function() {
                $('.ui.modal.sshCreateModal2')
                   .modal('show');
            });
            $('#bdelkey1').click(function() {
                $('.ui.modal.sshDeleteModal1')
                   .modal('show');
            });
            $('#bdelkey2').click(function() {
                $('.ui.modal.sshDeleteModal2')
                   .modal('show');
            });
        {% endif %}
    </script>
{% endblock %}
