{% macro convert_mag(mag) %}{{ mag if mag and mag < 100.0 else '- ' }}{% endmacro %}

{% macro norm_aperture_class(ap_class) %}{{ 'Naked-eye' if ap_class=='Naked-eye' else ap_class + 'mm' }}{% endmacro %}

{% macro convert_dso_size(major_axis, minor_axis) %}
  {% if major_axis >= 600.0 %}
      {{ (major_axis / 60.0) | int }}'
  {% elif major_axis >= 100.0 %}
      {{ (major_axis / 60.0) | round(1, 'floor') }}'
  {% else %}
      {{ major_axis | int }}''
  {% endif %}
  {% if minor_axis %}
  / {% if minor_axis >= 600.0 %}
      {{ (minor_axis / 60.0) | int }}'
  {% elif minor_axis >= 100.0 %}
      {{ (minor_axis / 60.0) | round(1, 'floor') }}'
  {% else %}
      {{ minor_axis | int }}''
  {% endif %}
  {% endif %}
{% endmacro %}

{% macro convert_double_star_separation(separation) %}
  {% if separation >= 600.0 %}
      {{ (separation / 60.0) | int }}'
  {% elif separation >= 100.0 %}
      {{ (separation / 60.0) | round(1, 'floor') }}'
  {% else %}
      {{ separation | int }}''
  {% endif %}
{% endmacro %}

{% macro convert_distance(d) %}
  {% if d %}
  {% if d >= 1000000000.0 %}
      {{ "%.2f"|format(d / 1000000000.0) }} Gly
  {% elif d >= 1000000.0 %}
      {{ "%.2f"|format(d / 1000000.0) }} Mly
  {% elif d >= 1000.0 %}
      {{ "%.2f"|format(d / 1000.0) }} Kly
  {% else %}
      {{ "%.2f"|format(d) }} ly
  {% endif %}
  {% endif %}
{% endmacro %}

{% macro offered_session_plans_dso_toolbar(dso_id, offered_session_plans, float='left') %}
    {% if offered_session_plans %}
        <div id="switch_sesplan_dso_dropdown_{{ dso_id }}" class="ui icon label tiny dropdown" style="float:{{ float }};" data-tooltip="{{ _('Add to session plan') }}" data-variation="mini" data-inverted="">
            <i class="calendar plus outline icon"></i>
            <div class="ui menu">
                {% for session_plan in offered_session_plans %}
                <a id="switch_sesplan_dso_{{ session_plan.id }}_{{ dso_id  }}" class="ui {{ 'selected ' if session_plan.find_dso_by_id(dso_id) else '' }}item">{{ session_plan.title }}</a>
                {% endfor %}
          </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro wish_observed_dso_toolbar(current_user, dso_id, wish_list, observed_list, float='left') %}
    {% if current_user.is_authenticated %}
    <div class="ui icon label" style="float:{{ float }};">
        <a id="switch_wishlist_dso_{{ dso_id }}" class="icon detail" data-tooltip="{{ _('Add to wishlist') }}" data-variation="mini" data-inverted="">
            <i class="heart {{ '' if dso_id in wish_list else 'outline black' }} icon"></i>
        </a>
        <a id="switch_observed_dso_{{ dso_id }}" class="icon detail"  data-tooltip="{{ _('Add to observed') }}" data-variation="mini" data-inverted="">
            <i class="eye {{ '' if dso_id in observed_list else 'slash outline black' }} icon"></i>
        </a>
    </div>
    {% endif %}
{% endmacro %}

{% macro offered_session_plans_double_star_toolbar(double_star_id, offered_session_plans, float='left') %}
    {% if offered_session_plans %}
        <div id="switch_sesplan_dbl_dropdown_{{ double_star_id }}" class="ui icon label tiny dropdown" style="float:{{ float }};" data-tooltip="{{ _('Add to session plan') }}" data-variation="mini" data-inverted="">
            <i class="calendar plus outline icon"></i>
            <div class="ui menu">
                {% for session_plan in offered_session_plans %}
                <a id="switch_sesplan_dbl_{{ session_plan.id }}_{{ double_star_id  }}" class="ui {{ 'selected ' if session_plan.find_double_star_by_id(double_star_id) else '' }}item">{{ session_plan.title }}</a>
                {% endfor %}
          </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro wish_observed_double_star_toolbar(current_user, double_star_id, wish_list, observed_list, float='left') %}
    {% if current_user.is_authenticated %}
    <div class="ui icon label" style="float:{{ float }};">
        <a id="switch_wishlist_dbl_{{ double_star_id }}" class="icon detail" data-tooltip="{{ _('Add to wishlist') }}" data-variation="mini" data-inverted="">
            <i class="heart {{ '' if double_star_id in wish_list else 'outline black' }} icon"></i>
        </a>
        <a id="switch_observed_dbl_{{ double_star_id }}" class="icon detail"  data-tooltip="{{ _('Add to observed') }}" data-variation="mini" data-inverted="">
            <i class="eye {{ '' if double_star_id in observed_list else 'slash outline black' }} icon"></i>
        </a>
    </div>
    {% endif %}
{% endmacro %}

{% macro items_per_page(items_per_page) %}
    <span class="ui item" style="margin-left:10px;">
                    {{ _('Items per page') }}
    </span>
    <div class="ui icon bottom right pointing dropdown button">
        <input type="hidden" name="{{ items_per_page.name }}" value="{{ items_per_page.data }}" onchange="this.form.submit()">
        <div class="default text">{{ items_per_page.data }}</div>
        <i class="dropdown icon"></i>
        <div class="menu" style="z-index: 1000;">
            <div class="item">10</div>
            <div class="item">15</div>
            <div class="item">20</div>
            <div class="item">25</div>
            <div class="item">50</div>
            <div class="item">100</div>
        </div>
    </div>
{% endmacro %}

{% macro items_per_page_as_links(per_page, url) %}
    <span class="ui item" style="margin-left:10px;">
                    {{ _('Items per page') }}
    </span>
    <div class="ui icon bottom right pointing dropdown button">
        <div class="default text">{{ per_page }}</div>
        <i class="dropdown icon"></i>
        <div class="menu" style="z-index: 1000;">
            <div class="item">
              <a href="{{ url }}&per_page=10" style="color: inherit;">10</a>
             </div>
            <div class="item">
              <a href="{{ url }}&per_page=15" style="color: inherit;">15</a>
            </div>
            <div class="item">
              <a href="{{ url }}&per_page=20" style="color: inherit;">20</a>
            </div>
            <div class="item">
              <a href="{{ url }}&per_page=25" style="color: inherit;">35</a>
            </div>
            <div class="item">
              <a href="{{ url }}&per_page=50" style="color: inherit;">50</a>
            </div>
            <div class="item">
              <a href="{{ url }}&per_page=100" style="color: inherit;">100</a>
            </div>
        </div>
    </div>
{% endmacro %}
