{% macro convert_mag(mag) %}{{ mag if mag and mag < 100.0 else '- ' }}{% endmacro %}

{% macro norm_aperture_class(ap_class) %}{{ 'Naked-eye' if ap_class=='Naked-eye' else ap_class + 'mm' }}{% endmacro %}

{% macro convert_dso_size(major_axis, minor_axis) %}
  {% if major_axis >= 600.0 %}
      {{ (major_axis / 60.0) | int }}'
  {% elif major_axis >= 100.0 %}
      {{ (major_axis / 60.0) | round(1, 'floor') }}'
  {% else %}
      {{ major_axis | int }}''
  {% endif %}
  {% if minor_axis %}
  / {% if minor_axis >= 600.0 %}
      {{ (minor_axis / 60.0) | int }}'
  {% elif minor_axis >= 100.0 %}
      {{ (minor_axis / 60.0) | round(1, 'floor') }}'
  {% else %}
      {{ minor_axis | int }}''
  {% endif %}
  {% endif %}
{% endmacro %}

{% macro wish_observed_list_toolbar(dso_id, wish_list, observed_list) %}
    <div class="ui icon label" style="float:left;">
        <a id="switch_wishlist_{{ dso_id }}" class="icon detail"><i class="heart {{ '' if dso_id in wish_list else 'outline black' }} icon"></i></a>
        <a id="switch_observed_{{ dso_id }}" class="icon detail"><i class="eye {{ '' if dso_id in observed_list else 'slash outline black' }} icon"></i></a>
    </div>
{% endmacro %}

{% macro items_per_page(items_per_page) %}
    <span class="ui item" style="margin-left:10px;">
                    {{ _('Items per page') }}
    </span>
    <div class="ui icon bottom right pointing dropdown button">
        <input type="hidden" name="{{ items_per_page.name }}" value="{{ items_per_page.data }}" onchange="this.form.submit()">
        <div class="default text">{{ items_per_page.data }}</div>
        <i class="dropdown icon"></i>
        <div class="menu" style="z-index: 1000;">
            <div class="item">10</div>
            <div class="item">15</div>
            <div class="item">20</div>
            <div class="item">25</div>
            <div class="item">50</div>
            <div class="item">100</div>
        </div>
    </div>
{% endmacro %}
