{% import 'macros/back_fchart_navig_macros.html' as back_fchart_navig %}

{% macro fchart(fchart_url, fchart_img_url, fchart_legend_url, fchart_pdf_url, fchart_items_url, fchart_form, default_chart_iframe_url='', embed='', search_url_params='', obj_ra='',
                obj_dec='', back=none, back_id=none, default_back=none, back_anchor=none, disable_to_detail=False) %}

<div id="fchart-div" style="width:100%;height:75vh;background:{{ '#fff' if chart_control.theme=='light' else ('#020202' if chart_control.theme=='night' else '#03030A') }}">
  <div id="top-menu" class="ui secondary menu">

      <div id="bhome" class="ui horizontally fitted computer tablet only item" style="z-index:100;display:none;margin-left:16px;">
          <a class="ui small icon button" href="{{ url_for('main.index') }}" data-inverted="" data-tooltip="{{ _('Home') }}" data-position="bottom left" data-variation="tiny basic">
              <i class="home icon"></i>
          </a>
      </div>

      {{ back_fchart_navig.back_navig(back, back_id, default_back, false, back_anchor, 'bback', ' computer tablet only') }}

      {% if default_chart_iframe_url and not disable_to_detail %}
          <div id="bdetail" class="ui horizontally fitted computer tablet only item" style="z-index:100;display:none;">
              <a class="ui small icon button" data-inverted="" data-tooltip="{{ _('Detail') }}" data-position="bottom left" data-variation="tiny basic"
                 onclick="window.location.href=removeParamFromRelativeUrl('{{ default_chart_iframe_url }}', 'embed');">
                  <i class="external alternate icon"></i>
              </a>
          </div>
      {% endif %}

      <form id="fmchart" action="{{ fchart_url }}" method="post" class="right menu">
          <input type="hidden" id="ra" name="ra" value="{{ fchart_form.ra.data }}" >
          <input type="hidden" id="dec" name="dec" value="{{ fchart_form.dec.data }}" >
          <input type="hidden" id="az" name="az" value="{{ fchart_form.az.data }}" >
          <input type="hidden" id="alt" name="alt" value="{{ fchart_form.alt.data }}" >
          <input type="hidden" id="longitude" name="{{ fchart_form.longitude.name }}" value="{{ fchart_form.longitude.data }}">
          <input type="hidden" id="latitude" name="{{ fchart_form.latitude.name }}" value="{{ fchart_form.latitude.data }}">
          <input type="hidden" id="use_current_time" name="{{ fchart_form.use_current_time.name }}" value="{{ fchart_form.use_current_time.data }}">
          <input type="hidden" id="chart_date_time" name="{{ fchart_form.chart_date_time.name }}" value="{{ fchart_form.chart_date_time.data }}">
          <input type="hidden" id="fullscreen" name="fullscreen" value="{{ fchart_form.fullscreen.data }}" >
          <input type="hidden" id="splitview" name="splitview" value="{{ fchart_form.splitview.data }}" >
          <input type="hidden" id="radius" name="{{ fchart_form.radius.name }}" value="{{ fchart_form.radius.data }}">
          <input type="hidden" id="show_telrad" name="{{ fchart_form.show_telrad.name }}" value="{{ fchart_form.show_telrad.data }}">
          <input type="hidden" id="show_picker" name="{{ fchart_form.show_picker.name }}" value="{{ fchart_form.show_picker.data }}">
          <input type="hidden" id="show_constell_shapes" name="{{ fchart_form.show_constell_shapes.name }}" value="{{ fchart_form.show_constell_shapes.data }}">
          <input type="hidden" id="show_constell_borders" name="{{ fchart_form.show_constell_borders.name }}" value="{{ fchart_form.show_constell_borders.data }}">
          <input type="hidden" id="show_dso" name="{{ fchart_form.show_dso.name }}" value="{{ fchart_form.show_dso.data }}">
          <input type="hidden" id="show_solar_system" name="{{ fchart_form.show_solar_system.name }}" value="{{ fchart_form.show_solar_system.data }}">
          <input type="hidden" id="show_dso_mag" name="{{ fchart_form.show_dso_mag.name }}" value="{{ fchart_form.show_dso_mag.data }}">
          <input type="hidden" id="show_star_lbl" name="{{ fchart_form.show_star_labels.name }}" value="{{ fchart_form.show_star_labels.data }}">
          <input type="hidden" id="show_egrid" name="{{ fchart_form.show_equatorial_grid.name }}" value="{{ fchart_form.show_equatorial_grid.data }}">
          <input type="hidden" id="dss_layer" name="{{ fchart_form.dss_layer.name }}" value="{{ fchart_form.dss_layer.data }}">
          <input type="hidden" id="eyepiece_fov" name="{{ fchart_form.eyepiece_fov.name }}" value="{{ fchart_form.eyepiece_fov.data }}">
          <input type="hidden" id="mirror_x" name="{{ fchart_form.mirror_x.name }}" value="{{ fchart_form.mirror_x.data }}" >
          <input type="hidden" id="mirror_y" name="{{ fchart_form.mirror_y.name }}" value="{{ fchart_form.mirror_y.data }}" >
          <input type="hidden" id="optimize_traffic" name="{{ fchart_form.optimize_traffic.name }}" value="{{ fchart_form.optimize_traffic.data }}" >
          <input type="hidden" id="is_equatorial" name="{{ fchart_form.is_equatorial.name }}" value="{{ fchart_form.is_equatorial.data }}">

          {% if chart_control.has_date_from_to %}
              <div class="ui horizontally fitted mobile hidden item" style="z-index:100;">
                  <div class="date-int-popup ui small icon button" data-variation="inverted" data-inverted="" data-tooltip="{{ _('Interval') }}" data-position="bottom left" data-variation="tiny basic">
                      <i class="calendar icon"></i>
                  </div>
                  <div class="ui popup transition hidden">
                      <div class="item">
                          <div class="ui calendar" id="date_from">
                              <div class="ui small input left icon">
                                  <i class="calendar icon"></i>
                                  <input name="{{ fchart_form.date_from.name }}" placeholder="Date" type="text"
                                          value="{{ fchart_form.date_from.data.strftime('%d/%m/%Y') if fchart_form.date_from.data else ''}}">
                              </div>
                          </div>
                          <div class="ui left pointing label">
                             {{ _('Date From') }}
                          </div>
                      </div>
                      <div class="item">
                          <div class="ui calendar" id="date_to">
                              <div class="ui small input left icon">
                                  <i class="calendar icon"></i>
                                  <input name="{{ fchart_form.date_to.name }}" placeholder="Date" type="text"
                                          value="{{ fchart_form.date_to.data.strftime('%d/%m/%Y') if fchart_form.date_to.data else ''}}">
                              </div>
                          </div>
                          <div class="ui left pointing label">
                             {{ _('Date To') }}
                          </div>
                      </div>
                  </div>
              </div>
          {% endif %}

          <div class="ui right horizontally fitted small monitor item" style="z-index:100">
              <div class="ui small icon dropdown icon button" data-inverted="" data-tooltip="{{ _('Settings') }}" data-position="left center" data-variation="tiny basic">
                  <i class="crosshairs icon"></i>
                  <div class="ui vertical buttons menu">
                      <div class="item">
                          <button id="bcenterobj" type="button" class="ui toggle labeled tiny icon button" style="text-align:left">
                              <i class="crosshairs icon"></i>
                              {{ _('Center object') }}
                          </button>
                      </div>
                      <div class="item">
                          <button id="btelrad" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_telrad.data=='true' else ''}}" style="text-align:left" >
                              <i class="bullseye icon"></i>
                              {{ _('Telrad') }}
                          </button>
                      </div>
                      <div class="item">
                          <button id="bpicker" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_picker.data=='true' else ''}}" style="text-align:left">
                              <i class="square outline icon"></i>
                              {{ _('Picker') }}
                          </button>
                      </div>
                      {% if chart_control.equipment_telescopes %}
                          {% for telescope in chart_control.equipment_telescopes %}
                              <div class="item">
                                      <button class="ui tiny labeled icon button"  style="text-align:left">
                                          <i class="binoculars icon"></i>
                                          <span class="text">{{ telescope.name }} <i class="dropdown icon"></i></span>
                                      </button>
                                  <div class="right menu">
                                      {% for eyepiece in chart_control.equipment_eyepieces %}
                                          <div class="item" onclick="setEyepieceFov({{ telescope.get_fov(eyepiece) }})">
                                              {{ eyepiece.name }}
                                          </div>
                                      {% endfor %}
                                  </div>
                              </div>
                          {% endfor %}
                          <div class="item">
                              <button type="button" class="ui labeled tiny icon button" style="text-align:left" onclick="unselectFov()">
                                  <i class="toggle off icon"></i>
                                  {{ _('Unselect') }}
                              </button>
                          </div>
                      {% endif %}
                  </div>
              </div>
          </div>

          <div class="ui right horizontally fitted small item" style="z-index:200;">
              <div class="date-int-popup ui small icon button" data-variation="inverted" data-inverted="" data-tooltip="{{ _('Interval') }}" data-position="bottom left" data-variation="tiny basic">
                  <i class="icons">
                      <i class="clock outline icon"></i>
                      <i class="map marker alternate inverted corner icon"></i>
                  </i>
              </div>
              <div class="ui popup transition hidden">
                  <div class="field" style="margin-bottom: 10px;">
                      <div class="ui inverted toggle checkbox">
                          <input type="checkbox" id="useCurrentTimeCheckbox" checked="{{ 'checked' if fchart_form.use_current_time.data=='true' else '' }}"/>
                          <label>{{ _('Use current time') }}</label>
                      </div>
                  </div>

                  <div class="fields" style="display: flex; flex-wrap: nowrap; align-items: center;">
                      <!-- Year Field -->
                      <div class="field" style="margin: 0;">
                          <div class="ui small icon button increment-year"><i class="chevron up icon"></i></div>
                          <div class="ui transparent input">
                              <input id="yearInput" value="2025" inputmode="numeric" style="text-align: center; width: 40px;" />
                          </div>
                          <div class="ui small icon button decrement-year"><i class="chevron down icon"></i></div>
                      </div>

                      <span style="font-size: 1.2em;">-</span>

                      <!-- Month Field -->
                      <div class="field" style="margin: 0;">
                          <div class="ui small icon button increment-month"><i class="chevron up icon"></i></div>
                          <div class="ui transparent input">
                              <input id="monthInput" value="1" style="text-align: center; width: 40px;" />
                          </div>
                          <div class="ui small icon button decrement-month"><i class="chevron down icon"></i></div>
                      </div>

                      <span style="font-size: 1.2em;">-</span>

                      <!-- Day Field -->
                      <div class="field" style="margin: 0;">
                          <div class="ui small icon button increment-day"><i class="chevron up icon"></i></div>
                          <div class="ui transparent input">
                              <input id="dayInput" value="1" style="text-align: center; width: 40px;" />
                          </div>
                          <div class="ui small icon button decrement-day"><i class="chevron down icon"></i></div>
                      </div>

                      <span style="width: 15px;"></span>

                      <!-- Hour Field -->
                      <div class="field" style="margin: 0;">
                          <div class="ui small icon button increment-hour"><i class="chevron up icon"></i></div>
                          <div class="ui transparent input">
                              <input id="hourInput" value="0" style="text-align: center; width: 40px;" />
                          </div>
                          <div class="ui small icon button decrement-hour"><i class="chevron down icon"></i></div>
                      </div>

                      <span style="font-size: 1.2em;">:</span>

                      <!-- Minute Field -->
                      <div class="field" style="margin: 0;">
                          <div class="ui small icon button increment-minute"><i class="chevron up icon"></i></div>
                          <div class="ui transparent input">
                              <input id="minuteInput" value="0" style="text-align: center; width: 40px;" />
                          </div>
                          <div class="ui small icon button decrement-minute"><i class="chevron down icon"></i></div>
                      </div>

                      <span style="font-size: 1.2em;">:</span>

                      <!-- Second Field -->
                      <div class="field" style="margin: 0;">
                          <div class="ui small icon button increment-second"><i class="chevron up icon"></i></div>
                          <div class="ui transparent input">
                              <input id="secondInput" value="0" style="text-align: center; width: 40px;" />
                          </div>
                          <div class="ui small icon button decrement-second"><i class="chevron down icon"></i></div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="ui right horizontally fitted small item" style="z-index:100">
              <div id="layers_dropdown" class="ui small icon dropdown icon button" data-inverted="" data-tooltip="{{ _('Settings') }}" data-position="left center" data-variation="tiny basic">
                  <i class="layer group icon"></i>
                  <div class="ui vertical buttons menu">
                      <div class="item">
                          <button id="bequatorial" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.is_equatorial.data=='true' else ''}}" style="text-align:left">
                              <i class="globe icon"></i>
                              {{ _('Equat ↔ Horizontal')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="bconstellshapes" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_constell_shapes.data=='true' else ''}}" style="text-align:left">
                              <i class="lastfm icon"></i>
                              {{ _('Constellation lines') }}
                          </button>
                      </div>
                      <div class="item">
                          <button id="bconstellborders" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_constell_borders.data=='true' else ''}}" style="text-align:left">
                              <i class="draw polygon icon"></i>
                              {{ _('Constellation borders')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="begrid" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_equatorial_grid.data=='true' else ''}}" style="text-align:left">
                              <i class="globe icon"></i>
                              {{ _('Equatorial grid')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="bdso" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_dso.data=='true' else ''}}" style="text-align:left">
                              <i class="superpowers icon"></i>
                              {{ _('Deepsky objects')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="bslsystem" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_solar_system.data=='true' else ''}}" style="text-align:left">
                              <i class="sun icon"></i>
                              {{ _('Solar system')}}
                          </button>
                      </div>
                      <div class="item div_dsscolored">
                          <button id="bdsscolored" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.dss_layer.data=='colored' else ''}}" style="text-align:left">
                              <i class="image outline icon"></i>
                              {{ _('Aladin color') }}
                          </button>
                      </div>
                      {% if chart_control.theme!='night' %}
                      <div class="item div_dssblue">
                          <button id="bdssblue" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.dss_layer.data=='blue' else ''}}" style="text-align:left">
                              <i class="image outline icon"></i>
                              {{ _('Aladin blue') }}
                          </button>
                      </div>
                      <div class="item div_dssfram">
                          <button id="bdssfram" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.dss_layer.data=='fram' else ''}}" style="text-align:left">
                              <i class="image outline icon"></i>
                              {{ _('Aladin fram') }}
                          </button>
                      </div>
                      {% endif %}
                      <div class="item">
                          <button id="bdsomag" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_dso_mag.data=='true' else ''}}" style="text-align:left">
                              <i class="star of life icon"></i>
                              {{ _('DSO mag')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="bstarlbl" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_star_labels.data=='true' else ''}}" style="text-align:left">
                                <i class="star outline icon"></i>
                                {{ _('Star labels')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="mirrorx" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.mirror_x.data=='true' else ''}}" style="text-align:left">
                              <i class="exchange alternate icon"></i>
                              {{ _('Flip horizontally')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="mirrory" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.mirror_y.data=='true' else ''}}" style="text-align:left">
                              <i class="clockwise rotated  exchange alternate icon"></i>
                              {{ _('Flip vertically')}}
                          </button>
                      </div>
                      <div class="item">
                          <button id="boptitraffic" type="button" class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.optimize_traffic.data=='true' else ''}}" style="text-align:left" >
                              <i class="wifi icon"></i>
                              {{ _('Optimize traffic')}}
                          </button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Star mag limit -->
          <div class="ui horizontally fitted item" style="z-index:100">
              <div class="ui small icon dropdown button" data-inverted="" data-tooltip="{{ _('Limit mag') }}" data-position="left center" data-variation="tiny basic">
                  <input type="hidden" id="maglim" name="maglim" value="{{ fchart_form.maglim.data }}" >
                  <span id="smaglim" class="text">{{ fchart_form.maglim.data }}</span>
                  <div id="maglim_menu" class="menu">
                      {% for mag_item in range(chart_control.mag_scale[0], chart_control.mag_scale[1] + 1) %}
                          <div class="item">{{ mag_item }}</div>
                      {% endfor %}
                  </div>
              </div>
          </div>

          <!-- dso mag limit -->
          <div class="ui horizontally fitted item" style="z-index:100">
              <div class="ui small icon dropdown button"  data-inverted="" data-tooltip="{{ _('DSO limit mag') }}" data-position="left center" data-variation="tiny basic">
                  <input type="hidden" id="dso_maglim" name="dso_maglim" value="{{ fchart_form.dso_maglim.data }}">
                  <span id="sdso_maglim" class="text">{{ fchart_form.dso_maglim.data }}</span>
                  <div id="dso_maglim_menu" class="menu">
                      {% for mag_item in range(chart_control.dso_mag_scale[0], chart_control.dso_mag_scale[1] + 1) %}
                          <div class="item">
                              {{ mag_item }}
                          </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </form>

      <!-- Export to PDF -->
      {% if fchart_pdf_url is not none %}
          <div class="ui horizontally fitted item mobile hidden" style="z-index:100">
              <div class="ui floating small icon dropdown button" data-inverted="" data-tooltip="{{ _('PDF export') }}" data-position="left center" data-variation="tiny basic">
                  <i class="download icon"></i>
                  <div class="menu">
                      {% if fchart_items_url is not none %}
                          <div class="item">
                              <i class="dropdown icon"></i>
                              <span class="text">Landscape</span>
                              <div class="right menu">
                                  <a id="download_pdf_landscape" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Download PDF</a>
                                  <a id="download_items_landscape" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Items</a>
                              </div>
                          </div>
                          <div class="item">
                              <i class="dropdown icon"></i>
                              <span class="text">Portrait</span>
                              <div class="right menu">
                                  <a id="download_pdf_portrait" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Download PDF</a>
                                  <a id="download_items_portrait" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Items</a>
                              </div>
                          </div>
                      {% else %}
                          <a id="download_pdf_landscape" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Landscape</a>
                          <a id="download_pdf_portrait" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Portrait</a>
                      {% endif %}
                  </div>
              </div>
          </div>
      {% endif %}

      <div id="isearch" class="ui horizontally fitted small item computer tablet only" style="width: 150px; z-index:100; display:none;">
          <div class="ui icon input">
              <input id="search" name="search" class="search" type="text" placeholder="{{ _('Search...') }} ">
              <i class="search icon"></i>
          </div>
      </div>

      <div class="ui horizontally fitted item" style="margin-right:16px; z-index:100">
          <div class="ui small buttons">
              <button id="bfullscreen" type="button" class="ui icon button">
                  <i class="expand icon"></i>
              </button>
          </div>
      </div>
  </div>

  <div id="right-menu" class="ui vertical icon right floated mobile only menu" style="margin-right:8px;">
      <a id="bhome_mob" class="ui small icon button item" href="{{ url_for('main.index') }}" data-inverted=""
         data-tooltip="{{ _('Home') }}" data-position="bottom left" data-variation="tiny basic"
         style="z-index:100;margin-bottom:8px;">
          <i class="home {{ 'inverted' if chart_control.theme!='light' else ''}} icon"></i>
      </a>

      {{ back_fchart_navig.back_navig_inner(back, back_id, default_back, false, back_anchor, 'bback_mob', ' item', 'z-index:100;margin-bottom:8px;', ' inverted' if chart_control.theme!='light' else '') }}

      {% if default_chart_iframe_url and not disable_to_detail %}
          <a id="bdetail_mob" class="ui small icon button item" data-inverted="" data-tooltip="{{ _('Detail') }}" data-position="bottom left" data-variation="tiny basic"
             style="z-index:100;" onclick="window.location.href=removeParamFromRelativeUrl('{{ default_chart_iframe_url }}', 'embed');">
              <i class="external alternate {{ 'inverted' if chart_control.theme!='light' else '' }} icon"></i>
          </a>
      {% endif %}
  </div>

  <div class="ui" style="position: absolute; top: 0; bottom: 0;display: flex;align-items: center;">
      <div class="ui small buttons">
            <button id="bhideleftpanel" type="button" class="ui compact icon {{ '' if chart_control.theme=='light' else 'inverted' }} secondary basic button"  style="z-index:100;display:none">
                <i class="angle left icon"></i>
            </button>
            <button id="bshowleftpanel1" type="button" class="ui compact icon {{ '' if chart_control.theme=='light' else 'inverted' }} secondary basic mobile hidden button"  style="z-index:100;display:none;">
                <i class="angle right icon"></i>
            </button>
      </div>
  </div>

  <div class="ui" style="position: absolute; top: 0; bottom: 0; right: 0; display: flex; align-items: center;">
      <div class="ui small buttons">
            <button id="bshowleftpanel2" type="button" class="ui compact icon {{ '' if chart_control.theme=='light' else 'inverted' }} secondary basic mobile only button"  style="z-index:100;display:none;" >
                <i class="angle left icon"></i>
            </button>
      </div>
  </div>

  <div id="isearch2" class="ui tablet hidden computer hidden input" style="z-index:100; position: absolute; bottom: 0; right:0; display:none;">
      <div id="iisearch2" class="ui tiny input transition hidden" style="width:150px; margin-right: 0.5em;">
          <input id="iiisearch2" name="search" type="text" class="search" placeholder="{{ _('Search...') }}">
      </div>
      <button class="ui tiny icon button" id="bsearch2">
          <i class="search icon"></i>
      </button>
  </div>

{% assets 'aladin_css' %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
  <div class="aladin-logo-container tablet hidden computer hidden" style="z-index:100;bottom: 35px">
      <a href="http://aladin.unistra.fr/" title="Powered by Aladin Lite" target="_blank"><div class="aladin-logo aladin-logo-small"></div></a>
  </div>
  <div class="aladin-logo-container mobile hidden" style="z-index:100;">
      <a href="http://aladin.unistra.fr/" title="Powered by Aladin Lite" target="_blank"><div class="aladin-logo aladin-logo-large" style="width: 90px;"></div></a>
  </div>
</div>

<div id="fchart-aladin-div" style="position:fixed;left:-9999px; top:-9999px; z-index:0;">
</div>

{% if chart_control.show_not_found %}
    <div class="ui tiny modal notFoundModal" style="z-index:10000;">
        <div class="header">{{ _('Object not found') }}</div>
        <div class="content">
            <p>{{ _('Specified object was not found.') }}</p>
        </div>
        <div class="actions">
            <a class="ui right labeled icon approve button" href="#" onclick="$('.ui.modal.notFoundModal').modal('hide')">
               {{ _('Close') }}
               <i class="checkmark icon"></i>
          </a>
        </div>
    </div>
<style>
.modals.page {
  z-index: 10000 !important;
}
</style>
{% endif %}

<style>
.custom-icon-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
    text-align: left;
}
.custom-button-image {
    height: 16px;
    width: 16px;
    margin-right: 0.5em;
    object-fit: contain;
}
.ui.vertical.menu {
  border: none;
  box-shadow: none;
}
{% if chart_control.theme!='night' %}
.ui.active.toggle.button {
  background-color: #2185d0 !important;
}
{% endif %}
</style>

{% assets 'aladin_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets 'astro_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

<script type="text/javascript" src="{{ url_for('static', filename='js/fchart.js') }}"></script>

<script type="text/javascript">

    function isWebGL2Supported() {
        try {
            var canvas = document.createElement('canvas');
            return !!canvas.getContext('webgl2');
        } catch (e) {
            return false;
        }
    }

    function addCommonChartUrlParams(url, commonParams) {
        const queryStartIndex = url.indexOf('?');

        if (queryStartIndex === -1) {
            return url + "?" + commonParams;
        } else {
            const baseUrl = url.substring(0, queryStartIndex);
            const existingQuery = url.substring(queryStartIndex + 1);
            return baseUrl + "?" + commonParams + "&" + existingQuery;
        }
    }

    function createFChart(fieldSizes, isEquatorial, phi, theta, obj_ra, obj_dec, longitude, latitude, useCurrentTime, charDateTime,
                          theme, legendUrl, chartUrl, aladin, projection) {
        var showAladin = (aladin != null) && {{ 'true' if fchart_form.dss_layer.data in ['colored', 'blue', 'fram'] else 'false' }};
        $('.aladin-logo-container').toggle(showAladin);

        var fchart = new FChart('#fchart-div', {{ fchart_form.radius.data }}, fieldSizes, isEquatorial,
                phi, theta, obj_ra, obj_dec, longitude, latitude, useCurrentTime, charDateTime, theme, legendUrl, chartUrl,
                "{{ url_for('main.global_search') }}?q=__SEARCH__{{ (('&' + search_url_params) if search_url_params else '') |safe}}",
                {{ 'true' if fchart_form.fullscreen.data == 'true' else 'false' }},
                {{ 'true' if fchart_form.splitview.data == 'true' else 'false' }},
                {{ 'true' if fchart_form.mirror_x.data == 'true' else 'false' }},
                {{ 'true' if fchart_form.mirror_y.data == 'true' else 'false' }},
                '{{ default_chart_iframe_url }}',
                '{{ embed }}',
                aladin,
                showAladin,
                projection
        );

        fchart.onFieldChange(function(fldSizeIndex) {
            submitDisabled = true;
            $('#radius').val(fldSizeIndex);
            $('#maglim').val(magRangeValues[fldSizeIndex]);
            $('#dso_maglim').val(dsoMagRangeValues[fldSizeIndex]);
            $('#smaglim').text(magRangeValues[fldSizeIndex].toString());
            $('#sdso_maglim').text(dsoMagRangeValues[fldSizeIndex].toString());

            $('#maglim_menu').empty();
            var i;
            for (i=magRanges[fldSizeIndex][0]; i<=magRanges[fldSizeIndex][1]; i++) {
                $('<div class="item">' + i +'</div>')
                    .appendTo('#maglim_menu');
            }

            $('#dso_maglim_menu').empty();
            for (i=dsoMagRanges[fldSizeIndex][0]; i<=dsoMagRanges[fldSizeIndex][1]; i++) {
                $('<div class="item">' + i +'</div>')
                    .appendTo('#dso_maglim_menu');
            }

            submitDisabled = false;
        });

        fchart.onScreenModeChange(function(fullScreen, splitView) {
            $('#fullscreen').val(fullScreen);
            $('#splitview').val(splitView);

            if (splitView) {
                $("#bhideleftpanel").show();
                $("#bshowleftpanel1, #bshowleftpanel2").hide();
                if (window.innerWidth > 768) {
                    $("#isearch, #isearch2, #bhome").show();
                } else {
                    $("#top-menu, #right-menu, #isearch2").hide();
                }
                $("#bback, #bdetail").show();
            } else {
                $("#top-menu, #right-menu").show();
                if (fullScreen) {
                    $("#bshowleftpanel1, #bshowleftpanel2, #isearch, #isearch2, #bhome").show();
                    $("#bback, #bdetail").show();
                    $("#bhideleftpanel").hide();
                } else {
                    $("#bshowleftpanel1, #bshowleftpanel2, #bhideleftpanel, #isearch2").hide();
                    $("#bhome, #bback, #bdetail").hide();
                }
            }
       });

       return fchart;
    }

    function adjustAladinVisibility() {
        if (!isEquatorial || !isWebGL2Supported()) {
            $('.div_dsscolored').hide();
            $('.div_dssblue').hide();
            $('.div_dssfram').hide();
        } else {
            $('.div_dsscolored').show();
            $('.div_dssblue').show();
            $('.div_dssfram').show();
        }
    }

    function extractMaglimArray(response) {
        let maglimObj = response.data.maglim;
        let maglimArr = [];
        for (let i = 0; i < Object.keys(maglimObj).length; i++) {
            if (maglimObj.hasOwnProperty(i)) {
                maglimArr.push(maglimObj[i]);
            }
        }
        return maglimArr;
    }

    function getChartPdfUrl() {
        if (isEquatorial) {
            return addCommonChartUrlParams("{{ fchart_pdf_url | safe }}", "ra=_RA_&dec=_DEC_&fsz=_FSZ_");
        } else {
            return addCommonChartUrlParams("{{ fchart_pdf_url | safe }}", "az=_AZ_&alt=_ALT_&fsz=_FSZ_");
        }
    }

    var submitDisabled = false;
    var fieldSizes = [{{ chart_control.gui_field_sizes }}];
    var magRanges = [
        {% for mr in chart_control.mag_ranges %} [{{ mr[0] ~ ',' ~ mr[1] }}], {% endfor %}
    ];
    var magRangeValues = [
        {% for mrv in chart_control.mag_range_values %}{{ mrv }}, {% endfor %}
    ];
    var dsoMagRanges = [
        {% for mr in chart_control.dso_mag_ranges %} [{{ mr[0] ~ ',' ~ mr[1] }}], {% endfor %}
    ];
    var dsoMagRangeValues = [
        {% for mrv in chart_control.dso_mag_range_values %}{{ mrv }}, {% endfor %}
    ];

    var phi, theta;
    var obj_ra = '{{ obj_ra }}';
    var obj_dec = '{{ obj_dec }}';

    var theme = '{{ chart_control.theme }}';

    var isEquatorial = $('#is_equatorial').val() == 'true';

    if (isEquatorial) {
        phi = parseFloat($('#ra').val());
        theta = parseFloat($('#dec').val());
    } else {
        phi = parseFloat($('#az').val());
        theta = parseFloat($('#alt').val());
    }
    var longitude = {{ fchart_form.longitude.data }};
    var latitude = {{ fchart_form.latitude.data }};

{% if fchart_form.use_current_time.data=='true' %}
    var useCurrentTime = true;
    var charDateTime = new Date();
{% else %}
    var useCurrentTime = false;
    var charDateTime = const date = new Date('{{ fchart_form.chart_date_time.data }}');
{% endif %}

    var chartUrlParamsEq = "ra=_RA_&dec=_DEC_&fsz=_FSZ_&width=_WIDTH_&height=_HEIGHT_&dt=_DATE_TIME_";
    var chartUrlParamsHoriz = "az=_AZ_&alt=_ALT_&fsz=_FSZ_&width=_WIDTH_&height=_HEIGHT_&dt=_DATE_TIME_";

    var chartUrlEq = addCommonChartUrlParams("{{ fchart_img_url | safe }}", chartUrlParamsEq);
    var legendUrlEq = addCommonChartUrlParams("{{ fchart_legend_url | safe }}", chartUrlParamsEq);
    var chartUrlHoriz = addCommonChartUrlParams("{{ fchart_img_url | safe }}", chartUrlParamsHoriz);
    var legendUrlHoriz = addCommonChartUrlParams("{{ fchart_legend_url | safe }}", chartUrlParamsHoriz);

    var chartUrl = isEquatorial ? chartUrlEq : chartUrlHoriz;
    var legendUrl = isEquatorial ? legendUrlEq : legendUrlHoriz;

{% if fchart_items_url is not none %}
    var chartItemsUrl;
    if (isEquatorial) {
        chartItemsUrl = addCommonChartUrlParams("{{ fchart_items_url | safe }}", "ra=_RA_&dec=_DEC_&fsz=_FSZ_");
    } else {
        chartItemsUrl = addCommonChartUrlParams("{{ fchart_items_url | safe }}", "az=_AZ_&alt=_ALT_&fsz=_FSZ_");
    }
{% endif %}

    var projection = new Projection();

    var aladin;
    var fchart;
    var showAladin;

    projection.setProjection(Projection.PROJ_TAN2);

    if (isWebGL2Supported()) {
        A.init.then(() => {
            aladin = A.aladin('#fchart-aladin-div', {
                survey: "{{ 'P/DSS2/blue' if fchart_form.dss_layer.data == 'blue' else 'P/CTA-FRAM/survey/color' if fchart_form.dss_layer.data == 'fram' else 'P/DSS2/color' }}",
                fov:60,
                target: "0 0 0 0 0 0",
                projection: "STG",
                fullScreen: false,
                showReticle: false,
                showZoomControl:          false,
                showFullscreenControl:    false,
                showLayersControl:        false,
                showGotoControl:          false,
                showSimbadPointerControl: false,
                showShareControl:         false,
                showCatalog:              false,
                showFrame:                false,
                showCooGrid:              false,
                fullScreen:               false,
                log:                      true
            });
            fchart = createFChart(fieldSizes, isEquatorial, phi, theta, obj_ra, obj_dec, longitude, latitude,
                                  useCurrentTime, charDateTime, theme, legendUrl, chartUrl, aladin, projection);
            fchart.setUseCurrentTyme({{ fchart_form.use_current_time.data }});
            fchart.onWindowLoad();
        });
    } else {
        fchart = createFChart(fieldSizes, isEquatorial, phi, theta, obj_ra, obj_dec, longitude, latitude,
                              useCurrentTime, charDateTime, theme, legendUrl, chartUrl, null, projection);
    }

    adjustAladinVisibility();

    if ({{ 'true' if fchart_form.fullscreen.data == 'true' or fchart_form.splitview.data == 'true' else 'false' }}) {
        $("#isearch, #isearch2, #bhome, #bback, #bdetail").show();
    }

    if ({{ 'true' if fchart_form.splitview.data == 'true' else 'false' }}) {
        $("#bhideleftpanel").show();
    }

    if ({{ 'true' if fchart_form.fullscreen.data == 'true' else 'false' }}) {
        $("#bshowleftpanel1").show();
        $("#bshowleftpanel2").show();
    }

    $('#bequatorial').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#is_equatorial').val() == 'true' ? 'false' : 'true';
        $('#is_equatorial').val(value);
        isEquatorial = (value == 'true');
        chart_param_ajax('chart_is_equatorial', value);
        updateChartUrls();
        adjustAladinVisibility();
        fchart.setChartUrlFlag('Q', value);
        if (!isEquatorial) {
            fchart.setAladinLayer('');
        } else {
            fchart.setAladinLayer($('#dss_layer').val());
        }
        fchart.reloadImage();
    });

    $('#btelrad').click(function(){
        $(this).toggleClass('active');
        var value = $('#show_telrad').val() == 'true' ? 'false' : 'true';
        $('#show_telrad').val(value);
        $('#eyepiece_fov').val('');
        chart_param_ajax('chart_show_telrad', value);
        fchart.setChartUrlFlag('T', value)
        fchart.reloadLegendImage();
    });

    $('#bpicker').click(function(){
        $(this).toggleClass('active');
        var value = $('#show_picker').val() == 'true' ? 'false' : 'true';
        $('#show_picker').val(value);
        chart_param_ajax('chart_show_picker', value);
        fchart.setChartUrlFlag('P', value);
        fchart.reloadLegendImage();
    });

    $('#bconstellshapes').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_constell_shapes').val() == 'true' ? 'false' : 'true';
        $('#show_constell_shapes').val(value);
        chart_param_ajax('chart_show_constell_shapes', value);
        fchart.setChartUrlFlag('C', value);
        fchart.reloadImage();
    });

    $('#bconstellborders').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_constell_borders').val() == 'true' ? 'false' : 'true';
        $('#show_constell_borders').val(value);
        chart_param_ajax('chart_show_constell_borders', value);
        fchart.setChartUrlFlag('B', value);
        fchart.reloadImage();
    });

    $('#begrid').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_egrid').val() == 'true' ? 'false' : 'true';
        $('#show_egrid').val(value);
        chart_param_ajax('chart_show_equatorial_grid', value);
        fchart.setChartUrlFlag('E', value);
        fchart.reloadImage();
    });

    $('#bdso').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_dso').val() == 'true' ? 'false' : 'true';
        $('#show_dso').val(value);
        chart_param_ajax('chart_show_dso', value);
        fchart.setChartUrlFlag('D', value);
        fchart.reloadImage();
    });

    $('#bslsystem').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_solar_system').val() == 'true' ? 'false' : 'true';
        $('#show_solar_system').val(value);
        chart_param_ajax('chart_solar_system', value);
        fchart.setChartUrlFlag('O', value);
        fchart.reloadImage();
    });

    $('#bdsomag').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_dso_mag').val() == 'true' ? 'false' : 'true';
        $('#show_dso_mag').val(value);
        chart_param_ajax('chart_show_dso_mag', value);
        fchart.setChartUrlFlag('M', value);
        fchart.reloadImage();
    });

    $('#bstarlbl').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#show_star_lbl').val() == 'true' ? 'false' : 'true';
        $('#show_star_lbl').val(value);
        chart_param_ajax('chart_show_star_lbl', value);
        fchart.setChartUrlFlag('N', value);
        fchart.reloadImage();
    });

    $('#bdsscolored').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#dss_layer').val() != 'colored' ? 'colored' : '';
        $('#dss_layer').val(value);
        if (value != '') {
            $('#bdssblue').removeClass('active');
            $('#bdssfram').removeClass('active');
        }
        $('.aladin-logo-container').toggle(value != '');
        chart_param_ajax('chart_dss_layer', value);
        fchart.setAladinLayer(value);
    });

    $('#bdssblue').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#dss_layer').val() != 'blue' ? 'blue' : '';
        $('#dss_layer').val(value);
        if (value != '') {
            $('#bdsscolored').removeClass('active');
            $('#bdssfram').removeClass('active');
        }
        $('.aladin-logo-container').toggle(value != '');
        chart_param_ajax('chart_dss_layer', value);
        fchart.setAladinLayer(value);
    });

    $('#bdssfram').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#dss_layer').val() != 'fram' ? 'fram' : '';
        $('#dss_layer').val(value);
        if (value != '') {
            $('#bdsscolored').removeClass('active');
            $('#bdssblue').removeClass('active');
        }
        $('.aladin-logo-container').toggle(value != '');
        chart_param_ajax('chart_dss_layer', value);
        fchart.setAladinLayer(value);
    });

    $('#mirrorx').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#mirror_x').val() == 'true' ? 'false' : 'true';
        $('#mirror_x').val(value);
        fchart.setChartUrlFlag('X', value);
        chart_param_ajax('chart_mirror_x', value);
        fchart.setMirrorX(value)
        fchart.reloadImage();
    });

    $('#mirrory').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#mirror_y').val() == 'true' ? 'false' : 'true';
        $('#mirror_y').val(value);
        fchart.setChartUrlFlag('Y', value);
        chart_param_ajax('chart_mirror_y', value);
        fchart.setMirrorY(value)
        fchart.reloadImage();
    });

    $('#boptitraffic').click(function(){
        event.stopPropagation();
        $(this).toggleClass('active');
        var value = $('#optimize_traffic').val() == 'true' ? 'false' : 'true';
        $('#optimize_traffic').val(value);
        chart_param_ajax('optimize_traffic', value);
    });

    $('#bcenterobj').click(function(){
        fchart.centerObjectInFov();
    });

    $('#bfullscreen').click(function(){
        fchart.toggleFullscreen();
    });

    $('#bhideleftpanel').click(function(){
        fchart.toggleSplitView();
//         fchart.setupFullscreen();
    });

    $('#bshowleftpanel1').click(function(){
        fchart.toggleSplitView();
    });

    $('#bshowleftpanel2').click(function(){
        fchart.toggleSplitView();
    });

    $('.ui.dropdown').dropdown();

    $('#maglim').change(function() {
        var fldSize = fieldSizes[$('#radius').val()];
        var response = chart_param_ajax('pref_maglim' + fldSize, $('#maglim').val());
        var maglimArr = extractMaglimArray(response);
        if (maglimArr.length == magRangeValues.length) {
            magRangeValues = maglimArr .slice();
        }
        fchart.reloadImage();
    });

    $('#dso_maglim').change(function() {
        var fldSize = fieldSizes[$('#radius').val()];
        var response = chart_param_ajax('pref_dso_maglim' + fldSize, $('#dso_maglim').val());
        var dsoMaglimArr = extractMaglimArray(response);
        if (dsoMaglimArr.length == dsoMagRangeValues.length) {
            dsoMagRangeValues = dsoMaglimArr .slice();
        }
        fchart.reloadImage();
    });

{% if fchart_pdf_url is not none %}
    $('#download_pdf_landscape').click(function(event){
        $('#download_pdf_landscape').attr("href", fchart.formatUrl(getChartPdfUrl() + '&landscape=true'));
    });

    $('#download_pdf_portrait').click(function(event){
        $('#download_pdf_portrait').attr("href", fchart.formatUrl(getChartPdfUrl() + '&landscape=false'));
    });
{% endif %}

{% if fchart_items_url is not none %}
    $('#download_items_landscape').click(function(event){
        $('#download_items_landscape').attr("href", fchart.formatUrl(chartItemsUrl + '&landscape=true'));
    });
    $('#download_items_portrait').click(function(event){
        $('#download_items_portrait').attr("href", fchart.formatUrl(chartItemsUrl + '&landscape=false'));
    });
{% endif %}

    $('#bsearch2').on('click', function() {
        if ($('#iisearch2').hasClass('hidden')) {
            $('#iisearch2').transition({
                animation  : 'fade',
                onComplete : function() {
                  $('#iiisearch2').focus();
              }
            });
          } else {
            $('#iisearch2').transition('fade');
          }
    });

    $('#iiisearch2').on('blur', function() {
        if (!$('#iisearch2').hasClass('hidden')) {
          $('#iisearch2').transition('fade');
        }
    });

    $('.search').on('keydown', function(event) {
        if(event.which === 13) {
            event.preventDefault();
            window.location.href = encodeURI("{{ url_for('main.global_search') }}?q=" + $(this).val() + "&fromchart=true&seltab=chart"
            + getFullscreenSplitViewUrlPart("&") + "&back_url=" + encodeURIComponent('{{ chart_control.back_search_url_b64 }}'));
        }
    });

    $('#date_from').calendar({
        type: 'date',
        monthFirst: false,
        endCalendar: $('#date_to'),
        formatter: {
            date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + '/' + month + '/' + year;
            }
        },
    });

    $('#date_to').calendar({
        type: 'date',
        monthFirst: false,
        startCalendar: $('#date_from'),
        formatter: {
            date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + '/' + month + '/' + year;
            }
        },
        onChange: function () {
            $(this).closest('form').submit();
        }
    });

    function getFullscreenSplitViewUrlPart(prefix) {
        res = "";
        if ($('#fullscreen').val() == 'true') {
            res += "&fullscreen=" + $('#fullscreen').val();
        }
        if ($('#splitview').val() == 'true') {
            res += "&splitview=" + $('#splitview').val();
        }
        if (res != "") {
            res = prefix + res.substring(1);
        }
        return res
    }

    function updateChartUrls() {
        if (isEquatorial) {
            fchart.updateUrls(isEquatorial, legendUrlEq, chartUrlEq);
        } else {
            fchart.updateUrls(isEquatorial, legendUrlHoriz, chartUrlHoriz);
        }
    }

    function setEyepieceFov(eyepieceFov) {
        $('#eyepiece_fov').val(eyepieceFov);
        fchart.setLegendUrlParam('epfov', eyepieceFov);
        fchart.reloadLegendImage();
    }

    function unselectFov() {
        $('#eyepiece_fov').val('');
        $('#show_telrad').val('false');
        $('#btelrad').removeClass('active');
        chart_param_ajax('chart_eyepiece_fov', '', 'chart_show_telrad', 'false');
        fchart.setChartUrlFlag('T', false);
        fchart.setLegendUrlParam('epfov', '');
        fchart.reloadLegendImage();
    }

    function removeParamFromRelativeUrl(relativeUrl, param) {
      const baseUrl = window.location.origin;
      const url = new URL(relativeUrl, baseUrl);
      url.searchParams.delete(param);
      return url.toString();
    }

    function chart_param_ajax(...params) {
        const data = {};
        for (let i = 0; i < params.length; i += 2) {
            data[params[i]] = params[i + 1];
        }

        let response = null;

        $.ajax({
            url: "{{ url_for('main_chart.chart_param') }}", // Flask route
            type: 'POST',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(data), // Send as JSON
            dataType: 'json',
            success: function(res) {
                response = res;
            },
            error: function() {
                console.log('An error occurred while setting session params.');
            }
        });
        return response;
    }

    function syncDateTimeInput() {
        const year   = parseInt($('#yearInput').val(), 10)   || 0;
        const month  = parseInt($('#monthInput').val(), 10)  || 1;  // 1-based
        const day    = parseInt($('#dayInput').val(), 10)    || 1;
        const hour   = parseInt($('#hourInput').val(), 10)   || 0;
        const minute = parseInt($('#minuteInput').val(), 10) || 0;
        const second = parseInt($('#secondInput').val(), 10) || 0;

        const date = new Date(year, month - 1, day, hour, minute, second).toISOString();

        $('#chart_date_time').val(date);
        fchart.setDateTime(date)
        fchart.reloadImage();
    }

    function syncDateTimeComponentsInputs() {
        const isoValue = $('#chart_date_time').val();
        if (isoValue) {
            const date = new Date(isoValue);

            if (!isNaN(date.getTime())) {
                $('#yearInput').val(date.getFullYear());
                $('#monthInput').val(date.getMonth() + 1);
                $('#dayInput').val(date.getDate());
                $('#hourInput').val(date.getHours());
                $('#minuteInput').val(date.getMinutes());
                $('#secondInput').val(date.getSeconds());
            }
        }
    }

    function updateDateTimeControls(useCurrentTime) {
        $("#useCurrentTime").val(useCurrentTime ? "true" : "false");

        var dateTimeInputs = [ "#yearInput", "#monthInput", "#dayInput", "#hourInput", "#minuteInput", "#secondInput" ];

        $(dateTimeInputs.join(", ")).prop("disabled", useCurrentTime);

        var dateTimeButtons = [
            ".increment-year", ".decrement-year", ".increment-month", ".decrement-month",
            ".increment-day", ".decrement-day", ".increment-hour", ".decrement-hour",
            ".increment-minute", ".decrement-minute", ".increment-second", ".decrement-second"
        ];

        $(dateTimeButtons.join(", ")).toggleClass("disabled", useCurrentTime);
        if (fchart != undefined) {
            fchart.setUseCurrentTyme(useCurrentTime);
            fchart.reloadImage();
        }
    }

    function changeDateTimeValue(component, delta) {
        let year   = parseInt($('#yearInput').val(), 10)   || 0;
        let month  = (parseInt($('#monthInput').val(), 10) - 1) || 0;
        let day    = parseInt($('#dayInput').val(), 10)    || 1;
        let hour   = parseInt($('#hourInput').val(), 10)   || 0;
        let minute = parseInt($('#minuteInput').val(), 10) || 0;
        let second = parseInt($('#secondInput').val(), 10) || 0;

        let date = new Date(year, month, day, hour, minute, second);

        switch(component) {
            case 'year':
                date.setFullYear(date.getFullYear() + delta);
                break;
            case 'month':
                date.setMonth(date.getMonth() + delta);
                break;
            case 'day':
                date.setDate(date.getDate() + delta);
                break;
            case 'hour':
                date.setHours(date.getHours() + delta);
                break;
            case 'minute':
                date.setMinutes(date.getMinutes() + delta);
                break;
            case 'second':
                date.setSeconds(date.getSeconds() + delta);
                break;
        }

        $('#yearInput').val(date.getFullYear());
        $('#monthInput').val(date.getMonth() + 1);
        $('#dayInput').val(date.getDate());
        $('#hourInput').val(date.getHours());
        $('#minuteInput').val(date.getMinutes());
        $('#secondInput').val(date.getSeconds());

        syncDateTimeInput();
    }

    $('#useCurrentTimeCheckbox').change(function() {
        updateDateTimeControls(this.checked);
    });

    $('.increment-year').on('click', function() { changeDateTimeValue('year', +1, 1, 9999); });
    $('.increment-month').on('click', function() { changeDateTimeValue('month', +1, 1, 12); });
    $('.increment-day').on('click', function() { changeDateTimeValue('day', +1, 1, 31); });
    $('.increment-hour').on('click', function() { changeDateTimeValue('hour', +1, 0, 23); });
    $('.increment-minute').on('click', function() { changeDateTimeValue('minute', +1, 0, 59); });
    $('.increment-second').on('click', function() { changeDateTimeValue('second', +1, 0, 59); });
    $('.decrement-year').on('click', function() { changeDateTimeValue('year', -1, 1, 9999); });
    $('.decrement-month').on('click', function() { changeDateTimeValue('month', -1, 1, 12); });
    $('.decrement-day').on('click', function() { changeDateTimeValue('day', -1, 1, 31); });
    $('.decrement-hour').on('click', function() { changeDateTimeValue('hour', -1, 0, 23); });
    $('.decrement-minute').on('click', function() { changeDateTimeValue('minute', -1, 0, 59); });
    $('.decrement-second').on('click', function() { changeDateTimeValue('second', -1, 0, 59); });

    if ({{ 'true' if fchart_form.splitview.data == 'true' else 'false' }}) {
        if (window.innerWidth <= 768) {
            $("#top-menu, #right-menu, #isearch2").hide();
        }
    }

    window.onload = function() {
        if (fchart != undefined) {
            fchart.onWindowLoad();
        }
{% if chart_control.show_not_found %}
        $('.ui.modal.notFoundModal')
            .modal('show');
{% endif %}
        /* Fix FomanticUI bug on mobiles */
        $('#layers_dropdown')
            .dropdown({
                  displayType : 'block',
        });

        updateDateTimeControls({{ fchart_form.use_current_time.data }});
        syncDateTimeComponentsInputs();
    }

$('.date-int-popup')
  .popup({
    on: 'click'
  })
;
</script>

{% endmacro %}
