{% macro fchart(fchart_url, fchart_img_url, fchart_legend_url, fchart_pdf_url, fchart_items_url, fchart_form, default_chart_iframe_url='', embed='', search_url_params='', obj_ra='', obj_dec='') %}

{% set is_fullscreen = True if fchart_form.fullscreen.data == 'true' else False %}
{% set is_splitview = True if fchart_form.splitview.data.data == 'true' else False %}
{% set data_position='data-position="left center"' if is_fullscreen or is_splitview else '' %}

<div id="fchart-div" style="width:100%;height:75vh;background:{{ '#fff' if chart_control.theme=='light' else ('#020202' if chart_control.theme=='night' else '#03030A') }}">
  <div  class="ui secondary menu">

      <div id="bhome" class="ui item" style="z-index:100;display:none;">
          <div class="ui small buttons">
              <a class="ui icon button" href="{{ url_for('main.index') }}">
                  <i class="home icon"></i>
              </a>
          </div>
      </div>

      <form id="fmchart" action="{{ fchart_url }}" method="post" class="right menu">
          <input type="hidden" id="ra" name="ra" value="{{ fchart_form.ra.data }}" >
          <input type="hidden" id="dec" name="dec" value="{{ fchart_form.dec.data }}" >
          <input type="hidden" id="fullscreen" name="fullscreen" value="{{ fchart_form.fullscreen.data }}" >
          <input type="hidden" id="splitview" name="splitview" value="{{ fchart_form.splitview.data }}" >
          <input type="hidden" id="radius" name="{{ fchart_form.radius.name }}" value="{{ fchart_form.radius.data }}">
          <input type="hidden" id="show_telrad" name="{{ fchart_form.show_telrad.name }}" value="{{ fchart_form.show_telrad.data }}">
          <input type="hidden" id="show_picker" name="{{ fchart_form.show_picker.name }}" value="{{ fchart_form.show_picker.data }}">
          <input type="hidden" id="show_constell_shapes" name="{{ fchart_form.show_constell_shapes.name }}" value="{{ fchart_form.show_constell_shapes.data }}">
          <input type="hidden" id="show_constell_borders" name="{{ fchart_form.show_constell_borders.name }}" value="{{ fchart_form.show_constell_borders.data }}">
          <input type="hidden" id="show_dso" name="{{ fchart_form.show_dso.name }}" value="{{ fchart_form.show_dso.data }}">
          <input type="hidden" id="show_solar_system" name="{{ fchart_form.show_solar_system.name }}" value="{{ fchart_form.show_solar_system.data }}">
          <input type="hidden" id="show_dso_mag" name="{{ fchart_form.show_dso_mag.name }}" value="{{ fchart_form.show_dso_mag.data }}">
          <input type="hidden" id="show_star_mag" name="{{ fchart_form.show_star_mag.name }}" value="{{ fchart_form.show_star_mag.data }}">
          <input type="hidden" id="show_egrid" name="{{ fchart_form.show_equatorial_grid.name }}" value="{{ fchart_form.show_equatorial_grid.data }}">
          <input type="hidden" id="dss_layer" name="{{ fchart_form.dss_layer.name }}" value="{{ fchart_form.dss_layer.data }}">
          <input type="hidden" id="eyepiece_fov" name="{{ fchart_form.eyepiece_fov.name }}" value="{{ fchart_form.eyepiece_fov.data }}">
          <input type="hidden" id="mirror_x" name="{{ fchart_form.mirror_x.name }}" value="{{ fchart_form.mirror_x.data }}" >
          <input type="hidden" id="mirror_y" name="{{ fchart_form.mirror_y.name }}" value="{{ fchart_form.mirror_y.data }}" >
          <input type="hidden" id="optimize_traffic" name="{{ fchart_form.optimize_traffic.name }}" value="{{ fchart_form.optimize_traffic.data }}" >
          <input type="hidden" id="show_layers_dropdown" name="{{ fchart_form.show_layers_dropdown.name }}" value="{{ fchart_form.show_layers_dropdown.data }}">

          {% if chart_control.has_date_from_to %}
              <div class="ui horizontally fitted mobile hidden item" style="z-index:100;">
                  <div class="date-int-popup ui small icon button" data-variation="inverted" data-inverted="" data-tooltip="{{ _('Interval') }}" data-position="bottom left" data-variation="tiny basic">
                      <i class="calendar icon"></i>
                  </div>
                  <div class="ui popup transition hidden">
                      <div class="item">
                          <div class="ui calendar" id="date_from">
                              <div class="ui small input left icon">
                                  <i class="calendar icon"></i>
                                  <input name="{{ fchart_form.date_from.name }}" placeholder="Date" type="text"
                                          value="{{ fchart_form.date_from.data.strftime('%d/%m/%Y') if fchart_form.date_from.data else ''}}">
                              </div>
                          </div>
                          <div class="ui left pointing label">
                             {{ _('Date From') }}
                          </div>
                      </div>
                      <div class="item">
                          <div class="ui calendar" id="date_to">
                              <div class="ui small input left icon">
                                  <i class="calendar icon"></i>
                                  <input name="{{ fchart_form.date_to.name }}" placeholder="Date" type="text"
                                          value="{{ fchart_form.date_to.data.strftime('%d/%m/%Y') if fchart_form.date_to.data else ''}}">
                              </div>
                          </div>
                          <div class="ui left pointing label">
                             {{ _('Date To') }}
                          </div>
                      </div>
                  </div>
              </div>
          {% endif %}

          <div class="ui right horizontally fitted small monitor item" style="z-index:100">
              {% if chart_control.equipment_telescopes %}
                  <div class="ui small icon dropdown icon button" data-inverted="" data-tooltip="{{ _('Settings') }}" data-position="left center" data-variation="tiny basic">
                      <i class="crosshairs icon"></i>
                      <div class="ui vertical buttons menu">
                          <div class="item">
                              <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_telrad.data=='true' else ''}} btelrad" style="text-align:left" >
                                  <i class="bullseye icon"></i>
                                  {{ _('Telrad') }}
                              </button>
                          </div>
                          {% if chart_control.equipment_telescopes %}
                              {% for telescope in chart_control.equipment_telescopes %}
                              <div class="item">
                                      <button class="ui tiny labeled icon button"  style="text-align:left">
                                          <i class="binoculars icon"></i>
                                          <span class="text">{{ telescope.name }} <i class="dropdown icon"></i></span>
                                      </button>
                                  <div class="right menu">
                                      {% for eyepiece in chart_control.equipment_eyepieces %}
                                          <div class="item" onclick="setEyepieceFov({{ telescope.get_fov(eyepiece) }})">
                                              {{ eyepiece.name }}
                                          </div>
                                      {% endfor %}
                                  </div>
                              </div>
                              {% endfor %}
                          {% endif %}
                          <div class="item">
                              <button class="ui labeled tiny icon button" style="text-align:left" onclick="unselectFov()">
                                  <i class="toggle off icon"></i>
                                  {{ _('Unselect') }}
                              </button>
                          </div>
                      </div>
                  </div>
              {% else %}
                  <button class="ui toggle small icon button{{ ' active' if fchart_form.show_telrad.data=='true' else ''}} btelrad"
                          data-inverted=""  data-tooltip="{{ _('Telrad')}}" data-position="bottom center" data-variation="tiny basic">
                      <i class="bullseye icon"></i>
                  </button>
              {% endif %}
          </div>

          <div class="ui right horizontally fitted small item" style="z-index:100">
              <div id="layers_dropdown" class="ui small icon dropdown icon button" data-inverted="" data-tooltip="{{ _('Settings') }}" data-position="left center" data-variation="tiny basic">
                  <i class="layer group icon"></i>
                  <div class="ui vertical buttons menu">
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_picker.data=='true' else ''}} bpicker" style="text-align:left">
                              <i class="square outline icon"></i>
                              {{ _('Picker') }}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_constell_shapes.data=='true' else ''}} bconstellshapes" style="text-align:left">
                              <i class="lastfm icon"></i>
                              {{ _('Constellation lines') }}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_constell_borders.data=='true' else ''}} bconstellborders" style="text-align:left">
                              <i class="draw polygon icon"></i>
                              {{ _('Constellation borders')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_equatorial_grid.data=='true' else ''}} begrid" style="text-align:left">
                              <i class="globe icon"></i>
                              {{ _('Equatorial grid')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_dso.data=='true' else ''}} bdso" style="text-align:left">
                              <i class="superpowers icon"></i>
                              {{ _('Deepsky objects')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_solar_system.data=='true' else ''}} bslsystem" style="text-align:left">
                              <i class="superpowers icon"></i>
                              {{ _('Solar system')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.dss_layer.data=='colored' else ''}} bdsscolored" style="text-align:left">
                              <i class="image outline icon"></i>
                              {{ _('DSS colored') }}
                          </button>
                      </div>
                      {% if chart_control.theme!='night' %}
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.dss_layer.data=='blue' else ''}} bdssblue" style="text-align:left">
                              <i class="image outline icon"></i>
                              {{ _('DSS blue') }}
                          </button>
                      </div>
                      {% endif %}
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_dso_mag.data=='true' else ''}} bdsomag" style="text-align:left">
                              <i class="star of life icon"></i>
                              {{ _('DSO mag')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.show_star_mag.data=='true' else ''}} bstarmag" style="text-align:left">
                                <i class="star outline icon"></i>
                                {{ _('Star mag')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.mirror_x.data=='true' else ''}} mirrorx" style="text-align:left">
                              <i class="exchange alternate icon"></i>
                              {{ _('Flip horizontally')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.mirror_y.data=='true' else ''}} mirrory" style="text-align:left">
                              <i class="clockwise rotated  exchange alternate icon"></i>
                              {{ _('Flip vertically')}}
                          </button>
                      </div>
                      <div class="item">
                          <button class="ui toggle labeled tiny icon button{{ ' active' if fchart_form.optimize_traffic.data=='true' else ''}} boptitraffic" style="text-align:left" >
                              <i class="wifi icon"></i>
                              {{ _('Optimize traffic')}}
                          </button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Star mag limit -->
          <div class="ui horizontally fitted item" style="z-index:100">
              <div class="ui small icon dropdown button" data-inverted="" data-tooltip="{{ _('Limit mag') }}" data-position="left center" data-variation="tiny basic">
                  <input type="hidden" id="maglim" name="maglim" value="{{ fchart_form.maglim.data }}" >
                  <span id="smaglim" class="text">{{ fchart_form.maglim.data }}</span>
                  <div id="maglim_menu" class="menu">
                      {% for mag_item in range(chart_control.mag_scale[0], chart_control.mag_scale[1] + 1) %}
                          <div class="item">{{ mag_item }}</div>
                      {% endfor %}
                  </div>
              </div>
          </div>

          <!-- dso mag limit -->
          <div class="ui horizontally fitted item" style="z-index:100">
              <div class="ui small icon dropdown button"  data-inverted="" data-tooltip="{{ _('DSO limit mag') }}" data-position="left center" data-variation="tiny basic">
                  <input type="hidden" id="dso_maglim" name="dso_maglim" value="{{ fchart_form.dso_maglim.data }}">
                  <span id="sdso_maglim" class="text">{{ fchart_form.dso_maglim.data }}</span>
                  <div id="dso_maglim_menu" class="menu">
                      {% for mag_item in range(chart_control.dso_mag_scale[0], chart_control.dso_mag_scale[1] + 1) %}
                          <div class="item">
                              {{ mag_item }}
                          </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </form>

      <!-- Export to PDF -->
      {% if fchart_pdf_url is not none %}
          <div class="ui horizontally fitted item mobile hidden" style="z-index:100">
              <div class="ui floating small icon dropdown button" data-inverted="" data-tooltip="{{ _('PDF export') }}" data-position="left center" data-variation="tiny basic">
                  <i class="download icon"></i>
                  <div class="menu">
                      {% if fchart_items_url is not none %}
                          <div class="item">
                              <i class="dropdown icon"></i>
                              <span class="text">Landscape</span>
                              <div class="right menu">
                                  <a id="download_pdf_landscape" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Download PDF</a>
                                  <a id="download_items_landscape" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Items</a>
                              </div>
                          </div>
                          <div class="item">
                              <i class="dropdown icon"></i>
                              <span class="text">Portrait</span>
                              <div class="right menu">
                                  <a id="download_pdf_portrait" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Download PDF</a>
                                  <a id="download_items_portrait" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Items</a>
                              </div>
                          </div>
                      {% else %}
                          <a id="download_pdf_landscape" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Landscape</a>
                          <a id="download_pdf_portrait" class="item" href="" target="_blank" data-position="bottom center" data-variation="tiny basic">Portrait</a>
                      {% endif %}
                  </div>
              </div>
          </div>
      {% endif %}

      <div id="isearch" class="ui horizontally fitted small item computer tablet only" style="width: 150px; z-index:100; display:none;">
          <div class="ui icon input">
              <input id="search" name="search" class="search" type="text" placeholder="{{ _('Search...') }} ">
              <i class="search icon"></i>
          </div>
      </div>

      <div class="ui horizontally fitted item" style="margin-right:16px; z-index:100">
          <div class="ui small buttons">
              <button id="bfullscreen" type="button" class="ui icon button">
                  <i class="expand icon"></i>
              </button>
          </div>
      </div>
  </div>

  <div class="ui computer tablet only" style="position: absolute; top: 0; bottom: 0;display: flex;align-items: center;">
      <div class="ui small buttons">
            <button id="bhideleftpanel" type="button" class="ui compact icon {{ '' if chart_control.theme=='light' else 'inverted' }} secondary basic button"  style="z-index:100;display:none">
                <i class="angle left icon"></i>
            </button>
            <button id="bshowleftpanel" type="button" class="ui compact icon {{ '' if chart_control.theme=='light' else 'inverted' }} secondary basic button"  style="z-index:100;display:none">
                <i class="angle right icon"></i>
            </button>
      </div>
  </div>

</div>

<div id="fchart-aladin-div" style="position:fixed;left:0;top:0;display:none">
</div>

{% if chart_control.show_not_found %}
    <div class="ui tiny modal notFoundModal" style="z-index:10000;">
        <div class="header">{{ _('Object not found') }}</div>
        <div class="content">
            <p>{{ _('Specified object was not found.') }}</p>
        </div>
        <div class="actions">
            <a class="ui right labeled icon approve button" href="#" onclick="$('.ui.modal.notFoundModal').modal('hide')">
               {{ _('Close') }}
               <i class="checkmark icon"></i>
          </a>
        </div>
    </div>
<style>
.modals.page {
  z-index: 10000 !important;
}
</style>
{% endif %}

{% assets 'aladin_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />

<script type="text/javascript" src="{{ url_for('static', filename='js/fchart.js') }}"></script>

<script type="text/javascript">
    var submitDisabled = false;

    var fieldSizes = [{{ chart_control.gui_field_sizes }}];

    var magRanges = [
        {% for mr in chart_control.mag_ranges %} [{{ mr[0] ~ ',' ~ mr[1] }}], {% endfor %}
    ];

    var magRangeValues = [
        {% for mrv in chart_control.mag_range_values %}{{ mrv }}, {% endfor %}
    ];

    var dsoMagRanges = [
        {% for mr in chart_control.dso_mag_ranges %} [{{ mr[0] ~ ',' ~ mr[1] }}], {% endfor %}
    ];
    var dsoMagRangeValues = [
        {% for mrv in chart_control.dso_mag_range_values %}{{ mrv }}, {% endfor %}
    ];

    var ra = parseFloat($('#ra').val());
    var dec = parseFloat($('#dec').val());
    var obj_ra = '{{ obj_ra }}';
    var obj_dec = '{{ obj_dec }}';

    var theme = '{{ chart_control.theme }}';

    var chartUrl = "{{ fchart_img_url | safe }}";
    var legendUrl = "{{ fchart_legend_url | safe }}";
    var projection = new Projection();

{% if fchart_form.dss_layer.data in ['colored', 'blue'] %}
    var aladin = A.aladin('#fchart-aladin-div', {
            survey: "{{ 'P/DSS2/blue' if fchart_form.dss_layer.data == 'blue' else 'P/DSS2/color' }}",
            fov:60,
            target: "0 0 0 0 0 0",
            fullScreen: false,
            showReticle: false,
            showZoomControl:          false,
            showFullscreenControl:    false,
            showLayersControl:        false,
            showGotoControl:          false,
            showSimbadPointerControl: false,
            showShareControl:         false,
            showCatalog:              false,
            showFrame:                false,
            showCooGrid:              false,
            fullScreen:               false,
            log:                      true
    });
    aladin.view.changeProjection(Projection.PROJ_SIN)
    projection.setProjection(Projection.PROJ_SIN);
{% else %}
    var aladin = null;
    projection.setProjection(Projection.PROJ_TAN2);
{% endif %}
    var fchart = new FChart('#fchart-div', {{ fchart_form.radius.data }}, fieldSizes, ra, dec, obj_ra, obj_dec, theme, legendUrl, chartUrl,
            "{{ url_for('main.global_search') }}?q=__SEARCH__{{ (('&' + search_url_params) if search_url_params else '') |safe}}",
            {{ 'true' if fchart_form.fullscreen.data == 'true' else 'false' }},
            {{ 'true' if fchart_form.splitview.data == 'true' else 'false' }},
            {{ 'true' if fchart_form.mirror_x.data == 'true' else 'false' }},
            {{ 'true' if fchart_form.mirror_y.data == 'true' else 'false' }},
            '{{ default_chart_iframe_url }}',
            '{{ embed }}',
            aladin,
            projection
    );

    if ({{ 'true' if fchart_form.fullscreen.data == 'true' or fchart_form.splitview.data == 'true' else 'false' }}) {
        $("#isearch").show();
        $("#bhome").show();
    }

    if ({{ 'true' if fchart_form.splitview.data == 'true' else 'false' }}) {
        $("#bhideleftpanel").show();
    }

    if ({{ 'true' if fchart_form.fullscreen.data == 'true' else 'false' }}) {
        $("#bshowleftpanel").show();
    }

    fchart.onFieldChange(function(fldSizeIndex) {
        submitDisabled = true;
        $('#radius').val(fldSizeIndex);
        $('#maglim').val(magRangeValues[fldSizeIndex]);
        $('#dso_maglim').val(dsoMagRangeValues[fldSizeIndex]);
        $('#smaglim').text(magRangeValues[fldSizeIndex].toString());
        $('#sdso_maglim').text(dsoMagRangeValues[fldSizeIndex].toString());

        $('#maglim_menu').empty();
        var i;
        for (i=magRanges[fldSizeIndex][0]; i<=magRanges[fldSizeIndex][1]; i++) {
            $('<div class="item">' + i +'</div>')
                .appendTo('#maglim_menu');
        }

        $('#dso_maglim_menu').empty();
        for (i=dsoMagRanges[fldSizeIndex][0]; i<=dsoMagRanges[fldSizeIndex][1]; i++) {
            $('<div class="item">' + i +'</div>')
                .appendTo('#dso_maglim_menu');
        }

        submitDisabled = false;
    });

    fchart.onFullscreenChange(function(fullScreen) {
        $('#fullscreen').val(fullScreen);
        if (fullScreen) {
            $("#isearch").show();
            $("#bhome").show();
            $("#bshowleftpanel").show();
        } else {
            $("#isearch").hide();
            $("#bhome").hide();
            $("#bshowleftpanel").hide();
        }
    });

    fchart.onSplitViewChange(function(splitViewVisible) {
        $('#splitview').val(splitViewVisible);
        if (splitViewVisible) {
            $("#isearch").show();
            $("#bhome").show();
            $("#bhideleftpanel").show();
            $("#bshowleftpanel").hide();
        } else {
            $("#isearch").hide();
            $("#bhome").hide();
            $("#bhideleftpanel").hide();
            $("#bshowleftpanel").show();
        }
    });

    $('.btelrad').click(function(){
        $(this).toggleClass('active');
        $('#show_telrad').val($('#show_telrad').val() == 'true' ? 'false' : 'true');
        $('#eyepiece_fov').val('');
    });

    $('.bpicker').click(function(){
        $(this).toggleClass('active');
        $('#show_picker').val($('#show_picker').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bconstellshapes').click(function(){
        $(this).toggleClass('active');
        $('#show_constell_shapes').val($('#show_constell_shapes').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bconstellborders').click(function(){
        $(this).toggleClass('active');
        $('#show_constell_borders').val($('#show_constell_borders').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bdso').click(function(){
        $(this).toggleClass('active');
        $('#show_dso').val($('#show_dso').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bslsystem').click(function(){
        $(this).toggleClass('active');
        $('#show_solar_system').val($('#show_solar_system').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bdsomag').click(function(){
        $(this).toggleClass('active');
        $('#show_dso_mag').val($('#show_dso_mag').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bstarmag').click(function(){
        $(this).toggleClass('active');
        $('#show_star_mag').val($('#show_star_mag').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.bdsscolored').click(function(){
        $(this).toggleClass('active');
        $('#dss_layer').val($('#dss_layer').val() != 'colored' ? 'colored' : '');
        $('#show_layers_dropdown').val('true');
    });

    $('.bdssblue').click(function(){
        $(this).toggleClass('active');
        $('#dss_layer').val($('#dss_layer').val() != 'blue' ? 'blue' : '');
        $('#show_layers_dropdown').val('true');
    });

    $('.mirrorx').click(function(){
        $(this).toggleClass('active');
        $('#mirror_x').val($('#mirror_x').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.mirrory').click(function(){
        $(this).toggleClass('active');
        $('#mirror_y').val($('#mirror_y').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.boptitraffic').click(function(){
        $(this).toggleClass('active');
        $('#optimize_traffic').val($('#optimize_traffic').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('.begrid').click(function(){
        $(this).toggleClass('active');
        $('#show_egrid').val($('#show_egrid').val() == 'true' ? 'false' : 'true');
        $('#show_layers_dropdown').val('true');
    });

    $('#bfullscreen').click(function(){
        fchart.toggleFullscreen();
    });

    $('#bhideleftpanel').click(function(){
        fchart.setupFullscreen();
    });

    $('#bshowleftpanel').click(function(){
        fchart.toggleSplitView();
    });

    $('.ui.dropdown').dropdown();

    $('#maglim').change(function() {
        if (!submitDisabled)
            this.form.submit();
    });

    $('#dso_maglim').change(function() {
        if (!submitDisabled)
            this.form.submit();
    });

    $('#download_pdf_landscape').click(function(event){
        $('#download_pdf_landscape').attr("href", fchart.formatUrl('{{ fchart_pdf_url | safe  }}' + '&landscape=true'));
    });

    $('#download_pdf_portrait').click(function(event){
        $('#download_pdf_portrait').attr("href", fchart.formatUrl('{{ fchart_pdf_url | safe  }}' + '&landscape=false'));
    });

{% if fchart_items_url is not none %}
    $('#download_items_landscape').click(function(event){
        $('#download_items_landscape').attr("href", fchart.formatUrl('{{ fchart_items_url | safe  }}' + '&landscape=true'));
    });
    $('#download_items_portrait').click(function(event){
        $('#download_items_portrait').attr("href", fchart.formatUrl('{{ fchart_items_url | safe  }}' + '&landscape=false'));
    });
{% endif %}

    $('.search').keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            window.location.href = encodeURI("{{ url_for('main.global_search') }}?q=" + $(this).val() + "&fromchart=true&seltab=chart"
            + getFullscreenSplitViewUrlPart("&") + "&back_url=" + encodeURIComponent('{{ chart_control.back_search_url_b64 }}'));
        }
        event.stopPropagation();
    });

    $('#date_from').calendar({
        type: 'date',
        monthFirst: false,
        endCalendar: $('#date_to'),
        formatter: {
            date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + '/' + month + '/' + year;
            }
        },
    });

    $('#date_to').calendar({
        type: 'date',
        monthFirst: false,
        startCalendar: $('#date_from'),
        formatter: {
            date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + '/' + month + '/' + year;
            }
        },
        onChange: function () {
            $(this).closest('form').submit();
        }
    });

    function getFullscreenSplitViewUrlPart(prefix) {
        res = "";
        if ($('#fullscreen').val() == 'true') {
            res += "&fullscreen=" + $('#fullscreen').val();
        }
        if ($('#splitview').val() == 'true') {
            res += "&splitview=" + $('#splitview').val();
        }
        if (res != "") {
            res = prefix + res.substring(1);
        }
        return res
    }

    function callDsoListUrl(url) {
        window.location.href = encodeURI(url + getFullscreenSplitViewUrlPart("?"));
        event.stopPropagation();
    }

    function updateChartUrls(legendUrl, chartUrl) {
        fchart.updateUrls(legendUrl, chartUrl);
    }

    function setEyepieceFov(eyepieceFov) {
        $('#eyepiece_fov').val(eyepieceFov);
        $('#show_telrad').val('false');
        $('#fmchart').submit();
    }

    function unselectFov() {
        $('#eyepiece_fov').val('');
        $('#show_telrad').val('false');
        $('#fmchart').submit();
    }

    window.onload = function() {
        fchart.onWindowLoad();
{% if chart_control.show_not_found %}
        $('.ui.modal.notFoundModal')
            .modal('show');
{% endif %}
        /* Fix FomanticUI bug on mobiles */
        $('#layers_dropdown')
            .dropdown({
                  displayType : 'block',
        });
        if ($('#show_layers_dropdown').val() == 'true') {
            $('#layers_dropdown').dropdown('show');
        }
        $('#show_layers_dropdown').val('false')
    }

$('.date-int-popup')
  .popup({
    on: 'click'
  })
;
</script>

{% endmacro %}
