{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}

{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="item {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
                <i class="{{ icon }} icon"></i>
            {% endif %}
            {{ name | safe }}
        </a>
    {% endfor %}
{% endmacro %}

{% macro render_dropdown_menu_items(current_user, endpoints) %}
    <div class="ui inverted dropdown item poping up">
        <i class="user icon"></i>
        <div class="text">Account</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="header">
                Signed in as <b>{{ current_user.user_name }}</b>
            </div>
            <div class="divider"></div>
            {% for endpoint, name, icon in endpoints %}
                <a class="item {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
                    {% if icon %}
                        <i class="{{ icon }} icon"></i>
                    {% endif %}
                    {{ name | safe }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% set endpoints = [
      ('main.index', config.APP_NAME, 'home'),
      ('main.about', 'About', 'info'),
      ('main.switch_theme', (session['themlight'] and 'Night mode' or 'Day mode'), 'eye')
    ]%}
    {% set user = [] %}
    {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.index', current_user.role.name + ' Dashboard', 'user')]) %}
    {% endif %}
    {{ render_menu_items( endpoints +  user ) }}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro account_items(current_user) %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('main_usersettings.public_profile', 'Your Account', 'settings'),
        ('account.logout', 'Log out', 'sign out')
      ] %}
      {{ render_dropdown_menu_items(current_user, endpoints) }}
    {% else %}
      {% set endpoints = [
        ('account.login', 'Log In', 'sign in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro mobile_nav(current_user) %}
    <div class="mobile only row">
        <div class="ui fixed inverted black main menu">
            {{ header_items(current_user) }}
            <div class="right menu">
                <a class="icon item" id="open-nav"><i class="sidebar icon"></i></a>
            </div>
        </div>

        {# The menu items which will be shown when open-nav is clicked #}
        <div class="ui fixed vertical fluid menu">
          {{ account_items(current_user) }}
        </div>
    </div>
{% endmacro %}

{% macro desktop_nav(current_user) %}
    <div class="computer tablet only row">
        <div class="ui fixed inverted black main menu">
            <div class="ui container">
                {{ header_items(current_user) }}
                <div class="ui right item">
                    <div class="ui small icon input">
                        <input id="gsearch" type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="right menu">
                    {{ account_items(current_user) }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#gsearch').keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                window.location.href = "{{ url_for('main_deepskyobject.deepskyobject_search') }}?q=" + $(this).val();
            }
            event.stopPropagation();
        });
    </script>
{% endmacro %}

{% macro render_nav(current_user) %}
    <nav class="ui navigation grid {% if endpoints %}has-submenu{% endif %}">
        {{ mobile_nav(current_user) }}
        {{ desktop_nav(current_user) }}
    </nav>
{% endmacro %}
