{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
               {{ _('Dashboard') }}
            </a>
            <h2 class="ui header">
                    {{ _('Planner') }}
            </h2>
            <div class="ui two column stackable grid">
                {{ dash.dashboard_option(_('Create session plan'), 'main_sessionplan.new_session_plan',
                                    description=_('Create new session plan'), icon='pencil icon') }}
                {{ dash.dashboard_option(_('Session Plans'), 'main_sessionplan.session_plans',
                                    description=_('View session plans'), icon='tasks icon') }}
                {{ dash.dashboard_option(_('Wishlist'), 'main_wishlist.wish_list',
                                    description=_('View wishlist'), icon='heart icon') }}
            </div>
        </div>
    </div>
{% endblock %}