{% import 'macros/dashboard_macros.html' as dash %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <div style="margin-top:1rem; margin-bottom:2rem">
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                        <i class="caret left icon"></i>
                        <i class="home icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Planner') }}
                    </div>
                </div>
            </div>
            <div class="ui two column stackable grid">
                {{ dash.dashboard_option(_('Create session plan'), 'main_sessionplan.new_session_plan',
                                    description=_('Create new session plan'), icon='calendar alternate outline icon', extra_icon='corner add icon') }}
                {{ dash.dashboard_option(_('Session Plans'), 'main_sessionplan.session_plans',
                                    description=_('View session plans'), icon='calendar alternate outline icon') }}
                {{ dash.dashboard_option(_('Wishlist'), 'main_wishlist.wish_list_info',
                                    description=_('View wishlist'), icon='heart icon') }}
            </div>
        </div>
    </div>
{% endblock %}