{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}


{{ f.begin_form(schedule_form, flashes, action=url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id), extra_classes='ui tiny menu') }}

    <div class="ui item">
        <div id="objsource_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Object Source') }}" data-variation="tiny basic">
            <input type="hidden" id="obj_source" name="{{ schedule_form.obj_source.name }}" value="{{ schedule_form.obj_source.data }}">
            <span class="text">{{ _('Choose Source') }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% if not session_plan.is_anonymous %}
                    <div class="item" data-value="WL">{{ _('Wish List') }}</div>
                {% endif %}
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">{{ _('DSO List')}}</span>
                    <div class="menu">
                        {% for dsol in dso_lists %}
                            <div class="item" data-value="DL_{{ dsol.id }}">{{ dsol.long_name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">{{ _('Catalogs')}}</span>
                    <div class="menu">
                        {% for cat in catalogues_menu_items %}
                            <div class="item" data-value="{{ cat[0] }}">{{ cat[1] }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui item computer tablet only" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Object Type') }}" data-variation="tiny basic">
        {{ schedule_form.dso_type(class='ui dropdown button',onchange='this.form.submit()') }}
    </div>
    <div class="ui item">
        <div id="constellation_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Constellation') }}" data-variation="tiny basic">
            <input type="hidden" id="constellation_id" name="{{ schedule_form.constellation_id.name }}" value="{{ schedule_form.constellation_id.data }}">
            <span class="text">{{ _('Choose Constellation') }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="">{{ _('All') }}</div>
                {% for letter_constell_list in packed_constell_list %}
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">{{ letter_constell_list[0] }}</span>
                        <div class="menu">
                            {% for constell in letter_constell_list[1] %}
                                <div class="item" data-value="{{ constell[0] }}">{{ constell[1] }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui item" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Limit mag') }}" data-variation="tiny basic">
        <div class="ui icon dropdown button">
            <input type="hidden" id="{{ schedule_form.maglim.name }}" name="{{ schedule_form.maglim.name }}" value="{{ schedule_form.maglim.data }}"
                    onchange="this.form.submit()">
            <span class="text">{{ schedule_form.maglim.data }}</span>
            <div class="menu">
                <div class="item"></div>
                {% for mag_item in range(mag_scale[0], mag_scale[1] + 1) %}
                    <div class="item">{{ mag_item }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui item" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Min altitude') }}" data-variation="tiny basic">
        <div class="ui icon dropdown button">
            <input type="hidden" id="{{ schedule_form.min_altitude.name }}" name="{{ schedule_form.min_altitude.name }}" value="{{ schedule_form.min_altitude.data }}"
                    onchange="this.form.submit()">
            <span class="text">&gt;{{ schedule_form.min_altitude.data }}°</span>
            <div class="menu">
                {% for min_alt_item in min_alt_item_list %}
                    <div class="item" data-value="{{ min_alt_item }}">&gt;{{ min_alt_item }}°</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="time_from" class="ui calendar item" style="width: 120px" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Time from') }}" data-variation="tiny basic">
      <div class="ui input left icon">
        <i class="time icon"></i>
        <input type="text" placeholder="Time" id="{{ schedule_form.time_from.name }}" name="{{ schedule_form.time_from.name }}" value="{{ schedule_form.time_from.data }}">
      </div>
    </div>
    <div id="time_to" class="ui calendar item" style="width: 120px" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Time to') }}" data-variation="tiny basic">
      <div class="ui input left icon">
        <i class="time icon"></i>
        <input type="text" placeholder="Time" id="{{ schedule_form.time_to.name }}" name="{{ schedule_form.time_to.name }}" value="{{ schedule_form.time_to.data }}">
      </div>
    </div>
    <div class="ui icon dropdown button item" data-inverted="" data-tooltip="{{ _('Time range setup') }}" data-variation="tiny basic">
        <i class="wrench icon"></i>
        <div class="menu">
            <a class="item" href="{{ url_for('main_sessionplan.session_plan_set_nautical_twilight', session_plan_id=session_plan.id) }}">{{ _('Nautical twilight') }}</a>
            <a class="item" href="{{ url_for('main_sessionplan.session_plan_set_astro_twilight', session_plan_id=session_plan.id) }}">{{ _('Astronomical twilight')  }}</a>
            <a class="item" href="{{ url_for('main_sessionplan.session_plan_set_moonless_astro_twilight', session_plan_id=session_plan.id) }}">{{ _('Moonless astronomical twilight') }}</a>
        </div>
    </div>
    {% if not session_plan.is_anonymous %}
        <div id="not_observed" class="ui inverted checkbox item" data-inverted="" data-tooltip="{{ _('Hide observed objects') }}" data-variation="tiny basic">
          <input type="checkbox" id="not_observed_data" name="{{ schedule_form.not_observed.name }}" {{ 'checked=checked' if schedule_form.not_observed.data else '' | safe  }}>
          <label>{{_('Not observed')}}</label>
        </div>
    {% endif %}
{{ f.end_form(schedule_form) }}


<div class="ui segment" style="overflow-x: scroll;">
<div class="ui two column very relaxed grid">
    <div class="column">
      <table id="tblsrc" class="ui searchable sortable unstackable selectable celled table">
          <thead>
              <tr>
                  <th>
                      <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=pagination.page, sortby=table_sort['name'].sort) }}" style="color: inherit;">
                          {{ _('Name') }} {{ table_sort['name'].icon | safe }}
                      </a>
                  </th>

                  <th>{{ _('Type') }}</th>
                  <th class="right aligned collapsing">
                      <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=pagination.page, sortby=table_sort['constellation'].sort) }}" style="color: inherit;">
                          <i class="lastfm icon"></i> {{ table_sort['constellation'].icon | safe }}
                      </a>
                  </th>
                  <th>
                      <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=pagination.page, sortby=table_sort['mag'].sort) }}" style="color: inherit;white-space: nowrap;">
                          mag {{ table_sort['mag'].icon | safe }}
                      </a>
                  </th>
                  <th>{{ _('Rise') }}</th>
                  <th>{{ _('Merid') }}</th>
                  <th>{{ _('Set') }}</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          {% macro to_dso_url1(item) %}{{ url_for('main_deepskyobject.deepskyobject_seltab', dso_id=item[0].name, embed='pl') }}{% endmacro %}

          {% for item in selection_compound_list %}
              <tr class="{{ 'left marked green' if loop.index == srow_index else '' }}">
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[0].denormalized_name() }}</td>
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[0].type }}</td>
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[0].get_constellation_iau_code() }}</td>
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[0].mag }}</td>
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[1] }}</td>
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[2] }}</td>
                  <td onclick="setIFrameSrc1({{ loop.index }}, '{{ to_dso_url1(item) }}')">{{ item[3] }}</td>
                  <td class="collapsing specialClass">
                      <a class="ui icon mini button" href="{{ url_for('main_sessionplan.session_plan_item_add', session_plan_id=session_plan.id, dso_id=item[0].id, row_index=loop.index) }}">
                          <i class="arrow right icon"></i>
                      </a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      {{ pagination.links }} {{ commons.items_per_page_as_links(schedule_form.items_per_page.data, url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=pagination.page)) }} {{ pagination.info }}
    </div>
    <div class="column">

      <div class="ui tiny menu">
          {{ f.begin_form(add_form, flashes, action=url_for('main_sessionplan.session_plan_item_add', session_plan_id=session_plan.id), extra_classes="ui item") }}
          <div class="ui action input">
              <input type="text" name="{{ add_form.dso_name.name }}" placeholder="Add dso...">
              <button class="ui icon button">
                  <i class="plus icon"></i>
              </button>
          </div>
          {{ f.end_form(add_form) }}
          <div class="right tiny menu">
              <div class="ui item">
                  <button id="clear_schedule" class="ui icon negative button" data-tooltip="{{ _('Clear schedule') }}" data-variation="tiny basic">
                      <i class="trash alternate icon"></i>
                  </button>
              </div>
                  <form id="fmupload" method="post" action="{{ url_for('main_sessionplan.session_plan_upload', session_plan_id=session_plan.id) }}" enctype="multipart/form-data" class="ui item">
                      <label for="file" class="ui icon button"  data-tooltip="{{ _('Upload plan') }}" data-variation="tiny basic">
                          <i class="upload icon"></i>
                      </label>
                      <input type="file" id="file" name="file" class="ui file input">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                  </form>
          </div>
      </div>

      <table id="tbldst" class="ui searchable sortable unstackable selectable celled table">
          <thead>
              <tr>
                  <th class="sorted ascending">Name</th>
                  <th>{{ _('Type') }}</th>
                  <th><i class="lastfm icon"></i></th>
                  <th>mag</th>
                  <th>{{ _('Rise') }}</th>
                  <th>{{ _('Merid') }}</th>
                  <th>{{ _('Set') }}</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          {% macro to_dso_url2(item) %}{{ url_for('main_deepskyobject.deepskyobject_seltab', dso_id=item[0].deepskyObject.name, embed='pl') }}{% endmacro %}

          {% for item in session_plan_compound_list %}
              <tr class="{{ 'left marked green' if loop.index == drow_index else '' }}">
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[0].deepskyObject.denormalized_name() }}</td>
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[0].deepskyObject.type }}</td>
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[0].deepskyObject.get_constellation_iau_code() }}</td>
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[0].deepskyObject.mag }}</td>
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[1] }}</td>
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[2] }}</td>
                  <td onclick="setIFrameSrc2({{ loop.index }}, '{{ to_dso_url2(item) }}')">{{ item[3] }}</td>
                   <td class="collapsing specialClass">
                      <a class="ui icon mini button" href="{{ url_for('main_sessionplan.session_plan_item_delete', item_id=item[0].id, row_index=loop.index) }}">
                          <i class="trash alternate icon"></i>
                      </a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>

<div class="ui tiny modal loadModal">
  <div class="header">{{ _('Load schedule list') }}</div>
  <div class="content">
    <p>{{ _('All data from file will be added to schedule list.') }}</p>
    <p>{{ _('Are you sure you want to load schedule list?') }}</p>
  </div>
  <div class="actions">
    <div class="ui negative cancel button">{{ _('No') }}</div>
    <button id="confirm_upload" class="ui positive right labeled icon approve button">
        {{ _('Yes') }}
        <i class="checkmark icon"></i>
    </button>
  </div>
</div>

<div class="ui tiny modal deleteModal">
  <div class="header">{{ _('Clear schedule list') }}</div>
  <div class="content">
    <p>{{ _('All planned items will be removed.') }}</p>
    <p>{{ _('Are you sure you want to clear planned list?') }}</p>
  </div>
  <div class="actions">
    <div class="ui negative cancel button">{{ _('No') }}</div>
    <a class="ui positive right labeled icon approve button" href="{{ url_for('main_sessionplan.session_plan_clear', session_plan_id=session_plan.id) }}">
        {{ _('Yes') }}
        <i class="checkmark icon"></i>
    </a>
  </div>
</div>

<style>
    .ui.file.input {
      display: none;
    }
</style>

<script type="text/javascript">
function setIFrameSrc1(rowIndex, url) {
    $('#tblsrc tr').removeClass();
    $('#tbldst tr').removeClass();
    $('#tblsrc tr:nth-child(' + rowIndex + ')').addClass('left marked green');
    setIFrameSrc(url);
}

function setIFrameSrc2(rowIndex, url) {
    $('#tblsrc tr').removeClass();
    $('#tbldst tr').removeClass();
    $('#tbldst tr:nth-child(' + rowIndex + ')').addClass('left marked green');
    setIFrameSrc(url);
}

function setIFrameSrc(url) {
    $('#plIframe').attr('src', url)
}

$(function(){
    $('.ui.modal.loadModal').modal({
        onApprove: function() {
            return validateModal()
        }
    });
    $('.ui.modal.deleteModal').modal({
        onApprove: function() {
            return validateModal()
        }
    });
    $("tr td.specialClass").click(function (e) {
        e.cancelBubble();
        e.stopPropagation();
    });
    $('#file').change(function() {
        $('.ui.modal.loadModal')
            .modal('show');
    });
    $("#confirm_upload").click(function() {
        $("#fmupload" ).submit();
    });
    $('#clear_schedule').click(function() {
        $('.ui.modal.deleteModal')
            .modal('show');
    });
    $('#objsource_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#obj_source').val(value);
              $(this).closest('form').submit();
          }
    });
    $('#constellation_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#constellation_id').val(value);
              $(this).closest('form').submit();
          }
    });
    $('#not_observed')
        .checkbox({
          onChange: function (value) {
              $(this).closest('form').submit();
          }
    });
    $('#time_from').calendar({
        type: 'time',
        ampm: false,
        onChange: function(value) {
            $(this).calendar.changed = true;
        },
        onHide: function () {
            if ($(this).calendar.changed) {
                $(this).calendar.changed = false;
                $(this).closest('form').submit();
            }
        }
    })
    $('#time_to').calendar({
        type: 'time',
        ampm: false,
        changed: false,
        onChange: function(value) {
            $(this).calendar.changed = true;
        },
        onHide: function () {
            if ($(this).calendar.changed) {
                $(this).calendar.changed = false;
                $(this).closest('form').submit();
            }
        }
    })
  ;
});
</script>
