{% extends 'layouts/base.html' %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% if not is_new %}
    {% if is_mine_session_plan %}
        {% set endpoints = [
            ( url_for('main_sessionplan.session_plan_info', session_plan_id=session_plan.id), _('Info'), 'info'),
            ( url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id), _('Schedule'), 'schedule'),
            ( url_for('main_sessionplan.session_plan_chart', session_plan_id=session_plan.id, splitview='true'), _('Chart'), 'chart'),
        ] %}
    {% else %}
        {% set endpoints = [
            ( url_for('main_sessionplan.session_plan_chart', session_plan_id=session_plan.id, splitview='true'), _('Chart'), 'chart'),
        ] %}
    {% endif %}
{% endif %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for url, pupup_text, icon in items %}
            {% set href = url %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{# --- Chart --- #}
{% macro session_plan_chart(session_plan) %}
    {{ fchart.fchart(url_for('main_sessionplan.session_plan_chart', session_plan_id=session_plan.id, back=back, back_id=back_id),
                     url_for('main_sessionplan.session_plan_chart_pos_img', session_plan_id=session_plan.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.chart_flags, ),
                     url_for('main_sessionplan.session_plan_chart_legend_img', session_plan_id=session_plan.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_',
                              width='_WIDTH_', height='_HEIGHT_', flags=chart_control.legend_flags),
                     url_for('main_sessionplan.session_plan_chart_pdf', session_plan_id=session_plan.id, ra='_RA_', dec='_DEC_', fsz='_FSZ_', flags=chart_control.chart_flags, ),
                     fchart_form, default_chart_iframe_url=default_chart_iframe_url, search_url_params='back=session_plan&back_id={}'.format(session_plan.id))
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    {% if type != 'schedule' %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
    {% else %}
    <div class="ui two column divided grid" style="height: 100% !important; width: 100% !important;">
        <div class="column" style="width: 430px !important">
            <iframe id="plIframe" src="{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=selected_dso_name, embed='pl') }}" frameborder="0" class="planner-iframe"></iframe>
            <!-- <div class="planner-separator"></div>  -->
        </div>
        <div id="pldiv" class="column" style="flex: 1">
    {% endif %}
            {% if is_new %}
                {% if is_anonymous %}
                    <a class="ui basic icon compact button" href="{{ url_for('main.index') }}">
                        <i class="caret left icon"></i>
                        {{ _('Dashboard') }}
                    </a>
                {% else %}
                    <a class="ui basic compact button" href="{{ url_for('main_planner.planner_menu') }}">
                        <i class="caret left icon"></i>
                        {{ _('Planner') }}
                    </a>
                {% endif %}
                <h2 class="ui header">
                    {{ _('Add New Session Plan') }}
                </h2>
            {% else %}
                <div>
                    <div class="ui huge breadcrumb">
                        {% if session_plan.is_anonymous %}
                            <a class="ui basic icon compact button" href="{{ url_for('main.index') }}">
                                <i class="caret left icon"></i>
                                {{ _('Dashboard') }}
                            </a>
                        {% else %}
                            <a class="ui basic icon compact button" href="{{ url_for('main_sessionplan.session_plans') }}">
                                <i class="caret left icon"></i>
                                <i class="lastfm icon mobile hidden"></i>
                            </a>
                        {% endif %}
                        <div class="divider"> / </div>
                        <div class="active section">
                            {{ session_plan.for_date.strftime('%Y-%m-%d') }}
                        </div>
                        <div class="divider"> &#x2604 </div>
                        <div class="active section">
                            {{ session_plan.location.name if session_plan.location else session_plan.txt_location_name }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if not is_new %}
                {{ navigation(endpoints) }}
            {% endif %}

            {% if type == 'info' %}
                {% include '/main/planner/session_plan_info.html' %}
            {% elif type == 'schedule' %}
                {% include '/main/planner/session_plan_schedule.html' %}
            {% elif type == 'chart' %}
                {{ session_plan_chart(session_plan) }}
            {% endif %}
    {% if type != 'schedule' %}
        </div>
    </div>
    {% else %}
        </div>
    </div>
    {% endif %}

<script type="text/javascript">
/*
    $('.planner-separator').bind('mousedown',  (function(e) {
        var md = {
            e,
            offsetLeft: $('.planner-separator').offset().left,
            firstWidth:  $('#plIframe').width(),
            secondLeft: $('#pldiv').offset().left,
            secondWidth: $('#pldiv').width()
        };

        console.log('Down ' + md.offsetLeft + ' ' + md.firstWidth + ' ' + md.secondLeft + ' ' + md.secondWidth);

        $('#plIframe').css('pointer-events', 'none');

        $(document).bind('mousemove',  (function(e) {
            var delta = {x: e.clientX - md.e.clientX,
                         y: e.clientY - md.e.clientY};

            delta.x = Math.min(Math.max(delta.x, -md.firstWidth), md.secondWidth);

            $('.planner-separator').css('left', md.offsetLeft + delta.x);
            $('#plIframe').width(md.firstWidth + delta.x);
            $('#pldiv').css('left', delta.x);
            $('#pldiv').width(md.secondWidth - delta.x);
            var computedWidth = $('#pldiv').width();
            var computedHeight = $('#pldiv').height();
        }).bind(this));

        $(document).bind('mouseup',  (function(e) {
            $(document).unbind('mousemove');
            $(document).unbind('mouseup');
            $('#plIframe').css('pointer-events', 'auto');
        }).bind(this));
    }).bind(this));
 */
</script>

{% endblock %}
