{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_planner.planner_menu') }}">
                <i class="caret left icon"></i>
                {{ _('Planner') }}
            </a>
            <h2 class="ui header">
                {{ _('Session Plans') }}
            </h2>

            <div style="overflow-x: scroll;" class="computer tablet only">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>{{ _('Date') }}</th>
                            <th class="sorted ascending">{{ _('Title') }}</th>
                            <th>{{ _('Location') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in session_plans | sort(attribute='for_date') %}
                        <tr onclick="window.location.href = '{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=p.id) }}';">
                            <td>{{ p.for_date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ p.title[:64] }}</td>
                            <td>{{ p.location.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div style="overflow-x: scroll;" class="mobile only">
                <table class="ui searchable sortable unstackable selectable celled table mobile only">
                    <thead>
                        <tr>
                            <th>{{ _('Date') }}</th>
                            <th class="sorted ascending">{{ _('Title') }}</th>
                            <th>{{ _('Location') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in session_plans | sort(attribute='for_date') %}
                        <tr onclick="window.location.href = '{{ url_for('main_sessionplan.session_plan_overview', session_plan_id=p.id) }}';">
                            <td>{{ p.for_date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ p.title }}</td>
                            <td>{{ p.location.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
