{% import 'macros/form_macros.html' as f %}
{% import 'macros/common_macros.html' as commons %}

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}


{{ f.begin_form(schedule_form, flashes, action=url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id), extra_classes='ui tiny menu') }}

    <div class="ui item">
        <div id="objsource_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Object Source') }}" data-variation="tiny basic">
            <input type="hidden" id="obj_source" name="{{ schedule_form.obj_source.name }}" value="{{ schedule_form.obj_source.data }}">
            <span class="text">{{ _('Choose Source') }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% if not session_plan.is_anonymous %}
                    <div class="item" data-value="WL">{{ _('Wish List') }}</div>
                {% endif %}
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">{{ _('DSO List')}}</span>
                    <div class="menu">
                        {% for dsol in dso_lists %}
                            <div class="item" data-value="DL_{{ dsol.id }}">{{ dsol.long_name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">{{ _('Catalogs')}}</span>
                    <div class="menu">
                        {% for cat in catalogues_menu_items %}
                            <div class="item" data-value="{{ cat[0] }}">{{ cat[1] }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui item computer tablet only" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Object Type') }}" data-variation="tiny basic">
        {{ schedule_form.dso_type(class='ui dropdown button',onchange='this.form.submit()') }}
    </div>
    <div class="ui item">
        <div id="constellation_dropdown" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Constellation') }}" data-variation="tiny basic">
            <input type="hidden" id="constellation_id" name="{{ schedule_form.constellation_id.name }}" value="{{ schedule_form.constellation_id.data }}">
            <span class="text">{{ _('Choose Constellation') }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="">{{ _('All') }}</div>
                {% for letter_constell_list in packed_constell_list %}
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">{{ letter_constell_list[0] }}</span>
                        <div class="menu">
                            {% for constell in letter_constell_list[1] %}
                                <div class="item" data-value="{{ constell[0] }}">{{ constell[1] }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui item" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Limit mag') }}" data-variation="tiny basic">
        <div class="ui icon dropdown button">
            <input type="hidden" id="{{ schedule_form.maglim.name }}" name="{{ schedule_form.maglim.name }}" value="{{ schedule_form.maglim.data }}"
                    onchange="this.form.submit()">
            <span class="text">{{ schedule_form.maglim.data }}</span>
            <div class="menu">
                <div class="item"></div>
                {% for mag_item in range(mag_scale[0], mag_scale[1] + 1) %}
                    <div class="item">{{ mag_item }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui item" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Min altitude') }}" data-variation="tiny basic">
        <div class="ui icon dropdown button">
            <input type="hidden" id="{{ schedule_form.min_altitude.name }}" name="{{ schedule_form.min_altitude.name }}" value="{{ schedule_form.min_altitude.data }}"
                    onchange="this.form.submit()">
            <span class="text">&gt;{{ schedule_form.min_altitude.data }}°</span>
            <div class="menu">
                {% for min_alt_item in min_alt_item_list %}
                    <div class="item" data-value="{{ min_alt_item }}">&gt;{{ min_alt_item }}°</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="time_from" class="ui calendar item" style="width: 120px" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Time from') }}" data-variation="tiny basic">
      <div class="ui input left icon">
        <i class="time icon"></i>
        <input type="text" placeholder="Time" id="{{ schedule_form.time_from.name }}" name="{{ schedule_form.time_from.name }}" value="{{ schedule_form.time_from.data }}">
      </div>
    </div>
    <div id="time_to" class="ui calendar item" style="width: 120px" class="ui dropdown" data-inverted="" data-tooltip="{{ _('Time to') }}" data-variation="tiny basic">
      <div class="ui input left icon">
        <i class="time icon"></i>
        <input type="text" placeholder="Time" id="{{ schedule_form.time_to.name }}" name="{{ schedule_form.time_to.name }}" value="{{ schedule_form.time_to.data }}">
      </div>
    </div>
    <div class="ui icon dropdown button item" data-inverted="" data-tooltip="{{ _('Time range setup') }}" data-variation="tiny basic">
        <i class="wrench icon"></i>
        <div class="menu">
            <a class="item" href="{{ url_for('main_sessionplan.session_plan_set_nautical_twilight', session_plan_id=session_plan.id) }}">{{ _('Nautical twilight') }}</a>
            <a class="item" href="{{ url_for('main_sessionplan.session_plan_set_astro_twilight', session_plan_id=session_plan.id) }}">{{ _('Astronomical twilight')  }}</a>
            <a class="item" href="{{ url_for('main_sessionplan.session_plan_set_moonless_astro_twilight', session_plan_id=session_plan.id) }}">{{ _('Moonless astronomical twilight') }}</a>
        </div>
    </div>
    {% if not session_plan.is_anonymous %}
        <div id="not_observed" class="ui inverted checkbox item" data-inverted="" data-tooltip="{{ _('Hide observed objects') }}" data-variation="tiny basic">
          <input type="checkbox" id="not_observed_data" name="{{ schedule_form.not_observed.name }}" {{ 'checked=checked' if schedule_form.not_observed.data else '' | safe  }}>
          <label>{{_('Unobserved objects')}}</label>
        </div>
    {% endif %}
{{ f.end_form(schedule_form) }}


<div class="ui segment" style="overflow-x: scroll;">
<div class="ui two column very relaxed grid">
    <div class="column">
        <table id="tblsrc" class="ui searchable sortable unstackable selectable celled table">
            <thead>
                <tr>
                    <th>
                        <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=src_pagination.page, src_sortby=src_table_sort['name'].sort) }}" style="color: inherit;">
                            {{ _('Name') }} {{ src_table_sort['name'].icon | safe }}
                        </a>
                    </th>

                    <th>
                        <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=src_pagination.page, src_sortby=src_table_sort['type'].sort) }}" style="color: inherit;">
                            {{ _('Type') }} {{ src_table_sort['type'].icon | safe }}
                        </a>
                    </th>
                    <th class="right aligned collapsing">
                        <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=src_pagination.page, src_sortby=src_table_sort['constellation'].sort) }}" style="color: inherit;">
                            <i class="lastfm icon"></i> {{ src_table_sort['constellation'].icon | safe }}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=src_pagination.page, src_sortby=src_table_sort['mag'].sort) }}" style="color: inherit;white-space: nowrap;">
                            mag {{ src_table_sort['mag'].icon | safe }}
                        </a>
                    </th>
                    <th>{{ _('Rise') }}</th>
                    <th>{{ _('Merid') }}</th>
                    <th>{{ _('Set') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% macro to_dso_url1(item) %}{{ url_for('main_deepskyobject.deepskyobject_seltab', dso_id=item[0].name, embed='pl') }}{% endmacro %}
            {% macro master_name(master) %}{{ (' / ' + master.denormalized_name() ) if master else '' }}{% endmacro %}

            {% for item in selection_compound_list %}
                <tr class="{{ 'left marked green' if loop.index == srow_index else '' }}" tabindex="0">
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[0].denormalized_name() }}{{ master_name(item[0].master_dso) }}</td>
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[0].type }}</td>
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[0].get_constellation_iau_code() }}</td>
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[0].mag }}</td>
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[1] }}</td>
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[2] }}</td>
                    <td onclick="setIFrameSrcFromSrcList({{ loop.index }})">{{ item[3] }}</td>
                    <td class="collapsing specialClass">
                        <a class="ui icon mini button" href="{{ url_for('main_sessionplan.session_plan_item_add', session_plan_id=session_plan.id, dso_id=item[0].id, row_index=loop.index) }}">
                            <i class="arrow right icon"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ src_pagination.links }} {{ commons.items_per_page_as_links(schedule_form.items_per_page.data, url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=src_pagination.page, srow_index=1)) }} {{ src_pagination.info }}
    </div>
    <div class="column">
        <div class="ui tiny menu">
            {{ f.begin_form(add_form, flashes, action=url_for('main_sessionplan.session_plan_item_add', session_plan_id=session_plan.id), extra_classes="ui item") }}
            <div class="ui action input">
                <input type="text" name="{{ add_form.object_id.name }}" placeholder="{{ ('Object identification...') }}">
                <button class="ui icon button">
                    <i class="plus icon"></i>
                </button>
            </div>
            {{ f.end_form(add_form) }}
            <div class="right compact menu">
                  <div class="item">
                      <div class="ui dropdown icon button">
                      <i class="upload icon"></i>
                      <div class="menu">
                          <a class="item" onclick="$('#fmdownloadCsv').submit();return false;">
                              <form id="fmdownloadCsv" method="post" action="{{ url_for('main_sessionplan.session_plan_export_csv', session_plan_id=session_plan.id) }}">
                                  {{ _('Export CSV') }}
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                              </form>
                          </a>
                          <a class="item" onclick="$('#fmdownloadOal').submit();return false;">
                              <form id="fmdownloadOal" method="post" action="{{ url_for('main_sessionplan.session_plan_export_oal', session_plan_id=session_plan.id) }}">
                                  {{ _('Export OAL') }}
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                              </form>
                          </a>
                      </div>
                      </div>
                  </div>

                <form id="fmupload" method="post" action="{{ url_for('main_sessionplan.session_plan_import', session_plan_id=session_plan.id) }}" enctype="multipart/form-data" class="item">
                    <label for="file" class="ui icon button" data-inverted="" data-tooltip="{{ _('Upload session plan from CSV/OAL') }}" data-position="bottom center" data-variation="tiny basic">
                        <i class="download icon"></i>
                    </label>
                    <input type="file" id="file" name="file" class="ui file input">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                </form>
                <div class="item">
                    <button id="clear_schedule" class="ui icon negative button" data-inverted="" data-tooltip="{{ _('Clear schedule') }}" data-position="bottom center" data-variation="tiny basic">
                        <i class="trash alternate icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <table id="tbldst" class="ui searchable sortable unstackable selectable celled table">
            <thead>
                <tr>
                    <th class="sorted ascending">{{ _('Name') }}</th>
                    <th>{{ _('Type') }}</th>
                    <th><i class="lastfm icon"></i></th>
                    <th>mag</th>
                    <th>{{ _('Rise') }}</th>
                    <th>{{ _('Merid') }}</th>
                    <th>{{ _('Set') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% macro to_dso_url2(item) %}{{ url_for('main_deepskyobject.deepskyobject_seltab', dso_id=item[0].deepsky_object.name, embed='pl') }}{% endmacro %}
            {% macro to_double_star_url2(item) %}{{ url_for('main_double_star.double_star_info', double_star_id=item[0].double_star.id, embed='pl') }}{% endmacro %}
            {% macro to_planet_url2(item) %}{{ url_for('main_planet.planet_info', planet_iau_code=item[0].planet.iau_code, embed='pl') }}{% endmacro %}
            {% macro to_minor_planet_url2(item) %}{{ url_for('main_minor_planet.minor_planet_info', minor_planet_id=item[0].minor_planet.id, embed='pl') }}{% endmacro %}
            {% macro to_comet_url2(item) %}{{ url_for('main_comet.comet_info', comet_id=item[0].comet.comet_id, embed='pl') }}{% endmacro %}

            {% for item in session_plan_compound_list %}
                {% if item[0].dso_id is not none %}
                    {% set item_name = item[0].deepsky_object.denormalized_name() %}
                    {% set item_type = item[0].deepsky_object.type %}
                    {% set item_constell = item[0].deepsky_object.get_constellation_iau_code() %}
                    {% set item_mag = item[0].deepsky_object.mag %}
                    {% set item_mag = commons.convert_mag(item[0].deepsky_object.mag) %}
                {% elif item[0].double_star_id is not none %}
                    {% set item_name = item[0].double_star.common_cat_id %}
                    {% set item_type = item[0].double_star.components %}
                    {% set item_constell = item[0].double_star.get_constellation_iau_code() %}
                    {% set item_mag = (item[0].double_star.mag_first | string) + '/' + (item[0].double_star.mag_second | string) %}
                {% elif item[0].planet_id is not none %}
                    {% set item_name = item[0].planet.iau_code.capitalize()  %}
                    {% set item_type = _('Planet') %}
                    {% set item_constell = constellation_by_id_dict[item[0].constell_id].iau_code if item[0].constell_id is not none else '' %}
                    {% set item_mag = '' %}
                {% elif item[0].minor_planet_id is not none %}
                    {% set item_name = item[0].minor_planet.designation %}
                    {% set item_type = _('Minor planet') %}
                    {% set item_constell = constellation_by_id_dict[item[0].constell_id].iau_code if item[0].constell_id is not none else '' %}
                    {% set item_mag = '' %}
                {% elif item[0].comet_id is not none %}
                    {% set item_name = item[0].comet.designation %}
                    {% set item_type = _('Comet') %}
                    {% set item_constell = constellation_by_id_dict[item[0].constell_id].iau_code if item[0].constell_id is not none else '' %}
                    {% set item_mag = '' %}
                {% else %}
                    {% set item_name = '' %}
                    {% set item_type = '' %}
                    {% set item_constell = '' %}
                    {% set item_mag = '' %}
                {% endif %}

                <tr class="{{ 'left marked green' if loop.index == drow_index else '' }}" tabindex="0">
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item_name }}</td>
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item_type }}</td>
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item_constell }}</td>
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item_mag }}</td>
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item[1] }}</td>
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item[2] }}</td>
                    <td onclick="setIFrameSrcFromDstList({{ loop.index }})">{{ item[3] }}</td>
                     <td class="collapsing specialClass">
                        <a class="ui icon mini button" href="{{ url_for('main_sessionplan.session_plan_item_delete', item_id=item[0].id, row_index=loop.index) }}">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ dst_pagination.links }} {{ commons.items_per_page_as_links(schedule_form.items_per_page.data, url_for('main_sessionplan.session_plan_schedule', session_plan_id=session_plan.id, page=dst_pagination.page, srow_index=1)) }} {{ dst_pagination.info }}
    </div>
  </div>
</div>

<div class="ui tiny modal loadModal">
    <div class="header">{{ _('Load session plan') }}</div>
    <div class="content">
        <p>{{ _('All data from file will be added to session plan.') }}</p>
        <p>{{ _('Are you sure you want to import session plan?') }}</p>
    </div>
    <div class="actions">
        <div class="ui negative cancel button">{{ _('No') }}</div>
        <button id="confirm_upload" class="ui positive right labeled icon approve button">
            {{ _('Yes') }}
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>

<div class="ui tiny modal deleteModal">
    <div class="header">{{ _('Clear session plan') }}</div>
    <div class="content">
        <p>{{ _('All planned items will be removed.') }}</p>
        <p>{{ _('Are you sure you want to clear session plan?') }}</p>
    </div>
    <div class="actions">
        <div class="ui negative cancel button">{{ _('No') }}</div>
        <a class="ui positive right labeled icon approve button" href="{{ url_for('main_sessionplan.session_plan_clear', session_plan_id=session_plan.id) }}">
            {{ _('Yes') }}
            <i class="checkmark icon"></i>
        </a>
    </div>
</div>

<style>
    .ui.file.input {
      display: none;
    }
</style>

<script type="text/javascript">
var srcDsoUrls = [
{% for item in selection_compound_list %}
    '{{ to_dso_url1(item) }}',
{% endfor %}
];

var dstSkyObjUrls = [
{% for item in session_plan_compound_list %}
    {% if item[0].dso_id is not none %}
        {% set to_url = to_dso_url2(item) %}
    {% elif item[0].double_star_id is not none %}
        {% set to_url = to_double_star_url2(item) %}
    {% elif item[0].planet_id is not none %}
        {% set to_url = to_planet_url2(item) %}
    {% elif item[0].minor_planet_id is not none %}
        {% set to_url = to_minor_planet_url2(item) %}
    {% elif item[0].comet_id is not none %}
        {% set to_url = to_comet_url2(item) %}
    {% else %}
        {% set to_url = '' %}
    {% endif %}
    '{{ to_url }}',
{% endfor %}
];

var srcRowIndex = 1;
var dstRowIndex = 1;

function setIFrameSrcFromSrcList(rowIndex) {
    $('#tblsrc tr').removeClass();
    $('#tbldst tr').removeClass();
    $('#tblsrc tr:nth-child(' + rowIndex + ')').addClass('left marked green');
    srcRowIndex = rowIndex;
    setIFrameSrc(srcDsoUrls[rowIndex-1]);
}

function setIFrameSrcFromDstList(rowIndex) {
    $('#tblsrc tr').removeClass();
    $('#tbldst tr').removeClass();
    $('#tbldst tr:nth-child(' + rowIndex + ')').addClass('left marked green');
    dstRowIndex = rowIndex;
    setIFrameSrc(dstSkyObjUrls[rowIndex-1]);
}


function setIFrameSrc(url) {
    $('#plIframe').attr('src', url)
}

$(function(){
    $('.ui.modal.loadModal').modal({
        onApprove: function() {
            return validateModal()
        }
    });
    $('.ui.modal.deleteModal').modal({
        onApprove: function() {
            return validateModal()
        }
    });
    $("tr td.specialClass").click(function (e) {
        e.cancelBubble();
        e.stopPropagation();
    });
    $('#file').change(function() {
        $('.ui.modal.loadModal')
            .modal('show');
    });
    $("#confirm_upload").click(function() {
        $("#fmupload" ).submit();
    });
    $('#clear_schedule').click(function() {
        $('.ui.modal.deleteModal')
            .modal('show');
    });
    $('#objsource_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#obj_source').val(value);
              $(this).closest('form').submit();
          }
    });
    $('#constellation_dropdown')
        .dropdown({
          allowCategorySelection: true,
          onChange: function (value, text, $selectedItem) {
              $('#constellation_id').val(value);
              $(this).closest('form').submit();
          }
    });
    $('#not_observed')
        .checkbox({
          onChange: function (value) {
              $(this).closest('form').submit();
          }
    });
    $('#time_from').calendar({
        type: 'time',
        ampm: false,
        onChange: function(value) {
            $(this).calendar.changed = true;
        },
        onHide: function () {
            if ($(this).calendar.changed) {
                $(this).calendar.changed = false;
                $(this).closest('form').submit();
            }
        }
    });
    $('#time_to').calendar({
        type: 'time',
        ampm: false,
        changed: false,
        onChange: function(value) {
            $(this).calendar.changed = true;
        },
        onHide: function () {
            if ($(this).calendar.changed) {
                $(this).calendar.changed = false;
                $(this).closest('form').submit();
            }
        }
    });
    $("#tblsrc tr").on("keydown", function(e) {
        var keyCode = (e.keyCode ? e.keyCode : e.which);
        if (keyCode == 38) {
            if (srcRowIndex > 1) {
                setIFrameSrcFromSrcList(srcRowIndex-1);
            }
            e.preventDefault();
        } else if (keyCode == 40) {
            if (srcRowIndex < srcDsoUrls.length) {
                setIFrameSrcFromSrcList(srcRowIndex+1);
            }
            e.preventDefault();
        }
    });
    $("#tbldst tr").on("keydown", function(e) {
        var keyCode = (e.keyCode ? e.keyCode : e.which);
        if (keyCode == 38) {
            if (dstRowIndex > 1) {
                setIFrameSrcFromDstList(dstRowIndex-1);
            }
        } else if (keyCode == 40) {
            if (dstRowIndex < dstSkyObjUrls.length) {
                setIFrameSrcFromDstList(dstRowIndex+1);
            }
            e.preventDefault();
        }
    });
  ;
});
</script>
