{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div style="margin-bottom:2rem">
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_planner.planner_menu') }}">
                        <i class="caret left icon"></i>
                        {{ _('Planner') }}
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Session Plans') }}
                    </div>
                </div>
            </div>

            <form action="{{ url_for('main_sessionplan.session_plans') }}" method="post" name="search" class="ui stackable menu">
                <div class="ui item">
                    {{ search_form.status(class='ui dropdown button',onchange='this.form.submit()') }}
                    <div class="top right aligned floating ui label">{{ _('Status') }}</div>
                </div>
                <div class="ui right search item mobile hidden">
                    <div class="ui action input">
                        {{ search_form.hidden_tag() }}{{ search_form.q(size=20) }}
                        <button class="ui icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div style="overflow-x: scroll;" class="computer tablet only">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>{{ _('Date') }}</th>
                            <th class="sorted ascending">{{ _('Title') }}</th>
                            <th>{{ _('Location') }}</th>
                            <th class="one wide center aligned">{{ _('Status') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in session_plans %}
                        <tr onclick="window.location.href = '{{ url_for('main_sessionplan.session_plan_schedule', session_plan_id=p.id) }}';">
                            <td>{{ p.for_date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ p.title[:64] }}</td>
                            <td>{{ p.location.name }}</td>
                            <td class="center aligned">
                                <i class="{{ 'trash alternate outline disabled' if p.is_archived else 'calendar check '}} icon"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div style="overflow-x: scroll;" class="mobile only">
                <table class="ui searchable sortable unstackable selectable celled table mobile only">
                    <thead>
                        <tr>
                            <th>{{ _('Date') }}</th>
                            <th class="sorted ascending">{{ _('Title') }}</th>
                            <th>{{ _('Location') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in session_plans %}
                        <tr onclick="window.location.href = '{{ url_for('main_sessionplan.session_plan_info', session_plan_id=p.id) }}';">
                            <td>{{ p.for_date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ p.title }}</td>
                            <td>{{ p.location.name if p.location else p.location_position }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
