{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/fchart_macros.html' as fchart with context %}

{% set endpoints = [
    ('main_wishlist.wish_list_info', _('Info'), 'info'),
    ('main_wishlist.wish_list_chart', _('Chart'), 'chart'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for(route, back=back, back_id=back_id) }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro wish_list_info(wish_list) %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-warning']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.display_standard_flashes(flashes) }}

            {{ f.begin_form(add_form, flashes, action=url_for('main_wishlist.wish_list_item_add'), extra_classes='ui menu') }}
                <div class="ui right item">
                    <div class="ui action input">
                        {{ add_form.dso_name(size=15) }}
                    </div>
                    <button class="ui icon mini button">
                        <i class="plus icon"></i>
                    </button>
                </div>
            {{ f.end_form(add_form) }}

            <form action="{{ url_for('main_wishlist.wish_list_info') }}" method="post" name="search" class="ui stackable menu">
                <div class="ui item">
                    {{ search_form.season(class='ui dropdown button',onchange='this.form.submit()') }}
                    <div class="top right aligned floating ui label">{{ _('Season') }}</div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </form>

            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>{{ _('Type') }}</th>
                            <th>{{ _('Constellation') }}</th>
                            <th>mag</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% macro to_dso_url(item) %}{{ url_for('main_deepskyobject.deepskyobject_info', dso_id=item.deepskyObject.name, back='wishlist', season=season) }}{% endmacro %}

                    {% for item in wish_list_items %}
                        <tr>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.denormalized_name() }}</td>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.type }}</td>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.get_constellation_iau_code() }}</td>
                            <td onclick="window.location.href='{{ to_dso_url(item) }}';">{{ item.deepskyObject.mag }}</td>
                            <td class="collapsing specialClass">
                                <a class="ui icon mini button" href="{{ url_for('main_wishlist.wish_list_item_remove', item_id=item.id) }}">
                                    <i class="trash alternate icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("tr td.specialClass").click(function (e) {
            e.cancelBubble();
            e.stopPropagation();
        });
    </script>
{% endmacro %}

{# --- Chart --- #}
{% macro wish_list_chart(wish_list) %}
    {{ fchart.fchart(url_for('main_wishlist.wish_list_chart', back=back, back_id=back_id),
                     url_for('main_wishlist.wish_list_chart_pos_img', ra='_RA_', dec='_DEC_', fsz='_FSZ_', width='_WIDTH_', height='_HEIGHT_', nm=chart_control.chart_nm, flags=chart_control.chart_flags, ),
                     url_for('main_wishlist.wish_list_chart_legend_img', ra='_RA_', dec='_DEC_', fsz='_FSZ_', width='_WIDTH_', height='_HEIGHT_', nm=chart_control.chart_nm, flags=chart_control.legend_flags),
                     None,
                     fchart_form, default_chart_iframe_url=default_chart_iframe_url)
    }}
{% endmacro %}

{% set back = request.args.get('back') %}
{% set back_id = request.args.get('back_id') %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <div>
                <div class="ui huge breadcrumb">
                    <a class="ui basic compact button" href="{{ url_for('main_planner.planner_menu') }}">
                        <i class="caret left icon"></i>
                        <i class="list icon"></i>
                    </a>
                    <div class="divider">  </div>
                    <div class="active section">
                        {{ _('Wish List') }}
                    </div>
                </div>
            </div>

            {{ navigation(endpoints) }}
            {% if type == 'info' %}
                {{ wish_list_info(wish_list) }}
            {% else %}
                {{ wish_list_chart(wish_list) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
