{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_location.location_info', 'Location', 'location'),
    ('main_location.location_skyquality', 'Sky quality', 'sky quality'),
    ('main_location.location_observations', 'Observations', 'observations'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, location_id=location.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}


{% macro location_info(location) %}
    <table class="ui compact definition table">
        <tr><td>{{ _('Name') }}</td><td>{{ location.name }}</td></tr>
        <tr>
            <td>{{ _('Coordinates') }}</td>
            <td>
                {{ location.full_coordinates() }}
                <a href="{{ location.url_mapy_cz() }}" target="_blank" style="margin-left:20px">mapy.cz</a> /
                <a href="{{ location.url_google_maps() }}" target="_blank">google</a>
             </td>
        </tr>
        <tr><td>{{ _('Description') }}</td><td>{{ location.descr }}</td></tr>
        <tr><td>{{ _('Time Zone') }}</td><td>{{ location.time_zone }}</td></tr>
        {% if location.iau_code %}
        <tr><td>{{ _('IAU code') }}</td><td>{{ location.iau_code }}</td></tr>
        {% endif %}
        <tr><td>{{ _('Bortle') }}</td><td>{{ location.bortle }}</td></tr>
        <tr><td>{{ _('Rating') }}</td><td><div class="ui rating" data-icon="star" data-rating="{{ location.rating_to_int(5) }}" data-max-rating="5"></div></td></tr>
        <tr><td>{{ _('Observation place') }}</td><td>{{ location.is_for_observation }}</td></tr>
    </table>
{% endmacro %}

{% macro location_skyquality(location) %}
{% endmacro %}

{% macro location_observations(location) %}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_location.locations', back=1) }}">
                <i class="caret left icon"></i>
                {{ _('Locations') }}
            </a>
            <h2 class="ui header">
                {{ location.name }}
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_location.location_edit', location_id=location.id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h2>
            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {{ location_info(location) }}
            {% elif type == 'skyquality' %}
                {{ location_skyquality(location) }}
            {% elif type == 'observations' %}
                {{ location_observations(location) }}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}