{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="fourteen wide tablet fourteen wide computer column">
            <a class="ui basic compact button" href="{{ url_for('main_settings.settings') }}">
                <i class="caret left icon"></i>
                Settings
            </a>
            <h2 class="ui header">
                Locations
            </h2>

            <form action="{{ url_for('main_location.locations') }}" method="post" name="search" class="ui menu">
                <div class="ui right search item">
                    <div class="ui action input">
                        {{ search_form.hidden_tag() }}{{ search_form.q(size=15) }}
                        <button class="ui icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </form>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                {{ pagination.info }}
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Coordinates</th>
                            <th>Links</th>
                            <th>Bortle</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for l in locations | sort(attribute='name') %}
                        <tr onclick="window.location.href = '{{ url_for('main_location.location_info', location_id=l.id) }}';">
                            <td>{{ l.name }}</td>
                            <td>{{ l.coordinates() }}</td>
                            <td><a href="{{ l.url_mapy_cz() }}" target="_blank">mapy.cz</a> / <a href="{{ l.url_google_maps() }}" target="_blank">gmaps</a> </td>
                            <td>{{ l.bortle }}</td>
                            <td><div class="ui rating" data-icon="star" data-rating="{{ l.rating_to_int(5) }}" data-max-rating="5"></div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-locations').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}