{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('main_location.location_info', 'Location', 'location'),
    ('main_location.location_skyquality', 'Sky quality', 'sky quality'),
    ('main_location.location_observations', 'Observations', 'observations'),
] %}

{% macro navigation(items) %}
    <div class="ui icon secondary pointing menu">
        {% for route, pupup_text, icon in items %}
            {% set href = url_for(route, location_id=location.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ pupup_text }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}


{% macro location_info(location) %}
    <table class="ui compact definition table">
        <tr><td>Name</td><td>{{ location.name }}</td></tr>
        <tr>
            <td>Coordinates</td>
            <td>
                {{ location.full_coordinates()}}
                {% if url_cz_mapy %} <a href="{{ location.url_mapy_cz() }}" target="_blank">mapy.cz</a> {% endif %}
                {% if url_google %} <a href="{{ location.url_google_maps() }}" target="_blank">google</a> {% endif %}
                {% if url_os_map %} <a href="{{ location.url_open_street_maps() }}" target="_blank">open street map</a> {% endif %}
             </td>
        </tr>
        <tr><td>Description</td><td>{{ location.descr }}</td></tr>
        <tr><td>Bortle</td><td>{{ location.bortle }}</td></tr>
        <tr><td>Rating</td><td><div class="ui rating" data-icon="star" data-rating="{{ location.rating_to_int(5) }}" data-max-rating="5"></div></td></tr>
        <tr><td>Observation place</td><td>{{ location.is_for_observation }}</td></tr>
    </table>
{% endmacro %}

{% macro location_skyquality(location) %}
{% endmacro %}

{% macro location_observations(location) %}
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="fourteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('main_location.locations', back=1) }}">
                <i class="caret left icon"></i>
                Locations
            </a>
            <h2 class="ui header">
                {{ location.name }}
                {% if editable %}
                    <a class="ui icon right floated mini button" href="{{ url_for('main_location.location_edit', location_id=location.id) }}">
                        <i class="caret edit icon"></i>
                    </a>
                {% endif %}
            </h2>
            {{ navigation(endpoints) }}

            {% if type == 'info' %}
                {{ location_info(location) }}
            {% elif type == 'skyquality' %}
                {{ location_skyquality(location) }}
            {% elif type == 'observations' %}
                {{ location_observations(location) }}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $('.ui.rating')
        .rating();
    </script>

{% endblock %}